
body, html {
  /* margin: 0; */
  /* overflow: hidden; */
  /* height:100%; */
    max-height: 100vh;
    /* padding-top: 4.5rem; */
}

/* body { */
/*   /* padding-top: 40px; */ */
/*   padding-bottom: 60px; */
/* } */

/* .plop { */
/*     max-height: 100vh; */
/*     overflow-y: auto; */
/* } */

*[id]:before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
}


/* .navbar { */
/*   margin-bottom: 20px; */
/* } */

.navbar { margin-bottom:0px;}

.nav { overflow-y: hidden !important }

.img-fluid {
  max-width: 150px;
  /* width: 80px; */
  /* max-height: 400px; */
}
    /* .img-fluid { */
    /*   max-width: 100%; */
    /*   height: auto; */
    /* } */

.card-img-right {
  height: 100%;
  /* border-radius: 0 3px 3px 0; */
}


/* html { */
/*   font-size: 1.1rem; */
/* } */

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

.float-vertical-align {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

/* x-min */
/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  /* padding: 1em; */
  overflow-x: auto;
}
/* code { background: #f9f9f9; } */
/* pre code { background: none; } */

/* code { */
/*   font-family: "Lucida Console", Monaco, monospace; */
/*   font-size: 85%; */
/* } */

/* /* x-min */ */
/* /* misc elements */ */
/* img, iframe, video { max-width: 100%; } */
/* main { hyphens: auto; } */
/* blockquote { */
/*   background: #f9f9f9; */
/*   border-left: 5px solid #ccc; */
/*   padding: 3px 1em 3px; */
/* } */


/* x-min */
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }

.top-foto {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 315px;
  overflow: hidden;
}
.top-foto > img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

code {
  background: #f9f9f9;
  color: black;
  border: 1px solid #ddd;
  padding: 0.1em;
  box-shadow: 2px 2px 2px #eee;
}

@media (min-width: 992px) {
    .homepage-text {
        /* max-width: 800px; */
        max-width: 45rem;
        margin: 0 auto;
        float: none;
    }
}

