/* https://stackoverflow.com/questions/10405945/html-ordered-list-1-1-1-2-nested-counters-and-scope-not-working */

.navbar-brand5 {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 4rem;
  /* background-color: rgba(0, 0, 0, .25); */
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
}


.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

/* Medium devices */
@media (min-width: 768px) {
    .toggled {
        /* display:node; */
        width: 0px;
    }
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  /* top: 48px; /* Height of navbar */ */
  top: 0px;
  /* height: calc(100vh - 48px); */
  height: 100vh;
  padding: 0px;
  padding-right: 0px;
  /* padding-top: .5rem; */
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.active {
    text-decoration:underline;
}

.sidebar-sticky ol ol {
    counter-reset: subsection;
    padding-left: 10px;
}
.sidebar-sticky ol ol > li {
    display: block;
    counter-increment: subsection;
}
.sidebar-sticky ol ol > li::before {
    content: counters(subsection, ".") ".";
    margin-left: -20px;
}

.collap {
  /* hide it for small displays*/
  display: none;
}

.list-group-item {
    display: list-item;
}

