---
title: |
    Underlying analysis for the paper:
    '*Rainfall variability and adverse birth outcomes in Amazonia*'
author:
    - name: "Erick A. Chacón-Montalván"
      link: "https://orcid.org/0000-0001-8068-1034"
    - name: "Benjamin M. Taylor"
      link: "https://orcid.org/0000-0001-8667-4089"
    - name: "Marcelo G. Cunha"
    - name: "Gemma Davies"
      link: "https://orcid.org/0000-0002-7420-2479"
    - name: "Jesem D. Y. Orellana"
      link: "https://orcid.org/0000-0002-5607-2615"
    - name: "Luke Parry"
      link: "https://orcid.org/0000-0003-0330-9516"
---



<div id="papers-abstract" class="section level2">
<h2>Paper’s abstract</h2>
<p>Amazonian populations are increasingly exposed to climatic shocks, yet knowledge of
related health impacts is limited. Understanding how health risks are coproduced by local
climatic variability, place and social inequities is vital for improving decision-making,
particularly in decentralized contexts. We assess the impacts of rainfall variability and
multiscale vulnerabilities on birth weight, which has lifelong health consequences. We
focus on highly river-dependent areas in Amazonia, using urban and rural birth
registrations during <span class="math inline">\(2006-2017\)</span>. We find a strong but spatially differentiated
relationship between local rainfall and subsequent river-level anomalies. Using Bayesian
models, we disentangle the impacts of rainfall shocks of different magnitudes, municipal
characteristics, social inequities and seasonality. Prenatal exposure to extremely intense
rainfall is associated with preterm birth, restricted intra-uterine growth and lower mean
birth weight (<span class="math inline">\(\leq -183\)</span> g). Adverse birth outcomes also follow non-extreme intense
rainfall (<span class="math inline">\(40%\)</span> higher odds of low birth weight), drier conditions than seasonal averages
(<span class="math inline">\(-39\)</span> g mean birth weight) and conception in the rising-water season (<span class="math inline">\(-13\)</span> g mean birth
weight). Babies experience penalties totalling <span class="math inline">\(646\)</span> g when born to adolescent,
Amerindian, unmarried mothers that received no formal education or antenatal or obstetric
health care. Rainfall variability confers intergenerational disadvantage, especially for
socially marginalized Amazonians in forgotten places. Structural changes are required to
reduce inequities, foster citizen empowerment and improve the social accountability of
public institutions.</p>
</div>
<div id="about-this-web-page" class="section level2">
<h2>About this web page</h2>
<p>This web renders the collection of scripts used for the underlying analysis done for the
paper <em>Rainfall variability and adverse birth outcomes in Amazonia</em> published at <a href="https://doi.org/10.1038/s41893-021-00684-9">Nature
Sustainability</a>. The analysis was done using
the software <a href="https://www.r-project.org/">R</a>, so each page includes the <code>r</code> code, output
and description of tasks we performed. You can navigate the scripts through the left
sidebar, they are organized in the following sections:</p>
<ul>
<li><code>Data processing</code>: Due to the complexity of the processing, this project does not
include all the processing scripts.</li>
<li><code>Data exploration</code>: It includes some simple models for birth weight (BW), low birth
weight (LBW), and preterm birth (PTB).</li>
<li><code>Data modelling</code>: It includes all the models we used for BW, LBW and PTB with the
corresponding MCMC diagnostics.</li>
<li><code>Summarisation</code>: It includes tables and figures created
using <em>processed data</em> and <em>models</em>.</li>
</ul>
</div>
<div id="how-to-use" class="section level2">
<h2>How to use?</h2>
<p>You can simply explore this web page to check some of the scripts we did for particular
tasks (e.g. modelling, visualization). However, you could also use it to reproduce the
results with the same data we used or to perform a similar analysis in other areas of
study. In case you would like to reproduce it, contact us to share the <code>data</code> and a docker
image that will facilitate the execution of the code. The source code to render this web
page can be found at
<a href="https://gitlab.com/ErickChacon/birthweight">https://gitlab.com/ErickChacon/birthweight</a>.</p>
</div>
