---
title: "Demographic characteristics of Amazonian mothers"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/summarised/paper-data-mothers-demography.csv
---



<p>In this script, we compute the demographic characteristics of the population under study.
The resulting table can be seen at section <a href="#table-demography">Show demographic
characteristics</a>. This output corresponds to <em>Supplementary Table 1</em> of
our paper.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location. Only <code>birthweight</code> data used for modelling is required.</p>
<pre class="r"><code>library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_summarised &lt;- file.path(path_data, &quot;summarised&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;52-summary.R&quot;))

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="socio-economic-characteristics" class="section level2">
<h2>Socio-economic characteristics</h2>
<pre class="r"><code>socio_vars &lt;- c(&quot;Maternal age (years)&quot; = &quot;age&quot;,
                &quot;Formal education (years)&quot; = &quot;study_years&quot;,
                &quot;Marital status&quot; = &quot;marital_status&quot;,
                &quot;Anetanal care (number of consultations)&quot; = &quot;consult_num&quot;,
                &quot;Birth Place&quot; = &quot;birth_place&quot;,
                &quot;Newborn ethnicity&quot; = &quot;born_race&quot;,
                &quot;Gestational age&quot; = &quot;gestation_weeks&quot;)
age_cuts &lt;- seq(10, 40, 5)
n_ind &lt;- nrow(bwdata_model)

bwdata_demo &lt;- bwdata_model[socio_vars] %&gt;%
  mutate(age = cut(age, c(age_cuts, 65), right = FALSE, include.lowest = TRUE,
                   labels = paste(age_cuts, &quot;to&quot;, c(age_cuts[-1] - 1, 65)))) %&gt;%
  purrr::map2_df(names(socio_vars), table_rel)
bwdata_demo &lt;- within(bwdata_demo, Category[is.na(Category)] &lt;- &quot;missing&quot;)</code></pre>
</div>
<div id="save-demography-characteristics" class="section level2">
<h2>Save demography characteristics</h2>
<pre class="r"><code>readr::write_csv(bwdata_demo, file.path(path_summarised, &quot;paper-data-mothers-demography.csv&quot;))</code></pre>
</div>
<div id="table-demography" class="section level2">
<h2>Show demographic characteristics</h2>
<pre class="r"><code>bwdata_demo$Percentage &lt;- scales::label_percent(scale = 1)(bwdata_demo$Percentage)
knitr::kable(bwdata_demo, &quot;html&quot;, table.attr = &quot;class=\&quot;table\&quot;&quot;, align = &quot;lcrr&quot;,
             caption = &quot;Demographic characteristics of Amazonian mothers&quot;)</code></pre>
<table class="table">
<caption>
<span id="tab:unnamed-chunk-4">Table 1: </span>Demographic characteristics of Amazonian mothers
</caption>
<thead>
<tr>
<th style="text-align:left;">
Variable
</th>
<th style="text-align:center;">
Category
</th>
<th style="text-align:right;">
Count
</th>
<th style="text-align:right;">
Percentage
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Maternal age (years)
</td>
<td style="text-align:center;">
10 to 14
</td>
<td style="text-align:right;">
6605
</td>
<td style="text-align:right;">
2.270%
</td>
</tr>
<tr>
<td style="text-align:left;">
Maternal age (years)
</td>
<td style="text-align:center;">
15 to 19
</td>
<td style="text-align:right;">
84566
</td>
<td style="text-align:right;">
29.010%
</td>
</tr>
<tr>
<td style="text-align:left;">
Maternal age (years)
</td>
<td style="text-align:center;">
20 to 24
</td>
<td style="text-align:right;">
87070
</td>
<td style="text-align:right;">
29.870%
</td>
</tr>
<tr>
<td style="text-align:left;">
Maternal age (years)
</td>
<td style="text-align:center;">
25 to 29
</td>
<td style="text-align:right;">
57028
</td>
<td style="text-align:right;">
19.570%
</td>
</tr>
<tr>
<td style="text-align:left;">
Maternal age (years)
</td>
<td style="text-align:center;">
30 to 34
</td>
<td style="text-align:right;">
33355
</td>
<td style="text-align:right;">
11.440%
</td>
</tr>
<tr>
<td style="text-align:left;">
Maternal age (years)
</td>
<td style="text-align:center;">
35 to 39
</td>
<td style="text-align:right;">
16689
</td>
<td style="text-align:right;">
5.730%
</td>
</tr>
<tr>
<td style="text-align:left;">
Maternal age (years)
</td>
<td style="text-align:center;">
40 to 65
</td>
<td style="text-align:right;">
6166
</td>
<td style="text-align:right;">
2.120%
</td>
</tr>
<tr>
<td style="text-align:left;">
Formal education (years)
</td>
<td style="text-align:center;">
0
</td>
<td style="text-align:right;">
17335
</td>
<td style="text-align:right;">
5.950%
</td>
</tr>
<tr>
<td style="text-align:left;">
Formal education (years)
</td>
<td style="text-align:center;">
1 to 3
</td>
<td style="text-align:right;">
39376
</td>
<td style="text-align:right;">
13.510%
</td>
</tr>
<tr>
<td style="text-align:left;">
Formal education (years)
</td>
<td style="text-align:center;">
4 to 7
</td>
<td style="text-align:right;">
99269
</td>
<td style="text-align:right;">
34.060%
</td>
</tr>
<tr>
<td style="text-align:left;">
Formal education (years)
</td>
<td style="text-align:center;">
8 to 11
</td>
<td style="text-align:right;">
118492
</td>
<td style="text-align:right;">
40.650%
</td>
</tr>
<tr>
<td style="text-align:left;">
Formal education (years)
</td>
<td style="text-align:center;">
&gt;= 12
</td>
<td style="text-align:right;">
14821
</td>
<td style="text-align:right;">
5.080%
</td>
</tr>
<tr>
<td style="text-align:left;">
Formal education (years)
</td>
<td style="text-align:center;">
missing
</td>
<td style="text-align:right;">
2186
</td>
<td style="text-align:right;">
0.750%
</td>
</tr>
<tr>
<td style="text-align:left;">
Marital status
</td>
<td style="text-align:center;">
Single
</td>
<td style="text-align:right;">
162607
</td>
<td style="text-align:right;">
55.790%
</td>
</tr>
<tr>
<td style="text-align:left;">
Marital status
</td>
<td style="text-align:center;">
Married
</td>
<td style="text-align:right;">
36788
</td>
<td style="text-align:right;">
12.620%
</td>
</tr>
<tr>
<td style="text-align:left;">
Marital status
</td>
<td style="text-align:center;">
Widow
</td>
<td style="text-align:right;">
295
</td>
<td style="text-align:right;">
0.100%
</td>
</tr>
<tr>
<td style="text-align:left;">
Marital status
</td>
<td style="text-align:center;">
Divorced
</td>
<td style="text-align:right;">
386
</td>
<td style="text-align:right;">
0.130%
</td>
</tr>
<tr>
<td style="text-align:left;">
Marital status
</td>
<td style="text-align:center;">
Consensual union
</td>
<td style="text-align:right;">
87528
</td>
<td style="text-align:right;">
30.030%
</td>
</tr>
<tr>
<td style="text-align:left;">
Marital status
</td>
<td style="text-align:center;">
missing
</td>
<td style="text-align:right;">
3875
</td>
<td style="text-align:right;">
1.330%
</td>
</tr>
<tr>
<td style="text-align:left;">
Anetanal care (number of consultations)
</td>
<td style="text-align:center;">
0
</td>
<td style="text-align:right;">
18734
</td>
<td style="text-align:right;">
6.430%
</td>
</tr>
<tr>
<td style="text-align:left;">
Anetanal care (number of consultations)
</td>
<td style="text-align:center;">
1 to 3
</td>
<td style="text-align:right;">
63904
</td>
<td style="text-align:right;">
21.920%
</td>
</tr>
<tr>
<td style="text-align:left;">
Anetanal care (number of consultations)
</td>
<td style="text-align:center;">
4 to 6
</td>
<td style="text-align:right;">
115889
</td>
<td style="text-align:right;">
39.760%
</td>
</tr>
<tr>
<td style="text-align:left;">
Anetanal care (number of consultations)
</td>
<td style="text-align:center;">
&gt;= 7
</td>
<td style="text-align:right;">
90360
</td>
<td style="text-align:right;">
31.000%
</td>
</tr>
<tr>
<td style="text-align:left;">
Anetanal care (number of consultations)
</td>
<td style="text-align:center;">
missing
</td>
<td style="text-align:right;">
2592
</td>
<td style="text-align:right;">
0.890%
</td>
</tr>
<tr>
<td style="text-align:left;">
Birth Place
</td>
<td style="text-align:center;">
Hospital
</td>
<td style="text-align:right;">
240700
</td>
<td style="text-align:right;">
82.580%
</td>
</tr>
<tr>
<td style="text-align:left;">
Birth Place
</td>
<td style="text-align:center;">
Another health center
</td>
<td style="text-align:right;">
1064
</td>
<td style="text-align:right;">
0.370%
</td>
</tr>
<tr>
<td style="text-align:left;">
Birth Place
</td>
<td style="text-align:center;">
Home
</td>
<td style="text-align:right;">
44897
</td>
<td style="text-align:right;">
15.400%
</td>
</tr>
<tr>
<td style="text-align:left;">
Birth Place
</td>
<td style="text-align:center;">
Other
</td>
<td style="text-align:right;">
2335
</td>
<td style="text-align:right;">
0.800%
</td>
</tr>
<tr>
<td style="text-align:left;">
Birth Place
</td>
<td style="text-align:center;">
missing
</td>
<td style="text-align:right;">
2483
</td>
<td style="text-align:right;">
0.850%
</td>
</tr>
<tr>
<td style="text-align:left;">
Newborn ethnicity
</td>
<td style="text-align:center;">
Non-indigenous
</td>
<td style="text-align:right;">
234228
</td>
<td style="text-align:right;">
80.360%
</td>
</tr>
<tr>
<td style="text-align:left;">
Newborn ethnicity
</td>
<td style="text-align:center;">
Indigenous
</td>
<td style="text-align:right;">
55201
</td>
<td style="text-align:right;">
18.940%
</td>
</tr>
<tr>
<td style="text-align:left;">
Newborn ethnicity
</td>
<td style="text-align:center;">
missing
</td>
<td style="text-align:right;">
2050
</td>
<td style="text-align:right;">
0.700%
</td>
</tr>
<tr>
<td style="text-align:left;">
Gestational age
</td>
<td style="text-align:center;">
&gt;= 37
</td>
<td style="text-align:right;">
264970
</td>
<td style="text-align:right;">
90.910%
</td>
</tr>
<tr>
<td style="text-align:left;">
Gestational age
</td>
<td style="text-align:center;">
32 to 36
</td>
<td style="text-align:right;">
23954
</td>
<td style="text-align:right;">
8.220%
</td>
</tr>
<tr>
<td style="text-align:left;">
Gestational age
</td>
<td style="text-align:center;">
28 to 31
</td>
<td style="text-align:right;">
1888
</td>
<td style="text-align:right;">
0.650%
</td>
</tr>
<tr>
<td style="text-align:left;">
Gestational age
</td>
<td style="text-align:center;">
22 to 27
</td>
<td style="text-align:right;">
667
</td>
<td style="text-align:right;">
0.230%
</td>
</tr>
</tbody>
</table>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   9.625   0.473  10.078</code></pre>
</div>
