---
title: "Births frequency per hydrological week"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/summarised/data-births-per-week.pdf
---



<p>Summarise the number of births per week and model it using Poisson regression with cyclic
cubic splines.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(ggplot2)
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:bamlss&#39;:
#&gt; 
#&gt;     n</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:nlme&#39;:
#&gt; 
#&gt;     collapse</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)
path_summarised &lt;- file.path(path_data, &quot;summarised&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;56-bamlss-vis-gg.R&quot;))

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="modelling-number-of-births" class="section level2">
<h2>Modelling number of births</h2>
<pre class="r"><code>births_per_rivwk &lt;- bwdata_model %&gt;%
    group_by(rivwk_conception) %&gt;%
    summarise(n = n())</code></pre>
<pre><code>#&gt; `summarise()` ungrouping output (override with `.groups` argument)</code></pre>
<pre class="r"><code>birth_model &lt;- bamlss(n ~ s(rivwk_conception, bs = &quot;cc&quot;), &quot;poisson&quot;, births_per_rivwk)</code></pre>
<pre><code>#&gt; AICc 2322.906 logPost -1169.95 logLik -1150.36 edf 8.9998 eps 0.0079 iteration   1
#&gt; AICc 718.6427 logPost -356.284 logLik -348.231 edf 8.9981 eps 0.0069 iteration   2
#&gt; AICc 716.5127 logPost -343.868 logLik -347.190 edf 8.9816 eps 0.0002 iteration   3
#&gt; AICc 716.2027 logPost -333.656 logLik -347.269 edf 8.8244 eps 0.0000 iteration   4
#&gt; AICc 716.2027 logPost -333.656 logLik -347.269 edf 8.8244 eps 0.0000 iteration   4
#&gt; elapsed time:  0.33sec
#&gt; Starting the sampler...
#&gt; 
#&gt; |                    |   0%  6.19sec
#&gt; |*                   |   5%  6.08sec  0.32sec
#&gt; |**                  |  10%  5.69sec  0.63sec
#&gt; |***                 |  15%  5.66sec  1.00sec
#&gt; |****                |  20%  5.68sec  1.42sec
#&gt; |*****               |  25%  5.26sec  1.75sec
#&gt; |******              |  30%  4.89sec  2.09sec
#&gt; |*******             |  35%  4.54sec  2.44sec
#&gt; |********            |  40%  4.79sec  3.19sec
#&gt; |*********           |  45%  4.31sec  3.53sec
#&gt; |**********          |  50%  3.87sec  3.87sec
#&gt; |***********         |  55%  3.44sec  4.20sec
#&gt; |************        |  60%  3.03sec  4.54sec
#&gt; |*************       |  65%  2.63sec  4.88sec
#&gt; |**************      |  70%  2.23sec  5.21sec
#&gt; |***************     |  75%  1.85sec  5.54sec
#&gt; |****************    |  80%  1.47sec  5.88sec
#&gt; |*****************   |  85%  1.10sec  6.22sec
#&gt; |******************  |  90%  0.73sec  6.55sec
#&gt; |******************* |  95%  0.36sec  6.88sec
#&gt; |********************| 100%  0.00sec  7.22sec</code></pre>
</div>
<div id="visualize-births-per-hydrological-week" class="section level2">
<h2>Visualize births per hydrological week</h2>
<pre class="r"><code>gg &lt;- gg_smooths_river(
    list(birth_model), births_per_rivwk, &quot;lambda&quot;, &quot;s(rivwk_conception)&quot;,
    types = factor(c(&quot;modelled&quot;)), intercept = TRUE, FUN = c95_exp
    ) +
    geom_line(aes(rivwk_conception, n, col = &quot;raw&quot;), births_per_rivwk,
              alpha = 0.5, size = rel(0.5)) +
    labs(y = &quot;Number of births&quot;, x = &quot;Seasonal river level index&quot;, col = NULL) +
    guides(fill = &quot;none&quot;, linetype = &quot;none&quot;) +
    theme(legend.position = &quot;bottom&quot;, plot.margin = margin(0, 3, 0, 3),
          legend.margin = margin(0, 0, 0, 0), legend.box.margin = margin(-10, 0, 0, 0))</code></pre>
<pre><code>#&gt; Note: Using an external vector in selections is ambiguous.
#&gt; ℹ Use `all_of(var)` instead of `var` to silence this message.
#&gt; ℹ See &lt;https://tidyselect.r-lib.org/reference/faq-external-vector.html&gt;.
#&gt; This message is displayed once per session.</code></pre>
<pre class="r"><code>ggsave(file.path(path_summarised, &quot;data-births-per-week.pdf&quot;), gg,
       width = 10, height = 6.5, units = &quot;cm&quot;, device = cairo_pdf)

gg</code></pre>
<p><img src="/birthweight/50-summarization/data/12-births-per-hydroweek_files/figure-html/unnamed-chunk-3-1.png" width="576" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  20.403   0.605  20.980</code></pre>
</div>
