---
title: "Counts of newborn's prenatal exposure"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/summarised/paper-data-exposure-counts.pdf
    - data/summarised/paper-data-exposure-counts.jpg
    - data/processed/exposure-reference-points.rds
---



<p>In this script, we compute the counts of newborn’s prenatal exposure to (a) seasonal
deviations in rainfall, (b) non-extreme rainfall events, and (c) extreme rainfall events.
The resulting figure can be seen at section <a href="#prenatal-exposure-counts">Visualize counts of newborn’s prenatal
exposure</a>. This output corresponds to <em>Extended Data Fig. 3</em> of
our paper.</p>
<p>This analysis helps to define common groups of exposure to be used as baselines.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(ggplot2)
library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(patchwork)

path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)
path_summarised &lt;- file.path(path_data, &quot;summarised&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;60-count2d.R&quot;))

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
<pre class="r"><code># quantile(abs(bwdata_model$neg_ext_mbsi_mean_8wk) + abs(bwdata_model$pos_ext_mbsi_mean_8wk),
#          probs = seq(0, 1, 0.1))</code></pre>
</div>
<div id="code-to-compute-counts-by-levels-of-exposure" class="section level2">
<h2>Code to compute counts by levels of exposure</h2>
<pre class="r"><code>text_color &lt;- &quot;red&quot;
point_color &lt;- &quot;red&quot;
bins &lt;- 50

# extremes
situations_ext &lt;- c(&quot;None&quot;, &quot;Intense and deficient&quot;, &quot;Intense&quot;, &quot;Moderate intense&quot;,
                    &quot;Deficient&quot;)
data_points_ext &lt;- data.frame(
    x = c(-0.0, -0.51, -0.02, -0.04, -1.03),
    y = c(0.0, 0.37, 0.78, 0.5, 0.03),
    label = c(&quot;A&quot;, &quot;B&quot;, &quot;C&quot;, &quot;E&quot;, &quot;D&quot;),
    description = factor(situations_ext, levels = situations_ext),
    vjust = c(0, 0.3, 0.3, 0.3, -1),
    hjust = c(1.5, 1.5, 1.5, 1.5, 0.5)
)
count_ext &lt;- exposure2d_count(
    bwdata_model,
    c(&quot;neg_ext_mbsi_mean_8wk&quot;, &quot;pos_ext_mbsi_mean_8wk&quot;),
    data_points = data_points_ext, bins,
    point_color = point_color, text_color = text_color
)
count_ext &lt;- count_ext +
    labs(x = &#39;Extreme deficient rainfall&#39;,
         y = &#39;Extreme intense rainfall&#39;,
         fill = &#39;Counts&#39;,
         subtitle = &#39;(c)&#39;)

# non-extremes
situations &lt;- c(&quot;None&quot;, &quot;Intense and deficient&quot;, &quot;Intense&quot;, &quot;Deficient&quot;)
data_points_non_ext &lt;- data.frame(
    x = c(-0.25, -0.65, -0.02, -1.6),
    y = c(0.4, 0.65, 1.2, 0.03),
    label = c(&quot;A&quot;, &quot;B&quot;, &quot;C&quot;, &quot;D&quot;),
    description = factor(situations, levels = situations),
    vjust = c(0.3, 0.3, 0.3, -1),
    hjust = c(1.5, 1.5, 1.5, 0.5)
)
count_non_ext &lt;- exposure2d_count(
    bwdata_model,
    c(&quot;neg_mckee_mean_8wk&quot;, &quot;pos_mckee_mean_8wk&quot;),
    data_points = data_points_non_ext, bins,
    point_color = point_color, text_color = text_color
)
count_non_ext &lt;- count_non_ext +
    labs(x = &#39;Non-extreme deficient rainfall&#39;,
         y = &#39;Non-extreme intense rainfall&#39;,
         fill = &#39;Counts&#39;,
         subtitle = &#39;(b)&#39;)

# seasonal deviation
data_points_sea_dev &lt;- data.frame(
    x = c(-0.37, -0.55, -0.23, -0.8),
    y = c(0.4, 0.55, 0.7, 0.12),
    label = c(&quot;A&quot;, &quot;B&quot;, &quot;C&quot;, &quot;D&quot;),
    description = factor(situations, levels = situations),
    vjust = c(0.3, 0.3, 0.3, 0.3),
    hjust = c(1.5, 1.5, 1.5, 1.5)
)
count_deviation &lt;- exposure2d_count(
    bwdata_model,
    c(&quot;neg_mbsi_mean_1wk&quot;, &quot;pos_mbsi_mean_1wk&quot;),
    data_points = data_points_sea_dev, bins,
    point_color = point_color, text_color = text_color
)
count_deviation &lt;- count_deviation +
    labs(x = &#39;Negative deviation from seasonality&#39;,
         y = &#39;Positive deviation from seasonality&#39;,
         fill = &#39;Counts&#39;,
         subtitle = &#39;(a)&#39;)</code></pre>
</div>
<div id="code-to-create-figure-of-counts-of-newborns-prenatal-exposure" class="section level2">
<h2>Code to create figure of counts of newborn’s prenatal exposure</h2>
<pre class="r"><code>base_size &lt;- 7
theme &lt;- theme_bw(base_size = base_size, base_family = &quot;Helvetica&quot;) +
    theme(legend.key.width = unit(1, &quot;lines&quot;),
          legend.key.height = unit(0.5, &quot;lines&quot;),
          legend.title = element_text(size = base_size, vjust = 1, face = &quot;bold&quot;),
          legend.text = element_text(size = base_size),
          legend.position = &quot;bottom&quot;,
          axis.text = element_text(size = base_size),
          axis.title = element_text(size = base_size),
          strip.text = element_text(size = base_size),
          plot.margin = unit(c(0.1, 0.3, 0, 0.2), &quot;lines&quot;),
    )

gg &lt;- (count_deviation | count_non_ext | count_ext) &amp;
    theme

ggsave(file.path(path_summarised, &quot;paper-data-exposure-counts.pdf&quot;), gg,
       width = 18, height = 6.2, units = &quot;cm&quot;)
ggsave(file.path(path_summarised, &quot;paper-data-exposure-counts.jpg&quot;), gg,
       width = 18, height = 6.2, units = &quot;cm&quot;, dpi = 350)</code></pre>
</div>
<div id="prenatal-exposure-counts" class="section level2">
<h2>Visualize counts of newborn’s prenatal exposure</h2>
<pre class="r"><code>gg + plot_layout(ncol = 1, nrow = 3)</code></pre>
<p><img src="/birthweight/50-summarization/data/22-exposure-counts_files/figure-html/unnamed-chunk-4-1.png" width="90%" style="display: block; margin: auto;" /></p>
</div>
<div id="save-reference-points" class="section level2">
<h2>Save reference points</h2>
<pre class="r"><code>saveRDS(list(data_points_sea_dev, data_points_non_ext, data_points_ext),
        file.path(path_processed, &quot;exposure-reference-points.rds&quot;))</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  23.763   0.813  24.559</code></pre>
</div>
