---
title: "Discrete binning: effects"
prerequisites:
    - data/modelled/bw-08-discrete-bin-burned.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_51_test.fst&quot;)
model_file &lt;- file.path(path_modelled, &quot;bw-08-discrete-bin.rds&quot;)
form_file &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, model_file)
model_file_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, model_file)

bwdata_model &lt;- fst::read_fst(bwdata_file)
form &lt;- readRDS(form_file)
model &lt;- readRDS(model_file_burned)</code></pre>
</div>
<div id="compute-results" class="section level2">
<h2>Compute results</h2>
<pre class="r"><code>model$results &lt;- results.bamlss.default(model)</code></pre>
</div>
<div id="fixed-effects" class="section level2">
<h2>Fixed effects</h2>
<pre class="r"><code>summary(model)</code></pre>
<pre><code>#&gt; 
#&gt; Call:
#&gt; bamlss(formula = form, data = bwdata_model, cores = 4, combine = FALSE, 
#&gt;     light = TRUE, binning = TRUE, n.iter = 1000, burnin = 0)
#&gt; ---
#&gt; Family: gaussian 
#&gt; Link function: mu = identity, sigma = log
#&gt; *---
#&gt; Formula mu:
#&gt; ---
#&gt; born_weight ~ marital_status + race + s(municipality, bs = &quot;re&quot;) + 
#&gt;     s(age_bin)
#&gt; -
#&gt; Parametric coefficients:
#&gt;                     Mean     2.5%      50%    97.5% parameters
#&gt; (Intercept)     2457.633 2444.368 2457.577 2470.664    2379.54
#&gt; marital_status2  -13.169  -19.804  -13.091   -6.502     -12.96
#&gt; marital_status3 -136.775 -143.568 -136.763 -129.845    -136.87
#&gt; race2             14.589    6.632   14.690   22.598      14.90
#&gt; race3             35.497   27.771   35.436   43.321      35.57
#&gt; race4             57.397   49.406   57.283   65.472      57.85
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.9951 0.9757 1.0000     1
#&gt; -
#&gt; Smooth terms:
#&gt;                            Mean      2.5%       50%     97.5% parameters
#&gt; s(municipality).tau21 4.045e+04 2.521e+04 3.926e+04 6.377e+04  3.759e+04
#&gt; s(municipality).alpha 1.000e+00 1.000e+00 1.000e+00 1.000e+00         NA
#&gt; s(municipality).edf   3.992e+01 3.987e+01 3.992e+01 3.995e+01  3.991e+01
#&gt; s(age_bin).tau21      1.224e+06 3.875e+05 9.913e+05 3.413e+06  6.099e+06
#&gt; s(age_bin).alpha      1.000e+00 1.000e+00 1.000e+00 1.000e+00         NA
#&gt; s(age_bin).edf        8.374e+00 7.846e+00 8.393e+00 8.786e+00  8.874e+00
#&gt; ---
#&gt; Formula sigma:
#&gt; ---
#&gt; sigma ~ 1
#&gt; -
#&gt; Parametric coefficients:
#&gt;              Mean  2.5%   50% 97.5% parameters
#&gt; (Intercept) 5.295 5.286 5.296 5.305      5.297
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.9974 0.9773 1.0000     1
#&gt; ---
#&gt; Sampler summary:
#&gt; -
#&gt; runtime = 37.748
#&gt; ---
#&gt; Optimizer summary:
#&gt; -
#&gt; AICc = 268762.6 edf = 55.7894 logLik = -134325.4
#&gt; logPost = -134723.6 nobs = 20000 runtime = 5.81</code></pre>
</div>
<div id="smoothed-effects" class="section level2">
<h2>Smoothed effects</h2>
<p>There seems to be a problem with the labels of the random effects plot.</p>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot(model, scale = 0, scheme = 2, spar = FALSE)</code></pre>
<p><img src="/birthweight/40-modelling/10-testing-simulated/bw-08-discrete-bin-10-effects_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  10.290   0.119  10.477</code></pre>
</div>
