---
title: "Discrete binning only smooths: fitting"
prerequisites:
    - data/processed/bwdata_51_test.fst
targets:
    - data/modelled/bw-09-discrete-bin-age.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-09-discrete-bin-age.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_51_test.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form_mu &lt;- born_weight ~ marital_status + race + s(age_bin)
form &lt;- form_mu</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model, binning = TRUE,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 317041.7 logPost -270258. logLik -158512. edf 8.7495 eps 0.4705 iteration   1&quot;                                                                                                  
#&gt;   [2] &quot;AICc 302009.1 logPost -156229. logLik -150995. edf 8.9683 eps 0.1038 iteration   2&quot;                                                                                                  
#&gt;   [3] &quot;AICc 291838.0 logPost -146780. logLik -145908. edf 10.767 eps 0.0552 iteration   3&quot;                                                                                                  
#&gt;   [4] &quot;AICc 286793.8 logPost -143774. logLik -143383. edf 13.570 eps 0.0356 iteration   4&quot;                                                                                                  
#&gt;   [5] &quot;AICc 285488.7 logPost -142950. logLik -142728. edf 15.506 eps 0.0167 iteration   5&quot;                                                                                                  
#&gt;   [6] &quot;AICc 285131.7 logPost -142712. logLik -142549. edf 15.949 eps 0.0033 iteration   6&quot;                                                                                                  
#&gt;   [7] &quot;AICc 284834.3 logPost -142563. logLik -142401. edf 15.988 eps 0.0012 iteration   7&quot;                                                                                                  
#&gt;   [8] &quot;AICc 284563.6 logPost -142427. logLik -142265. edf 15.987 eps 0.0011 iteration   8&quot;                                                                                                  
#&gt;   [9] &quot;AICc 284317.2 logPost -142304. logLik -142142. edf 15.986 eps 0.0019 iteration   9&quot;                                                                                                  
#&gt;  [10] &quot;AICc 284093.3 logPost -142191. logLik -142030. edf 15.985 eps 0.0017 iteration  10&quot;                                                                                                  
#&gt;  [11] &quot;AICc 283890.0 logPost -142089. logLik -141929. edf 15.984 eps 0.0008 iteration  11&quot;                                                                                                  
#&gt;  [12] &quot;AICc 283705.6 logPost -141997. logLik -141836. edf 15.982 eps 0.0011 iteration  12&quot;                                                                                                  
#&gt;  [13] &quot;AICc 283538.5 logPost -141913. logLik -141753. edf 15.980 eps 0.0007 iteration  13&quot;                                                                                                  
#&gt;  [14] &quot;AICc 283387.3 logPost -141836. logLik -141677. edf 15.979 eps 0.0006 iteration  14&quot;                                                                                                  
#&gt;  [15] &quot;AICc 283250.4 logPost -141768. logLik -141609. edf 15.977 eps 0.0006 iteration  15&quot;                                                                                                  
#&gt;  [16] &quot;AICc 283126.7 logPost -141705. logLik -141547. edf 15.975 eps 0.0007 iteration  16&quot;                                                                                                  
#&gt;  [17] &quot;AICc 283014.9 logPost -141649. logLik -141491. edf 15.972 eps 0.0006 iteration  17&quot;                                                                                                  
#&gt;  [18] &quot;AICc 282913.9 logPost -141598. logLik -141440. edf 15.970 eps 0.0006 iteration  18&quot;                                                                                                  
#&gt;  [19] &quot;AICc 282822.8 logPost -141552. logLik -141395. edf 15.967 eps 0.0004 iteration  19&quot;                                                                                                  
#&gt;  [20] &quot;AICc 282740.6 logPost -141510. logLik -141354. edf 15.964 eps 0.0005 iteration  20&quot;                                                                                                  
#&gt;  [21] &quot;AICc 282666.5 logPost -141473. logLik -141317. edf 15.961 eps 0.0004 iteration  21&quot;                                                                                                  
#&gt;  [22] &quot;AICc 282599.6 logPost -141439. logLik -141283. edf 15.957 eps 0.0003 iteration  22&quot;                                                                                                  
#&gt;  [23] &quot;AICc 282539.4 logPost -141409. logLik -141253. edf 15.954 eps 0.0003 iteration  23&quot;                                                                                                  
#&gt;  [24] &quot;AICc 282485.2 logPost -141381. logLik -141226. edf 15.949 eps 0.0003 iteration  24&quot;                                                                                                  
#&gt;  [25] &quot;AICc 282436.4 logPost -141356. logLik -141202. edf 15.945 eps 0.0008 iteration  25&quot;                                                                                                  
#&gt;  [26] &quot;AICc 282392.4 logPost -141334. logLik -141180. edf 15.940 eps 0.0002 iteration  26&quot;                                                                                                  
#&gt;  [27] &quot;AICc 282352.9 logPost -141314. logLik -141160. edf 15.935 eps 0.0002 iteration  27&quot;                                                                                                  
#&gt;  [28] &quot;AICc 282317.3 logPost -141295. logLik -141142. edf 15.929 eps 0.0002 iteration  28&quot;                                                                                                  
#&gt;  [29] &quot;AICc 282285.2 logPost -141279. logLik -141126. edf 15.923 eps 0.0002 iteration  29&quot;                                                                                                  
#&gt;  [30] &quot;AICc 282256.4 logPost -141264. logLik -141112. edf 15.916 eps 0.0001 iteration  30&quot;                                                                                                  
#&gt;  [31] &quot;AICc 282230.5 logPost -141251. logLik -141099. edf 15.909 eps 0.0002 iteration  31&quot;                                                                                                  
#&gt;  [32] &quot;AICc 282207.2 logPost -141239. logLik -141087. edf 15.901 eps 0.0004 iteration  32&quot;                                                                                                  
#&gt;  [33] &quot;AICc 282186.2 logPost -141228. logLik -141077. edf 15.893 eps 0.0002 iteration  33&quot;                                                                                                  
#&gt;  [34] &quot;AICc 282167.4 logPost -141218. logLik -141067. edf 15.884 eps 0.0001 iteration  34&quot;                                                                                                  
#&gt;  [35] &quot;AICc 282150.5 logPost -141209. logLik -141059. edf 15.875 eps 0.0001 iteration  35&quot;                                                                                                  
#&gt;  [36] &quot;AICc 282135.2 logPost -141201. logLik -141051. edf 15.865 eps 0.0001 iteration  36&quot;                                                                                                  
#&gt;  [37] &quot;AICc 282121.6 logPost -141194. logLik -141044. edf 15.854 eps 0.0001 iteration  37&quot;                                                                                                  
#&gt;  [38] &quot;AICc 282109.3 logPost -141187. logLik -141038. edf 15.843 eps 0.0001 iteration  38&quot;                                                                                                  
#&gt;  [39] &quot;AICc 282098.2 logPost -141182. logLik -141033. edf 15.831 eps 0.0001 iteration  39&quot;                                                                                                  
#&gt;  [40] &quot;AICc 282088.3 logPost -141176. logLik -141028. edf 15.818 eps 0.0000 iteration  40&quot;                                                                                                  
#&gt;  [41] &quot;AICc 282088.3 logPost -141176. logLik -141028. edf 15.818 eps 0.0000 iteration  40&quot;                                                                                                  
#&gt;  [42] &quot;elapsed time:  3.29sec&quot;                                                                                                                                                              
#&gt;  [43] &quot;Starting the sampler...Starting the sampler...Starting the sampler...Starting the sampler...&quot;                                                                                        
#&gt;  [44] &quot;&quot;                                                                                                                                                                                    
#&gt;  [45] &quot;&quot;                                                                                                                                                                                    
#&gt;  [46] &quot;&quot;                                                                                                                                                                                    
#&gt;  [47] &quot;&quot;                                                                                                                                                                                    
#&gt;  [48] &quot;&quot;                                                                                                                                                                                    
#&gt;  [49] &quot;&quot;                                                                                                                                                                                    
#&gt;  [50] &quot;&quot;                                                                                                                                                                                    
#&gt;  [51] &quot;||                                        |   0% |   0% 25.15sec25.15sec|            |                |   0%  25.24sec           |   0% 25.24sec&quot;                                    
#&gt;  [52] &quot;&quot;                                                                                                                                                                                    
#&gt;  [53] &quot;&quot;                                                                                                                                                                                    
#&gt;  [54] &quot;&quot;                                                                                                                                                                                    
#&gt;  [55] &quot;|*                   |   5%|*                   |   5%|*                   |   5%|*                   |   5%    25.16sec25.16sec25.16sec25.16sec     1.32sec 1.32sec 1.32sec 1.32sec&quot;
#&gt;  [56] &quot;|**                  |  10% 23.16sec  2.57sec&quot;                                                                                                                                       
#&gt;  [57] &quot;|**                  |  10% 26.41sec  2.93sec&quot;                                                                                                                                       
#&gt;  [58] &quot;|**                  |  10% 26.51sec  2.95sec&quot;                                                                                                                                       
#&gt;  [59] &quot;|**                  |  10% 26.95sec  2.99sec&quot;                                                                                                                                       
#&gt;  [60] &quot;|***                 |  15% 22.85sec  4.03sec&quot;                                                                                                                                       
#&gt;  [61] &quot;|***                 |  15% 23.27sec  4.11sec&quot;                                                                                                                                       
#&gt;  [62] &quot;|***                 |  15% 23.88sec  4.21sec&quot;                                                                                                                                       
#&gt;  [63] &quot;|***                 |  15% 23.95sec  4.23sec&quot;                                                                                                                                       
#&gt;  [64] &quot;|****                |  20% 20.88sec  5.22sec&quot;                                                                                                                                       
#&gt;  [65] &quot;|****                |  20% 21.20sec  5.30sec&quot;                                                                                                                                       
#&gt;  [66] &quot;|****                |  20% 21.59sec  5.40sec&quot;                                                                                                                                       
#&gt;  [67] &quot;|****                |  20% 21.66sec  5.41sec&quot;                                                                                                                                       
#&gt;  [68] &quot;|*****               |  25% 20.08sec  6.69sec&quot;                                                                                                                                       
#&gt;  [69] &quot;|*****               |  25% 20.33sec  6.78sec&quot;                                                                                                                                       
#&gt;  [70] &quot;|*****               |  25% 20.63sec  6.88sec&quot;                                                                                                                                       
#&gt;  [71] &quot;|*****               |  25% 20.71sec  6.90sec&quot;                                                                                                                                       
#&gt;  [72] &quot;|******              |  30% 18.41sec  7.89sec&quot;                                                                                                                                       
#&gt;  [73] &quot;|******              |  30% 18.63sec  7.99sec&quot;                                                                                                                                       
#&gt;  [74] &quot;|******              |  30% 18.82sec  8.07sec&quot;                                                                                                                                       
#&gt;  [75] &quot;|******              |  30% 18.89sec  8.10sec&quot;                                                                                                                                       
#&gt;  [76] &quot;|*******             |  35% 17.32sec  9.32sec&quot;                                                                                                                                       
#&gt;  [77] &quot;|*******             |  35% 17.71sec  9.54sec&quot;                                                                                                                                       
#&gt;  [78] &quot;|*******             |  35% 17.72sec  9.54sec&quot;                                                                                                                                       
#&gt;  [79] &quot;|*******             |  35% 17.74sec  9.55sec&quot;                                                                                                                                       
#&gt;  [80] &quot;|********            |  40% 15.79sec 10.53sec&quot;                                                                                                                                       
#&gt;  [81] &quot;|********            |  40% 16.17sec 10.78sec&quot;                                                                                                                                       
#&gt;  [82] &quot;|********            |  40% 16.17sec 10.78sec&quot;                                                                                                                                       
#&gt;  [83] &quot;|********            |  40% 16.17sec 10.78sec&quot;                                                                                                                                       
#&gt;  [84] &quot;|*********           |  45% 14.65sec 11.99sec&quot;                                                                                                                                       
#&gt;  [85] &quot;|*********           |  45% 14.93sec 12.22sec&quot;                                                                                                                                       
#&gt;  [86] &quot;|*********           |  45% 14.98sec 12.26sec&quot;                                                                                                                                       
#&gt;  [87] &quot;|*********           |  45% 14.99sec 12.27sec&quot;                                                                                                                                       
#&gt;  [88] &quot;|**********          |  50% 13.19sec 13.19sec&quot;                                                                                                                                       
#&gt;  [89] &quot;|**********          |  50% 13.40sec 13.40sec&quot;                                                                                                                                       
#&gt;  [90] &quot;|**********          |  50% 13.45sec 13.45sec&quot;                                                                                                                                       
#&gt;  [91] &quot;|**********          |  50% 13.45sec 13.45sec&quot;                                                                                                                                       
#&gt;  [92] &quot;|***********         |  55% 11.81sec 14.43sec&quot;                                                                                                                                       
#&gt;  [93] &quot;|***********         |  55% 11.98sec 14.65sec&quot;                                                                                                                                       
#&gt;  [94] &quot;|***********         |  55% 12.06sec 14.74sec&quot;                                                                                                                                       
#&gt;  [95] &quot;|***********         |  55% 12.14sec 14.83sec&quot;                                                                                                                                       
#&gt;  [96] &quot;|************        |  60% 10.58sec 15.87sec&quot;                                                                                                                                       
#&gt;  [97] &quot;|************        |  60% 10.69sec 16.03sec&quot;                                                                                                                                       
#&gt;  [98] &quot;|************        |  60% 10.70sec 16.06sec&quot;                                                                                                                                       
#&gt;  [99] &quot;|************        |  60% 10.79sec 16.19sec&quot;                                                                                                                                       
#&gt; [100] &quot;|*************       |  65%  9.18sec 17.05sec&quot;                                                                                                                                       
#&gt; [101] &quot;|*************       |  65%  9.26sec 17.20sec&quot;                                                                                                                                       
#&gt; [102] &quot;|*************       |  65%  9.28sec 17.24sec&quot;                                                                                                                                       
#&gt; [103] &quot;|*************       |  65%  9.36sec 17.38sec&quot;                                                                                                                                       
#&gt; [104] &quot;|**************      |  70%  7.95sec 18.56sec&quot;                                                                                                                                       
#&gt; [105] &quot;|**************      |  70%  8.01sec 18.69sec&quot;                                                                                                                                       
#&gt; [106] &quot;|**************      |  70%  8.01sec 18.69sec&quot;                                                                                                                                       
#&gt; [107] &quot;|**************      |  70%  8.09sec 18.88sec&quot;                                                                                                                                       
#&gt; [108] &quot;|***************     |  75%  6.60sec 19.79sec&quot;                                                                                                                                       
#&gt; [109] &quot;|***************     |  75%  6.63sec 19.89sec&quot;                                                                                                                                       
#&gt; [110] &quot;|***************     |  75%  6.63sec 19.90sec&quot;                                                                                                                                       
#&gt; [111] &quot;|***************     |  75%  6.71sec 20.12sec&quot;                                                                                                                                       
#&gt; [112] &quot;|****************    |  80%  5.32sec 21.26sec&quot;                                                                                                                                       
#&gt; [113] &quot;|****************    |  80%  5.33sec 21.34sec&quot;                                                                                                                                       
#&gt; [114] &quot;|****************    |  80%  5.34sec 21.35sec&quot;                                                                                                                                       
#&gt; [115] &quot;|****************    |  80%  5.40sec 21.59sec&quot;                                                                                                                                       
#&gt; [116] &quot;|*****************   |  85%  3.97sec 22.47sec&quot;                                                                                                                                       
#&gt; [117] &quot;|*****************   |  85%  3.98sec 22.56sec&quot;                                                                                                                                       
#&gt; [118] &quot;|*****************   |  85%  3.99sec 22.63sec&quot;                                                                                                                                       
#&gt; [119] &quot;|*****************   |  85%  4.03sec 22.81sec&quot;                                                                                                                                       
#&gt; [120] &quot;|******************  |  90%  2.66sec 23.97sec&quot;                                                                                                                                       
#&gt; [121] &quot;|******************  |  90%  2.67sec 24.04sec&quot;                                                                                                                                       
#&gt; [122] &quot;|******************  |  90%  2.68sec 24.14sec&quot;                                                                                                                                       
#&gt; [123] &quot;|******************  |  90%  2.70sec 24.30sec&quot;                                                                                                                                       
#&gt; [124] &quot;|******************* |  95%  1.33sec 25.20sec&quot;                                                                                                                                       
#&gt; [125] &quot;|******************* |  95%  1.33sec 25.24sec&quot;                                                                                                                                       
#&gt; [126] &quot;|******************* |  95%  1.33sec 25.35sec&quot;                                                                                                                                       
#&gt; [127] &quot;|******************* |  95%  1.34sec 25.51sec&quot;                                                                                                                                       
#&gt; [128] &quot;|********************| 100%  0.00sec 26.44sec&quot;                                                                                                                                       
#&gt; [129] &quot;&quot;                                                                                                                                                                                    
#&gt; [130] &quot;|********************| 100%  0.00sec 26.67sec&quot;                                                                                                                                       
#&gt; [131] &quot;&quot;                                                                                                                                                                                    
#&gt; [132] &quot;|********************| 100%  0.00sec 26.81sec&quot;                                                                                                                                       
#&gt; [133] &quot;&quot;                                                                                                                                                                                    
#&gt; [134] &quot;|********************| 100%  0.00sec 26.92sec&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   0.108   0.001   0.108</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt; 113.902   0.939  33.706</code></pre>
</div>
