---
title: "Discrete: fitting"
prerequisites:
    - data/processed/bwdata_51_test.fst
targets:
    - data/modelled/bw-06-discrete.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-06-discrete.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_51_test.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form_mu &lt;- born_weight ~ marital_status + race + s(municipality, bs = &quot;re&quot;) +
    s(age_bin)
form &lt;- form_mu</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 286510.1 logPost -145386. logLik -143246. edf 8.1519 eps 0.0389 iteration   1&quot;                                                     
#&gt;   [2] &quot;AICc 285231.1 logPost -143053. logLik -142605. edf 10.148 eps 0.0068 iteration   2&quot;                                                     
#&gt;   [3] &quot;AICc 277146.4 logPost -140253. logLik -138549. edf 23.874 eps 0.0275 iteration   3&quot;                                                     
#&gt;   [4] &quot;AICc 269103.5 logPost -135548. logLik -134505. edf 46.244 eps 0.0360 iteration   4&quot;                                                     
#&gt;   [5] &quot;AICc 268637.0 logPost -134697. logLik -134265. edf 52.708 eps 0.0087 iteration   5&quot;                                                     
#&gt;   [6] &quot;AICc 268628.3 logPost -134649. logLik -134259. edf 54.975 eps 0.0006 iteration   6&quot;                                                     
#&gt;   [7] &quot;AICc 268628.3 logPost -134649. logLik -134259. edf 55.008 eps 0.0000 iteration   7&quot;                                                     
#&gt;   [8] &quot;AICc 268628.3 logPost -134649. logLik -134259. edf 55.008 eps 0.0000 iteration   7&quot;                                                     
#&gt;   [9] &quot;elapsed time:  1.81sec&quot;                                                                                                                 
#&gt;  [10] &quot;Starting the sampler...&quot;                                                                                                                
#&gt;  [11] &quot;Starting the sampler...Starting the sampler...&quot;                                                                                         
#&gt;  [12] &quot;&quot;                                                                                                                                       
#&gt;  [13] &quot;Starting the sampler...&quot;                                                                                                                
#&gt;  [14] &quot;&quot;                                                                                                                                       
#&gt;  [15] &quot;|                   &quot;                                                                                                                   
#&gt;  [16] &quot; |   0%  1.73min&quot;                                                                                                                       
#&gt;  [17] &quot;| |                                      |   0%   1.73min|   0%  1.73min&quot;                                                               
#&gt;  [18] &quot;|                    |   0%  1.72min&quot;                                                                                                   
#&gt;  [19] &quot;&quot;                                                                                                                                       
#&gt;  [20] &quot;&quot;                                                                                                                                       
#&gt;  [21] &quot;|*                   |   5%|*                   |   5%|*                   |   5%    1.18min 1.18min 1.18min    3.74sec 3.73sec 3.73sec&quot;
#&gt;  [22] &quot;|*                   |   5%  1.18min  3.73sec&quot;                                                                                          
#&gt;  [23] &quot;|**                  |  10%  1.01min  6.71sec&quot;                                                                                          
#&gt;  [24] &quot;&quot;                                                                                                                                       
#&gt;  [25] &quot;|**                  |  10%  1.01min  6.72sec|**                  |  10%  1.01min  6.72sec&quot;                                             
#&gt;  [26] &quot;|**                  |  10%  1.01min  6.72sec&quot;                                                                                          
#&gt;  [27] &quot;&quot;                                                                                                                                       
#&gt;  [28] &quot;|***                 |  15% 55.10sec  9.72sec|***                 |  15% 55.07sec  9.72sec&quot;                                             
#&gt;  [29] &quot;|***                 |  15% 55.11sec  9.73sec&quot;                                                                                          
#&gt;  [30] &quot;|***                 |  15% 55.20sec  9.74sec&quot;                                                                                          
#&gt;  [31] &quot;|****                |  20% 51.79sec 12.95sec&quot;                                                                                          
#&gt;  [32] &quot;&quot;                                                                                                                                       
#&gt;  [33] &quot;|****                |  20% 51.82sec 12.95sec|****                |  20% 51.83sec 12.96sec&quot;                                             
#&gt;  [34] &quot;|****                |  20% 51.89sec 12.97sec&quot;                                                                                          
#&gt;  [35] &quot;|*****               |  25% 47.79sec 15.93sec&quot;                                                                                          
#&gt;  [36] &quot;|*****               |  25% 47.79sec 15.93sec&quot;                                                                                          
#&gt;  [37] &quot;|*****               |  25% 47.90sec 15.97sec&quot;                                                                                          
#&gt;  [38] &quot;|*****               |  25% 48.12sec 16.04sec&quot;                                                                                          
#&gt;  [39] &quot;|******              |  30% 44.24sec 18.96sec&quot;                                                                                          
#&gt;  [40] &quot;|******              |  30% 44.98sec 19.27sec&quot;                                                                                          
#&gt;  [41] &quot;|******              |  30% 45.10sec 19.33sec&quot;                                                                                          
#&gt;  [42] &quot;|******              |  30% 45.41sec 19.46sec&quot;                                                                                          
#&gt;  [43] &quot;|*******             |  35% 41.40sec 22.29sec&quot;                                                                                          
#&gt;  [44] &quot;|*******             |  35% 41.51sec 22.35sec&quot;                                                                                          
#&gt;  [45] &quot;|*******             |  35% 41.57sec 22.38sec&quot;                                                                                          
#&gt;  [46] &quot;|*******             |  35% 41.79sec 22.50sec&quot;                                                                                          
#&gt;  [47] &quot;|********            |  40% 38.19sec 25.46sec&quot;                                                                                          
#&gt;  [48] &quot;|********            |  40% 38.32sec 25.55sec&quot;                                                                                          
#&gt;  [49] &quot;|********            |  40% 38.43sec 25.62sec&quot;                                                                                          
#&gt;  [50] &quot;|********            |  40% 38.67sec 25.78sec&quot;                                                                                          
#&gt;  [51] &quot;|*********           |  45% 35.26sec 28.85sec&quot;                                                                                          
#&gt;  [52] &quot;|*********           |  45% 35.38sec 28.95sec&quot;                                                                                          
#&gt;  [53] &quot;|*********           |  45% 35.40sec 28.96sec&quot;                                                                                          
#&gt;  [54] &quot;|*********           |  45% 35.47sec 29.02sec&quot;                                                                                          
#&gt;  [55] &quot;|**********          |  50% 31.94sec 31.94sec&quot;                                                                                          
#&gt;  [56] &quot;|**********          |  50% 32.02sec 32.02sec&quot;                                                                                          
#&gt;  [57] &quot;|**********          |  50% 32.06sec 32.06sec&quot;                                                                                          
#&gt;  [58] &quot;|**********          |  50% 32.08sec 32.08sec&quot;                                                                                          
#&gt;  [59] &quot;|***********         |  55% 28.65sec 35.02sec&quot;                                                                                          
#&gt;  [60] &quot;|***********         |  55% 28.94sec 35.37sec&quot;                                                                                          
#&gt;  [61] &quot;|***********         |  55% 28.98sec 35.42sec&quot;                                                                                          
#&gt;  [62] &quot;|***********         |  55% 28.99sec 35.43sec&quot;                                                                                          
#&gt;  [63] &quot;|************        |  60% 25.67sec 38.51sec&quot;                                                                                          
#&gt;  [64] &quot;&quot;                                                                                                                                       
#&gt;  [65] &quot;|************        |  60% 25.69sec 38.53sec|************        |  60% 25.68sec 38.52sec&quot;                                             
#&gt;  [66] &quot;|************        |  60% 25.69sec 38.54sec&quot;                                                                                          
#&gt;  [67] &quot;|*************       |  65% 22.37sec 41.54sec&quot;                                                                                          
#&gt;  [68] &quot;|*************       |  65% 22.38sec 41.56sec&quot;                                                                                          
#&gt;  [69] &quot;|*************       |  65% 22.52sec 41.83sec&quot;                                                                                          
#&gt;  [70] &quot;|*************       |  65% 22.55sec 41.89sec&quot;                                                                                          
#&gt;  [71] &quot;|**************      |  70% 19.10sec 44.56sec&quot;                                                                                          
#&gt;  [72] &quot;|**************      |  70% 19.19sec 44.78sec&quot;                                                                                          
#&gt;  [73] &quot;|**************      |  70% 19.20sec 44.80sec&quot;                                                                                          
#&gt;  [74] &quot;|**************      |  70% 19.22sec 44.85sec&quot;                                                                                          
#&gt;  [75] &quot;&quot;                                                                                                                                       
#&gt;  [76] &quot;|***************     |  75%|***************     |  75%  15.94sec15.94sec  47.81sec47.81sec&quot;                                             
#&gt;  [77] &quot;|***************     |  75% 15.94sec 47.83sec&quot;                                                                                          
#&gt;  [78] &quot;|***************     |  75% 16.06sec 48.17sec&quot;                                                                                          
#&gt;  [79] &quot;|****************    |  80% 12.70sec 50.81sec&quot;                                                                                          
#&gt;  [80] &quot;|****************    |  80% 12.76sec 51.04sec&quot;                                                                                          
#&gt;  [81] &quot;|****************    |  80% 12.76sec 51.04sec&quot;                                                                                          
#&gt;  [82] &quot;|****************    |  80% 12.79sec 51.16sec&quot;                                                                                          
#&gt;  [83] &quot;|*****************   |  85%  9.54sec 54.03sec&quot;                                                                                          
#&gt;  [84] &quot;|*****************   |  85%  9.55sec 54.09sec&quot;                                                                                          
#&gt;  [85] &quot;&quot;                                                                                                                                       
#&gt;  [86] &quot;|*****************   |  85%  9.56sec 54.15sec|*****************   |  85%  9.55sec 54.14sec&quot;                                             
#&gt;  [87] &quot;|******************  |  90%  6.33sec 57.00sec&quot;                                                                                          
#&gt;  [88] &quot;|******************  |  90%  6.35sec 57.12sec&quot;                                                                                          
#&gt;  [89] &quot;|******************  |  90%  6.38sec 57.38sec&quot;                                                                                          
#&gt;  [90] &quot;|******************  |  90%  6.38sec 57.40sec&quot;                                                                                          
#&gt;  [91] &quot;|******************* |  95%  3.18sec  1.01min&quot;                                                                                          
#&gt;  [92] &quot;|******************* |  95%  3.18sec  1.01min&quot;                                                                                          
#&gt;  [93] &quot;&quot;                                                                                                                                       
#&gt;  [94] &quot;|******************* |  95%|******************* |  95%   3.18sec 3.18sec   1.01min 1.01min&quot;                                             
#&gt;  [95] &quot;|********************| 100%  0.00sec  1.06min&quot;                                                                                          
#&gt;  [96] &quot;&quot;                                                                                                                                       
#&gt;  [97] &quot;|********************| 100%  0.00sec  1.06min&quot;                                                                                          
#&gt;  [98] &quot;&quot;                                                                                                                                       
#&gt;  [99] &quot;|********************| 100%  0.00sec  1.06min&quot;                                                                                          
#&gt; [100] &quot;&quot;                                                                                                                                       
#&gt; [101] &quot;|********************| 100%  0.00sec  1.06min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   0.291   0.008   0.299</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt; 261.837   1.108  69.821</code></pre>
</div>
