---
title: "With intercept: effects"
prerequisites:
    - data/modelled/bw-00-inter-burned.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_51_test.fst&quot;)
model_file &lt;- file.path(path_modelled, &quot;bw-00-inter.rds&quot;)
form_file &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, model_file)
model_file_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, model_file)

bwdata_model &lt;- fst::read_fst(bwdata_file)
form &lt;- readRDS(form_file)
model &lt;- readRDS(model_file_burned)</code></pre>
</div>
<div id="compute-results" class="section level2">
<h2>Compute results</h2>
<pre class="r"><code>model$results &lt;- results.bamlss.default(model)</code></pre>
</div>
<div id="fixed-effects" class="section level2">
<h2>Fixed effects</h2>
<pre class="r"><code>summary(model)</code></pre>
<pre><code>#&gt; 
#&gt; Call:
#&gt; bamlss(formula = form, data = bwdata_model, cores = 4, combine = FALSE, 
#&gt;     light = TRUE, n.iter = 1000, burnin = 0)
#&gt; ---
#&gt; Family: gaussian 
#&gt; Link function: mu = identity, sigma = log
#&gt; *---
#&gt; Formula mu:
#&gt; ---
#&gt; born_weight ~ marital_status + race + s(municipality, bs = &quot;re&quot;) + 
#&gt;     s(age)
#&gt; -
#&gt; Parametric coefficients:
#&gt;                     Mean     2.5%      50%    97.5% parameters
#&gt; (Intercept)     2828.795 2822.061 2828.769 2835.629    2828.94
#&gt; marital_status2  -13.222  -20.007  -13.207   -6.543     -13.21
#&gt; marital_status3 -136.790 -143.336 -136.736 -130.230    -136.83
#&gt; race2             14.932    7.405   14.913   22.628      14.93
#&gt; race3             35.948   28.131   35.986   43.666      35.87
#&gt; race4             57.447   49.723   57.440   65.340      57.43
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.9946 0.9741 0.9998     1
#&gt; -
#&gt; Smooth terms:
#&gt;                            Mean      2.5%       50%     97.5% parameters
#&gt; s(municipality).tau21 4.079e+04 2.611e+04 3.940e+04 6.276e+04  3.745e+04
#&gt; s(municipality).alpha 1.000e+00 1.000e+00 1.000e+00 1.000e+00         NA
#&gt; s(municipality).edf   3.992e+01 3.988e+01 3.992e+01 3.995e+01  3.991e+01
#&gt; s(age).tau21          7.493e+05 2.403e+05 6.071e+05 2.174e+06  2.286e+05
#&gt; s(age).alpha          1.000e+00 1.000e+00 1.000e+00 1.000e+00         NA
#&gt; s(age).edf            8.613e+00 8.208e+00 8.640e+00 8.892e+00  8.181e+00
#&gt; ---
#&gt; Formula sigma:
#&gt; ---
#&gt; sigma ~ 1
#&gt; -
#&gt; Parametric coefficients:
#&gt;              Mean  2.5%   50% 97.5% parameters
#&gt; (Intercept) 5.295 5.285 5.295 5.304      5.293
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.9973 0.9763 1.0000     1
#&gt; ---
#&gt; Sampler summary:
#&gt; -
#&gt; runtime = 62.596
#&gt; ---
#&gt; Optimizer summary:
#&gt; -
#&gt; AICc = 268602.2 edf = 55.096 logLik = -134245.9
#&gt; logPost = -134634.7 nobs = 20000 runtime = 1.688</code></pre>
</div>
<div id="smoothed-effects" class="section level2">
<h2>Smoothed effects</h2>
<p>There seems to be a problem with the labels of the random effects plot.</p>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot(model, scale = 0, scheme = 2, spar = FALSE)</code></pre>
<p><img src="/birthweight/40-modelling/10-testing-simulated/bw-00-inter-10-effects_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  10.975   0.107  11.150</code></pre>
</div>
