---
title: "Without intercept: effects"
prerequisites:
    - data/modelled/bw-02-nointer-burned.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_51_test.fst&quot;)
model_file &lt;- file.path(path_modelled, &quot;bw-02-nointer.rds&quot;)
form_file &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, model_file)
model_file_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, model_file)

bwdata_model &lt;- fst::read_fst(bwdata_file)
model &lt;- readRDS(model_file_burned)
form &lt;- readRDS(form_file)</code></pre>
</div>
<div id="compute-results" class="section level2">
<h2>Compute results</h2>
<pre class="r"><code>model$results &lt;- results.bamlss.default(model)</code></pre>
</div>
<div id="fixed-effects" class="section level2">
<h2>Fixed effects</h2>
<pre class="r"><code>summary(model)</code></pre>
<pre><code>#&gt; 
#&gt; Call:
#&gt; bamlss(formula = form, data = bwdata_model, cores = 4, combine = FALSE, 
#&gt;     light = TRUE, n.iter = 1000, burnin = 0)
#&gt; ---
#&gt; Family: gaussian 
#&gt; Link function: mu = identity, sigma = log
#&gt; *---
#&gt; Formula mu:
#&gt; ---
#&gt; born_weight ~ 0 + marital_status2 + marital_status3 + race2 + 
#&gt;     race3 + race4 + s(municipality, bs = &quot;re&quot;) + s(age)
#&gt; -
#&gt; Parametric coefficients:
#&gt;                     Mean     2.5%      50%    97.5% parameters
#&gt; marital_status2  -13.032  -19.913  -13.003   -6.214     -8.597
#&gt; marital_status3 -136.571 -143.258 -136.598 -129.692   -132.177
#&gt; race2             15.259    7.255   15.384   22.903     21.338
#&gt; race3             36.209   28.250   36.207   44.032     42.279
#&gt; race4             57.712   50.075   57.643   65.795     63.793
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.9996 0.9983 1.0000     1
#&gt; -
#&gt; Smooth terms:
#&gt;                            Mean      2.5%       50%     97.5% parameters
#&gt; s(municipality).tau21 8.439e+06 5.338e+06 8.126e+06 1.321e+07  7.941e+06
#&gt; s(municipality).alpha 1.000e+00 1.000e+00 1.000e+00 1.000e+00         NA
#&gt; s(municipality).edf   4.000e+01 4.000e+01 4.000e+01 4.000e+01  4.000e+01
#&gt; s(age).tau21          7.266e+05 2.378e+05 5.938e+05 1.972e+06  2.289e+05
#&gt; s(age).alpha          1.000e+00 1.000e+00 1.000e+00 1.000e+00         NA
#&gt; s(age).edf            8.610e+00 8.198e+00 8.633e+00 8.880e+00  8.181e+00
#&gt; ---
#&gt; Formula sigma:
#&gt; ---
#&gt; sigma ~ 1
#&gt; -
#&gt; Parametric coefficients:
#&gt;              Mean  2.5%   50% 97.5% parameters
#&gt; (Intercept) 5.295 5.285 5.295 5.304      5.294
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.9972 0.9769 1.0000     1
#&gt; ---
#&gt; Sampler summary:
#&gt; -
#&gt; runtime = 62.084
#&gt; ---
#&gt; Optimizer summary:
#&gt; -
#&gt; AICc = 268607.7 edf = 54.1805 logLik = -134249.5
#&gt; logPost = -134739 nobs = 20000 runtime = 7.318</code></pre>
</div>
<div id="smoothed-effects" class="section level2">
<h2>Smoothed effects</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot(model, scale = 0, scheme = 2, spar = FALSE)</code></pre>
<p><img src="/birthweight/40-modelling/10-testing-simulated/bw-02-nointer-10-effects_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  11.022   0.071  11.109</code></pre>
</div>
