---
title: "With intercept: fitting"
prerequisites:
    - data/processed/bwdata_51_test.fst
targets:
    - data/modelled/bw-00-inter.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-00-inter.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_51_test.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form_mu &lt;- born_weight ~ marital_status + race + s(municipality, bs = &quot;re&quot;) +
    s(age)
form &lt;- form_mu</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 286510.1 logPost -145383. logLik -143246. edf 8.1512 eps 0.0389 iteration   1&quot;                                                     
#&gt;   [2] &quot;AICc 285278.3 logPost -143064. logLik -142629. edf 10.139 eps 0.0066 iteration   2&quot;                                                     
#&gt;   [3] &quot;AICc 277333.5 logPost -140334. logLik -138642. edf 23.812 eps 0.0270 iteration   3&quot;                                                     
#&gt;   [4] &quot;AICc 269105.4 logPost -135567. logLik -134506. edf 46.186 eps 0.0363 iteration   4&quot;                                                     
#&gt;   [5] &quot;AICc 268609.5 logPost -134685. logLik -134251. edf 53.048 eps 0.0090 iteration   5&quot;                                                     
#&gt;   [6] &quot;AICc 268602.2 logPost -134634. logLik -134245. edf 55.088 eps 0.0007 iteration   6&quot;                                                     
#&gt;   [7] &quot;AICc 268602.2 logPost -134634. logLik -134245. edf 55.096 eps 0.0000 iteration   7&quot;                                                     
#&gt;   [8] &quot;AICc 268602.2 logPost -134634. logLik -134245. edf 55.096 eps 0.0000 iteration   7&quot;                                                     
#&gt;   [9] &quot;elapsed time:  1.69sec&quot;                                                                                                                 
#&gt;  [10] &quot;Starting the sampler...Starting the sampler...Starting the sampler...Starting the sampler...&quot;                                           
#&gt;  [11] &quot;&quot;                                                                                                                                       
#&gt;  [12] &quot;&quot;                                                                                                                                       
#&gt;  [13] &quot;&quot;                                                                                                                                       
#&gt;  [14] &quot;&quot;                                                                                                                                       
#&gt;  [15] &quot;&quot;                                                                                                                                       
#&gt;  [16] &quot;|  &quot;                                                                                                                                    
#&gt;  [17] &quot;          &quot;                                                                                                                             
#&gt;  [18] &quot;        |   0%  1.07min|                    |   0%  1.07min|                |        |   0%   1.07min               |   0%  1.07min&quot;    
#&gt;  [19] &quot;|*                   |   5%  1.10min  3.49sec&quot;                                                                                          
#&gt;  [20] &quot;&quot;                                                                                                                                       
#&gt;  [21] &quot;&quot;                                                                                                                                       
#&gt;  [22] &quot;|*                   |   5%|*                   |   5%|*                   |   5%    1.11min 1.11min 1.11min    3.51sec 3.51sec 3.51sec&quot;
#&gt;  [23] &quot;|**                  |  10% 57.92sec  6.44sec&quot;                                                                                          
#&gt;  [24] &quot;|**                  |  10% 57.96sec  6.44sec&quot;                                                                                          
#&gt;  [25] &quot;|**                  |  10% 58.07sec  6.45sec&quot;                                                                                          
#&gt;  [26] &quot;|**                  |  10% 58.10sec  6.46sec&quot;                                                                                          
#&gt;  [27] &quot;&quot;                                                                                                                                       
#&gt;  [28] &quot;|***                 |  15% 53.27sec  9.40sec|***                 |  15% 53.27sec  9.40sec&quot;                                             
#&gt;  [29] &quot;|***                 |  15% 53.49sec  9.44sec&quot;                                                                                          
#&gt;  [30] &quot;|***                 |  15% 53.49sec  9.44sec&quot;                                                                                          
#&gt;  [31] &quot;|****                |  20% 50.45sec 12.61sec&quot;                                                                                          
#&gt;  [32] &quot;|****                |  20% 50.52sec 12.63sec&quot;                                                                                          
#&gt;  [33] &quot;&quot;                                                                                                                                       
#&gt;  [34] &quot;|****                |  20%|****                |  20%  50.60sec50.60sec  12.65sec12.65sec&quot;                                             
#&gt;  [35] &quot;|*****               |  25% 46.83sec 15.61sec&quot;                                                                                          
#&gt;  [36] &quot;|*****               |  25% 46.89sec 15.63sec&quot;                                                                                          
#&gt;  [37] &quot;|*****               |  25% 46.91sec 15.64sec&quot;                                                                                          
#&gt;  [38] &quot;|*****               |  25% 46.96sec 15.65sec&quot;                                                                                          
#&gt;  [39] &quot;&quot;                                                                                                                                       
#&gt;  [40] &quot;|******              |  30% 43.23sec 18.53sec|******              |  30% 43.23sec 18.53sec&quot;                                             
#&gt;  [41] &quot;|******              |  30% 43.82sec 18.78sec&quot;                                                                                          
#&gt;  [42] &quot;|******              |  30% 43.91sec 18.82sec&quot;                                                                                          
#&gt;  [43] &quot;&quot;                                                                                                                                       
#&gt;  [44] &quot;|*******             |  35% 40.36sec 21.74sec|*******             |  35% 40.36sec 21.74sec&quot;                                             
#&gt;  [45] &quot;|*******             |  35% 40.44sec 21.77sec&quot;                                                                                          
#&gt;  [46] &quot;|*******             |  35% 40.44sec 21.78sec&quot;                                                                                          
#&gt;  [47] &quot;|********            |  40% 37.04sec 24.69sec&quot;                                                                                          
#&gt;  [48] &quot;|********            |  40% 37.05sec 24.70sec&quot;                                                                                          
#&gt;  [49] &quot;|********            |  40% 37.12sec 24.75sec&quot;                                                                                          
#&gt;  [50] &quot;|********            |  40% 37.46sec 24.98sec&quot;                                                                                          
#&gt;  [51] &quot;|*********           |  45% 34.02sec 27.83sec&quot;                                                                                          
#&gt;  [52] &quot;|*********           |  45% 34.03sec 27.84sec&quot;                                                                                          
#&gt;  [53] &quot;|*********           |  45% 34.06sec 27.87sec&quot;                                                                                          
#&gt;  [54] &quot;|*********           |  45% 34.08sec 27.88sec&quot;                                                                                          
#&gt;  [55] &quot;&quot;                                                                                                                                       
#&gt;  [56] &quot;|**********          |  50% 30.81sec 30.81sec|**********          |  50% 30.81sec 30.81sec&quot;                                             
#&gt;  [57] &quot;|**********          |  50% 30.85sec 30.85sec&quot;                                                                                          
#&gt;  [58] &quot;|**********          |  50% 31.11sec 31.11sec&quot;                                                                                          
#&gt;  [59] &quot;|***********         |  55% 27.56sec 33.69sec&quot;                                                                                          
#&gt;  [60] &quot;|***********         |  55% 27.81sec 33.99sec&quot;                                                                                          
#&gt;  [61] &quot;|***********         |  55% 27.85sec 34.03sec&quot;                                                                                          
#&gt;  [62] &quot;|***********         |  55% 27.91sec 34.12sec&quot;                                                                                          
#&gt;  [63] &quot;|************        |  60% 24.58sec 36.87sec&quot;                                                                                          
#&gt;  [64] &quot;|************        |  60% 24.62sec 36.93sec&quot;                                                                                          
#&gt;  [65] &quot;|************        |  60% 24.63sec 36.95sec&quot;                                                                                          
#&gt;  [66] &quot;|************        |  60% 24.69sec 37.04sec&quot;                                                                                          
#&gt;  [67] &quot;|*************       |  65% 21.42sec 39.78sec&quot;                                                                                          
#&gt;  [68] &quot;|*************       |  65% 21.45sec 39.84sec&quot;                                                                                          
#&gt;  [69] &quot;|*************       |  65% 21.51sec 39.95sec&quot;                                                                                          
#&gt;  [70] &quot;|*************       |  65% 21.60sec 40.11sec&quot;                                                                                          
#&gt;  [71] &quot;|**************      |  70% 18.41sec 42.97sec&quot;                                                                                          
#&gt;  [72] &quot;|**************      |  70% 18.44sec 43.03sec&quot;                                                                                          
#&gt;  [73] &quot;|**************      |  70% 18.46sec 43.06sec&quot;                                                                                          
#&gt;  [74] &quot;|**************      |  70% 18.49sec 43.14sec&quot;                                                                                          
#&gt;  [75] &quot;|***************     |  75% 15.29sec 45.86sec&quot;                                                                                          
#&gt;  [76] &quot;|***************     |  75% 15.30sec 45.91sec&quot;                                                                                          
#&gt;  [77] &quot;|***************     |  75% 15.32sec 45.97sec&quot;                                                                                          
#&gt;  [78] &quot;|***************     |  75% 15.34sec 46.02sec&quot;                                                                                          
#&gt;  [79] &quot;|****************    |  80% 12.20sec 48.80sec&quot;                                                                                          
#&gt;  [80] &quot;|****************    |  80% 12.25sec 49.01sec&quot;                                                                                          
#&gt;  [81] &quot;|****************    |  80% 12.28sec 49.11sec&quot;                                                                                          
#&gt;  [82] &quot;|****************    |  80% 12.29sec 49.18sec&quot;                                                                                          
#&gt;  [83] &quot;|*****************   |  85%  9.16sec 51.90sec&quot;                                                                                          
#&gt;  [84] &quot;|*****************   |  85%  9.17sec 51.95sec&quot;                                                                                          
#&gt;  [85] &quot;|*****************   |  85%  9.18sec 52.01sec&quot;                                                                                          
#&gt;  [86] &quot;|*****************   |  85%  9.19sec 52.07sec&quot;                                                                                          
#&gt;  [87] &quot;|******************  |  90%  6.10sec 54.87sec&quot;                                                                                          
#&gt;  [88] &quot;|******************  |  90%  6.12sec 55.11sec&quot;                                                                                          
#&gt;  [89] &quot;|******************  |  90%  6.13sec 55.21sec&quot;                                                                                          
#&gt;  [90] &quot;|******************  |  90%  6.14sec 55.28sec&quot;                                                                                          
#&gt;  [91] &quot;|******************* |  95%  3.05sec 57.99sec&quot;                                                                                          
#&gt;  [92] &quot;|******************* |  95%  3.05sec 58.04sec&quot;                                                                                          
#&gt;  [93] &quot;|******************* |  95%  3.06sec 58.11sec&quot;                                                                                          
#&gt;  [94] &quot;|******************* |  95%  3.06sec 58.15sec&quot;                                                                                          
#&gt;  [95] &quot;|********************| 100%  0.00sec  1.02min&quot;                                                                                          
#&gt;  [96] &quot;&quot;                                                                                                                                       
#&gt;  [97] &quot;|********************| 100%  0.00sec  1.02min&quot;                                                                                          
#&gt;  [98] &quot;&quot;                                                                                                                                       
#&gt;  [99] &quot;|********************| 100%  0.00sec  1.02min&quot;                                                                                          
#&gt; [100] &quot;&quot;                                                                                                                                       
#&gt; [101] &quot;|********************| 100%  0.00sec  1.02min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   0.301   0.004   0.311</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt; 254.187   1.165  68.185</code></pre>
</div>
