---
title: "Binning: fitting"
prerequisites:
    - data/processed/bwdata_51_test.fst
targets:
    - data/modelled/bw-04-inter-bin.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-04-inter-bin.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_51_test.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form_mu &lt;- born_weight ~ marital_status + race + s(municipality, bs = &quot;re&quot;) +
    s(age)
form &lt;- form_mu</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model, binning = TRUE,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 285998.8 logPost -163704. logLik -142989. edf 9.5175 eps 0.0392 iteration   1&quot;                     
#&gt;   [2] &quot;AICc 280893.6 logPost -141836. logLik -140424. edf 22.231 eps 0.0214 iteration   2&quot;                     
#&gt;   [3] &quot;AICc 271838.7 logPost -137318. logLik -135875. edf 43.830 eps 0.0358 iteration   3&quot;                     
#&gt;   [4] &quot;AICc 268758.8 logPost -134989. logLik -134329. edf 50.228 eps 0.0199 iteration   4&quot;                     
#&gt;   [5] &quot;AICc 268607.3 logPost -134664. logLik -134250. edf 53.378 eps 0.0030 iteration   5&quot;                     
#&gt;   [6] &quot;AICc 268602.2 logPost -134635. logLik -134245. edf 55.096 eps 0.0003 iteration   6&quot;                     
#&gt;   [7] &quot;AICc 268602.2 logPost -134635. logLik -134245. edf 55.098 eps 0.0000 iteration   7&quot;                     
#&gt;   [8] &quot;AICc 268602.2 logPost -134635. logLik -134245. edf 55.098 eps 0.0000 iteration   7&quot;                     
#&gt;   [9] &quot;elapsed time:  1.44sec&quot;                                                                                 
#&gt;  [10] &quot;Starting the sampler...&quot;                                                                                
#&gt;  [11] &quot;Starting the sampler...Starting the sampler...&quot;                                                         
#&gt;  [12] &quot;&quot;                                                                                                       
#&gt;  [13] &quot;Starting the sampler...&quot;                                                                                
#&gt;  [14] &quot;&quot;                                                                                                       
#&gt;  [15] &quot;|                    |   0% 41.78sec&quot;                                                                   
#&gt;  [16] &quot;&quot;                                                                                                       
#&gt;  [17] &quot;|    &quot;                                                                                                  
#&gt;  [18] &quot;                |   0% 42.17sec|                    |   0% 41.78sec|                    |   0% 42.17sec&quot;
#&gt;  [19] &quot;|*                   |   5%&quot;                                                                            
#&gt;  [20] &quot; 43.24sec  2.28sec|*                   |   5% 43.97sec  2.31sec&quot;                                        
#&gt;  [21] &quot;|*                   |   5% 44.56sec  2.35sec&quot;                                                          
#&gt;  [22] &quot;|*                   |   5% 44.71sec  2.35sec&quot;                                                          
#&gt;  [23] &quot;|**                  |  10% 37.78sec  4.20sec&quot;                                                          
#&gt;  [24] &quot;|**                  |  10% 37.67sec  4.19sec&quot;                                                          
#&gt;  [25] &quot;|**                  |  10% 40.58sec  4.51sec&quot;                                                          
#&gt;  [26] &quot;|**                  |  10% 40.63sec  4.51sec&quot;                                                          
#&gt;  [27] &quot;|***                 |  15% 35.59sec  6.28sec&quot;                                                          
#&gt;  [28] &quot;|***                 |  15% 35.93sec  6.34sec&quot;                                                          
#&gt;  [29] &quot;|***                 |  15% 36.78sec  6.49sec&quot;                                                          
#&gt;  [30] &quot;|***                 |  15% 36.82sec  6.50sec&quot;                                                          
#&gt;  [31] &quot;|****                |  20% 32.74sec  8.19sec&quot;                                                          
#&gt;  [32] &quot;|****                |  20% 32.85sec  8.21sec&quot;                                                          
#&gt;  [33] &quot;|****                |  20% 34.64sec  8.66sec&quot;                                                          
#&gt;  [34] &quot;|****                |  20% 34.79sec  8.70sec&quot;                                                          
#&gt;  [35] &quot;|*****               |  25% 30.87sec 10.29sec&quot;                                                          
#&gt;  [36] &quot;|*****               |  25% 31.04sec 10.35sec&quot;                                                          
#&gt;  [37] &quot;|*****               |  25% 32.56sec 10.85sec&quot;                                                          
#&gt;  [38] &quot;|*****               |  25% 32.72sec 10.91sec&quot;                                                          
#&gt;  [39] &quot;|******              |  30% 28.33sec 12.14sec&quot;                                                          
#&gt;  [40] &quot;|******              |  30% 28.40sec 12.17sec&quot;                                                          
#&gt;  [41] &quot;|******              |  30% &quot;                                                                           
#&gt;  [42] &quot;29.79sec 12.77sec|******              |  30% 29.89sec 12.81sec&quot;                                         
#&gt;  [43] &quot;|*******             |  35% 26.29sec 14.16sec&quot;                                                          
#&gt;  [44] &quot;|*******             |  35% 26.40sec 14.22sec&quot;                                                          
#&gt;  [45] &quot;|*******             |  35% 27.59sec 14.86sec&quot;                                                          
#&gt;  [46] &quot;|*******             |  35% 27.68sec 14.91sec&quot;                                                          
#&gt;  [47] &quot;|********            |  40% 23.94sec 15.96sec&quot;                                                          
#&gt;  [48] &quot;|********            |  40% 24.02sec 16.02sec&quot;                                                          
#&gt;  [49] &quot;|********            |  40% 25.07sec 16.72sec&quot;                                                          
#&gt;  [50] &quot;|********            |  40% 25.52sec 17.01sec&quot;                                                          
#&gt;  [51] &quot;|*********           |  45% 22.03sec 18.03sec&quot;                                                          
#&gt;  [52] &quot;|*********           |  45% 22.16sec 18.13sec&quot;                                                          
#&gt;  [53] &quot;|*********           |  45% 22.93sec 18.76sec&quot;                                                          
#&gt;  [54] &quot;|*********           |  45% 23.02sec 18.83sec&quot;                                                          
#&gt;  [55] &quot;|**********          |  50% 19.82sec 19.82sec&quot;                                                          
#&gt;  [56] &quot;|**********          |  50% 19.90sec 19.90sec&quot;                                                          
#&gt;  [57] &quot;|**********          |  50% 20.57sec 20.57sec&quot;                                                          
#&gt;  [58] &quot;|**********          |  50% 20.64sec 20.64sec&quot;                                                          
#&gt;  [59] &quot;|***********         |  55% 17.73sec 21.68sec&quot;                                                          
#&gt;  [60] &quot;|***********         |  55% 17.99sec 21.98sec&quot;                                                          
#&gt;  [61] &quot;|***********         |  55% 18.54sec 22.66sec&quot;                                                          
#&gt;  [62] &quot;|***********         |  55% 18.57sec 22.70sec&quot;                                                          
#&gt;  [63] &quot;|************        |  60% 15.82sec 23.73sec&quot;                                                          
#&gt;  [64] &quot;|************        |  60% 15.86sec 23.79sec&quot;                                                          
#&gt;  [65] &quot;|************        |  60% 16.32sec 24.48sec&quot;                                                          
#&gt;  [66] &quot;|************        |  60% 16.35sec 24.53sec&quot;                                                          
#&gt;  [67] &quot;|*************       |  65% 13.76sec 25.55sec&quot;                                                          
#&gt;  [68] &quot;|*************       |  65% 13.92sec 25.86sec&quot;                                                          
#&gt;  [69] &quot;|*************       |  65% 14.30sec 26.56sec&quot;                                                          
#&gt;  [70] &quot;|*************       |  65% 14.32sec 26.59sec&quot;                                                          
#&gt;  [71] &quot;|**************      |  70% 11.74sec 27.40sec&quot;                                                          
#&gt;  [72] &quot;|**************      |  70% 11.86sec 27.68sec&quot;                                                          
#&gt;  [73] &quot;|**************      |  70% 12.17sec 28.40sec&quot;                                                          
#&gt;  [74] &quot;|**************      |  70% 12.18sec 28.41sec&quot;                                                          
#&gt;  [75] &quot;|***************     |  75%  9.80sec 29.41sec&quot;                                                          
#&gt;  [76] &quot;|***************     |  75%  9.83sec 29.49sec&quot;                                                          
#&gt;  [77] &quot;|***************     |  75% 10.07sec 30.20sec&quot;                                                          
#&gt;  [78] &quot;|***************     |  75% 10.14sec 30.42sec&quot;                                                          
#&gt;  [79] &quot;|****************    |  80%  7.88sec 31.50sec&quot;                                                          
#&gt;  [80] &quot;|****************    |  80%  7.89sec 31.54sec&quot;                                                          
#&gt;  [81] &quot;|****************    |  80%  8.07sec 32.27sec&quot;                                                          
#&gt;  [82] &quot;|****************    |  80%  8.07sec 32.29sec&quot;                                                          
#&gt;  [83] &quot;|*****************   |  85%  5.88sec 33.29sec&quot;                                                          
#&gt;  [84] &quot;|*****************   |  85%  5.89sec 33.37sec&quot;                                                          
#&gt;  [85] &quot;|*****************   |  85%  6.02sec 34.09sec&quot;                                                          
#&gt;  [86] &quot;|*****************   |  85%  6.05sec 34.29sec&quot;                                                          
#&gt;  [87] &quot;|******************  |  90%  3.90sec 35.10sec&quot;                                                          
#&gt;  [88] &quot;|******************  |  90%  3.91sec 35.17sec&quot;                                                          
#&gt;  [89] &quot;|******************  |  90%  4.02sec 36.14sec&quot;                                                          
#&gt;  [90] &quot;|******************  |  90%  4.02sec 36.18sec&quot;                                                          
#&gt;  [91] &quot;|******************* |  95%  1.96sec 37.16sec&quot;                                                          
#&gt;  [92] &quot;|******************* |  95%  1.96sec 37.25sec&quot;                                                          
#&gt;  [93] &quot;|******************* |  95%  2.00sec 38.01sec&quot;                                                          
#&gt;  [94] &quot;|******************* |  95%  2.01sec 38.19sec&quot;                                                          
#&gt;  [95] &quot;|********************| 100%  0.00sec 38.99sec&quot;                                                          
#&gt;  [96] &quot;&quot;                                                                                                       
#&gt;  [97] &quot;|********************| 100%  0.00sec 39.06sec&quot;                                                          
#&gt;  [98] &quot;&quot;                                                                                                       
#&gt;  [99] &quot;|********************| 100%  0.00sec 39.75sec&quot;                                                          
#&gt; [100] &quot;&quot;                                                                                                       
#&gt; [101] &quot;|********************| 100%  0.00sec 39.77sec&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   0.204   0.004   0.208</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt; 164.048   1.011  45.468</code></pre>
</div>
