---
title: "Discrete binning only smooths: effects"
prerequisites:
    - data/modelled/bw-09-discrete-bin-age-burned.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_51_test.fst&quot;)
model_file &lt;- file.path(path_modelled, &quot;bw-09-discrete-bin-age.rds&quot;)
form_file &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, model_file)
model_file_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, model_file)

bwdata_model &lt;- fst::read_fst(bwdata_file)
form &lt;- readRDS(form_file)
model &lt;- readRDS(model_file_burned)</code></pre>
</div>
<div id="compute-results" class="section level2">
<h2>Compute results</h2>
<pre class="r"><code>model$results &lt;- results.bamlss.default(model)</code></pre>
</div>
<div id="fixed-effects" class="section level2">
<h2>Fixed effects</h2>
<pre class="r"><code>summary(model)</code></pre>
<pre><code>#&gt; 
#&gt; Call:
#&gt; bamlss(formula = form, data = bwdata_model, cores = 4, combine = FALSE, 
#&gt;     light = TRUE, binning = TRUE, n.iter = 1000, burnin = 0)
#&gt; ---
#&gt; Family: gaussian 
#&gt; Link function: mu = identity, sigma = log
#&gt; *---
#&gt; Formula mu:
#&gt; ---
#&gt; born_weight ~ marital_status + race + s(age_bin)
#&gt; -
#&gt; Parametric coefficients:
#&gt;                     Mean     2.5%      50%    97.5% parameters
#&gt; (Intercept)     2476.165 2458.597 2475.847 2494.889    2393.93
#&gt; marital_status2  -12.192  -21.747  -12.188   -2.450     -11.94
#&gt; marital_status3 -137.041 -146.510 -137.073 -127.840    -136.96
#&gt; race2             14.307    3.118   14.488   25.457      14.68
#&gt; race3             29.810   18.760   29.774   40.865      30.00
#&gt; race4             52.883   41.860   52.928   63.925      53.43
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.9933 0.9668 1.0000     1
#&gt; -
#&gt; Smooth terms:
#&gt;                       Mean      2.5%       50%     97.5% parameters
#&gt; s(age_bin).tau21 1.035e+06 3.254e+05 8.364e+05 2.868e+06  8.031e+06
#&gt; s(age_bin).alpha 1.000e+00 1.000e+00 1.000e+00 1.000e+00         NA
#&gt; s(age_bin).edf   7.907e+00 7.192e+00 7.915e+00 8.556e+00  8.818e+00
#&gt; ---
#&gt; Formula sigma:
#&gt; ---
#&gt; sigma ~ 1
#&gt; -
#&gt; Parametric coefficients:
#&gt;              Mean  2.5%   50% 97.5% parameters
#&gt; (Intercept) 5.631 5.621 5.631 5.640      5.632
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.9970 0.9759 1.0000     1
#&gt; ---
#&gt; Sampler summary:
#&gt; -
#&gt; runtime = 27.42
#&gt; ---
#&gt; Optimizer summary:
#&gt; -
#&gt; AICc = 282088.4 edf = 15.8184 logLik = -141028.4
#&gt; logPost = -141176.7 nobs = 20000 runtime = 3.29</code></pre>
</div>
<div id="smoothed-effects" class="section level2">
<h2>Smoothed effects</h2>
<p>There seems to be a problem with the labels of the random effects plot.</p>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot(model, scale = 0, scheme = 2, spar = FALSE)</code></pre>
<p><img src="/birthweight/40-modelling/10-testing-simulated/bw-09-discrete-bin-age-10-effects_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   2.274   0.118   2.409</code></pre>
</div>
