---
title: "Without intercept: fitting"
prerequisites:
    - data/processed/bwdata_51_test.fst
targets:
    - data/modelled/bw-02-nointer.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-02-nointer.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_51_test.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form_mu &lt;- born_weight ~ 0 +
    marital_status2 + marital_status3 +
    race2 + race3 + race4 +
    s(municipality, bs = &quot;re&quot;) +
    s(age)
form &lt;- form_mu</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 455722.5 logPost -229986. logLik -227854. edf 7.1512 eps 3.3642 iteration   1&quot;                                                              
#&gt;   [2] &quot;AICc 435783.9 logPost -217905. logLik -217885. edf 6.3785 eps 0.1855 iteration   2&quot;                                                              
#&gt;   [3] &quot;AICc 415953.1 logPost -207937. logLik -207970. edf 6.4159 eps 0.0312 iteration   3&quot;                                                              
#&gt;   [4] &quot;AICc 396405.0 logPost -198118. logLik -198195. edf 6.7845 eps 0.0591 iteration   4&quot;                                                              
#&gt;   [5] &quot;AICc 377605.8 logPost -188864. logLik -188796. edf 6.9204 eps 0.0393 iteration   5&quot;                                                              
#&gt;   [6] &quot;AICc 360679.6 logPost -180451. logLik -180332. edf 6.9793 eps 0.0418 iteration   6&quot;                                                              
#&gt;   [7] &quot;AICc 347826.0 logPost -174075. logLik -173905. edf 7.2284 eps 0.0325 iteration   7&quot;                                                              
#&gt;   [8] &quot;AICc 340747.0 logPost -170661. logLik -170361. edf 11.944 eps 0.1026 iteration   8&quot;                                                              
#&gt;   [9] &quot;AICc 334523.7 logPost -167806. logLik -167225. edf 36.253 eps 0.1295 iteration   9&quot;                                                              
#&gt;  [10] &quot;AICc 327817.5 logPost -164328. logLik -163862. edf 46.199 eps 0.0633 iteration  10&quot;                                                              
#&gt;  [11] &quot;AICc 320779.8 logPost -160828. logLik -160342. edf 47.703 eps 0.0464 iteration  11&quot;                                                              
#&gt;  [12] &quot;AICc 314008.7 logPost -157424. logLik -156954. edf 49.674 eps 0.0383 iteration  12&quot;                                                              
#&gt;  [13] &quot;AICc 307664.1 logPost -154246. logLik -153779. edf 51.977 eps 0.0313 iteration  13&quot;                                                              
#&gt;  [14] &quot;AICc 301651.8 logPost -151245. logLik -150773. edf 52.267 eps 0.0270 iteration  14&quot;                                                              
#&gt;  [15] &quot;AICc 296041.1 logPost -148443. logLik -147967. edf 52.554 eps 0.0235 iteration  15&quot;                                                              
#&gt;  [16] &quot;AICc 290920.3 logPost -145885. logLik -145407. edf 52.834 eps 0.0206 iteration  16&quot;                                                              
#&gt;  [17] &quot;AICc 286369.7 logPost -143611. logLik -143131. edf 53.099 eps 0.0179 iteration  17&quot;                                                              
#&gt;  [18] &quot;AICc 282445.5 logPost -141651. logLik -141169. edf 53.338 eps 0.0153 iteration  18&quot;                                                              
#&gt;  [19] &quot;AICc 279167.9 logPost -140013. logLik -139530. edf 53.541 eps 0.0128 iteration  19&quot;                                                              
#&gt;  [20] &quot;AICc 276516.4 logPost -138688. logLik -138204. edf 53.706 eps 0.0105 iteration  20&quot;                                                              
#&gt;  [21] &quot;AICc 274434.4 logPost -137648. logLik -137163. edf 53.834 eps 0.0084 iteration  21&quot;                                                              
#&gt;  [22] &quot;AICc 272842.4 logPost -136853. logLik -136367. edf 53.930 eps 0.0067 iteration  22&quot;                                                              
#&gt;  [23] &quot;AICc 271651.8 logPost -136258. logLik -135771. edf 54.001 eps 0.0052 iteration  23&quot;                                                              
#&gt;  [24] &quot;AICc 270777.3 logPost -135821. logLik -135334. edf 54.052 eps 0.0040 iteration  24&quot;                                                              
#&gt;  [25] &quot;AICc 270143.8 logPost -135505. logLik -135017. edf 54.088 eps 0.0031 iteration  25&quot;                                                              
#&gt;  [26] &quot;AICc 269689.7 logPost -135278. logLik -134790. edf 54.114 eps 0.0024 iteration  26&quot;                                                              
#&gt;  [27] &quot;AICc 269366.7 logPost -135117. logLik -134629. edf 54.133 eps 0.0019 iteration  27&quot;                                                              
#&gt;  [28] &quot;AICc 269138.2 logPost -135003. logLik -134514. edf 54.146 eps 0.0015 iteration  28&quot;                                                              
#&gt;  [29] &quot;AICc 268977.2 logPost -134923. logLik -134434. edf 54.156 eps 0.0011 iteration  29&quot;                                                              
#&gt;  [30] &quot;AICc 268864.2 logPost -134866. logLik -134377. edf 54.163 eps 0.0009 iteration  30&quot;                                                              
#&gt;  [31] &quot;AICc 268784.9 logPost -134827. logLik -134338. edf 54.168 eps 0.0007 iteration  31&quot;                                                              
#&gt;  [32] &quot;AICc 268729.4 logPost -134799. logLik -134310. edf 54.171 eps 0.0005 iteration  32&quot;                                                              
#&gt;  [33] &quot;AICc 268690.5 logPost -134780. logLik -134290. edf 54.174 eps 0.0004 iteration  33&quot;                                                              
#&gt;  [34] &quot;AICc 268663.4 logPost -134766. logLik -134277. edf 54.176 eps 0.0003 iteration  34&quot;                                                              
#&gt;  [35] &quot;AICc 268644.4 logPost -134757. logLik -134267. edf 54.177 eps 0.0003 iteration  35&quot;                                                              
#&gt;  [36] &quot;AICc 268631.1 logPost -134750. logLik -134261. edf 54.178 eps 0.0002 iteration  36&quot;                                                              
#&gt;  [37] &quot;AICc 268621.9 logPost -134746. logLik -134256. edf 54.179 eps 0.0002 iteration  37&quot;                                                              
#&gt;  [38] &quot;AICc 268615.4 logPost -134742. logLik -134253. edf 54.179 eps 0.0001 iteration  38&quot;                                                              
#&gt;  [39] &quot;AICc 268610.8 logPost -134740. logLik -134251. edf 54.180 eps 0.0001 iteration  39&quot;                                                              
#&gt;  [40] &quot;AICc 268607.7 logPost -134739. logLik -134249. edf 54.180 eps 0.0001 iteration  40&quot;                                                              
#&gt;  [41] &quot;AICc 268607.7 logPost -134739. logLik -134249. edf 54.180 eps 0.0001 iteration  40&quot;                                                              
#&gt;  [42] &quot;elapsed time:  7.32sec&quot;                                                                                                                          
#&gt;  [43] &quot;Starting the sampler...Starting the sampler...Starting the sampler...&quot;                                                                           
#&gt;  [44] &quot;&quot;                                                                                                                                                
#&gt;  [45] &quot;&quot;                                                                                                                                                
#&gt;  [46] &quot;Starting the sampler...&quot;                                                                                                                         
#&gt;  [47] &quot;&quot;                                                                                                                                                
#&gt;  [48] &quot;&quot;                                                                                                                                                
#&gt;  [49] &quot;&quot;                                                                                                                                                
#&gt;  [50] &quot;&quot;                                                                                                                                                
#&gt;  [51] &quot;||                       |                         |   0%  |   0%  1.12min  1.12min          |   0%  1.12min|                    |   0%  1.13min&quot;
#&gt;  [52] &quot;|*                   |   5%  1.10min  3.49sec&quot;                                                                                                   
#&gt;  [53] &quot;&quot;                                                                                                                                                
#&gt;  [54] &quot;&quot;                                                                                                                                                
#&gt;  [55] &quot;|*                   |   5%|*                   |   5%|*                   |   5%    1.12min 1.12min 1.12min    3.53sec 3.53sec 3.53sec&quot;         
#&gt;  [56] &quot;|**                  |  10% 57.36sec  6.37sec&quot;                                                                                                   
#&gt;  [57] &quot;|**                  |  10% 57.91sec  6.43sec&quot;                                                                                                   
#&gt;  [58] &quot;|**                  |  10% 57.96sec  6.44sec&quot;                                                                                                   
#&gt;  [59] &quot;|**                  |  10% 58.01sec  6.45sec&quot;                                                                                                   
#&gt;  [60] &quot;|***                 |  15% 52.31sec  9.23sec&quot;                                                                                                   
#&gt;  [61] &quot;|***                 |  15% 52.63sec  9.29sec&quot;                                                                                                   
#&gt;  [62] &quot;|***                 |  15% 52.64sec  9.29sec&quot;                                                                                                   
#&gt;  [63] &quot;|***                 |  15% 52.65sec  9.29sec&quot;                                                                                                   
#&gt;  [64] &quot;|****                |  20% 49.67sec 12.42sec&quot;                                                                                                   
#&gt;  [65] &quot;&quot;                                                                                                                                                
#&gt;  [66] &quot;|****                |  20%|****                |  20%  49.92sec49.92sec  12.48sec12.48sec&quot;                                                      
#&gt;  [67] &quot;|****                |  20% 50.02sec 12.50sec&quot;                                                                                                   
#&gt;  [68] &quot;|*****               |  25% 45.83sec 15.28sec&quot;                                                                                                   
#&gt;  [69] &quot;&quot;                                                                                                                                                
#&gt;  [70] &quot;|*****               |  25%|*****               |  25%  46.00sec46.00sec  15.33sec15.33sec&quot;                                                      
#&gt;  [71] &quot;|*****               |  25% 46.19sec 15.40sec&quot;                                                                                                   
#&gt;  [72] &quot;|******              |  30% 42.99sec 18.42sec&quot;                                                                                                   
#&gt;  [73] &quot;|******              |  30% 43.11sec 18.48sec&quot;                                                                                                   
#&gt;  [74] &quot;|******              |  30% 43.12sec 18.48sec&quot;                                                                                                   
#&gt;  [75] &quot;|******              |  30% 43.26sec 18.54sec&quot;                                                                                                   
#&gt;  [76] &quot;|*******             |  35% 39.54sec 21.29sec&quot;                                                                                                   
#&gt;  [77] &quot;|*******             |  35% 39.67sec 21.36sec&quot;                                                                                                   
#&gt;  [78] &quot;|*******             |  35% 39.68sec 21.37sec&quot;                                                                                                   
#&gt;  [79] &quot;|*******             |  35% 39.78sec 21.42sec&quot;                                                                                                   
#&gt;  [80] &quot;|********            |  40% 36.25sec 24.17sec&quot;                                                                                                   
#&gt;  [81] &quot;|********            |  40% 36.33sec 24.22sec&quot;                                                                                                   
#&gt;  [82] &quot;|********            |  40% 36.35sec 24.24sec&quot;                                                                                                   
#&gt;  [83] &quot;|********            |  40% 36.43sec 24.29sec&quot;                                                                                                   
#&gt;  [84] &quot;|*********           |  45% 33.40sec 27.33sec&quot;                                                                                                   
#&gt;  [85] &quot;|*********           |  45% 33.49sec 27.40sec&quot;                                                                                                   
#&gt;  [86] &quot;|*********           |  45% 33.52sec 27.43sec&quot;                                                                                                   
#&gt;  [87] &quot;|*********           |  45% 33.55sec 27.45sec&quot;                                                                                                   
#&gt;  [88] &quot;|**********          |  50% 30.20sec 30.20sec&quot;                                                                                                   
#&gt;  [89] &quot;|**********          |  50% 30.26sec 30.26sec&quot;                                                                                                   
#&gt;  [90] &quot;|**********          |  50% 30.30sec 30.30sec&quot;                                                                                                   
#&gt;  [91] &quot;|**********          |  50% 30.32sec 30.32sec&quot;                                                                                                   
#&gt;  [92] &quot;|***********         |  55% 27.30sec 33.37sec&quot;                                                                                                   
#&gt;  [93] &quot;|***********         |  55% 27.36sec 33.44sec&quot;                                                                                                   
#&gt;  [94] &quot;|***********         |  55% 27.40sec 33.49sec&quot;                                                                                                   
#&gt;  [95] &quot;|***********         |  55% 27.43sec 33.53sec&quot;                                                                                                   
#&gt;  [96] &quot;|************        |  60% 24.17sec 36.25sec&quot;                                                                                                   
#&gt;  [97] &quot;|************        |  60% 24.24sec 36.36sec&quot;                                                                                                   
#&gt;  [98] &quot;|************        |  60% 24.24sec 36.37sec&quot;                                                                                                   
#&gt;  [99] &quot;|************        |  60% 24.28sec 36.42sec&quot;                                                                                                   
#&gt; [100] &quot;|*************       |  65% 21.18sec 39.34sec&quot;                                                                                                   
#&gt; [101] &quot;|*************       |  65% 21.23sec 39.42sec&quot;                                                                                                   
#&gt; [102] &quot;|*************       |  65% 21.29sec 39.54sec&quot;                                                                                                   
#&gt; [103] &quot;|*************       |  65% 21.30sec 39.55sec&quot;                                                                                                   
#&gt; [104] &quot;|**************      |  70% 18.17sec 42.40sec&quot;                                                                                                   
#&gt; [105] &quot;|**************      |  70% 18.22sec 42.50sec&quot;                                                                                                   
#&gt; [106] &quot;|**************      |  70% 18.22sec 42.51sec&quot;                                                                                                   
#&gt; [107] &quot;|**************      |  70% 18.26sec 42.60sec&quot;                                                                                                   
#&gt; [108] &quot;|***************     |  75% 15.12sec 45.37sec&quot;                                                                                                   
#&gt; [109] &quot;|***************     |  75% 15.16sec 45.49sec&quot;                                                                                                   
#&gt; [110] &quot;|***************     |  75% 15.18sec 45.53sec&quot;                                                                                                   
#&gt; [111] &quot;|***************     |  75% 15.22sec 45.65sec&quot;                                                                                                   
#&gt; [112] &quot;|****************    |  80% 12.11sec 48.46sec&quot;                                                                                                   
#&gt; [113] &quot;|****************    |  80% 12.14sec 48.56sec&quot;                                                                                                   
#&gt; [114] &quot;|****************    |  80% 12.15sec 48.61sec&quot;                                                                                                   
#&gt; [115] &quot;|****************    |  80% 12.18sec 48.72sec&quot;                                                                                                   
#&gt; [116] &quot;|*****************   |  85%  9.09sec 51.50sec&quot;                                                                                                   
#&gt; [117] &quot;|*****************   |  85%  9.10sec 51.55sec&quot;                                                                                                   
#&gt; [118] &quot;|*****************   |  85%  9.10sec 51.57sec&quot;                                                                                                   
#&gt; [119] &quot;|*****************   |  85%  9.12sec 51.69sec&quot;                                                                                                   
#&gt; [120] &quot;|******************  |  90%  6.07sec 54.59sec&quot;                                                                                                   
#&gt; [121] &quot;|******************  |  90%  6.07sec 54.64sec&quot;                                                                                                   
#&gt; [122] &quot;|******************  |  90%  6.08sec 54.70sec&quot;                                                                                                   
#&gt; [123] &quot;|******************  |  90%  6.09sec 54.82sec&quot;                                                                                                   
#&gt; [124] &quot;|******************* |  95%  3.02sec 57.45sec&quot;                                                                                                   
#&gt; [125] &quot;|******************* |  95%  3.03sec 57.50sec&quot;                                                                                                   
#&gt; [126] &quot;|******************* |  95%  3.03sec 57.55sec&quot;                                                                                                   
#&gt; [127] &quot;|******************* |  95%  3.04sec 57.67sec&quot;                                                                                                   
#&gt; [128] &quot;|********************| 100%  0.00sec  1.01min&quot;                                                                                                   
#&gt; [129] &quot;&quot;                                                                                                                                                
#&gt; [130] &quot;|********************| 100%  0.00sec  1.01min&quot;                                                                                                   
#&gt; [131] &quot;&quot;                                                                                                                                                
#&gt; [132] &quot;|********************| 100%  0.00sec  1.01min&quot;                                                                                                   
#&gt; [133] &quot;&quot;                                                                                                                                                
#&gt; [134] &quot;|********************| 100%  0.00sec  1.01min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   0.333   0.000   0.334</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt; 257.826   1.193  73.230</code></pre>
</div>
