---
title: "Discrete binning: fitting"
prerequisites:
    - data/processed/bwdata_51_test.fst
targets:
    - data/modelled/bw-08-discrete-bin.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-08-discrete-bin.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_51_test.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form_mu &lt;- born_weight ~ marital_status + race + s(municipality, bs = &quot;re&quot;) +
    s(age_bin)
form &lt;- form_mu</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model, binning = TRUE,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 314201.0 logPost -281319. logLik -157090. edf 10.260 eps 0.2655 iteration   1&quot;
#&gt;   [2] &quot;AICc 301662.7 logPost -157024. logLik -150818. edf 12.461 eps 0.0958 iteration   2&quot;
#&gt;   [3] &quot;AICc 287480.9 logPost -145229. logLik -143703. edf 36.826 eps 0.0634 iteration   3&quot;
#&gt;   [4] &quot;AICc 278765.8 logPost -140087. logLik -139330. edf 52.671 eps 0.0478 iteration   4&quot;
#&gt;   [5] &quot;AICc 276084.6 logPost -138484. logLik -137986. edf 55.438 eps 0.0205 iteration   5&quot;
#&gt;   [6] &quot;AICc 275371.7 logPost -138045. logLik -137629. edf 55.839 eps 0.0058 iteration   6&quot;
#&gt;   [7] &quot;AICc 274781.1 logPost -137748. logLik -137334. edf 55.877 eps 0.0026 iteration   7&quot;
#&gt;   [8] &quot;AICc 274235.5 logPost -137475. logLik -137061. edf 55.880 eps 0.0018 iteration   8&quot;
#&gt;   [9] &quot;AICc 273732.4 logPost -137223. logLik -136810. edf 55.883 eps 0.0018 iteration   9&quot;
#&gt;  [10] &quot;AICc 273269.3 logPost -136991. logLik -136578. edf 55.885 eps 0.0017 iteration  10&quot;
#&gt;  [11] &quot;AICc 272843.9 logPost -136778. logLik -136365. edf 55.887 eps 0.0015 iteration  11&quot;
#&gt;  [12] &quot;AICc 272453.8 logPost -136582. logLik -136170. edf 55.888 eps 0.0016 iteration  12&quot;
#&gt;  [13] &quot;AICc 272096.8 logPost -136403. logLik -135992. edf 55.889 eps 0.0015 iteration  13&quot;
#&gt;  [14] &quot;AICc 271770.5 logPost -136240. logLik -135829. edf 55.890 eps 0.0011 iteration  14&quot;
#&gt;  [15] &quot;AICc 271472.7 logPost -136090. logLik -135680. edf 55.891 eps 0.0010 iteration  15&quot;
#&gt;  [16] &quot;AICc 271201.4 logPost -135954. logLik -135544. edf 55.891 eps 0.0009 iteration  16&quot;
#&gt;  [17] &quot;AICc 270954.4 logPost -135830. logLik -135421. edf 55.891 eps 0.0009 iteration  17&quot;
#&gt;  [18] &quot;AICc 270729.9 logPost -135717. logLik -135308. edf 55.891 eps 0.0009 iteration  18&quot;
#&gt;  [19] &quot;AICc 270526.0 logPost -135615. logLik -135206. edf 55.891 eps 0.0007 iteration  19&quot;
#&gt;  [20] &quot;AICc 270341.0 logPost -135522. logLik -135114. edf 55.891 eps 0.0008 iteration  20&quot;
#&gt;  [21] &quot;AICc 270173.4 logPost -135438. logLik -135030. edf 55.890 eps 0.0006 iteration  21&quot;
#&gt;  [22] &quot;AICc 270021.6 logPost -135361. logLik -134954. edf 55.889 eps 0.0009 iteration  22&quot;
#&gt;  [23] &quot;AICc 269884.2 logPost -135292. logLik -134886. edf 55.888 eps 0.0005 iteration  23&quot;
#&gt;  [24] &quot;AICc 269759.9 logPost -135230. logLik -134823. edf 55.886 eps 0.0007 iteration  24&quot;
#&gt;  [25] &quot;AICc 269647.6 logPost -135173. logLik -134767. edf 55.884 eps 0.0005 iteration  25&quot;
#&gt;  [26] &quot;AICc 269546.2 logPost -135122. logLik -134717. edf 55.883 eps 0.0004 iteration  26&quot;
#&gt;  [27] &quot;AICc 269454.7 logPost -135076. logLik -134671. edf 55.880 eps 0.0008 iteration  27&quot;
#&gt;  [28] &quot;AICc 269372.0 logPost -135034. logLik -134630. edf 55.878 eps 0.0287 iteration  28&quot;
#&gt;  [29] &quot;AICc 269297.5 logPost -134996. logLik -134592. edf 55.875 eps 0.0003 iteration  29&quot;
#&gt;  [30] &quot;AICc 269230.3 logPost -134962. logLik -134559. edf 55.872 eps 0.0003 iteration  30&quot;
#&gt;  [31] &quot;AICc 269169.8 logPost -134932. logLik -134528. edf 55.869 eps 0.0003 iteration  31&quot;
#&gt;  [32] &quot;AICc 269115.2 logPost -134904. logLik -134501. edf 55.865 eps 0.0003 iteration  32&quot;
#&gt;  [33] &quot;AICc 269066.1 logPost -134879. logLik -134477. edf 55.861 eps 0.0003 iteration  33&quot;
#&gt;  [34] &quot;AICc 269021.8 logPost -134856. logLik -134454. edf 55.857 eps 0.0002 iteration  34&quot;
#&gt;  [35] &quot;AICc 268982.0 logPost -134836. logLik -134434. edf 55.852 eps 0.0002 iteration  35&quot;
#&gt;  [36] &quot;AICc 268946.1 logPost -134818. logLik -134417. edf 55.847 eps 0.0002 iteration  36&quot;
#&gt;  [37] &quot;AICc 268913.8 logPost -134801. logLik -134400. edf 55.841 eps 0.0002 iteration  37&quot;
#&gt;  [38] &quot;AICc 268884.8 logPost -134786. logLik -134386. edf 55.835 eps 0.0001 iteration  38&quot;
#&gt;  [39] &quot;AICc 268858.7 logPost -134773. logLik -134373. edf 55.829 eps 0.0001 iteration  39&quot;
#&gt;  [40] &quot;AICc 268835.1 logPost -134761. logLik -134361. edf 55.822 eps 0.0001 iteration  40&quot;
#&gt;  [41] &quot;AICc 268814.0 logPost -134750. logLik -134351. edf 55.814 eps 0.0001 iteration  41&quot;
#&gt;  [42] &quot;AICc 268795.0 logPost -134740. logLik -134341. edf 55.806 eps 0.0001 iteration  42&quot;
#&gt;  [43] &quot;AICc 268777.9 logPost -134731. logLik -134333. edf 55.798 eps 0.0001 iteration  43&quot;
#&gt;  [44] &quot;AICc 268762.5 logPost -134723. logLik -134325. edf 55.789 eps 0.0001 iteration  44&quot;
#&gt;  [45] &quot;AICc 268762.5 logPost -134723. logLik -134325. edf 55.789 eps 0.0001 iteration  44&quot;
#&gt;  [46] &quot;elapsed time:  5.81sec&quot;                                                            
#&gt;  [47] &quot;Starting the sampler...&quot;                                                           
#&gt;  [48] &quot;Starting the sampler...&quot;                                                           
#&gt;  [49] &quot;Starting the sampler...&quot;                                                           
#&gt;  [50] &quot;Starting the sampler...&quot;                                                           
#&gt;  [51] &quot;&quot;                                                                                  
#&gt;  [52] &quot;&quot;                                                                                  
#&gt;  [53] &quot;|    |                                |   0%  35.74sec   |   0% 36.04sec&quot;          
#&gt;  [54] &quot;|                    |   0% 35.74sec&quot;                                              
#&gt;  [55] &quot;|                    |   0% 36.63sec&quot;                                              
#&gt;  [56] &quot;|*                   |   5% 38.85sec  2.04sec&quot;                                     
#&gt;  [57] &quot;|*                   |   5% 39.10sec  2.06sec&quot;                                     
#&gt;  [58] &quot;|*                   |   5% 39.24sec  2.07sec&quot;                                     
#&gt;  [59] &quot;|*                   |   5% 39.12sec  2.06sec&quot;                                     
#&gt;  [60] &quot;|**                  |  10% 36.13sec  4.01sec&quot;                                     
#&gt;  [61] &quot;|**                  |  10% 36.30sec  4.03sec&quot;                                     
#&gt;  [62] &quot;|**                  |  10% 36.46sec  4.05sec&quot;                                     
#&gt;  [63] &quot;|**                  |  10% 36.41sec  4.04sec&quot;                                     
#&gt;  [64] &quot;|***                 |  15% 32.06sec  5.66sec&quot;                                     
#&gt;  [65] &quot;|***                 |  15% 32.32sec  5.70sec&quot;                                     
#&gt;  [66] &quot;|***                 |  15% 32.48sec  5.73sec&quot;                                     
#&gt;  [67] &quot;|***                 |  15% 32.42sec  5.72sec&quot;                                     
#&gt;  [68] &quot;|****                |  20% 30.33sec  7.58sec&quot;                                     
#&gt;  [69] &quot;|****                |  20% 30.54sec  7.64sec&quot;                                     
#&gt;  [70] &quot;|****                |  20% 30.63sec  7.66sec&quot;                                     
#&gt;  [71] &quot;|****                |  20% 30.73sec  7.68sec&quot;                                     
#&gt;  [72] &quot;|*****               |  25% 27.80sec  9.27sec&quot;                                     
#&gt;  [73] &quot;|*****               |  25% 28.18sec  9.39sec&quot;                                     
#&gt;  [74] &quot;|*****               |  25% 28.75sec  9.58sec&quot;                                     
#&gt;  [75] &quot;|*****               |  25% 28.92sec  9.64sec&quot;                                     
#&gt;  [76] &quot;|******              |  30% 26.03sec 11.16sec&quot;                                     
#&gt;  [77] &quot;|******              |  30% 26.25sec 11.25sec&quot;                                     
#&gt;  [78] &quot;|******              |  30% 26.38sec 11.31sec&quot;                                     
#&gt;  [79] &quot;|******              |  30% 26.37sec 11.30sec&quot;                                     
#&gt;  [80] &quot;|*******             |  35% 24.32sec 13.10sec&quot;                                     
#&gt;  [81] &quot;|*******             |  35% 24.53sec 13.21sec&quot;                                     
#&gt;  [82] &quot;|*******             |  35% 24.61sec 13.25sec&quot;                                     
#&gt;  [83] &quot;|*******             |  35% 24.67sec 13.29sec&quot;                                     
#&gt;  [84] &quot;|********            |  40% 22.16sec 14.77sec&quot;                                     
#&gt;  [85] &quot;|********            |  40% 22.34sec 14.89sec&quot;                                     
#&gt;  [86] &quot;|********            |  40% 22.42sec 14.94sec&quot;                                     
#&gt;  [87] &quot;|********            |  40% 22.47sec 14.98sec&quot;                                     
#&gt;  [88] &quot;|*********           |  45% 20.36sec 16.66sec&quot;                                     
#&gt;  [89] &quot;|*********           |  45% 20.56sec 16.82sec&quot;                                     
#&gt;  [90] &quot;|*********           |  45% 20.61sec 16.86sec&quot;                                     
#&gt;  [91] &quot;|*********           |  45% 20.67sec 16.91sec&quot;                                     
#&gt;  [92] &quot;|**********          |  50% 18.59sec 18.59sec&quot;                                     
#&gt;  [93] &quot;|**********          |  50% 18.79sec 18.79sec&quot;                                     
#&gt;  [94] &quot;|**********          |  50% 18.83sec 18.83sec&quot;                                     
#&gt;  [95] &quot;|**********          |  50% 18.90sec 18.90sec&quot;                                     
#&gt;  [96] &quot;|***********         |  55% 16.61sec 20.31sec&quot;                                     
#&gt;  [97] &quot;|***********         |  55% 16.74sec 20.46sec&quot;                                     
#&gt;  [98] &quot;|***********         |  55% 16.78sec 20.51sec&quot;                                     
#&gt;  [99] &quot;|***********         |  55% 16.83sec 20.58sec&quot;                                     
#&gt; [100] &quot;|************        |  60% 14.80sec 22.20sec&quot;                                     
#&gt; [101] &quot;|************        |  60% 14.91sec 22.37sec&quot;                                     
#&gt; [102] &quot;|************        |  60% 14.95sec 22.43sec&quot;                                     
#&gt; [103] &quot;|************        |  60% 14.99sec 22.49sec&quot;                                     
#&gt; [104] &quot;|*************       |  65% 12.97sec 24.08sec&quot;                                     
#&gt; [105] &quot;|*************       |  65% 12.98sec 24.11sec&quot;                                     
#&gt; [106] &quot;|*************       |  65% 13.00sec 24.14sec&quot;                                     
#&gt; [107] &quot;|*************       |  65% 13.04sec 24.21sec&quot;                                     
#&gt; [108] &quot;|**************      |  70% 11.05sec 25.78sec&quot;                                     
#&gt; [109] &quot;|**************      |  70% 11.13sec 25.97sec&quot;                                     
#&gt; [110] &quot;|**************      |  70% 11.15sec 26.02sec&quot;                                     
#&gt; [111] &quot;|**************      |  70% 11.18sec 26.09sec&quot;                                     
#&gt; [112] &quot;|***************     |  75%  9.24sec 27.71sec&quot;                                     
#&gt; [113] &quot;|***************     |  75%  9.31sec 27.92sec&quot;                                     
#&gt; [114] &quot;|***************     |  75%  9.32sec 27.97sec&quot;                                     
#&gt; [115] &quot;|***************     |  75%  9.36sec 28.07sec&quot;                                     
#&gt; [116] &quot;|****************    |  80%  7.35sec 29.39sec&quot;                                     
#&gt; [117] &quot;|****************    |  80%  7.40sec 29.60sec&quot;                                     
#&gt; [118] &quot;|****************    |  80%  7.41sec 29.65sec&quot;                                     
#&gt; [119] &quot;|****************    |  80%  7.44sec 29.77sec&quot;                                     
#&gt; [120] &quot;|*****************   |  85%  5.53sec 31.33sec&quot;                                     
#&gt; [121] &quot;|*****************   |  85%  5.56sec 31.50sec&quot;                                     
#&gt; [122] &quot;|*****************   |  85%  5.57sec 31.55sec&quot;                                     
#&gt; [123] &quot;|*****************   |  85%  5.59sec 31.67sec&quot;                                     
#&gt; [124] &quot;|******************  |  90%  3.69sec 33.25sec&quot;                                     
#&gt; [125] &quot;|******************  |  90%  3.72sec 33.47sec&quot;                                     
#&gt; [126] &quot;|******************  |  90%  3.72sec 33.52sec&quot;                                     
#&gt; [127] &quot;|******************  |  90%  3.74sec 33.66sec&quot;                                     
#&gt; [128] &quot;|******************* |  95%  1.84sec 34.94sec&quot;                                     
#&gt; [129] &quot;|******************* |  95%  1.85sec 35.14sec&quot;                                     
#&gt; [130] &quot;|******************* |  95%  1.85sec 35.19sec&quot;                                     
#&gt; [131] &quot;|******************* |  95%  1.86sec 35.33sec&quot;                                     
#&gt; [132] &quot;|********************| 100%  0.00sec 36.84sec&quot;                                     
#&gt; [133] &quot;&quot;                                                                                  
#&gt; [134] &quot;|********************| 100%  0.00sec 37.04sec&quot;                                     
#&gt; [135] &quot;&quot;                                                                                  
#&gt; [136] &quot;|********************| 100%  0.00sec 37.08sec&quot;                                     
#&gt; [137] &quot;&quot;                                                                                  
#&gt; [138] &quot;|********************| 100%  0.00sec 37.19sec&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   0.197   0.007   0.205</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt; 157.708   1.137  46.570</code></pre>
</div>
