---
title: "Notes about 'BAMLSS with random effects'"
---



<p>We tested 5 types of models to obtain <em>faster</em> and adequate <em>mixing</em> on a BAMLSS model
that includes independent random effects with respect to the municipalities. See below a
summary of different model types we tested.</p>
<ol style="list-style-type: decimal">
<li><strong>Model with intercept</strong>: The identifiability of this model seems to be complicated
when the variance of the groups is higher or of the same magnitud as the variance of
the error. We solved this by post-processing the samples where the empirical mean of
the random effects is subtracted from the random effects and added to the intercept.
This is equivalent to put the restriction than the mean of the random effects is equals
to zero.</li>
<li><strong>Model without intercept</strong>: When we remove the intercept, we obtain random effects
with non-zero mean. Convergence looks OK, but mixing of model 1 is better.</li>
<li><strong>Model with intercept and <em>binning</em> option</strong>: The <em>binning</em> option uses only unique
values of the variables. It is used to make computations faster. Results are quite
similar to 1.</li>
<li><strong>Model with discretized covariate</strong>: We discretized a continuous covariate to observe
differences with the original model. In general, this is quite similar to model 1 in
terms of results, time, and mixing.</li>
<li><strong>Model with discretized covariate and <em>binning</em> option</strong>: This model discretized a
covariate, but also uses <em>binning</em> option to reduce the computational cost. The model
is faster, but the mixing is not that good. It also seems that the option <em>binning</em>
imposes the restriction that the sum of the smooth function evaluated at the unique
values is equals to zero. This means that the smooth function evaluated at all the
observations does not necessarily sums to zero, indicating than the intercept
estimation might be affected.</li>
</ol>
