---
title: "Full model without rainfall: effects"
prerequisites:
    - data/modelled/pre-15-full-no-rain-burned.rds
    - data/processed/bwdata_41_model.fst
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
model_file &lt;- file.path(path_modelled, &quot;pre-15-full-no-rain.rds&quot;)
form_file &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, model_file)
model_file_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, model_file)

bwdata_model &lt;- fst::read_fst(bwdata_file)
form &lt;- readRDS(form_file)
model &lt;- readRDS(model_file_burned)</code></pre>
</div>
<div id="summary" class="section level2">
<h2>Summary</h2>
<pre class="r"><code>summary(model)</code></pre>
<pre><code>#&gt; 
#&gt; Call:
#&gt; bamlss(formula = form, family = &quot;binomial&quot;, data = bwdata_model, 
#&gt;     cores = 4, combine = FALSE, light = TRUE, n.iter = 8000, 
#&gt;     burnin = 0)
#&gt; ---
#&gt; Family: binomial 
#&gt; Link function: pi = logit
#&gt; *---
#&gt; Formula pi:
#&gt; ---
#&gt; premature ~ sex + born_race + birth_place + marital_status + 
#&gt;     study_years + consult_num + s(age) + s(wk_ini) + s(rivwk_conception, 
#&gt;     bs = &quot;cc&quot;) + remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;)
#&gt; -
#&gt; Parametric coefficients:
#&gt;                                        Mean       2.5%        50%      97.5% parameters
#&gt; (Intercept)                      -3.039e+00 -3.553e+00 -3.052e+00 -2.457e+00     -0.168
#&gt; sexfemale                        -3.524e-02 -6.012e-02 -3.539e-02 -1.013e-02     -0.035
#&gt; born_raceindigenous               2.606e-01  2.209e-01  2.605e-01  3.022e-01      0.259
#&gt; born_raceNA                       5.436e-02 -7.917e-02  5.115e-02  2.001e-01      0.053
#&gt; birth_placeanother health center  1.594e-01 -2.275e-02  1.566e-01  3.661e-01      0.169
#&gt; birth_placehome                   2.048e-01  1.653e-01  2.045e-01  2.448e-01      0.204
#&gt; birth_placeother                  3.151e-01  1.922e-01  3.174e-01  4.245e-01      0.314
#&gt; birth_placeNA                    -3.727e-05 -1.228e-01  7.218e-05  1.201e-01      0.004
#&gt; marital_statusmarried            -3.043e-02 -8.118e-02 -3.026e-02  1.461e-02     -0.031
#&gt; marital_statuswidow               3.194e-02 -3.939e-01  4.265e-02  4.820e-01      0.036
#&gt; marital_statusdivorced           -2.153e-01 -5.956e-01 -2.245e-01  2.191e-01     -0.226
#&gt; marital_statusconsensual union   -5.406e-02 -8.689e-02 -5.296e-02 -2.440e-02     -0.056
#&gt; marital_statusNA                 -1.059e-02 -1.321e-01 -1.027e-02  1.126e-01     -0.014
#&gt; study_years1 - 3                 -6.971e-02 -1.371e-01 -6.992e-02 -2.596e-03     -0.071
#&gt; study_years4 - 7                 -7.154e-02 -1.298e-01 -7.065e-02 -1.281e-02     -0.073
#&gt; study_years8 - 11                 9.068e-03 -5.346e-02  9.185e-03  7.124e-02      0.005
#&gt; study_years&gt; 12                   4.044e-02 -5.432e-02  4.088e-02  1.281e-01      0.036
#&gt; study_yearsNA                    -1.806e-01 -3.202e-01 -1.779e-01 -4.086e-02     -0.188
#&gt; consult_num1 - 3                  5.023e-01  4.390e-01  5.027e-01  5.633e-01      0.501
#&gt; consult_num4 - 6                  2.254e-01  1.659e-01  2.247e-01  2.875e-01      0.224
#&gt; consult_num&gt; 7                   -5.600e-01 -6.273e-01 -5.605e-01 -4.932e-01     -0.562
#&gt; consult_numNA                     1.207e-01 -2.526e-02  1.175e-01  2.809e-01      0.119
#&gt; remoteness                        2.903e-02 -5.176e-01  3.370e-02  5.782e-01     -0.152
#&gt; prop_tap_toilet                   9.300e-01 -2.311e-01  9.576e-01  1.908e+00      0.251
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.8169 0.2048 0.9084     1
#&gt; -
#&gt; Smooth terms:
#&gt;                                Mean      2.5%       50%     97.5% parameters
#&gt; s(age).tau21              2.051e+00 4.559e-01 1.488e+00 6.782e+00      0.447
#&gt; s(age).alpha              9.301e-01 4.974e-01 9.912e-01 1.000e+00         NA
#&gt; s(age).edf                5.552e+00 4.495e+00 5.548e+00 6.661e+00      4.462
#&gt; s(wk_ini).tau21           3.623e+01 1.232e+01 2.874e+01 1.131e+02     27.363
#&gt; s(wk_ini).alpha           9.692e-01 8.241e-01 9.929e-01 1.000e+00         NA
#&gt; s(wk_ini).edf             8.869e+00 8.724e+00 8.879e+00 8.962e+00      8.867
#&gt; s(rivwk_conception).tau21 1.169e-03 3.129e-04 9.011e-04 3.684e-03      0.001
#&gt; s(rivwk_conception).alpha 9.864e-01 9.188e-01 9.989e-01 1.000e+00         NA
#&gt; s(rivwk_conception).edf   5.992e+00 4.802e+00 5.988e+00 7.156e+00      5.387
#&gt; s(res_muni).tau21         1.192e-01 7.366e-02 1.151e-01 1.872e-01      7.258
#&gt; s(res_muni).alpha         7.810e-01 2.323e-01 8.764e-01 1.000e+00         NA
#&gt; s(res_muni).edf           4.180e+01 4.121e+01 4.182e+01 4.226e+01     42.980
#&gt; ---
#&gt; Sampler summary:
#&gt; -
#&gt; runtime = 20560.72
#&gt; ---
#&gt; Optimizer summary:
#&gt; -
#&gt; AICc = 160987.1 edf = 85.6955 logLik = -80407.83
#&gt; logPost = -80685.28 nobs = 291479 runtime = 170.599</code></pre>
</div>
<div id="parametric-effects" class="section level2">
<h2>Parametric effects</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot2d_bamlss(model, bwdata_model, model = &quot;pi&quot;, term = &quot;remoteness&quot;, grid = 50,
              FUN = c95)
plot2d_bamlss(model, bwdata_model, model = &quot;pi&quot;, term = &quot;prop_tap_toilet&quot;, grid = 50,
              FUN = c95)</code></pre>
<p><img src="/birthweight/40-modelling/60-prematurity/pre-15-full-no-rain-10-effects_files/figure-html/unnamed-chunk-3-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="smooth-effects" class="section level2">
<h2>Smooth effects</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot(model, scale = 0, scheme = 2, spar = FALSE, contour = TRUE, image = TRUE)</code></pre>
<p><img src="/birthweight/40-modelling/60-prematurity/pre-15-full-no-rain-10-effects_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/60-prematurity/pre-15-full-no-rain-10-effects_files/figure-html/unnamed-chunk-4-2.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   6.093   0.203   6.312</code></pre>
</div>
