---
title: "Full model without rainfall: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/pre-15-full-no-rain.rds
---



<p>Prematurity model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;pre-15-full-no-rain.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form &lt;- premature ~ sex + born_race + birth_place +
    marital_status + study_years + consult_num + s(age) +
    s(wk_ini) + s(rivwk_conception, bs = &quot;cc&quot;) +
    remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = &quot;binomial&quot;, data = bwdata_model,
        n.iter = 8000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 171382.6 logPost -85885.4 logLik -85609.9 edf 81.365 eps 0.5494 iteration   1&quot;                             
#&gt;   [2] &quot;AICc 162371.6 logPost -81370.2 logLik -81100.5 edf 85.282 eps 0.1913 iteration   2&quot;                             
#&gt;   [3] &quot;AICc 161244.9 logPost -80856.5 logLik -80536.1 edf 86.241 eps 0.0598 iteration   3&quot;                             
#&gt;   [4] &quot;AICc 161037.1 logPost -80718.3 logLik -80432.4 edf 86.039 eps 0.0236 iteration   4&quot;                             
#&gt;   [5] &quot;AICc 160996.8 logPost -80690.3 logLik -80412.5 edf 85.835 eps 0.0103 iteration   5&quot;                             
#&gt;   [6] &quot;AICc 160988.9 logPost -80686.2 logLik -80408.7 edf 85.754 eps 0.0046 iteration   6&quot;                             
#&gt;   [7] &quot;AICc 160987.4 logPost -80685.4 logLik -80407.9 edf 85.720 eps 0.0020 iteration   7&quot;                             
#&gt;   [8] &quot;AICc 160987.1 logPost -80685.3 logLik -80407.8 edf 85.706 eps 0.0009 iteration   8&quot;                             
#&gt;   [9] &quot;AICc 160987.1 logPost -80685.3 logLik -80407.8 edf 85.699 eps 0.0004 iteration   9&quot;                             
#&gt;  [10] &quot;AICc 160987.1 logPost -80685.2 logLik -80407.8 edf 85.696 eps 0.0001 iteration  10&quot;                             
#&gt;  [11] &quot;AICc 160987.1 logPost -80685.2 logLik -80407.8 edf 85.695 eps 0.0000 iteration  11&quot;                             
#&gt;  [12] &quot;AICc 160987.1 logPost -80685.2 logLik -80407.8 edf 85.695 eps 0.0000 iteration  11&quot;                             
#&gt;  [13] &quot;elapsed time: 51.03sec&quot;                                                                                         
#&gt;  [14] &quot;Starting the sampler...Starting the sampler...&quot;                                                                 
#&gt;  [15] &quot;&quot;                                                                                                               
#&gt;  [16] &quot;Starting the sampler...&quot;                                                                                        
#&gt;  [17] &quot;Starting the sampler...&quot;                                                                                        
#&gt;  [18] &quot;&quot;                                                                                                               
#&gt;  [19] &quot;&quot;                                                                                                               
#&gt;  [20] &quot;&quot;                                                                                                               
#&gt;  [21] &quot;||          |                                             |   0% |   0%  169.80min169.72min    |   0% 169.61min&quot;
#&gt;  [22] &quot;|                    |   0% 169.92min&quot;                                                                          
#&gt;  [23] &quot;|*                   |   5% 159.55min  8.40min&quot;                                                                 
#&gt;  [24] &quot;&quot;                                                                                                               
#&gt;  [25] &quot;|*                   |   5% |*                   |   5%159.94min  159.94min 8.42min  8.42min&quot;                   
#&gt;  [26] &quot;|*                   |   5% 159.94min  8.42min&quot;                                                                 
#&gt;  [27] &quot;|**                  |  10% 151.15min 16.79min&quot;                                                                 
#&gt;  [28] &quot;|**                  |  10% 151.15min 16.79min&quot;                                                                 
#&gt;  [29] &quot;|**                  |  10% 151.33min 16.81min&quot;                                                                 
#&gt;  [30] &quot;|**                  |  10% 151.33min 16.81min&quot;                                                                 
#&gt;  [31] &quot;|***                 |  15% 142.85min 25.21min&quot;                                                                 
#&gt;  [32] &quot;|***                 |  15% 142.95min 25.23min&quot;                                                                 
#&gt;  [33] &quot;|***                 |  15% 143.04min 25.24min&quot;                                                                 
#&gt;  [34] &quot;|***                 |  15% 143.05min 25.24min&quot;                                                                 
#&gt;  [35] &quot;|****                |  20% 134.41min 33.60min&quot;                                                                 
#&gt;  [36] &quot;|****                |  20% 134.50min 33.63min&quot;                                                                 
#&gt;  [37] &quot;|****                |  20% 134.57min 33.64min&quot;                                                                 
#&gt;  [38] &quot;|****                |  20% 134.58min 33.65min&quot;                                                                 
#&gt;  [39] &quot;|*****               |  25% 126.06min 42.02min&quot;                                                                 
#&gt;  [40] &quot;|*****               |  25% 126.25min 42.08min&quot;                                                                 
#&gt;  [41] &quot;|*****               |  25% 126.29min 42.10min&quot;                                                                 
#&gt;  [42] &quot;|*****               |  25% 126.31min 42.10min&quot;                                                                 
#&gt;  [43] &quot;|******              |  30% 117.78min 50.48min&quot;                                                                 
#&gt;  [44] &quot;|******              |  30% 117.95min 50.55min&quot;                                                                 
#&gt;  [45] &quot;|******              |  30% 117.98min 50.56min&quot;                                                                 
#&gt;  [46] &quot;|******              |  30% 118.00min 50.57min&quot;                                                                 
#&gt;  [47] &quot;|*******             |  35% 109.40min 58.91min&quot;                                                                 
#&gt;  [48] &quot;|*******             |  35% 109.59min 59.01min&quot;                                                                 
#&gt;  [49] &quot;|*******             |  35% 109.59min 59.01min&quot;                                                                 
#&gt;  [50] &quot;|*******             |  35% 109.63min 59.03min&quot;                                                                 
#&gt;  [51] &quot;|********            |  40% 100.99min 67.33min&quot;                                                                 
#&gt;  [52] &quot;&quot;                                                                                                               
#&gt;  [53] &quot;|********            |  40% 101.18min 67.45min|********            |  40% 101.18min 67.45min&quot;                   
#&gt;  [54] &quot;|********            |  40% 101.21min 67.47min&quot;                                                                 
#&gt;  [55] &quot;|*********           |  45% 92.55min 75.72min&quot;                                                                  
#&gt;  [56] &quot;|*********           |  45% 92.70min 75.84min&quot;                                                                  
#&gt;  [57] &quot;|*********           |  45% 92.71min 75.85min&quot;                                                                  
#&gt;  [58] &quot;|*********           |  45% 92.73min 75.87min&quot;                                                                  
#&gt;  [59] &quot;|**********          |  50% 84.24min 84.24min&quot;                                                                  
#&gt;  [60] &quot;|**********          |  50% 84.36min 84.36min&quot;                                                                  
#&gt;  [61] &quot;|**********          |  50% 84.37min 84.37min&quot;                                                                  
#&gt;  [62] &quot;|**********          |  50% 84.39min 84.39min&quot;                                                                  
#&gt;  [63] &quot;|***********         |  55% 75.86min 92.72min&quot;                                                                  
#&gt;  [64] &quot;|***********         |  55% 75.96min 92.84min&quot;                                                                  
#&gt;  [65] &quot;|***********         |  55% 75.98min 92.86min&quot;                                                                  
#&gt;  [66] &quot;|***********         |  55% 75.99min 92.88min&quot;                                                                  
#&gt;  [67] &quot;|************        |  60% 67.47min 101.20min&quot;                                                                 
#&gt;  [68] &quot;|************        |  60% 67.54min 101.31min&quot;                                                                 
#&gt;  [69] &quot;|************        |  60% 67.56min 101.34min&quot;                                                                 
#&gt;  [70] &quot;|************        |  60% 67.58min 101.37min&quot;                                                                 
#&gt;  [71] &quot;|*************       |  65% 59.05min 109.66min&quot;                                                                 
#&gt;  [72] &quot;|*************       |  65% 59.10min 109.76min&quot;                                                                 
#&gt;  [73] &quot;|*************       |  65% 59.13min 109.81min&quot;                                                                 
#&gt;  [74] &quot;|*************       |  65% 59.15min 109.85min&quot;                                                                 
#&gt;  [75] &quot;|**************      |  70% 50.63min 118.14min&quot;                                                                 
#&gt;  [76] &quot;|**************      |  70% 50.68min 118.25min&quot;                                                                 
#&gt;  [77] &quot;|**************      |  70% 50.70min 118.30min&quot;                                                                 
#&gt;  [78] &quot;|**************      |  70% 50.71min 118.33min&quot;                                                                 
#&gt;  [79] &quot;|***************     |  75% 42.20min 126.61min&quot;                                                                 
#&gt;  [80] &quot;|***************     |  75% 42.24min 126.73min&quot;                                                                 
#&gt;  [81] &quot;|***************     |  75% 42.27min 126.81min&quot;                                                                 
#&gt;  [82] &quot;|***************     |  75% 42.28min 126.83min&quot;                                                                 
#&gt;  [83] &quot;|****************    |  80% 33.77min 135.08min&quot;                                                                 
#&gt;  [84] &quot;|****************    |  80% 33.80min 135.21min&quot;                                                                 
#&gt;  [85] &quot;|****************    |  80% 33.82min 135.30min&quot;                                                                 
#&gt;  [86] &quot;|****************    |  80% 33.83min 135.31min&quot;                                                                 
#&gt;  [87] &quot;|*****************   |  85% 25.33min 143.55min&quot;                                                                 
#&gt;  [88] &quot;|*****************   |  85% 25.36min 143.69min&quot;                                                                 
#&gt;  [89] &quot;|*****************   |  85% 25.37min 143.78min&quot;                                                                 
#&gt;  [90] &quot;|*****************   |  85% 25.37min 143.78min&quot;                                                                 
#&gt;  [91] &quot;|******************  |  90% 16.90min 152.06min&quot;                                                                 
#&gt;  [92] &quot;|******************  |  90% 16.91min 152.18min&quot;                                                                 
#&gt;  [93] &quot;|******************  |  90% 16.92min 152.28min&quot;                                                                 
#&gt;  [94] &quot;|******************  |  90% 16.92min 152.29min&quot;                                                                 
#&gt;  [95] &quot;|******************* |  95%  8.45min 160.53min&quot;                                                                 
#&gt;  [96] &quot;|******************* |  95%  8.46min 160.65min&quot;                                                                 
#&gt;  [97] &quot;|******************* |  95%  8.46min 160.76min&quot;                                                                 
#&gt;  [98] &quot;|******************* |  95%  8.46min 160.78min&quot;                                                                 
#&gt;  [99] &quot;|********************| 100%  0.00sec 168.96min&quot;                                                                 
#&gt; [100] &quot;&quot;                                                                                                               
#&gt; [101] &quot;|********************| 100%  0.00sec 169.05min&quot;                                                                 
#&gt; [102] &quot;&quot;                                                                                                               
#&gt; [103] &quot;|********************| 100%  0.00sec 169.15min&quot;                                                                 
#&gt; [104] &quot;&quot;                                                                                                               
#&gt; [105] &quot;|********************| 100%  0.00sec 169.17min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   4.570   0.016   4.586</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;      user    system   elapsed 
#&gt; 40699.438    23.087 10240.537</code></pre>
</div>
