---
title: "Full model with flexible prior: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/pre-12-full-re-p1.rds
---



<p>Prematurity model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;pre-12-full-re-p1.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>hyper &lt;- list(a = 5, b = 1000)
form_aux &lt;- premature ~ sex + born_race + birth_place +
    marital_status + study_years + consult_num + s(age, xt = hyper) +
    s(wk_ini, xt = hyper) + s(rivwk_conception, bs = &quot;cc&quot;, xt = hyper) +
    remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;, xt = hyper)
form &lt;- update(form_aux, . ~ . +
                s(neg_mbsi_mean_1wk, pos_mbsi_mean_1wk, k = 70, xt = hyper) +
                s(neg_mckee_mean_8wk, pos_mckee_mean_8wk, k = 70, xt = hyper) +
                s(neg_ext_mbsi_mean_8wk, pos_ext_mbsi_mean_8wk, k = 70, xt = hyper))</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = &quot;binomial&quot;, data = bwdata_model,
        n.iter = 8000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 168427.6 logPost -1626224 logLik -83963.4 edf 250.18 eps 0.5528 iteration   1&quot;
#&gt;   [2] &quot;AICc 155732.8 logPost -2630889 logLik -77588.0 edf 278.10 eps 0.2989 iteration   2&quot;
#&gt;   [3] &quot;AICc 153777.7 logPost -1162819 logLik -76602.2 edf 286.36 eps 0.1108 iteration   3&quot;
#&gt;   [4] &quot;AICc 153222.1 logPost -857626. logLik -76322.5 edf 288.27 eps 0.0550 iteration   4&quot;
#&gt;   [5] &quot;AICc 153055.5 logPost -755235. logLik -76239.0 edf 288.47 eps 0.0273 iteration   5&quot;
#&gt;   [6] &quot;AICc 153001.1 logPost -711519. logLik -76211.7 edf 288.54 eps 0.0137 iteration   6&quot;
#&gt;   [7] &quot;AICc 152978.8 logPost -694297. logLik -76200.6 edf 288.52 eps 0.0103 iteration   7&quot;
#&gt;   [8] &quot;AICc 152967.6 logPost -686469. logLik -76195.0 edf 288.49 eps 0.0046 iteration   8&quot;
#&gt;   [9] &quot;AICc 152961.1 logPost -682558. logLik -76191.8 edf 288.45 eps 0.0030 iteration   9&quot;
#&gt;  [10] &quot;AICc 152956.9 logPost -680459. logLik -76189.7 edf 288.42 eps 0.0020 iteration  10&quot;
#&gt;  [11] &quot;AICc 152954.0 logPost -679197. logLik -76188.3 edf 288.40 eps 0.0028 iteration  11&quot;
#&gt;  [12] &quot;AICc 152951.9 logPost -678320. logLik -76187.2 edf 288.39 eps 0.0014 iteration  12&quot;
#&gt;  [13] &quot;AICc 152950.3 logPost -677637. logLik -76186.5 edf 288.38 eps 0.0009 iteration  13&quot;
#&gt;  [14] &quot;AICc 152949.1 logPost -677068. logLik -76185.9 edf 288.37 eps 0.0008 iteration  14&quot;
#&gt;  [15] &quot;AICc 152948.2 logPost -676560. logLik -76185.4 edf 288.37 eps 0.0006 iteration  15&quot;
#&gt;  [16] &quot;AICc 152947.4 logPost -676096. logLik -76185.0 edf 288.37 eps 0.0005 iteration  16&quot;
#&gt;  [17] &quot;AICc 152946.8 logPost -675665. logLik -76184.7 edf 288.37 eps 0.0005 iteration  17&quot;
#&gt;  [18] &quot;AICc 152946.3 logPost -675260. logLik -76184.5 edf 288.37 eps 0.0006 iteration  18&quot;
#&gt;  [19] &quot;AICc 152945.9 logPost -674882. logLik -76184.3 edf 288.37 eps 0.0005 iteration  19&quot;
#&gt;  [20] &quot;AICc 152945.6 logPost -674525. logLik -76184.1 edf 288.37 eps 0.0006 iteration  20&quot;
#&gt;  [21] &quot;AICc 152945.3 logPost -674188. logLik -76184.0 edf 288.38 eps 0.0041 iteration  21&quot;
#&gt;  [22] &quot;AICc 152945.1 logPost -673872. logLik -76183.8 edf 288.38 eps 0.0003 iteration  22&quot;
#&gt;  [23] &quot;AICc 152944.9 logPost -673575. logLik -76183.7 edf 288.38 eps 0.0002 iteration  23&quot;
#&gt;  [24] &quot;AICc 152944.7 logPost -673299. logLik -76183.6 edf 288.39 eps 0.0002 iteration  24&quot;
#&gt;  [25] &quot;AICc 152944.5 logPost -673039. logLik -76183.6 edf 288.39 eps 0.0002 iteration  25&quot;
#&gt;  [26] &quot;AICc 152944.4 logPost -672800. logLik -76183.5 edf 288.40 eps 0.0001 iteration  26&quot;
#&gt;  [27] &quot;AICc 152944.3 logPost -672579. logLik -76183.4 edf 288.40 eps 0.0001 iteration  27&quot;
#&gt;  [28] &quot;AICc 152944.2 logPost -672375. logLik -76183.4 edf 288.40 eps 0.0001 iteration  28&quot;
#&gt;  [29] &quot;AICc 152944.1 logPost -672187. logLik -76183.3 edf 288.41 eps 0.0001 iteration  29&quot;
#&gt;  [30] &quot;AICc 152944.1 logPost -672014. logLik -76183.3 edf 288.41 eps 0.0001 iteration  30&quot;
#&gt;  [31] &quot;AICc 152944.0 logPost -671857. logLik -76183.3 edf 288.41 eps 0.0001 iteration  31&quot;
#&gt;  [32] &quot;AICc 152943.9 logPost -671709. logLik -76183.2 edf 288.42 eps 0.0001 iteration  32&quot;
#&gt;  [33] &quot;AICc 152943.9 logPost -671576. logLik -76183.2 edf 288.42 eps 0.0001 iteration  33&quot;
#&gt;  [34] &quot;AICc 152943.9 logPost -671457. logLik -76183.2 edf 288.42 eps 0.0001 iteration  34&quot;
#&gt;  [35] &quot;AICc 152943.8 logPost -671346. logLik -76183.2 edf 288.43 eps 0.0001 iteration  35&quot;
#&gt;  [36] &quot;AICc 152943.8 logPost -671247. logLik -76183.2 edf 288.43 eps 0.0000 iteration  36&quot;
#&gt;  [37] &quot;AICc 152943.8 logPost -671247. logLik -76183.2 edf 288.43 eps 0.0000 iteration  36&quot;
#&gt;  [38] &quot;elapsed time: 84.73min&quot;                                                            
#&gt;  [39] &quot;Starting the sampler...&quot;                                                           
#&gt;  [40] &quot;Starting the sampler...&quot;                                                           
#&gt;  [41] &quot;Starting the sampler...&quot;                                                           
#&gt;  [42] &quot;Starting the sampler...&quot;                                                           
#&gt;  [43] &quot;&quot;                                                                                  
#&gt;  [44] &quot;|                    |   0% 945.44min&quot;                                             
#&gt;  [45] &quot;|                    |   0% 946.43min&quot;                                             
#&gt;  [46] &quot;|                    |   0% 949.74min&quot;                                             
#&gt;  [47] &quot;|                    |   0% 950.41min&quot;                                             
#&gt;  [48] &quot;|*                   |   5% 882.67min 46.46min&quot;                                    
#&gt;  [49] &quot;|*                   |   5% 882.83min 46.46min&quot;                                    
#&gt;  [50] &quot;|*                   |   5% 886.32min 46.65min&quot;                                    
#&gt;  [51] &quot;|*                   |   5% 887.51min 46.71min&quot;                                    
#&gt;  [52] &quot;|**                  |  10% 835.96min 92.88min&quot;                                    
#&gt;  [53] &quot;|**                  |  10% 836.61min 92.96min&quot;                                    
#&gt;  [54] &quot;|**                  |  10% 839.36min 93.26min&quot;                                    
#&gt;  [55] &quot;|**                  |  10% 839.79min 93.31min&quot;                                    
#&gt;  [56] &quot;|***                 |  15% 789.44min 139.31min&quot;                                   
#&gt;  [57] &quot;|***                 |  15% 791.28min 139.64min&quot;                                   
#&gt;  [58] &quot;|***                 |  15% 791.89min 139.74min&quot;                                   
#&gt;  [59] &quot;|***                 |  15% 792.59min 139.87min&quot;                                   
#&gt;  [60] &quot;|****                |  20% 743.10min 185.77min&quot;                                   
#&gt;  [61] &quot;|****                |  20% 744.74min 186.18min&quot;                                   
#&gt;  [62] &quot;|****                |  20% 745.61min 186.40min&quot;                                   
#&gt;  [63] &quot;|****                |  20% 745.65min 186.41min&quot;                                   
#&gt;  [64] &quot;|*****               |  25% 696.68min 232.23min&quot;                                   
#&gt;  [65] &quot;|*****               |  25% 698.43min 232.81min&quot;                                   
#&gt;  [66] &quot;|*****               |  25% 698.57min 232.86min&quot;                                   
#&gt;  [67] &quot;|*****               |  25% 699.24min 233.08min&quot;                                   
#&gt;  [68] &quot;|******              |  30% 650.27min 278.69min&quot;                                   
#&gt;  [69] &quot;|******              |  30% 652.01min 279.43min&quot;                                   
#&gt;  [70] &quot;|******              |  30% 652.16min 279.50min&quot;                                   
#&gt;  [71] &quot;|******              |  30% 652.29min 279.55min&quot;                                   
#&gt;  [72] &quot;|*******             |  35% 603.91min 325.18min&quot;                                   
#&gt;  [73] &quot;|*******             |  35% 605.43min 326.00min&quot;                                   
#&gt;  [74] &quot;|*******             |  35% 605.42min 326.00min&quot;                                   
#&gt;  [75] &quot;|*******             |  35% 605.71min 326.15min&quot;                                   
#&gt;  [76] &quot;|********            |  40% 557.48min 371.65min&quot;                                   
#&gt;  [77] &quot;|********            |  40% 558.74min 372.50min&quot;                                   
#&gt;  [78] &quot;|********            |  40% 558.77min 372.51min&quot;                                   
#&gt;  [79] &quot;|********            |  40% 559.20min 372.80min&quot;                                   
#&gt;  [80] &quot;|*********           |  45% 512.62min 419.41min&quot;                                   
#&gt;  [81] &quot;|*********           |  45% 513.97min 420.52min&quot;                                   
#&gt;  [82] &quot;|*********           |  45% 514.12min 420.65min&quot;                                   
#&gt;  [83] &quot;|*********           |  45% 514.51min 420.96min&quot;                                   
#&gt;  [84] &quot;|**********          |  50% 490.28min 490.28min&quot;                                   
#&gt;  [85] &quot;|**********          |  50% 491.48min 491.48min&quot;                                   
#&gt;  [86] &quot;|**********          |  50% 491.52min 491.52min&quot;                                   
#&gt;  [87] &quot;|**********          |  50% 491.80min 491.80min&quot;                                   
#&gt;  [88] &quot;|***********         |  55% 449.60min 549.52min&quot;                                   
#&gt;  [89] &quot;|***********         |  55% 450.31min 550.38min&quot;                                   
#&gt;  [90] &quot;|***********         |  55% 450.42min 550.51min&quot;                                   
#&gt;  [91] &quot;|***********         |  55% 450.52min 550.63min&quot;                                   
#&gt;  [92] &quot;|************        |  60% 397.77min 596.66min&quot;                                   
#&gt;  [93] &quot;|************        |  60% 398.43min 597.65min&quot;                                   
#&gt;  [94] &quot;|************        |  60% 398.50min 597.75min&quot;                                   
#&gt;  [95] &quot;|************        |  60% 398.59min 597.89min&quot;                                   
#&gt;  [96] &quot;|*************       |  65% 346.53min 643.55min&quot;                                   
#&gt;  [97] &quot;|*************       |  65% 347.04min 644.51min&quot;                                   
#&gt;  [98] &quot;|*************       |  65% 347.10min 644.61min&quot;                                   
#&gt;  [99] &quot;|*************       |  65% 347.14min 644.68min&quot;                                   
#&gt; [100] &quot;|**************      |  70% 295.78min 690.16min&quot;                                   
#&gt; [101] &quot;|**************      |  70% 296.16min 691.04min&quot;                                   
#&gt; [102] &quot;|**************      |  70% 296.25min 691.25min&quot;                                   
#&gt; [103] &quot;|**************      |  70% 296.25min 691.25min&quot;                                   
#&gt; [104] &quot;|***************     |  75% 245.52min 736.55min&quot;                                   
#&gt; [105] &quot;|***************     |  75% 245.90min 737.70min&quot;                                   
#&gt; [106] &quot;|***************     |  75% 245.94min 737.83min&quot;                                   
#&gt; [107] &quot;|***************     |  75% 245.96min 737.88min&quot;                                   
#&gt; [108] &quot;|****************    |  80% 195.77min 783.08min&quot;                                   
#&gt; [109] &quot;|****************    |  80% 196.07min 784.27min&quot;                                   
#&gt; [110] &quot;|****************    |  80% 196.11min 784.44min&quot;                                   
#&gt; [111] &quot;|****************    |  80% 196.11min 784.46min&quot;                                   
#&gt; [112] &quot;|*****************   |  85% 146.42min 829.73min&quot;                                   
#&gt; [113] &quot;|*****************   |  85% 146.62min 830.83min&quot;                                   
#&gt; [114] &quot;|*****************   |  85% 146.65min 830.99min&quot;                                   
#&gt; [115] &quot;|*****************   |  85% 146.66min 831.06min&quot;                                   
#&gt; [116] &quot;|******************  |  90% 97.55min 877.94min&quot;                                    
#&gt; [117] &quot;|******************  |  90% 97.66min 878.95min&quot;                                    
#&gt; [118] &quot;|******************  |  90% 97.68min 879.15min&quot;                                    
#&gt; [119] &quot;|******************  |  90% 97.69min 879.25min&quot;                                    
#&gt; [120] &quot;|******************* |  95% 48.71min 925.46min&quot;                                    
#&gt; [121] &quot;|******************* |  95% 48.76min 926.46min&quot;                                    
#&gt; [122] &quot;|******************* |  95% 48.77min 926.62min&quot;                                    
#&gt; [123] &quot;|******************* |  95% 48.78min 926.77min&quot;                                    
#&gt; [124] &quot;|********************| 100%  0.00sec 972.15min&quot;                                    
#&gt; [125] &quot;&quot;                                                                                  
#&gt; [126] &quot;|********************| 100%  0.00sec 973.17min&quot;                                    
#&gt; [127] &quot;&quot;                                                                                  
#&gt; [128] &quot;|********************| 100%  0.00sec 973.34min&quot;                                    
#&gt; [129] &quot;&quot;                                                                                  
#&gt; [130] &quot;|********************| 100%  0.00sec 973.44min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  32.750   0.124  32.878</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;       user     system    elapsed 
#&gt; 238907.411    136.272  63932.594</code></pre>
</div>
