---
title: "Full model: continue mcmc"
prerequisites:
    - src/43-mcmc-continue-light.R
    - src/45-mcmc-reshape.R
    - src/46-mcmc-last-sample.R
    - data/modelled/pre-10-full-re.rds
objects:
    - data/modelled/pre-10-full-re-continue.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;43-mcmc-continue-light.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;45-mcmc-reshape.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;46-mcmc-last-sample.R&quot;))

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))

path_modelled_data &lt;- file.path(path_modelled, &quot;pre-10-full-re.rds&quot;)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)
path_modelled_continue &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-continue\\1&quot;, path_modelled_data)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_continue)

bamlss_model &lt;- readRDS(path_modelled_data)
form &lt;- readRDS(path_modelled_form)</code></pre>
</div>
<div id="continue-with-sampling" class="section level2">
<h2>Continue with sampling</h2>
<pre class="r"><code>starting_value &lt;- last_sample(bamlss_model)
{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = &quot;binomial&quot;, data = bwdata_model,
        start = starting_value, optimizer = FALSE,
        n.iter = 4000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;  [1] &quot;Starting the sampler...Starting the sampler...Starting the sampler...&quot;                                                                        
#&gt;  [2] &quot;&quot;                                                                                                                                             
#&gt;  [3] &quot;&quot;                                                                                                                                             
#&gt;  [4] &quot;Starting the sampler...&quot;                                                                                                                      
#&gt;  [5] &quot;&quot;                                                                                                                                             
#&gt;  [6] &quot;&quot;                                                                                                                                             
#&gt;  [7] &quot;&quot;                                                                                                                                             
#&gt;  [8] &quot;|           |                  |   0% | 232.06min                     |   0%  232.06min        |   0% 232.06min&quot;                              
#&gt;  [9] &quot;|                    |   0% 230.81min&quot;                                                                                                        
#&gt; [10] &quot;&quot;                                                                                                                                             
#&gt; [11] &quot;|*                   |   5% 211.60min 11.14min&quot;                                                                                               
#&gt; [12] &quot;|*                   |   5% 211.60min 11.14min|*                   |   5% 211.54min 11.13min&quot;                                                 
#&gt; [13] &quot;|*                   |   5% 211.60min 11.14min&quot;                                                                                               
#&gt; [14] &quot;&quot;                                                                                                                                             
#&gt; [15] &quot;|**                  |  10% 199.86min 22.21min|**                  |  10% 199.89min 22.21min&quot;                                                 
#&gt; [16] &quot;&quot;                                                                                                                                             
#&gt; [17] &quot;|**                  |  10% 199.89min 22.21min|**                  |  10% 199.89min 22.21min&quot;                                                 
#&gt; [18] &quot;|***                 |  15% 188.52min 33.27min&quot;                                                                                               
#&gt; [19] &quot;|***                 |  15% 188.52min 33.27min&quot;                                                                                               
#&gt; [20] &quot;|***                 |  15% 188.51min 33.27min&quot;                                                                                               
#&gt; [21] &quot;|***                 |  15% 188.56min 33.28min&quot;                                                                                               
#&gt; [22] &quot;|****                |  20% 177.64min 44.41min&quot;                                                                                               
#&gt; [23] &quot;&quot;                                                                                                                                             
#&gt; [24] &quot;|****                |  20% 177.64min 44.41min|****                |  20% 177.63min 44.41min&quot;                                                 
#&gt; [25] &quot;|****                |  20% 177.67min 44.42min&quot;                                                                                               
#&gt; [26] &quot;&quot;                                                                                                                                             
#&gt; [27] &quot;|*****               |  25%|*****               |  25%  166.70min166.69min  55.57min55.56min&quot;                                                 
#&gt; [28] &quot;|*****               |  25% 166.70min 55.57min&quot;                                                                                               
#&gt; [29] &quot;|*****               |  25% 166.72min 55.57min&quot;                                                                                               
#&gt; [30] &quot;&quot;                                                                                                                                             
#&gt; [31] &quot;|******              |  30%|******              |  30%  155.65min155.65min  66.71min66.71min&quot;                                                 
#&gt; [32] &quot;|******              |  30% 155.66min 66.71min&quot;                                                                                               
#&gt; [33] &quot;|******              |  30% 155.67min 66.72min&quot;                                                                                               
#&gt; [34] &quot;&quot;                                                                                                                                             
#&gt; [35] &quot;|*******             |  35%|*******             |  35%  144.74min144.75min  77.94min77.94min&quot;                                                 
#&gt; [36] &quot;|*******             |  35% 144.75min 77.94min&quot;                                                                                               
#&gt; [37] &quot;|*******             |  35% 144.78min 77.96min&quot;                                                                                               
#&gt; [38] &quot;&quot;                                                                                                                                             
#&gt; [39] &quot;&quot;                                                                                                                                             
#&gt; [40] &quot;|********            |  40% 133.78min 89.19min|********            |  40% 133.78min 89.19min|********            |  40% 133.78min 89.18min&quot;   
#&gt; [41] &quot;|********            |  40% 133.80min 89.20min&quot;                                                                                               
#&gt; [42] &quot;&quot;                                                                                                                                             
#&gt; [43] &quot;&quot;                                                                                                                                             
#&gt; [44] &quot;|*********           |  45% 122.76min 100.44min|*********           |  45% 122.76min 100.44min|*********           |  45% 122.76min 100.44min&quot;
#&gt; [45] &quot;|*********           |  45% 122.78min 100.46min&quot;                                                                                              
#&gt; [46] &quot;|**********          |  50% 111.68min 111.68min&quot;                                                                                              
#&gt; [47] &quot;&quot;                                                                                                                                             
#&gt; [48] &quot;|**********          |  50% 111.68min 111.68min|**********          |  50% 111.68min 111.68min&quot;                                               
#&gt; [49] &quot;|**********          |  50% 111.70min 111.70min&quot;                                                                                              
#&gt; [50] &quot;|***********         |  55% 100.82min 123.22min&quot;                                                                                              
#&gt; [51] &quot;|***********         |  55% 100.82min 123.23min&quot;                                                                                              
#&gt; [52] &quot;|***********         |  55% 100.89min 123.31min&quot;                                                                                              
#&gt; [53] &quot;|***********         |  55% 100.91min 123.34min&quot;                                                                                              
#&gt; [54] &quot;|************        |  60% 89.79min 134.69min&quot;                                                                                               
#&gt; [55] &quot;|************        |  60% 89.80min 134.70min&quot;                                                                                               
#&gt; [56] &quot;|************        |  60% 89.86min 134.78min&quot;                                                                                               
#&gt; [57] &quot;|************        |  60% 89.87min 134.81min&quot;                                                                                               
#&gt; [58] &quot;|*************       |  65% 78.69min 146.14min&quot;                                                                                               
#&gt; [59] &quot;|*************       |  65% 78.69min 146.15min&quot;                                                                                               
#&gt; [60] &quot;|*************       |  65% 78.74min 146.23min&quot;                                                                                               
#&gt; [61] &quot;|*************       |  65% 78.75min 146.26min&quot;                                                                                               
#&gt; [62] &quot;|**************      |  70% 67.52min 157.55min&quot;                                                                                               
#&gt; [63] &quot;|**************      |  70% 67.53min 157.56min&quot;                                                                                               
#&gt; [64] &quot;|**************      |  70% 67.56min 157.64min&quot;                                                                                               
#&gt; [65] &quot;|**************      |  70% 67.57min 157.67min&quot;                                                                                               
#&gt; [66] &quot;|***************     |  75% 56.34min 169.03min&quot;                                                                                               
#&gt; [67] &quot;|***************     |  75% 56.35min 169.04min&quot;                                                                                               
#&gt; [68] &quot;|***************     |  75% 56.37min 169.12min&quot;                                                                                               
#&gt; [69] &quot;|***************     |  75% 56.38min 169.15min&quot;                                                                                               
#&gt; [70] &quot;|****************    |  80% 45.13min 180.54min&quot;                                                                                               
#&gt; [71] &quot;|****************    |  80% 45.14min 180.55min&quot;                                                                                               
#&gt; [72] &quot;|****************    |  80% 45.16min 180.62min&quot;                                                                                               
#&gt; [73] &quot;|****************    |  80% 45.16min 180.65min&quot;                                                                                               
#&gt; [74] &quot;&quot;                                                                                                                                             
#&gt; [75] &quot;|*****************   |  85% 33.85min 191.84min|*****************   |  85% 33.85min 191.84min&quot;                                                 
#&gt; [76] &quot;|*****************   |  85% 33.87min 191.90min&quot;                                                                                               
#&gt; [77] &quot;|*****************   |  85% 33.87min 191.95min&quot;                                                                                               
#&gt; [78] &quot;|******************  |  90% 22.56min 203.01min&quot;                                                                                               
#&gt; [79] &quot;|******************  |  90% 22.56min 203.01min&quot;                                                                                               
#&gt; [80] &quot;|******************  |  90% 22.56min 203.08min&quot;                                                                                               
#&gt; [81] &quot;|******************  |  90% 22.57min 203.13min&quot;                                                                                               
#&gt; [82] &quot;|******************* |  95% 11.29min 214.46min&quot;                                                                                               
#&gt; [83] &quot;|******************* |  95% 11.29min 214.47min&quot;                                                                                               
#&gt; [84] &quot;|******************* |  95% 11.29min 214.54min&quot;                                                                                               
#&gt; [85] &quot;|******************* |  95% 11.29min 214.59min&quot;                                                                                               
#&gt; [86] &quot;|********************| 100%  0.00sec 225.94min&quot;                                                                                               
#&gt; [87] &quot;&quot;                                                                                                                                             
#&gt; [88] &quot;|********************| 100%  0.00sec 225.95min&quot;                                                                                               
#&gt; [89] &quot;&quot;                                                                                                                                             
#&gt; [90] &quot;|********************| 100%  0.00sec 226.00min&quot;                                                                                               
#&gt; [91] &quot;&quot;                                                                                                                                             
#&gt; [92] &quot;|********************| 100%  0.00sec 226.03min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_continue))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   5.246   0.015   5.282</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;      user    system   elapsed 
#&gt; 54423.831    18.753 13663.496</code></pre>
</div>
