---
title: "Full model: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/pre-10-full-re.rds
---



<p>Prematurity model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;pre-10-full-re.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form_aux &lt;- premature ~ sex + born_race + birth_place +
    marital_status + study_years + consult_num + s(age) +
    s(wk_ini) + s(rivwk_conception, bs = &quot;cc&quot;) +
    remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;)
form &lt;- update(form_aux, . ~ . +
                s(neg_mbsi_mean_1wk, pos_mbsi_mean_1wk, k = 70) +
                s(neg_mckee_mean_8wk, pos_mckee_mean_8wk, k = 70) +
                s(neg_ext_mbsi_mean_8wk, pos_ext_mbsi_mean_8wk, k = 70))</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = &quot;binomial&quot;, data = bwdata_model,
        n.iter = 3000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 168427.6 logPost -84499.9 logLik -83963.4 edf 250.18 eps 0.5528 iteration   1&quot;
#&gt;   [2] &quot;AICc 155732.8 logPost -78372.0 logLik -77588.0 edf 278.10 eps 0.2989 iteration   2&quot;
#&gt;   [3] &quot;AICc 153777.7 logPost -77394.6 logLik -76602.2 edf 286.36 eps 0.1108 iteration   3&quot;
#&gt;   [4] &quot;AICc 153222.1 logPost -77222.7 logLik -76322.5 edf 288.27 eps 0.0550 iteration   4&quot;
#&gt;   [5] &quot;AICc 153055.5 logPost -77077.2 logLik -76239.0 edf 288.47 eps 0.0273 iteration   5&quot;
#&gt;   [6] &quot;AICc 153001.1 logPost -77012.1 logLik -76211.7 edf 288.54 eps 0.0137 iteration   6&quot;
#&gt;   [7] &quot;AICc 152978.8 logPost -76999.8 logLik -76200.6 edf 288.52 eps 0.0103 iteration   7&quot;
#&gt;   [8] &quot;AICc 152967.6 logPost -76994.6 logLik -76195.0 edf 288.49 eps 0.0046 iteration   8&quot;
#&gt;   [9] &quot;AICc 152961.1 logPost -76991.3 logLik -76191.8 edf 288.45 eps 0.0030 iteration   9&quot;
#&gt;  [10] &quot;AICc 152956.9 logPost -76989.2 logLik -76189.7 edf 288.42 eps 0.0020 iteration  10&quot;
#&gt;  [11] &quot;AICc 152954.0 logPost -76987.6 logLik -76188.3 edf 288.40 eps 0.0028 iteration  11&quot;
#&gt;  [12] &quot;AICc 152951.9 logPost -76986.5 logLik -76187.2 edf 288.39 eps 0.0014 iteration  12&quot;
#&gt;  [13] &quot;AICc 152950.3 logPost -76985.7 logLik -76186.5 edf 288.38 eps 0.0009 iteration  13&quot;
#&gt;  [14] &quot;AICc 152949.1 logPost -76985.0 logLik -76185.9 edf 288.37 eps 0.0008 iteration  14&quot;
#&gt;  [15] &quot;AICc 152948.2 logPost -76984.5 logLik -76185.4 edf 288.37 eps 0.0006 iteration  15&quot;
#&gt;  [16] &quot;AICc 152947.4 logPost -76984.1 logLik -76185.0 edf 288.37 eps 0.0005 iteration  16&quot;
#&gt;  [17] &quot;AICc 152946.8 logPost -76983.8 logLik -76184.7 edf 288.37 eps 0.0005 iteration  17&quot;
#&gt;  [18] &quot;AICc 152946.3 logPost -76983.6 logLik -76184.5 edf 288.37 eps 0.0006 iteration  18&quot;
#&gt;  [19] &quot;AICc 152945.9 logPost -76983.4 logLik -76184.3 edf 288.37 eps 0.0005 iteration  19&quot;
#&gt;  [20] &quot;AICc 152945.6 logPost -76983.3 logLik -76184.1 edf 288.37 eps 0.0006 iteration  20&quot;
#&gt;  [21] &quot;AICc 152945.3 logPost -76983.1 logLik -76184.0 edf 288.38 eps 0.0041 iteration  21&quot;
#&gt;  [22] &quot;AICc 152945.1 logPost -76983.0 logLik -76183.8 edf 288.38 eps 0.0003 iteration  22&quot;
#&gt;  [23] &quot;AICc 152944.9 logPost -76983.0 logLik -76183.7 edf 288.38 eps 0.0002 iteration  23&quot;
#&gt;  [24] &quot;AICc 152944.7 logPost -76982.9 logLik -76183.6 edf 288.39 eps 0.0002 iteration  24&quot;
#&gt;  [25] &quot;AICc 152944.5 logPost -76982.8 logLik -76183.6 edf 288.39 eps 0.0002 iteration  25&quot;
#&gt;  [26] &quot;AICc 152944.4 logPost -76982.8 logLik -76183.5 edf 288.40 eps 0.0001 iteration  26&quot;
#&gt;  [27] &quot;AICc 152944.3 logPost -76982.8 logLik -76183.4 edf 288.40 eps 0.0001 iteration  27&quot;
#&gt;  [28] &quot;AICc 152944.2 logPost -76982.8 logLik -76183.4 edf 288.40 eps 0.0001 iteration  28&quot;
#&gt;  [29] &quot;AICc 152944.1 logPost -76982.7 logLik -76183.3 edf 288.41 eps 0.0001 iteration  29&quot;
#&gt;  [30] &quot;AICc 152944.1 logPost -76982.7 logLik -76183.3 edf 288.41 eps 0.0001 iteration  30&quot;
#&gt;  [31] &quot;AICc 152944.0 logPost -76982.7 logLik -76183.3 edf 288.41 eps 0.0001 iteration  31&quot;
#&gt;  [32] &quot;AICc 152943.9 logPost -76982.7 logLik -76183.2 edf 288.42 eps 0.0001 iteration  32&quot;
#&gt;  [33] &quot;AICc 152943.9 logPost -76982.7 logLik -76183.2 edf 288.42 eps 0.0001 iteration  33&quot;
#&gt;  [34] &quot;AICc 152943.9 logPost -76982.7 logLik -76183.2 edf 288.42 eps 0.0001 iteration  34&quot;
#&gt;  [35] &quot;AICc 152943.8 logPost -76982.7 logLik -76183.2 edf 288.43 eps 0.0001 iteration  35&quot;
#&gt;  [36] &quot;AICc 152943.8 logPost -76982.7 logLik -76183.2 edf 288.43 eps 0.0000 iteration  36&quot;
#&gt;  [37] &quot;AICc 152943.8 logPost -76982.7 logLik -76183.2 edf 288.43 eps 0.0000 iteration  36&quot;
#&gt;  [38] &quot;elapsed time: 84.59min&quot;                                                            
#&gt;  [39] &quot;Starting the sampler...&quot;                                                           
#&gt;  [40] &quot;Starting the sampler...&quot;                                                           
#&gt;  [41] &quot;Starting the sampler...&quot;                                                           
#&gt;  [42] &quot;Starting the sampler...&quot;                                                           
#&gt;  [43] &quot;&quot;                                                                                  
#&gt;  [44] &quot;|                    |   0% 352.45min&quot;                                             
#&gt;  [45] &quot;|                    |   0% 352.02min&quot;                                             
#&gt;  [46] &quot;|                    |   0% 353.28min&quot;                                             
#&gt;  [47] &quot;|                    |   0% 354.64min&quot;                                             
#&gt;  [48] &quot;|*                   |   5% 330.41min 17.39min&quot;                                    
#&gt;  [49] &quot;|*                   |   5% 330.66min 17.40min&quot;                                    
#&gt;  [50] &quot;|*                   |   5% 331.39min 17.44min&quot;                                    
#&gt;  [51] &quot;|*                   |   5% 332.72min 17.51min&quot;                                    
#&gt;  [52] &quot;|**                  |  10% 312.86min 34.76min&quot;                                    
#&gt;  [53] &quot;|**                  |  10% 313.18min 34.80min&quot;                                    
#&gt;  [54] &quot;|**                  |  10% 313.72min 34.86min&quot;                                    
#&gt;  [55] &quot;|**                  |  10% 315.14min 35.02min&quot;                                    
#&gt;  [56] &quot;|***                 |  15% 295.39min 52.13min&quot;                                    
#&gt;  [57] &quot;|***                 |  15% 295.75min 52.19min&quot;                                    
#&gt;  [58] &quot;|***                 |  15% 296.21min 52.27min&quot;                                    
#&gt;  [59] &quot;|***                 |  15% 297.59min 52.52min&quot;                                    
#&gt;  [60] &quot;|****                |  20% 278.04min 69.51min&quot;                                    
#&gt;  [61] &quot;|****                |  20% 278.45min 69.61min&quot;                                    
#&gt;  [62] &quot;|****                |  20% 278.82min 69.70min&quot;                                    
#&gt;  [63] &quot;|****                |  20% 279.95min 69.99min&quot;                                    
#&gt;  [64] &quot;|*****               |  25% 260.70min 86.90min&quot;                                    
#&gt;  [65] &quot;|*****               |  25% 261.16min 87.05min&quot;                                    
#&gt;  [66] &quot;|*****               |  25% 261.37min 87.12min&quot;                                    
#&gt;  [67] &quot;|*****               |  25% 262.19min 87.40min&quot;                                    
#&gt;  [68] &quot;|******              |  30% 243.37min 104.30min&quot;                                   
#&gt;  [69] &quot;|******              |  30% 243.85min 104.51min&quot;                                   
#&gt;  [70] &quot;|******              |  30% 243.92min 104.54min&quot;                                   
#&gt;  [71] &quot;|******              |  30% 244.53min 104.80min&quot;                                   
#&gt;  [72] &quot;|*******             |  35% 226.00min 121.69min&quot;                                   
#&gt;  [73] &quot;|*******             |  35% 226.48min 121.95min&quot;                                   
#&gt;  [74] &quot;|*******             |  35% 226.50min 121.96min&quot;                                   
#&gt;  [75] &quot;|*******             |  35% 226.95min 122.20min&quot;                                   
#&gt;  [76] &quot;|********            |  40% 208.62min 139.08min&quot;                                   
#&gt;  [77] &quot;|********            |  40% 209.07min 139.38min&quot;                                   
#&gt;  [78] &quot;|********            |  40% 209.09min 139.39min&quot;                                   
#&gt;  [79] &quot;|********            |  40% 209.39min 139.59min&quot;                                   
#&gt;  [80] &quot;|*********           |  45% 191.24min 156.47min&quot;                                   
#&gt;  [81] &quot;|*********           |  45% 191.65min 156.80min&quot;                                   
#&gt;  [82] &quot;|*********           |  45% 191.70min 156.85min&quot;                                   
#&gt;  [83] &quot;|*********           |  45% 191.90min 157.01min&quot;                                   
#&gt;  [84] &quot;|**********          |  50% 173.85min 173.85min&quot;                                   
#&gt;  [85] &quot;|**********          |  50% 174.22min 174.22min&quot;                                   
#&gt;  [86] &quot;|**********          |  50% 174.22min 174.22min&quot;                                   
#&gt;  [87] &quot;|**********          |  50% 174.48min 174.48min&quot;                                   
#&gt;  [88] &quot;|***********         |  55% 156.47min 191.24min&quot;                                   
#&gt;  [89] &quot;|***********         |  55% 156.77min 191.61min&quot;                                   
#&gt;  [90] &quot;|***********         |  55% 156.78min 191.62min&quot;                                   
#&gt;  [91] &quot;|***********         |  55% 157.08min 191.98min&quot;                                   
#&gt;  [92] &quot;|************        |  60% 139.09min 208.63min&quot;                                   
#&gt;  [93] &quot;|************        |  60% 139.32min 208.98min&quot;                                   
#&gt;  [94] &quot;|************        |  60% 139.35min 209.03min&quot;                                   
#&gt;  [95] &quot;|************        |  60% 139.65min 209.47min&quot;                                   
#&gt;  [96] &quot;|*************       |  65% 121.72min 226.05min&quot;                                   
#&gt;  [97] &quot;|*************       |  65% 121.88min 226.35min&quot;                                   
#&gt;  [98] &quot;|*************       |  65% 121.93min 226.44min&quot;                                   
#&gt;  [99] &quot;|*************       |  65% 122.21min 226.97min&quot;                                   
#&gt; [100] &quot;|**************      |  70% 104.35min 243.48min&quot;                                   
#&gt; [101] &quot;|**************      |  70% 104.44min 243.70min&quot;                                   
#&gt; [102] &quot;|**************      |  70% 104.49min 243.82min&quot;                                   
#&gt; [103] &quot;|**************      |  70% 104.77min 244.46min&quot;                                   
#&gt; [104] &quot;|***************     |  75% 86.97min 260.91min&quot;                                    
#&gt; [105] &quot;|***************     |  75% 87.02min 261.06min&quot;                                    
#&gt; [106] &quot;|***************     |  75% 87.07min 261.22min&quot;                                    
#&gt; [107] &quot;|***************     |  75% 87.32min 261.96min&quot;                                    
#&gt; [108] &quot;|****************    |  80% 69.58min 278.33min&quot;                                    
#&gt; [109] &quot;|****************    |  80% 69.60min 278.41min&quot;                                    
#&gt; [110] &quot;|****************    |  80% 69.65min 278.60min&quot;                                    
#&gt; [111] &quot;|****************    |  80% 69.86min 279.45min&quot;                                    
#&gt; [112] &quot;|*****************   |  85% 52.20min 295.79min&quot;                                    
#&gt; [113] &quot;|*****************   |  85% 52.20min 295.82min&quot;                                    
#&gt; [114] &quot;|*****************   |  85% 52.24min 296.04min&quot;                                    
#&gt; [115] &quot;|*****************   |  85% 52.41min 296.98min&quot;                                    
#&gt; [116] &quot;|******************  |  90% 34.81min 313.25min&quot;                                    
#&gt; [117] &quot;|******************  |  90% 34.81min 313.27min&quot;                                    
#&gt; [118] &quot;|******************  |  90% 34.83min 313.48min&quot;                                    
#&gt; [119] &quot;|******************  |  90% 34.95min 314.54min&quot;                                    
#&gt; [120] &quot;|******************* |  95% 17.41min 330.70min&quot;                                    
#&gt; [121] &quot;|******************* |  95% 17.41min 330.81min&quot;                                    
#&gt; [122] &quot;|******************* |  95% 17.42min 330.97min&quot;                                    
#&gt; [123] &quot;|******************* |  95% 17.48min 332.12min&quot;                                    
#&gt; [124] &quot;|********************| 100%  0.00sec 348.17min&quot;                                    
#&gt; [125] &quot;&quot;                                                                                  
#&gt; [126] &quot;|********************| 100%  0.00sec 348.25min&quot;                                    
#&gt; [127] &quot;&quot;                                                                                  
#&gt; [128] &quot;|********************| 100%  0.00sec 348.46min&quot;                                    
#&gt; [129] &quot;&quot;                                                                                  
#&gt; [130] &quot;|********************| 100%  0.00sec 349.52min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  23.693   0.076  23.770</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;      user    system   elapsed 
#&gt; 89365.974    55.617 26481.259</code></pre>
</div>
