---
title: "Full model with flexible prior: effects"
prerequisites:
    - data/modelled/pre-12-full-re-p1-burned.rds
    - data/processed/bwdata_41_model.fst
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
model_file &lt;- file.path(path_modelled, &quot;pre-12-full-re-p1.rds&quot;)
form_file &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, model_file)
model_file_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, model_file)

bwdata_model &lt;- fst::read_fst(bwdata_file)
form &lt;- readRDS(form_file)
model &lt;- readRDS(model_file_burned)</code></pre>
</div>
<div id="summary" class="section level2">
<h2>Summary</h2>
<pre class="r"><code>summary(model)</code></pre>
<pre><code>#&gt; 
#&gt; Call:
#&gt; bamlss(formula = form, family = &quot;binomial&quot;, data = bwdata_model, 
#&gt;     cores = 4, combine = FALSE, light = TRUE, n.iter = 8000, 
#&gt;     burnin = 0)
#&gt; ---
#&gt; Family: binomial 
#&gt; Link function: pi = logit
#&gt; *---
#&gt; Formula pi:
#&gt; ---
#&gt; premature ~ sex + born_race + birth_place + marital_status + 
#&gt;     study_years + consult_num + s(age, xt = hyper) + s(wk_ini, 
#&gt;     xt = hyper) + s(rivwk_conception, bs = &quot;cc&quot;, xt = hyper) + 
#&gt;     remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;, xt = hyper) + 
#&gt;     s(neg_mbsi_mean_1wk, pos_mbsi_mean_1wk, k = 70, xt = hyper) + 
#&gt;     s(neg_mckee_mean_8wk, pos_mckee_mean_8wk, k = 70, xt = hyper) + 
#&gt;     s(neg_ext_mbsi_mean_8wk, pos_ext_mbsi_mean_8wk, k = 70, xt = hyper)
#&gt; -
#&gt; Parametric coefficients:
#&gt;                                        Mean       2.5%        50%      97.5% parameters
#&gt; (Intercept)                       -5.973756 -15.757256  -4.531461  -2.563529     -0.521
#&gt; sexfemale                         -0.029916  -0.057292  -0.029638  -0.003081     -0.030
#&gt; born_raceindigenous                0.263663   0.220616   0.262950   0.305008      0.263
#&gt; born_raceNA                       -0.058985  -0.201707  -0.060789   0.082890     -0.057
#&gt; birth_placeanother health center   0.133869  -0.053145   0.129153   0.329914      0.135
#&gt; birth_placehome                    0.211896   0.172611   0.211800   0.251473      0.210
#&gt; birth_placeother                   0.354375   0.242680   0.356420   0.479038      0.351
#&gt; birth_placeNA                     -0.109262  -0.240937  -0.111009   0.019001     -0.109
#&gt; marital_statusmarried             -0.012972  -0.061497  -0.013082   0.036139     -0.014
#&gt; marital_statuswidow                0.056703  -0.351630   0.058760   0.471346      0.055
#&gt; marital_statusdivorced            -0.164206  -0.572626  -0.158932   0.280315     -0.170
#&gt; marital_statusconsensual union    -0.051418  -0.085595  -0.051046  -0.020054     -0.054
#&gt; marital_statusNA                  -0.013284  -0.143167  -0.013493   0.105666     -0.012
#&gt; study_years1 - 3                  -0.088592  -0.154175  -0.088509  -0.023549     -0.088
#&gt; study_years4 - 7                  -0.084107  -0.145763  -0.085557  -0.021997     -0.084
#&gt; study_years8 - 11                  0.001172  -0.061190   0.001339   0.069380     -0.002
#&gt; study_years&gt; 12                    0.039171  -0.051407   0.038395   0.136451      0.038
#&gt; study_yearsNA                     -0.121149  -0.267747  -0.119502   0.040934     -0.124
#&gt; consult_num1 - 3                   0.523229   0.463738   0.522894   0.589800      0.522
#&gt; consult_num4 - 6                   0.250917   0.190190   0.249243   0.314311      0.251
#&gt; consult_num&gt; 7                    -0.529896  -0.595414  -0.529447  -0.460221     -0.529
#&gt; consult_numNA                      0.175304   0.013178   0.175608   0.343119      0.175
#&gt; remoteness                         3.007561  -2.102575   2.401481  11.168710     -0.065
#&gt; prop_tap_toilet                    5.340236  -1.121827   2.435829  24.963426      0.503
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.8286 0.2190 0.9402     1
#&gt; -
#&gt; Smooth terms:
#&gt;                                                           Mean      2.5%       50%     97.5%
#&gt; s(age).tau21                                         1.358e+02 6.700e+01 1.252e+02 2.606e+02
#&gt; s(age).alpha                                         6.981e-01 8.152e-03 8.444e-01 1.000e+00
#&gt; s(age).edf                                           8.036e+00 7.647e+00 8.031e+00 8.460e+00
#&gt; s(wk_ini).tau21                                      1.506e+02 7.703e+01 1.412e+02 2.932e+02
#&gt; s(wk_ini).alpha                                      9.691e-01 8.228e-01 9.949e-01 1.000e+00
#&gt; s(wk_ini).edf                                        8.970e+00 8.946e+00 8.971e+00 8.985e+00
#&gt; s(rivwk_conception).tau21                            1.231e+02 6.463e+01 1.152e+02 2.377e+02
#&gt; s(rivwk_conception).alpha                            9.821e-01 8.979e-01 9.999e-01 1.000e+00
#&gt; s(rivwk_conception).edf                              8.000e+00 8.000e+00 8.000e+00 8.000e+00
#&gt; s(res_muni).tau21                                    4.150e+01 2.789e+01 4.012e+01 6.218e+01
#&gt; s(res_muni).alpha                                    7.818e-01 2.718e-01 8.710e-01 1.000e+00
#&gt; s(res_muni).edf                                      4.300e+01 4.299e+01 4.300e+01 4.300e+01
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).tau21         3.626e+01 2.650e+01 3.541e+01 5.009e+01
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).alpha         6.793e-01 4.763e-02 7.395e-01 1.000e+00
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).edf           6.729e+01 6.670e+01 6.731e+01 6.778e+01
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).tau21       3.899e+01 2.822e+01 3.826e+01 5.357e+01
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).alpha       7.531e-01 2.018e-01 8.234e-01 1.000e+00
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).edf         6.777e+01 6.738e+01 6.778e+01 6.814e+01
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).tau21 3.357e+02 2.393e+02 3.306e+02 4.698e+02
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).alpha 2.705e-01 3.135e-06 8.225e-02 1.000e+00
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).edf   6.828e+01 6.802e+01 6.829e+01 6.850e+01
#&gt;                                                      parameters
#&gt; s(age).tau21                                              0.424
#&gt; s(age).alpha                                                 NA
#&gt; s(age).edf                                                4.385
#&gt; s(wk_ini).tau21                                          44.459
#&gt; s(wk_ini).alpha                                              NA
#&gt; s(wk_ini).edf                                             8.913
#&gt; s(rivwk_conception).tau21                                 0.002
#&gt; s(rivwk_conception).alpha                                    NA
#&gt; s(rivwk_conception).edf                                   6.539
#&gt; s(res_muni).tau21                                         7.365
#&gt; s(res_muni).alpha                                            NA
#&gt; s(res_muni).edf                                          42.980
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).tau21             19.898
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).alpha                 NA
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).edf               66.104
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).tau21           20.700
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).alpha               NA
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).edf             66.821
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).tau21    772.420
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).alpha         NA
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).edf       68.690
#&gt; ---
#&gt; Sampler summary:
#&gt; -
#&gt; runtime = 58490.48
#&gt; ---
#&gt; Optimizer summary:
#&gt; -
#&gt; AICc = 152943.9 edf = 288.4333 logLik = -76183.21
#&gt; logPost = -671247.9 nobs = 291479 runtime = 5083.758</code></pre>
</div>
<div id="parametric-effects" class="section level2">
<h2>Parametric effects</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot2d_bamlss(model, bwdata_model, model = &quot;pi&quot;, term = &quot;remoteness&quot;, grid = 50,
              FUN = c95)
plot2d_bamlss(model, bwdata_model, model = &quot;pi&quot;, term = &quot;prop_tap_toilet&quot;, grid = 50,
              FUN = c95)</code></pre>
<p><img src="/birthweight/40-modelling/60-prematurity/pre-12-full-re-p1-10-effects_files/figure-html/unnamed-chunk-3-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="smooth-effects" class="section level2">
<h2>Smooth effects</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot(model, scale = 0, scheme = 2, spar = FALSE, contour = TRUE, image = TRUE)</code></pre>
<p><img src="/birthweight/40-modelling/60-prematurity/pre-12-full-re-p1-10-effects_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/60-prematurity/pre-12-full-re-p1-10-effects_files/figure-html/unnamed-chunk-4-2.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/60-prematurity/pre-12-full-re-p1-10-effects_files/figure-html/unnamed-chunk-4-3.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/60-prematurity/pre-12-full-re-p1-10-effects_files/figure-html/unnamed-chunk-4-4.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/60-prematurity/pre-12-full-re-p1-10-effects_files/figure-html/unnamed-chunk-4-5.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   6.923   0.248   7.240</code></pre>
</div>
