---
title: "Full model with smoother prior: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/pre-13-full-re-p2.rds
---



<p>Prematurity model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;pre-13-full-re-p2.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>hyper &lt;- list(a = 10, b = 0.0001)
form_aux &lt;- premature ~ sex + born_race + birth_place +
    marital_status + study_years + consult_num + s(age, xt = hyper) +
    s(wk_ini, xt = hyper) + s(rivwk_conception, bs = &quot;cc&quot;, xt = hyper) +
    remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;, xt = hyper)
form &lt;- update(form_aux, . ~ . +
                s(neg_mbsi_mean_1wk, pos_mbsi_mean_1wk, k = 70, xt = hyper) +
                s(neg_mckee_mean_8wk, pos_mckee_mean_8wk, k = 70, xt = hyper) +
                s(neg_ext_mbsi_mean_8wk, pos_ext_mbsi_mean_8wk, k = 70, xt = hyper))</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = &quot;binomial&quot;, data = bwdata_model,
        n.iter = 8000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 168427.6 logPost -85039.2 logLik -83963.4 edf 250.18 eps 0.5528 iteration   1&quot;
#&gt;   [2] &quot;AICc 155732.8 logPost -79068.1 logLik -77588.0 edf 278.10 eps 0.2989 iteration   2&quot;
#&gt;   [3] &quot;AICc 153777.7 logPost -78171.3 logLik -76602.2 edf 286.36 eps 0.1108 iteration   3&quot;
#&gt;   [4] &quot;AICc 153222.1 logPost -78057.3 logLik -76322.5 edf 288.27 eps 0.0550 iteration   4&quot;
#&gt;   [5] &quot;AICc 153055.5 logPost -77884.7 logLik -76239.0 edf 288.47 eps 0.0273 iteration   5&quot;
#&gt;   [6] &quot;AICc 153001.1 logPost -77797.2 logLik -76211.7 edf 288.54 eps 0.0137 iteration   6&quot;
#&gt;   [7] &quot;AICc 152978.8 logPost -77781.6 logLik -76200.6 edf 288.52 eps 0.0103 iteration   7&quot;
#&gt;   [8] &quot;AICc 152967.6 logPost -77776.4 logLik -76195.0 edf 288.49 eps 0.0046 iteration   8&quot;
#&gt;   [9] &quot;AICc 152961.1 logPost -77773.2 logLik -76191.8 edf 288.45 eps 0.0030 iteration   9&quot;
#&gt;  [10] &quot;AICc 152956.9 logPost -77771.0 logLik -76189.7 edf 288.42 eps 0.0020 iteration  10&quot;
#&gt;  [11] &quot;AICc 152954.0 logPost -77769.5 logLik -76188.3 edf 288.40 eps 0.0028 iteration  11&quot;
#&gt;  [12] &quot;AICc 152951.9 logPost -77768.3 logLik -76187.2 edf 288.39 eps 0.0014 iteration  12&quot;
#&gt;  [13] &quot;AICc 152950.3 logPost -77767.5 logLik -76186.5 edf 288.38 eps 0.0009 iteration  13&quot;
#&gt;  [14] &quot;AICc 152949.1 logPost -77766.8 logLik -76185.9 edf 288.37 eps 0.0008 iteration  14&quot;
#&gt;  [15] &quot;AICc 152948.2 logPost -77766.3 logLik -76185.4 edf 288.37 eps 0.0006 iteration  15&quot;
#&gt;  [16] &quot;AICc 152947.4 logPost -77766.0 logLik -76185.0 edf 288.37 eps 0.0005 iteration  16&quot;
#&gt;  [17] &quot;AICc 152946.8 logPost -77765.7 logLik -76184.7 edf 288.37 eps 0.0005 iteration  17&quot;
#&gt;  [18] &quot;AICc 152946.3 logPost -77765.4 logLik -76184.5 edf 288.37 eps 0.0006 iteration  18&quot;
#&gt;  [19] &quot;AICc 152945.9 logPost -77765.3 logLik -76184.3 edf 288.37 eps 0.0005 iteration  19&quot;
#&gt;  [20] &quot;AICc 152945.6 logPost -77765.1 logLik -76184.1 edf 288.37 eps 0.0006 iteration  20&quot;
#&gt;  [21] &quot;AICc 152945.3 logPost -77765.0 logLik -76184.0 edf 288.38 eps 0.0041 iteration  21&quot;
#&gt;  [22] &quot;AICc 152945.1 logPost -77764.9 logLik -76183.8 edf 288.38 eps 0.0003 iteration  22&quot;
#&gt;  [23] &quot;AICc 152944.9 logPost -77764.9 logLik -76183.7 edf 288.38 eps 0.0002 iteration  23&quot;
#&gt;  [24] &quot;AICc 152944.7 logPost -77764.8 logLik -76183.6 edf 288.39 eps 0.0002 iteration  24&quot;
#&gt;  [25] &quot;AICc 152944.5 logPost -77764.8 logLik -76183.6 edf 288.39 eps 0.0002 iteration  25&quot;
#&gt;  [26] &quot;AICc 152944.4 logPost -77764.8 logLik -76183.5 edf 288.40 eps 0.0001 iteration  26&quot;
#&gt;  [27] &quot;AICc 152944.3 logPost -77764.8 logLik -76183.4 edf 288.40 eps 0.0001 iteration  27&quot;
#&gt;  [28] &quot;AICc 152944.2 logPost -77764.7 logLik -76183.4 edf 288.40 eps 0.0001 iteration  28&quot;
#&gt;  [29] &quot;AICc 152944.1 logPost -77764.7 logLik -76183.3 edf 288.41 eps 0.0001 iteration  29&quot;
#&gt;  [30] &quot;AICc 152944.1 logPost -77764.7 logLik -76183.3 edf 288.41 eps 0.0001 iteration  30&quot;
#&gt;  [31] &quot;AICc 152944.0 logPost -77764.7 logLik -76183.3 edf 288.41 eps 0.0001 iteration  31&quot;
#&gt;  [32] &quot;AICc 152943.9 logPost -77764.7 logLik -76183.2 edf 288.42 eps 0.0001 iteration  32&quot;
#&gt;  [33] &quot;AICc 152943.9 logPost -77764.7 logLik -76183.2 edf 288.42 eps 0.0001 iteration  33&quot;
#&gt;  [34] &quot;AICc 152943.9 logPost -77764.7 logLik -76183.2 edf 288.42 eps 0.0001 iteration  34&quot;
#&gt;  [35] &quot;AICc 152943.8 logPost -77764.7 logLik -76183.2 edf 288.43 eps 0.0001 iteration  35&quot;
#&gt;  [36] &quot;AICc 152943.8 logPost -77764.7 logLik -76183.2 edf 288.43 eps 0.0000 iteration  36&quot;
#&gt;  [37] &quot;AICc 152943.8 logPost -77764.7 logLik -76183.2 edf 288.43 eps 0.0000 iteration  36&quot;
#&gt;  [38] &quot;elapsed time: 84.64min&quot;                                                            
#&gt;  [39] &quot;Starting the sampler...&quot;                                                           
#&gt;  [40] &quot;Starting the sampler...&quot;                                                           
#&gt;  [41] &quot;Starting the sampler...&quot;                                                           
#&gt;  [42] &quot;Starting the sampler...&quot;                                                           
#&gt;  [43] &quot;&quot;                                                                                  
#&gt;  [44] &quot;|                    |   0% 1049.17min&quot;                                            
#&gt;  [45] &quot;|                    |   0% 1055.21min&quot;                                            
#&gt;  [46] &quot;|                    |   0% 1034.40min&quot;                                            
#&gt;  [47] &quot;|                    |   0% 1053.08min&quot;                                            
#&gt;  [48] &quot;|*                   |   5% 1009.46min 53.13min&quot;                                   
#&gt;  [49] &quot;|*                   |   5% 1011.91min 53.26min&quot;                                   
#&gt;  [50] &quot;|*                   |   5% 1012.32min 53.28min&quot;                                   
#&gt;  [51] &quot;|*                   |   5% 1015.38min 53.44min&quot;                                   
#&gt;  [52] &quot;|**                  |  10% 920.93min 102.33min&quot;                                   
#&gt;  [53] &quot;|**                  |  10% 921.74min 102.42min&quot;                                   
#&gt;  [54] &quot;|**                  |  10% 921.53min 102.39min&quot;                                   
#&gt;  [55] &quot;|**                  |  10% 923.63min 102.63min&quot;                                   
#&gt;  [56] &quot;|***                 |  15% 843.83min 148.91min&quot;                                   
#&gt;  [57] &quot;|***                 |  15% 844.50min 149.03min&quot;                                   
#&gt;  [58] &quot;|***                 |  15% 844.50min 149.03min&quot;                                   
#&gt;  [59] &quot;|***                 |  15% 846.85min 149.44min&quot;                                   
#&gt;  [60] &quot;|****                |  20% 781.81min 195.45min&quot;                                   
#&gt;  [61] &quot;|****                |  20% 782.50min 195.62min&quot;                                   
#&gt;  [62] &quot;|****                |  20% 783.02min 195.75min&quot;                                   
#&gt;  [63] &quot;|****                |  20% 784.71min 196.18min&quot;                                   
#&gt;  [64] &quot;|*****               |  25% 725.75min 241.92min&quot;                                   
#&gt;  [65] &quot;|*****               |  25% 726.01min 242.00min&quot;                                   
#&gt;  [66] &quot;|*****               |  25% 727.39min 242.46min&quot;                                   
#&gt;  [67] &quot;|*****               |  25% 728.48min 242.83min&quot;                                   
#&gt;  [68] &quot;|******              |  30% 673.07min 288.46min&quot;                                   
#&gt;  [69] &quot;|******              |  30% 673.06min 288.46min&quot;                                   
#&gt;  [70] &quot;|******              |  30% 674.77min 289.19min&quot;                                   
#&gt;  [71] &quot;|******              |  30% 675.05min 289.31min&quot;                                   
#&gt;  [72] &quot;|*******             |  35% 621.90min 334.87min&quot;                                   
#&gt;  [73] &quot;|*******             |  35% 622.54min 335.21min&quot;                                   
#&gt;  [74] &quot;|*******             |  35% 623.39min 335.67min&quot;                                   
#&gt;  [75] &quot;|*******             |  35% 623.99min 335.99min&quot;                                   
#&gt;  [76] &quot;|********            |  40% 572.19min 381.46min&quot;                                   
#&gt;  [77] &quot;|********            |  40% 572.70min 381.80min&quot;                                   
#&gt;  [78] &quot;|********            |  40% 573.19min 382.13min&quot;                                   
#&gt;  [79] &quot;|********            |  40% 573.73min 382.49min&quot;                                   
#&gt;  [80] &quot;|*********           |  45% 523.19min 428.06min&quot;                                   
#&gt;  [81] &quot;|*********           |  45% 523.59min 428.39min&quot;                                   
#&gt;  [82] &quot;|*********           |  45% 523.92min 428.66min&quot;                                   
#&gt;  [83] &quot;|*********           |  45% 524.22min 428.91min&quot;                                   
#&gt;  [84] &quot;|**********          |  50% 474.56min 474.56min&quot;                                   
#&gt;  [85] &quot;|**********          |  50% 474.96min 474.96min&quot;                                   
#&gt;  [86] &quot;|**********          |  50% 475.26min 475.26min&quot;                                   
#&gt;  [87] &quot;|**********          |  50% 475.32min 475.32min&quot;                                   
#&gt;  [88] &quot;|***********         |  55% 426.24min 520.96min&quot;                                   
#&gt;  [89] &quot;|***********         |  55% 426.75min 521.59min&quot;                                   
#&gt;  [90] &quot;|***********         |  55% 426.94min 521.81min&quot;                                   
#&gt;  [91] &quot;|***********         |  55% 427.07min 521.97min&quot;                                   
#&gt;  [92] &quot;|************        |  60% 378.23min 567.35min&quot;                                   
#&gt;  [93] &quot;|************        |  60% 378.74min 568.11min&quot;                                   
#&gt;  [94] &quot;|************        |  60% 378.90min 568.34min&quot;                                   
#&gt;  [95] &quot;|************        |  60% 379.13min 568.69min&quot;                                   
#&gt;  [96] &quot;|*************       |  65% 330.46min 613.70min&quot;                                   
#&gt;  [97] &quot;|*************       |  65% 330.93min 614.58min&quot;                                   
#&gt;  [98] &quot;|*************       |  65% 331.12min 614.94min&quot;                                   
#&gt;  [99] &quot;|*************       |  65% 331.38min 615.41min&quot;                                   
#&gt; [100] &quot;|**************      |  70% 282.88min 660.06min&quot;                                   
#&gt; [101] &quot;|**************      |  70% 283.32min 661.07min&quot;                                   
#&gt; [102] &quot;|**************      |  70% 283.52min 661.54min&quot;                                   
#&gt; [103] &quot;|**************      |  70% 283.75min 662.08min&quot;                                   
#&gt; [104] &quot;|***************     |  75% 235.52min 706.57min&quot;                                   
#&gt; [105] &quot;|***************     |  75% 235.85min 707.55min&quot;                                   
#&gt; [106] &quot;|***************     |  75% 236.04min 708.11min&quot;                                   
#&gt; [107] &quot;|***************     |  75% 236.21min 708.62min&quot;                                   
#&gt; [108] &quot;|****************    |  80% 188.23min 752.91min&quot;                                   
#&gt; [109] &quot;|****************    |  80% 188.51min 754.03min&quot;                                   
#&gt; [110] &quot;|****************    |  80% 188.70min 754.79min&quot;                                   
#&gt; [111] &quot;|****************    |  80% 188.81min 755.24min&quot;                                   
#&gt; [112] &quot;|*****************   |  85% 141.07min 799.38min&quot;                                   
#&gt; [113] &quot;|*****************   |  85% 141.25min 800.43min&quot;                                   
#&gt; [114] &quot;|*****************   |  85% 141.43min 801.42min&quot;                                   
#&gt; [115] &quot;|*****************   |  85% 141.50min 801.82min&quot;                                   
#&gt; [116] &quot;|******************  |  90% 93.98min 845.79min&quot;                                    
#&gt; [117] &quot;|******************  |  90% 94.11min 847.02min&quot;                                    
#&gt; [118] &quot;|******************  |  90% 94.22min 847.95min&quot;                                    
#&gt; [119] &quot;|******************  |  90% 94.28min 848.52min&quot;                                    
#&gt; [120] &quot;|******************* |  95% 46.96min 892.32min&quot;                                    
#&gt; [121] &quot;|******************* |  95% 47.03min 893.52min&quot;                                    
#&gt; [122] &quot;|******************* |  95% 47.07min 894.38min&quot;                                    
#&gt; [123] &quot;|******************* |  95% 47.12min 895.22min&quot;                                    
#&gt; [124] &quot;|********************| 100%  0.00sec 940.05min&quot;                                    
#&gt; [125] &quot;&quot;                                                                                  
#&gt; [126] &quot;|********************| 100%  0.00sec 941.44min&quot;                                    
#&gt; [127] &quot;&quot;                                                                                  
#&gt; [128] &quot;|********************| 100%  0.00sec 941.77min&quot;                                    
#&gt; [129] &quot;&quot;                                                                                  
#&gt; [130] &quot;|********************| 100%  0.00sec 942.88min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  33.037   0.172  33.215</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;      user    system   elapsed 
#&gt; 231667.26    111.62  62113.56</code></pre>
</div>
