---
title: "Full model with smoother prior: effects"
prerequisites:
    - data/modelled/pre-13-full-re-p2-burned.rds
    - data/processed/bwdata_41_model.fst
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
model_file &lt;- file.path(path_modelled, &quot;pre-13-full-re-p2.rds&quot;)
form_file &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, model_file)
model_file_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, model_file)

bwdata_model &lt;- fst::read_fst(bwdata_file)
form &lt;- readRDS(form_file)
model &lt;- readRDS(model_file_burned)</code></pre>
</div>
<div id="summary" class="section level2">
<h2>Summary</h2>
<pre class="r"><code>summary(model)</code></pre>
<pre><code>#&gt; 
#&gt; Call:
#&gt; bamlss(formula = form, family = &quot;binomial&quot;, data = bwdata_model, 
#&gt;     cores = 4, combine = FALSE, light = TRUE, n.iter = 8000, 
#&gt;     burnin = 0)
#&gt; ---
#&gt; Family: binomial 
#&gt; Link function: pi = logit
#&gt; *---
#&gt; Formula pi:
#&gt; ---
#&gt; premature ~ sex + born_race + birth_place + marital_status + 
#&gt;     study_years + consult_num + s(age, xt = hyper) + s(wk_ini, 
#&gt;     xt = hyper) + s(rivwk_conception, bs = &quot;cc&quot;, xt = hyper) + 
#&gt;     remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;, xt = hyper) + 
#&gt;     s(neg_mbsi_mean_1wk, pos_mbsi_mean_1wk, k = 70, xt = hyper) + 
#&gt;     s(neg_mckee_mean_8wk, pos_mckee_mean_8wk, k = 70, xt = hyper) + 
#&gt;     s(neg_ext_mbsi_mean_8wk, pos_ext_mbsi_mean_8wk, k = 70, xt = hyper)
#&gt; -
#&gt; Parametric coefficients:
#&gt;                                       Mean      2.5%       50%     97.5% parameters
#&gt; (Intercept)                      -3.321709 -3.710898 -3.327458 -2.890282     -0.521
#&gt; sexfemale                        -0.030548 -0.058354 -0.030423 -0.004605     -0.030
#&gt; born_raceindigenous               0.265587  0.225745  0.264884  0.310086      0.263
#&gt; born_raceNA                      -0.049139 -0.191550 -0.051221  0.093767     -0.057
#&gt; birth_placeanother health center  0.145411 -0.060407  0.143541  0.349025      0.135
#&gt; birth_placehome                   0.210457  0.172689  0.210390  0.249193      0.210
#&gt; birth_placeother                  0.349841  0.232386  0.348696  0.471600      0.351
#&gt; birth_placeNA                    -0.109602 -0.243538 -0.106660  0.021490     -0.109
#&gt; marital_statusmarried            -0.014705 -0.062613 -0.015145  0.035176     -0.014
#&gt; marital_statuswidow               0.040719 -0.376169  0.043265  0.445977      0.055
#&gt; marital_statusdivorced           -0.161983 -0.582619 -0.162313  0.301910     -0.170
#&gt; marital_statusconsensual union   -0.054799 -0.087593 -0.054575 -0.023186     -0.054
#&gt; marital_statusNA                 -0.004588 -0.126614 -0.006015  0.125783     -0.012
#&gt; study_years1 - 3                 -0.086898 -0.157163 -0.087168 -0.025076     -0.088
#&gt; study_years4 - 7                 -0.082733 -0.145568 -0.082317 -0.025400     -0.084
#&gt; study_years8 - 11                -0.002441 -0.062915 -0.001866  0.056117     -0.002
#&gt; study_years&gt; 12                   0.037920 -0.061961  0.040030  0.120730      0.038
#&gt; study_yearsNA                    -0.120912 -0.270881 -0.123257  0.033479     -0.124
#&gt; consult_num1 - 3                  0.526183  0.459091  0.526396  0.590791      0.522
#&gt; consult_num4 - 6                  0.254413  0.187710  0.254962  0.320474      0.251
#&gt; consult_num&gt; 7                   -0.525485 -0.597981 -0.525954 -0.456545     -0.529
#&gt; consult_numNA                     0.177374  0.027391  0.177372  0.326808      0.175
#&gt; remoteness                        0.051599 -0.420176  0.058109  0.482059     -0.065
#&gt; prop_tap_toilet                   1.090935  0.240525  1.104997  1.873832      0.503
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.8217 0.2154 0.9197     1
#&gt; -
#&gt; Smooth terms:
#&gt;                                                           Mean      2.5%       50%     97.5%
#&gt; s(age).tau21                                         2.017e-01 1.048e-01 1.902e-01 3.799e-01
#&gt; s(age).alpha                                         9.775e-01 8.339e-01 9.994e-01 1.000e+00
#&gt; s(age).edf                                           3.699e+00 3.209e+00 3.679e+00 4.270e+00
#&gt; s(wk_ini).tau21                                      1.349e+01 7.596e+00 1.283e+01 2.434e+01
#&gt; s(wk_ini).alpha                                      9.714e-01 8.151e-01 9.992e-01 1.000e+00
#&gt; s(wk_ini).edf                                        8.717e+00 8.568e+00 8.721e+00 8.840e+00
#&gt; s(rivwk_conception).tau21                            2.036e-04 7.592e-05 1.854e-04 4.526e-04
#&gt; s(rivwk_conception).alpha                            9.918e-01 9.490e-01 9.996e-01 1.000e+00
#&gt; s(rivwk_conception).edf                              4.155e+00 3.294e+00 4.155e+00 5.083e+00
#&gt; s(res_muni).tau21                                    8.614e-02 5.941e-02 8.401e-02 1.241e-01
#&gt; s(res_muni).alpha                                    8.204e-01 2.956e-01 9.332e-01 1.000e+00
#&gt; s(res_muni).edf                                      4.133e+01 4.066e+01 4.135e+01 4.187e+01
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).tau21         5.067e+00 3.399e+00 4.925e+00 7.414e+00
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).alpha         7.274e-01 5.386e-02 8.038e-01 1.000e+00
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).edf           5.968e+01 5.677e+01 5.977e+01 6.217e+01
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).tau21       8.324e+00 5.697e+00 8.189e+00 1.155e+01
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).alpha       7.560e-01 2.243e-01 8.165e-01 1.000e+00
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).edf         6.391e+01 6.217e+01 6.397e+01 6.529e+01
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).tau21 2.705e+02 2.016e+02 2.690e+02 3.619e+02
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).alpha 2.742e-01 2.265e-07 8.118e-02 1.000e+00
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).edf   6.813e+01 6.784e+01 6.814e+01 6.835e+01
#&gt;                                                      parameters
#&gt; s(age).tau21                                              0.424
#&gt; s(age).alpha                                                 NA
#&gt; s(age).edf                                                4.385
#&gt; s(wk_ini).tau21                                          44.459
#&gt; s(wk_ini).alpha                                              NA
#&gt; s(wk_ini).edf                                             8.913
#&gt; s(rivwk_conception).tau21                                 0.002
#&gt; s(rivwk_conception).alpha                                    NA
#&gt; s(rivwk_conception).edf                                   6.539
#&gt; s(res_muni).tau21                                         7.365
#&gt; s(res_muni).alpha                                            NA
#&gt; s(res_muni).edf                                          42.980
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).tau21             19.898
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).alpha                 NA
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).edf               66.104
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).tau21           20.700
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).alpha               NA
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).edf             66.821
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).tau21    772.420
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).alpha         NA
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).edf       68.690
#&gt; ---
#&gt; Sampler summary:
#&gt; -
#&gt; runtime = 56674.06
#&gt; ---
#&gt; Optimizer summary:
#&gt; -
#&gt; AICc = 152943.9 edf = 288.4333 logLik = -76183.21
#&gt; logPost = -77764.79 nobs = 291479 runtime = 5078.625</code></pre>
</div>
<div id="parametric-effects" class="section level2">
<h2>Parametric effects</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot2d_bamlss(model, bwdata_model, model = &quot;pi&quot;, term = &quot;remoteness&quot;, grid = 50,
              FUN = c95)
plot2d_bamlss(model, bwdata_model, model = &quot;pi&quot;, term = &quot;prop_tap_toilet&quot;, grid = 50,
              FUN = c95)</code></pre>
<p><img src="/birthweight/40-modelling/60-prematurity/pre-13-full-re-p2-10-effects_files/figure-html/unnamed-chunk-3-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="smooth-effects" class="section level2">
<h2>Smooth effects</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot(model, scale = 0, scheme = 2, spar = FALSE, contour = TRUE, image = TRUE)</code></pre>
<p><img src="/birthweight/40-modelling/60-prematurity/pre-13-full-re-p2-10-effects_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/60-prematurity/pre-13-full-re-p2-10-effects_files/figure-html/unnamed-chunk-4-2.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/60-prematurity/pre-13-full-re-p2-10-effects_files/figure-html/unnamed-chunk-4-3.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/60-prematurity/pre-13-full-re-p2-10-effects_files/figure-html/unnamed-chunk-4-4.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/60-prematurity/pre-13-full-re-p2-10-effects_files/figure-html/unnamed-chunk-4-5.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   6.842   0.299   7.210</code></pre>
</div>
