---
title: "Municipality one-term models: smooths"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/lbw-explore-smooths-muni.rds
---



<p>Simple univariate GAM models to evaluate the relationship birthweight and each covariates.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(mgcv)</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;nlme&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:dplyr&#39;:
#&gt; 
#&gt;     collapse</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre class="r"><code>library(purrr)

path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_out_model_data &lt;- file.path(path_modelled,  &quot;lbw-explore-smooths-muni.rds&quot;)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="exploratory-models-of-low-birthweight-with-municipality-covariates" class="section level2">
<h2>Exploratory models of low birthweight with municipality covariates</h2>
<pre class="r"><code>terms &lt;- list(
    ~ s(remoteness),
    ~ s(rur_prop),
    ~ s(prop_tap_toilet)
    )

data_model &lt;- tibble::as_tibble(expand.grid(
    formula = map(terms, ~ update(., lbw ~ .)),
    gamma = c(1, log(nrow(bwdata_model)), 18, 40)
))

data_model &lt;- data_model %&gt;%
    mutate(model = map2(formula, gamma,
                        ~ gam(.x, &quot;binomial&quot;, data = bwdata_model, gamma = .y)))

saveRDS(data_model, file = path_out_model_data)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  78.791   2.107  81.015</code></pre>
</div>
