---
title: "Full model with t-distribution: dic"
prerequisites:
    - data/modelled/bw-10-full-re-t-burned.rds
    - data/processed/bwdata_41_model.fst
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.8.0, GDAL 3.0.4, PROJ 6.3.1</code></pre>
<pre class="r"><code>library(ggplot2)

path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
model_file &lt;- file.path(path_modelled, &quot;bw-10-full-re-t.rds&quot;)
form_file &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, model_file)
model_file_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, model_file)

bwdata_model &lt;- fst::read_fst(bwdata_file)
form &lt;- readRDS(form_file)
model &lt;- readRDS(model_file_burned)</code></pre>
</div>
<div id="diagnostics" class="section level2">
<h2>Diagnostics</h2>
<pre class="r"><code>frame &lt;- bamlss.frame(form, family = TF, data = bwdata_model, model.matrix = FALSE,
                      smooth.construct = FALSE)
model$y &lt;- frame$y

par(mar = c(4, 4, 3, 1), mfrow = c(1, 2))
plot(model, which = &quot;qq-resid&quot;, spar = FALSE)
plot(model, which = &quot;hist-resid&quot;, spar = FALSE)</code></pre>
<p><img src="/birthweight/40-modelling/40-birthweight/bw-10-full-re-t-14-dic_files/figure-html/diagnostics-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="dic" class="section level2">
<h2>DIC</h2>
<pre class="r"><code>system.time(dic &lt;- DIC(model))</code></pre>
<pre><code>#&gt;     user   system  elapsed 
#&gt; 1563.380  219.187 1782.851</code></pre>
<pre class="r"><code>dic</code></pre>
<pre><code>#&gt;      DIC       pd
#&gt;  4420308 234.9712</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;     user   system  elapsed 
#&gt; 3338.252  540.038 3879.996</code></pre>
</div>
