---
title: "Full model with t-distribution and no rainfall: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/bw-15-full-no-rain-t.rds
---



<p>Birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-15-full-no-rain-t.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form_mu &lt;- born_weight ~ sex + born_race + birth_place +
    marital_status + study_years + consult_num + s(age) +
    s(wk_ini) + s(rivwk_conception, bs = &quot;cc&quot;) +
    remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;)

form_sigma &lt;- sigma ~ sex + born_race + birth_place +
    study_years + consult_num + s(age) +
    s(wk_ini) + s(res_muni, bs = &quot;re&quot;)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = TF, data = bwdata_model,
        n.iter = 8000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 4448776. logPost -2387552 logLik -2224293 edf 94.412 eps 0.0662 iteration   1&quot;
#&gt;   [2] &quot;AICc 4440890. logPost -2223450 logLik -2220334 edf 111.21 eps 0.0202 iteration   2&quot;
#&gt;   [3] &quot;AICc 4423476. logPost -2212706 logLik -2211608 edf 129.51 eps 0.0151 iteration   3&quot;
#&gt;   [4] &quot;AICc 4421423. logPost -2211649 logLik -2210566 edf 144.99 eps 0.0065 iteration   4&quot;
#&gt;   [5] &quot;AICc 4420664. logPost -2211060 logLik -2210183 edf 148.40 eps 0.0049 iteration   5&quot;
#&gt;   [6] &quot;AICc 4420573. logPost -2210920 logLik -2210133 edf 152.79 eps 0.0031 iteration   6&quot;
#&gt;   [7] &quot;AICc 4420557. logPost -2210911 logLik -2210123 edf 155.18 eps 0.0023 iteration   7&quot;
#&gt;   [8] &quot;AICc 4420551. logPost -2210908 logLik -2210120 edf 155.17 eps 0.0017 iteration   8&quot;
#&gt;   [9] &quot;AICc 4420547. logPost -2210906 logLik -2210118 edf 155.16 eps 0.0013 iteration   9&quot;
#&gt;  [10] &quot;AICc 4420544. logPost -2210905 logLik -2210117 edf 155.14 eps 0.0011 iteration  10&quot;
#&gt;  [11] &quot;AICc 4420543. logPost -2210904 logLik -2210116 edf 155.13 eps 0.0008 iteration  11&quot;
#&gt;  [12] &quot;AICc 4420542. logPost -2210903 logLik -2210115 edf 155.12 eps 0.0007 iteration  12&quot;
#&gt;  [13] &quot;AICc 4420541. logPost -2210902 logLik -2210115 edf 155.11 eps 0.0005 iteration  13&quot;
#&gt;  [14] &quot;AICc 4420541. logPost -2210902 logLik -2210115 edf 155.10 eps 0.0004 iteration  14&quot;
#&gt;  [15] &quot;AICc 4420540. logPost -2210902 logLik -2210115 edf 155.09 eps 0.0003 iteration  15&quot;
#&gt;  [16] &quot;AICc 4420540. logPost -2210902 logLik -2210115 edf 155.08 eps 0.0002 iteration  16&quot;
#&gt;  [17] &quot;AICc 4420540. logPost -2210901 logLik -2210115 edf 155.08 eps 0.0002 iteration  17&quot;
#&gt;  [18] &quot;AICc 4420540. logPost -2210901 logLik -2210115 edf 155.07 eps 0.0001 iteration  18&quot;
#&gt;  [19] &quot;AICc 4420540. logPost -2210901 logLik -2210115 edf 155.06 eps 0.0001 iteration  19&quot;
#&gt;  [20] &quot;AICc 4420540. logPost -2210901 logLik -2210115 edf 155.06 eps 0.0001 iteration  20&quot;
#&gt;  [21] &quot;AICc 4420540. logPost -2210901 logLik -2210115 edf 155.06 eps 0.0001 iteration  20&quot;
#&gt;  [22] &quot;elapsed time:  9.83min&quot;                                                            
#&gt;  [23] &quot;Starting the sampler...&quot;                                                           
#&gt;  [24] &quot;Starting the sampler...Starting the sampler...&quot;                                    
#&gt;  [25] &quot;&quot;                                                                                  
#&gt;  [26] &quot;Starting the sampler...&quot;                                                           
#&gt;  [27] &quot;&quot;                                                                                  
#&gt;  [28] &quot;|                    |   0% 865.28min&quot;                                             
#&gt;  [29] &quot;|                    |   0% 873.81min&quot;                                             
#&gt;  [30] &quot;|                    |   0% 910.33min&quot;                                             
#&gt;  [31] &quot;|                    |   0% 910.47min&quot;                                             
#&gt;  [32] &quot;|*                   |   5% 818.03min 43.05min&quot;                                    
#&gt;  [33] &quot;|*                   |   5% 819.78min 43.15min&quot;                                    
#&gt;  [34] &quot;|*                   |   5% 819.85min 43.15min&quot;                                    
#&gt;  [35] &quot;|*                   |   5% 821.04min 43.21min&quot;                                    
#&gt;  [36] &quot;|**                  |  10% 778.44min 86.49min&quot;                                    
#&gt;  [37] &quot;|**                  |  10% 780.25min 86.69min&quot;                                    
#&gt;  [38] &quot;|**                  |  10% 780.50min 86.72min&quot;                                    
#&gt;  [39] &quot;|**                  |  10% 781.17min 86.80min&quot;                                    
#&gt;  [40] &quot;|***                 |  15% 734.58min 129.63min&quot;                                   
#&gt;  [41] &quot;|***                 |  15% 735.61min 129.81min&quot;                                   
#&gt;  [42] &quot;|***                 |  15% 735.62min 129.81min&quot;                                   
#&gt;  [43] &quot;|***                 |  15% 736.09min 129.90min&quot;                                   
#&gt;  [44] &quot;|****                |  20% 691.55min 172.89min&quot;                                   
#&gt;  [45] &quot;|****                |  20% 693.05min 173.26min&quot;                                   
#&gt;  [46] &quot;|****                |  20% 693.09min 173.27min&quot;                                   
#&gt;  [47] &quot;|****                |  20% 693.59min 173.40min&quot;                                   
#&gt;  [48] &quot;|*****               |  25% 649.76min 216.59min&quot;                                   
#&gt;  [49] &quot;|*****               |  25% 650.55min 216.85min&quot;                                   
#&gt;  [50] &quot;|*****               |  25% 650.73min 216.91min&quot;                                   
#&gt;  [51] &quot;|*****               |  25% 651.15min 217.05min&quot;                                   
#&gt;  [52] &quot;|******              |  30% 606.35min 259.87min&quot;                                   
#&gt;  [53] &quot;|******              |  30% 606.75min 260.03min&quot;                                   
#&gt;  [54] &quot;|******              |  30% 606.97min 260.13min&quot;                                   
#&gt;  [55] &quot;|******              |  30% 607.65min 260.42min&quot;                                   
#&gt;  [56] &quot;|*******             |  35% 562.54min 302.91min&quot;                                   
#&gt;  [57] &quot;|*******             |  35% 562.87min 303.08min&quot;                                   
#&gt;  [58] &quot;|*******             |  35% 563.08min 303.20min&quot;                                   
#&gt;  [59] &quot;|*******             |  35% 563.57min 303.46min&quot;                                   
#&gt;  [60] &quot;|********            |  40% 519.25min 346.17min&quot;                                   
#&gt;  [61] &quot;|********            |  40% 519.64min 346.43min&quot;                                   
#&gt;  [62] &quot;|********            |  40% 519.75min 346.50min&quot;                                   
#&gt;  [63] &quot;|********            |  40% 520.54min 347.03min&quot;                                   
#&gt;  [64] &quot;|*********           |  45% 476.06min 389.50min&quot;                                   
#&gt;  [65] &quot;|*********           |  45% 476.36min 389.75min&quot;                                   
#&gt;  [66] &quot;|*********           |  45% 476.49min 389.86min&quot;                                   
#&gt;  [67] &quot;|*********           |  45% 477.13min 390.38min&quot;                                   
#&gt;  [68] &quot;|**********          |  50% 432.67min 432.67min&quot;                                   
#&gt;  [69] &quot;|**********          |  50% 432.91min 432.91min&quot;                                   
#&gt;  [70] &quot;|**********          |  50% 433.06min 433.06min&quot;                                   
#&gt;  [71] &quot;|**********          |  50% 433.57min 433.57min&quot;                                   
#&gt;  [72] &quot;|***********         |  55% 389.53min 476.09min&quot;                                   
#&gt;  [73] &quot;|***********         |  55% 389.73min 476.34min&quot;                                   
#&gt;  [74] &quot;|***********         |  55% 390.00min 476.67min&quot;                                   
#&gt;  [75] &quot;|***********         |  55% 390.30min 477.04min&quot;                                   
#&gt;  [76] &quot;|************        |  60% 346.31min 519.47min&quot;                                   
#&gt;  [77] &quot;|************        |  60% 346.78min 520.18min&quot;                                   
#&gt;  [78] &quot;|************        |  60% 346.82min 520.23min&quot;                                   
#&gt;  [79] &quot;|************        |  60% 347.05min 520.57min&quot;                                   
#&gt;  [80] &quot;|*************       |  65% 302.95min 562.63min&quot;                                   
#&gt;  [81] &quot;|*************       |  65% 303.36min 563.38min&quot;                                   
#&gt;  [82] &quot;|*************       |  65% 303.41min 563.47min&quot;                                   
#&gt;  [83] &quot;|*************       |  65% 303.59min 563.81min&quot;                                   
#&gt;  [84] &quot;|**************      |  70% 259.80min 606.19min&quot;                                   
#&gt;  [85] &quot;|**************      |  70% 260.12min 606.94min&quot;                                   
#&gt;  [86] &quot;|**************      |  70% 260.16min 607.05min&quot;                                   
#&gt;  [87] &quot;|**************      |  70% 260.26min 607.28min&quot;                                   
#&gt;  [88] &quot;|***************     |  75% 216.76min 650.29min&quot;                                   
#&gt;  [89] &quot;|***************     |  75% 216.96min 650.89min&quot;                                   
#&gt;  [90] &quot;|***************     |  75% 216.99min 650.98min&quot;                                   
#&gt;  [91] &quot;|***************     |  75% 217.05min 651.14min&quot;                                   
#&gt;  [92] &quot;|****************    |  80% 173.43min 693.71min&quot;                                   
#&gt;  [93] &quot;|****************    |  80% 173.56min 694.25min&quot;                                   
#&gt;  [94] &quot;|****************    |  80% 173.58min 694.33min&quot;                                   
#&gt;  [95] &quot;|****************    |  80% 173.65min 694.59min&quot;                                   
#&gt;  [96] &quot;|*****************   |  85% 130.08min 737.11min&quot;                                   
#&gt;  [97] &quot;|*****************   |  85% 130.15min 737.52min&quot;                                   
#&gt;  [98] &quot;|*****************   |  85% 130.19min 737.75min&quot;                                   
#&gt;  [99] &quot;|*****************   |  85% 130.27min 738.22min&quot;                                   
#&gt; [100] &quot;|******************  |  90% 86.68min 780.08min&quot;                                    
#&gt; [101] &quot;|******************  |  90% 86.72min 780.47min&quot;                                    
#&gt; [102] &quot;|******************  |  90% 86.75min 780.71min&quot;                                    
#&gt; [103] &quot;|******************  |  90% 86.80min 781.21min&quot;                                    
#&gt; [104] &quot;|******************* |  95% 43.35min 823.60min&quot;                                    
#&gt; [105] &quot;|******************* |  95% 43.36min 823.93min&quot;                                    
#&gt; [106] &quot;|******************* |  95% 43.39min 824.34min&quot;                                    
#&gt; [107] &quot;|******************* |  95% 43.41min 824.77min&quot;                                    
#&gt; [108] &quot;|********************| 100%  0.00sec 866.70min&quot;                                    
#&gt; [109] &quot;&quot;                                                                                  
#&gt; [110] &quot;|********************| 100%  0.00sec 867.02min&quot;                                    
#&gt; [111] &quot;&quot;                                                                                  
#&gt; [112] &quot;|********************| 100%  0.00sec 867.27min&quot;                                    
#&gt; [113] &quot;&quot;                                                                                  
#&gt; [114] &quot;|********************| 100%  0.00sec 867.63min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   9.272   0.032   9.305</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;       user     system    elapsed 
#&gt; 208859.318     40.262  52728.021</code></pre>
</div>
