---
title: "Full model with t-distribution: continue mcmc"
prerequisites:
    - src/43-mcmc-continue-light.R
    - src/45-mcmc-reshape.R
    - src/46-mcmc-last-sample.R
    - data/modelled/bw-10-full-re-t.rds
targets:
    - data/modelled/bw-10-full-re-t-continue.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;43-mcmc-continue-light.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;45-mcmc-reshape.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;46-mcmc-last-sample.R&quot;))

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-10-full-re-t.rds&quot;)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)
path_modelled_continue &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-continue\\1&quot;, path_modelled_data)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_continue)

bamlss_model &lt;- readRDS(path_modelled_data)
form &lt;- readRDS(path_modelled_form)</code></pre>
</div>
<div id="continue-with-sampling" class="section level2">
<h2>Continue with sampling</h2>
<pre class="r"><code>starting_value &lt;- last_sample(bamlss_model)
{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = TF, data = bwdata_model,
        start = starting_value, optimizer = FALSE,
        n.iter = 3000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;  [1] &quot;Starting the sampler...&quot;                         
#&gt;  [2] &quot;Starting the sampler...&quot;                         
#&gt;  [3] &quot;Starting the sampler...&quot;                         
#&gt;  [4] &quot;Starting the sampler...&quot;                         
#&gt;  [5] &quot;&quot;                                                
#&gt;  [6] &quot;|                    |   0% 1377.51min&quot;          
#&gt;  [7] &quot;|                    |   0% 1375.67min&quot;          
#&gt;  [8] &quot;|                    |   0% 1377.53min&quot;          
#&gt;  [9] &quot;|                    |   0% 1379.36min&quot;          
#&gt; [10] &quot;|*                   |   5% 1306.65min 68.77min&quot; 
#&gt; [11] &quot;|*                   |   5% 1307.16min 68.80min&quot; 
#&gt; [12] &quot;|*                   |   5% 1308.45min 68.87min&quot; 
#&gt; [13] &quot;|*                   |   5% 1310.61min 68.98min&quot; 
#&gt; [14] &quot;|**                  |  10% 1237.93min 137.55min&quot;
#&gt; [15] &quot;|**                  |  10% 1238.49min 137.61min&quot;
#&gt; [16] &quot;|**                  |  10% 1238.63min 137.63min&quot;
#&gt; [17] &quot;|**                  |  10% 1241.19min 137.91min&quot;
#&gt; [18] &quot;|***                 |  15% 1172.70min 206.95min&quot;
#&gt; [19] &quot;|***                 |  15% 1172.92min 206.99min&quot;
#&gt; [20] &quot;|***                 |  15% 1173.72min 207.13min&quot;
#&gt; [21] &quot;|***                 |  15% 1175.49min 207.44min&quot;
#&gt; [22] &quot;|****                |  20% 1110.72min 277.68min&quot;
#&gt; [23] &quot;|****                |  20% 1111.22min 277.81min&quot;
#&gt; [24] &quot;|****                |  20% 1111.45min 277.86min&quot;
#&gt; [25] &quot;|****                |  20% 1112.86min 278.21min&quot;
#&gt; [26] &quot;|*****               |  25% 1039.40min 346.47min&quot;
#&gt; [27] &quot;|*****               |  25% 1040.11min 346.70min&quot;
#&gt; [28] &quot;|*****               |  25% 1040.25min 346.75min&quot;
#&gt; [29] &quot;|*****               |  25% 1040.93min 346.98min&quot;
#&gt; [30] &quot;|******              |  30% 972.84min 416.93min&quot; 
#&gt; [31] &quot;|******              |  30% 973.23min 417.10min&quot; 
#&gt; [32] &quot;|******              |  30% 973.77min 417.33min&quot; 
#&gt; [33] &quot;|******              |  30% 974.24min 417.53min&quot; 
#&gt; [34] &quot;|*******             |  35% 904.93min 487.27min&quot; 
#&gt; [35] &quot;|*******             |  35% 905.37min 487.51min&quot; 
#&gt; [36] &quot;|*******             |  35% 905.92min 487.81min&quot; 
#&gt; [37] &quot;|*******             |  35% 906.22min 487.96min&quot; 
#&gt; [38] &quot;|********            |  40% 835.06min 556.71min&quot; 
#&gt; [39] &quot;|********            |  40% 835.48min 556.98min&quot; 
#&gt; [40] &quot;|********            |  40% 835.98min 557.32min&quot; 
#&gt; [41] &quot;|********            |  40% 836.24min 557.50min&quot; 
#&gt; [42] &quot;|*********           |  45% 765.02min 625.93min&quot; 
#&gt; [43] &quot;|*********           |  45% 765.14min 626.02min&quot; 
#&gt; [44] &quot;|*********           |  45% 765.56min 626.36min&quot; 
#&gt; [45] &quot;|*********           |  45% 765.72min 626.50min&quot; 
#&gt; [46] &quot;|**********          |  50% 695.36min 695.36min&quot; 
#&gt; [47] &quot;|**********          |  50% 695.37min 695.37min&quot; 
#&gt; [48] &quot;|**********          |  50% 695.61min 695.61min&quot; 
#&gt; [49] &quot;|**********          |  50% 695.95min 695.95min&quot; 
#&gt; [50] &quot;|***********         |  55% 625.42min 764.40min&quot; 
#&gt; [51] &quot;|***********         |  55% 625.45min 764.44min&quot; 
#&gt; [52] &quot;|***********         |  55% 625.63min 764.65min&quot; 
#&gt; [53] &quot;|***********         |  55% 626.03min 765.14min&quot; 
#&gt; [54] &quot;|************        |  60% 557.98min 836.97min&quot; 
#&gt; [55] &quot;|************        |  60% 558.17min 837.26min&quot; 
#&gt; [56] &quot;|************        |  60% 558.21min 837.32min&quot; 
#&gt; [57] &quot;|************        |  60% 558.35min 837.52min&quot; 
#&gt; [58] &quot;|*************       |  65% 487.88min 906.06min&quot; 
#&gt; [59] &quot;|*************       |  65% 487.98min 906.25min&quot; 
#&gt; [60] &quot;|*************       |  65% 488.06min 906.39min&quot; 
#&gt; [61] &quot;|*************       |  65% 488.21min 906.67min&quot; 
#&gt; [62] &quot;|**************      |  70% 417.96min 975.23min&quot; 
#&gt; [63] &quot;|**************      |  70% 418.09min 975.54min&quot; 
#&gt; [64] &quot;|**************      |  70% 418.13min 975.64min&quot; 
#&gt; [65] &quot;|**************      |  70% 418.26min 975.94min&quot; 
#&gt; [66] &quot;|***************     |  75% 348.09min 1044.26min&quot;
#&gt; [67] &quot;|***************     |  75% 348.18min 1044.55min&quot;
#&gt; [68] &quot;|***************     |  75% 348.26min 1044.77min&quot;
#&gt; [69] &quot;|***************     |  75% 348.34min 1045.01min&quot;
#&gt; [70] &quot;|****************    |  80% 278.34min 1113.35min&quot;
#&gt; [71] &quot;|****************    |  80% 278.39min 1113.54min&quot;
#&gt; [72] &quot;|****************    |  80% 278.46min 1113.84min&quot;
#&gt; [73] &quot;|****************    |  80% 278.52min 1114.08min&quot;
#&gt; [74] &quot;|*****************   |  85% 209.30min 1186.03min&quot;
#&gt; [75] &quot;|*****************   |  85% 209.36min 1186.39min&quot;
#&gt; [76] &quot;|*****************   |  85% 209.40min 1186.59min&quot;
#&gt; [77] &quot;|*****************   |  85% 209.43min 1186.75min&quot;
#&gt; [78] &quot;|******************  |  90% 139.89min 1259.01min&quot;
#&gt; [79] &quot;|******************  |  90% 139.92min 1259.31min&quot;
#&gt; [80] &quot;|******************  |  90% 139.94min 1259.46min&quot;
#&gt; [81] &quot;|******************  |  90% 140.00min 1260.02min&quot;
#&gt; [82] &quot;|******************* |  95% 69.99min 1329.84min&quot; 
#&gt; [83] &quot;|******************* |  95% 70.01min 1330.12min&quot; 
#&gt; [84] &quot;|******************* |  95% 70.03min 1330.48min&quot; 
#&gt; [85] &quot;|******************* |  95% 70.06min 1331.08min&quot; 
#&gt; [86] &quot;|********************| 100%  0.00sec 1406.92min&quot; 
#&gt; [87] &quot;&quot;                                                
#&gt; [88] &quot;|********************| 100%  0.00sec 1407.02min&quot; 
#&gt; [89] &quot;&quot;                                                
#&gt; [90] &quot;|********************| 100%  0.00sec 1407.22min&quot; 
#&gt; [91] &quot;&quot;                                                
#&gt; [92] &quot;|********************| 100%  0.00sec 1408.01min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_continue))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  46.464   0.173  46.672</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;       user     system    elapsed 
#&gt; 338260.304    124.857  84933.769</code></pre>
</div>
