---
title: "Gaussian full model: municipality effects"
prerequisites:
    - data/modelled/bw-12-full-re-burned.rds
    - data/processed/bwdata_41_model.fst
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.8.0, GDAL 3.0.4, PROJ 6.3.1</code></pre>
<pre class="r"><code>library(ggplot2)

path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
model_file &lt;- file.path(path_modelled, &quot;bw-12-full-re.rds&quot;)
form_file &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, model_file)
model_file_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, model_file)

bwdata_model &lt;- fst::read_fst(bwdata_file)
form &lt;- readRDS(form_file)
model &lt;- readRDS(model_file_burned)

ama &lt;- st_read(file.path(path_processed, &quot;ama_05_62.gpkg&quot;))</code></pre>
<pre><code>#&gt; Reading layer `ama_05_62&#39; from data source `/home/rstudio/Documents/Projects/data-amazonia/70-studies/birthweight/data/processed/ama_05_62.gpkg&#39; using driver `GPKG&#39;
#&gt; Simple feature collection with 62 features and 373 fields
#&gt; geometry type:  MULTIPOLYGON
#&gt; dimension:      XY
#&gt; bbox:           xmin: 1573261 ymin: 8909613 xmax: 3542869 ymax: 10248330
#&gt; projected CRS:  unnamed</code></pre>
</div>
<div id="municipality-effects" class="section level2">
<h2>Municipality effects</h2>
<pre class="r"><code>muni_data &lt;- tibble::tibble( res_muni = unique(bwdata_model$res_muni))
muni_data[, c(&quot;mu_lower&quot;, &quot;mu_mean&quot;, &quot;mu_upper&quot;)] &lt;-
    predict(model, muni_data, &quot;mu&quot;, &quot;s(res_muni)&quot;, FUN = c95, intercept = FALSE)
muni_data[, c(&quot;sigma_lower&quot;, &quot;sigma_mean&quot;, &quot;sigma_upper&quot;)] &lt;-
    predict(model, muni_data, &quot;sigma&quot;, &quot;s(res_muni)&quot;, FUN = function(x) c95(exp(x)),
            intercept = FALSE)

ama &lt;- ama %&gt;%
    dplyr::select(mun_code, inc_study, mun_name) %&gt;%
    dplyr::left_join(muni_data, by = c(&quot;mun_code&quot; = &quot;res_muni&quot;))</code></pre>
</div>
<div id="visualize-effects-on-mu" class="section level2">
<h2>Visualize effects on mu</h2>
<pre class="r"><code>ggplot(ama) +
    geom_sf(aes(fill = mu_mean)) +
    scale_fill_fermenter(n.breaks = 7, palette = &quot;RdBu&quot;, direction = 1)</code></pre>
<p><img src="/birthweight/40-modelling/40-birthweight/bw-12-full-re-12-effects-muni_files/figure-html/unnamed-chunk-3-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>ama %&gt;%
    dplyr::filter(inc_study) %&gt;%
    dplyr::arrange(mu_mean) %&gt;%
    dplyr::mutate(mun_name = factor(mun_name, mun_name)) %&gt;%
    ggplot() +
    geom_errorbarh(aes(y = mun_name, xmin = mu_lower, xmax = mu_upper)) +
    geom_vline(xintercept = 0, linetype = 2) +
    geom_point(aes(y = mun_name, x = mu_mean), col = 2) +
    theme(axis.title.y = element_blank(),
          axis.title.x = element_blank())</code></pre>
<p><img src="/birthweight/40-modelling/40-birthweight/bw-12-full-re-12-effects-muni_files/figure-html/unnamed-chunk-3-2.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="visualize-effects-on-sigma" class="section level2">
<h2>Visualize effects on sigma</h2>
<pre class="r"><code>ggplot(ama) +
    geom_sf(aes(fill = sigma_mean)) +
    scale_fill_fermenter(n.breaks = 7, palette = &quot;RdBu&quot;, direction = 1)</code></pre>
<p><img src="/birthweight/40-modelling/40-birthweight/bw-12-full-re-12-effects-muni_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>ama %&gt;%
    dplyr::filter(inc_study) %&gt;%
    dplyr::arrange(sigma_mean) %&gt;%
    dplyr::mutate(mun_name = factor(mun_name, mun_name)) %&gt;%
    ggplot() +
    geom_errorbarh(aes(y = mun_name, xmin = sigma_lower, xmax = sigma_upper)) +
    geom_vline(xintercept = 1, linetype = 2) +
    geom_point(aes(y = mun_name, x = sigma_mean), col = 2) +
    theme(axis.title.y = element_blank(),
          axis.title.x = element_blank())</code></pre>
<p><img src="/birthweight/40-modelling/40-birthweight/bw-12-full-re-12-effects-muni_files/figure-html/unnamed-chunk-4-2.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="testing-spatial-correlation" class="section level2">
<h2>Testing Spatial Correlation</h2>
<pre class="r"><code>ama2 &lt;- ama %&gt;% dplyr::filter(inc_study)

listw &lt;- spdep::nb2listw(spdep::poly2nb(as(ama2, &quot;Spatial&quot;)))</code></pre>
<pre><code>#&gt; Warning in showSRID(uprojargs, format = &quot;PROJ&quot;, multiline = &quot;NO&quot;): Discarded datum Unknown based on
#&gt; GRS80 ellipsoid in CRS definition</code></pre>
<pre class="r"><code>MC_mu &lt;- spdep::moran.mc(ama2$mu_mean, listw, nsim = 1000, alternative = &quot;greater&quot;)
MC_mu</code></pre>
<pre><code>#&gt; 
#&gt;  Monte-Carlo simulation of Moran I
#&gt; 
#&gt; data:  ama2$mu_mean 
#&gt; weights: listw  
#&gt; number of simulations + 1: 1001 
#&gt; 
#&gt; statistic = 0.034358, observed rank = 724, p-value = 0.2767
#&gt; alternative hypothesis: greater</code></pre>
<pre class="r"><code>MC_sigma &lt;- spdep::moran.mc(ama2$mu_mean, listw, nsim = 1000, alternative = &quot;greater&quot;)
MC_sigma</code></pre>
<pre><code>#&gt; 
#&gt;  Monte-Carlo simulation of Moran I
#&gt; 
#&gt; data:  ama2$mu_mean 
#&gt; weights: listw  
#&gt; number of simulations + 1: 1001 
#&gt; 
#&gt; statistic = 0.034358, observed rank = 745, p-value = 0.2557
#&gt; alternative hypothesis: greater</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   8.222   0.331   8.628</code></pre>
</div>
