---
title: "Gaussian full model: effects"
prerequisites:
    - data/modelled/bw-12-full-re-burned.rds
    - data/processed/bwdata_41_model.fst
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
model_file &lt;- file.path(path_modelled, &quot;bw-12-full-re.rds&quot;)
model_file_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, model_file)

bwdata_model &lt;- fst::read_fst(bwdata_file)
model &lt;- readRDS(model_file_burned)</code></pre>
</div>
<div id="summary" class="section level2">
<h2>Summary</h2>
<pre class="r"><code>summary(model)</code></pre>
<pre><code>#&gt; 
#&gt; Call:
#&gt; bamlss(formula = form, data = bwdata_model, cores = 4, combine = FALSE, 
#&gt;     light = TRUE, n.iter = 7000, burnin = 0)
#&gt; ---
#&gt; Family: gaussian 
#&gt; Link function: mu = identity, sigma = log
#&gt; *---
#&gt; Formula mu:
#&gt; ---
#&gt; born_weight ~ sex + born_race + birth_place + marital_status + 
#&gt;     study_years + consult_num + s(age) + s(wk_ini) + s(rivwk_conception, 
#&gt;     bs = &quot;cc&quot;) + remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;) + 
#&gt;     s(neg_mbsi_mean_1wk, pos_mbsi_mean_1wk, k = 70) + s(neg_mckee_mean_8wk, 
#&gt;     pos_mckee_mean_8wk, k = 70) + s(neg_ext_mbsi_mean_8wk, pos_ext_mbsi_mean_8wk, 
#&gt;     k = 70)
#&gt; -
#&gt; Parametric coefficients:
#&gt;                                      Mean     2.5%      50%    97.5% parameters
#&gt; (Intercept)                      3077.619 3018.176 3075.890 3139.415   3106.391
#&gt; sexfemale                         -98.479 -101.988  -98.539  -94.971    -98.517
#&gt; born_raceindigenous               -53.840  -59.400  -53.895  -48.534    -53.640
#&gt; born_raceNA                         8.850  -12.769    8.526   31.249      8.611
#&gt; birth_placeanother health center   13.077  -18.675   14.086   43.333     12.718
#&gt; birth_placehome                   -59.856  -65.679  -59.817  -53.710    -59.795
#&gt; birth_placeother                  -94.457 -115.389  -94.351  -72.897    -94.239
#&gt; birth_placeNA                    -103.956 -123.952 -104.190  -81.944   -103.600
#&gt; marital_statusmarried              33.531   27.463   33.735   39.415     33.640
#&gt; marital_statuswidow                -3.584  -62.977   -3.324   57.171     -4.970
#&gt; marital_statusdivorced            -23.704  -74.495  -23.254   28.521    -24.805
#&gt; marital_statusconsensual union     29.965   25.447   29.968   34.798     30.259
#&gt; marital_statusNA                   21.871    6.706   21.880   37.624     22.101
#&gt; study_years1 - 3                   63.266   53.286   63.386   72.699     63.280
#&gt; study_years4 - 7                   81.834   72.990   81.850   90.401     81.951
#&gt; study_years8 - 11                  71.959   62.539   71.808   81.233     72.151
#&gt; study_years&gt; 12                    65.458   54.005   65.601   77.196     65.876
#&gt; study_yearsNA                      47.014   23.689   47.053   69.493     46.507
#&gt; consult_num1 - 3                   57.371   49.060   57.295   66.653     57.662
#&gt; consult_num4 - 6                  109.385  101.257  109.338  118.302    109.492
#&gt; consult_num&gt; 7                    177.518  168.676  177.571  186.472    177.542
#&gt; consult_numNA                       7.029  -14.717    7.025   30.339      6.508
#&gt; remoteness                        -19.046  -85.957  -19.393   47.651    -24.895
#&gt; prop_tap_toilet                    98.753  -32.020  101.156  233.388    -90.782
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.9886 0.9446 1.0000     1
#&gt; -
#&gt; Smooth terms:
#&gt;                                                           Mean      2.5%       50%     97.5%
#&gt; s(age).tau21                                         1.977e+05 5.542e+04 1.537e+05 5.985e+05
#&gt; s(age).alpha                                         1.000e+00 1.000e+00 1.000e+00 1.000e+00
#&gt; s(age).edf                                           6.580e+00 5.855e+00 6.572e+00 7.313e+00
#&gt; s(wk_ini).tau21                                      3.627e+03 8.268e+01 8.355e+02 3.224e+04
#&gt; s(wk_ini).alpha                                      1.000e+00 1.000e+00 1.000e+00 1.000e+00
#&gt; s(wk_ini).edf                                        4.332e+00 2.265e+00 4.031e+00 7.875e+00
#&gt; s(rivwk_conception).tau21                            9.478e-01 2.836e-02 4.640e-01 5.182e+00
#&gt; s(rivwk_conception).alpha                            1.000e+00 1.000e+00 1.000e+00 1.000e+00
#&gt; s(rivwk_conception).edf                              2.390e+00 3.961e-01 2.345e+00 4.623e+00
#&gt; s(res_muni).tau21                                    1.830e+03 1.167e+03 1.756e+03 2.877e+03
#&gt; s(res_muni).alpha                                    1.000e+00 1.000e+00 1.000e+00 1.000e+00
#&gt; s(res_muni).edf                                      4.174e+01 4.115e+01 4.176e+01 4.222e+01
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).tau21         1.520e+03 1.041e+02 1.102e+03 4.817e+03
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).alpha         1.000e+00 1.000e+00 1.000e+00 1.000e+00
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).edf           1.735e+01 5.853e+00 1.683e+01 3.073e+01
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).tau21       3.406e+03 1.183e+03 3.041e+03 7.376e+03
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).alpha       1.000e+00 1.000e+00 1.000e+00 1.000e+00
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).edf         2.864e+01 1.939e+01 2.844e+01 3.869e+01
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).tau21 1.116e+05 6.618e+04 1.082e+05 1.769e+05
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).alpha 1.000e+00 1.000e+00 1.000e+00 1.000e+00
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).edf   5.730e+01 5.316e+01 5.730e+01 6.090e+01
#&gt;                                                      parameters
#&gt; s(age).tau21                                          5.464e+04
#&gt; s(age).alpha                                                 NA
#&gt; s(age).edf                                            5.881e+00
#&gt; s(wk_ini).tau21                                       1.166e+05
#&gt; s(wk_ini).alpha                                              NA
#&gt; s(wk_ini).edf                                         8.603e+00
#&gt; s(rivwk_conception).tau21                             3.230e-01
#&gt; s(rivwk_conception).alpha                                    NA
#&gt; s(rivwk_conception).edf                               2.063e+00
#&gt; s(res_muni).tau21                                     3.729e+03
#&gt; s(res_muni).alpha                                            NA
#&gt; s(res_muni).edf                                       4.240e+01
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).tau21          1.090e+04
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).alpha                 NA
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).edf            3.926e+01
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).tau21        8.470e+03
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).alpha               NA
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).edf          3.971e+01
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).tau21  3.186e+05
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).alpha         NA
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).edf    6.377e+01
#&gt; ---
#&gt; Formula sigma:
#&gt; ---
#&gt; sigma ~ sex + born_race + birth_place + study_years + consult_num + 
#&gt;     s(age) + s(wk_ini) + s(res_muni, bs = &quot;re&quot;)
#&gt; -
#&gt; Parametric coefficients:
#&gt;                                       Mean      2.5%       50%     97.5% parameters
#&gt; (Intercept)                       6.350902  6.337247  6.350610  6.366726      0.168
#&gt; sexfemale                        -0.044834 -0.049633 -0.044746 -0.040103     -0.045
#&gt; born_raceindigenous              -0.074073 -0.083292 -0.073897 -0.065064     -0.074
#&gt; born_raceNA                       0.003023 -0.029275  0.002383  0.035611      0.003
#&gt; birth_placeanother health center  0.047802  0.003670  0.047814  0.090789      0.047
#&gt; birth_placehome                   0.015113  0.007216  0.015159  0.023077      0.015
#&gt; birth_placeother                  0.087372  0.058241  0.087892  0.115886      0.086
#&gt; birth_placeNA                     0.021559 -0.008705  0.021234  0.053281      0.022
#&gt; study_years1 - 3                 -0.005366 -0.019164 -0.005103  0.008075     -0.005
#&gt; study_years4 - 7                 -0.002014 -0.014726 -0.001820  0.010564     -0.002
#&gt; study_years8 - 11                 0.025644  0.012229  0.025984  0.038795      0.026
#&gt; study_years&gt; 12                   0.045591  0.027834  0.045485  0.062166      0.046
#&gt; study_yearsNA                    -0.007150 -0.039975 -0.006873  0.026541     -0.007
#&gt; consult_num1 - 3                 -0.075669 -0.086735 -0.075741 -0.063678     -0.076
#&gt; consult_num4 - 6                 -0.155835 -0.166889 -0.155809 -0.143868     -0.156
#&gt; consult_num&gt; 7                   -0.212554 -0.224049 -0.212744 -0.200100     -0.212
#&gt; consult_numNA                    -0.011255 -0.039495 -0.010867  0.016002     -0.012
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.9393 0.7144 0.9866     1
#&gt; -
#&gt; Smooth terms:
#&gt;                        Mean      2.5%       50%     97.5% parameters
#&gt; s(age).tau21       0.046685  0.007912  0.033372  0.163191      0.031
#&gt; s(age).alpha       0.975315  0.848687  0.996519  1.000000         NA
#&gt; s(age).edf         4.995966  3.639184  4.980607  6.336074      4.920
#&gt; s(wk_ini).tau21    0.043720  0.009475  0.033226  0.151527      0.075
#&gt; s(wk_ini).alpha    0.980771  0.887841  0.996616  1.000000         NA
#&gt; s(wk_ini).edf      7.199591  5.649132  7.268384  8.438409      7.946
#&gt; s(res_muni).tau21 38.304091 23.828566 37.063513 59.660053     38.146
#&gt; s(res_muni).alpha  0.939796  0.708036  0.992603  1.000000         NA
#&gt; s(res_muni).edf   42.999866 42.999806 42.999869 42.999920     43.000
#&gt; ---
#&gt; Sampler summary:
#&gt; -
#&gt; runtime = 61126.91
#&gt; ---
#&gt; Optimizer summary:
#&gt; -
#&gt; AICc = 4433567 edf = 298.5487 logLik = -2216485
#&gt; logPost = -2218409 nobs = 291479 runtime = 1284.172</code></pre>
</div>
<div id="parametric-effects" class="section level2">
<h2>Parametric effects</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot2d_bamlss(model, bwdata_model, model = &quot;mu&quot;, term = &quot;remoteness&quot;, grid = 50,
              FUN = c95)
plot2d_bamlss(model, bwdata_model, model = &quot;mu&quot;, term = &quot;prop_tap_toilet&quot;, grid = 50,
              FUN = c95)</code></pre>
<p><img src="/birthweight/40-modelling/40-birthweight/bw-12-full-re-10-effects_files/figure-html/unnamed-chunk-3-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="smooth-effects" class="section level2">
<h2>Smooth effects</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot(model, scale = 0, scheme = 2, spar = FALSE, image = TRUE, contour = TRUE)</code></pre>
<p><img src="/birthweight/40-modelling/40-birthweight/bw-12-full-re-10-effects_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-12-full-re-10-effects_files/figure-html/unnamed-chunk-4-2.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-12-full-re-10-effects_files/figure-html/unnamed-chunk-4-3.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-12-full-re-10-effects_files/figure-html/unnamed-chunk-4-4.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-12-full-re-10-effects_files/figure-html/unnamed-chunk-4-5.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-12-full-re-10-effects_files/figure-html/unnamed-chunk-4-6.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-12-full-re-10-effects_files/figure-html/unnamed-chunk-4-7.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  10.591   0.315  11.020</code></pre>
</div>
