---
title: "Full model with t-distribution: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/bw-10-full-re-t.rds
---



<p>Birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-10-full-re-t.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form_mu_aux &lt;- born_weight ~ sex + born_race + birth_place +
    marital_status + study_years + consult_num + s(age) +
    s(wk_ini) + s(rivwk_conception, bs = &quot;cc&quot;) +
    remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;)

form_mu &lt;- update(form_mu_aux, . ~ . +
                s(neg_mbsi_mean_1wk, pos_mbsi_mean_1wk, k = 70) +
                s(neg_mckee_mean_8wk, pos_mckee_mean_8wk, k = 70) +
                s(neg_ext_mbsi_mean_8wk, pos_ext_mbsi_mean_8wk, k = 70))

form_sigma &lt;- sigma ~ sex + born_race + birth_place +
    study_years + consult_num + s(age) +
    s(wk_ini) + s(res_muni, bs = &quot;re&quot;)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = TF, data = bwdata_model,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 4448681. logPost -2386947 logLik -2224240 edf 100.38 eps 0.0663 iteration   1&quot;
#&gt;   [2] &quot;AICc 4440900. logPost -2223494 logLik -2220332 edf 117.54 eps 0.0202 iteration   2&quot;
#&gt;   [3] &quot;AICc 4423473. logPost -2212970 logLik -2211597 edf 138.75 eps 0.0151 iteration   3&quot;
#&gt;   [4] &quot;AICc 4421401. logPost -2212141 logLik -2210533 edf 166.59 eps 0.0064 iteration   4&quot;
#&gt;   [5] &quot;AICc 4420583. logPost -2211746 logLik -2210087 edf 203.97 eps 0.0049 iteration   5&quot;
#&gt;   [6] &quot;AICc 4420401. logPost -2211676 logLik -2209959 edf 240.68 eps 0.0032 iteration   6&quot;
#&gt;   [7] &quot;AICc 4420322. logPost -2211685 logLik -2209896 edf 264.82 eps 0.0025 iteration   7&quot;
#&gt;   [8] &quot;AICc 4420307. logPost -2211683 logLik -2209886 edf 266.38 eps 0.0018 iteration   8&quot;
#&gt;   [9] &quot;AICc 4420301. logPost -2211678 logLik -2209884 edf 265.69 eps 0.0013 iteration   9&quot;
#&gt;  [10] &quot;AICc 4420297. logPost -2211673 logLik -2209883 edf 264.94 eps 0.0010 iteration  10&quot;
#&gt;  [11] &quot;AICc 4420295. logPost -2211670 logLik -2209883 edf 264.20 eps 0.0008 iteration  11&quot;
#&gt;  [12] &quot;AICc 4420294. logPost -2211666 logLik -2209883 edf 263.51 eps 0.0007 iteration  12&quot;
#&gt;  [13] &quot;AICc 4420293. logPost -2211663 logLik -2209883 edf 262.85 eps 0.0005 iteration  13&quot;
#&gt;  [14] &quot;AICc 4420293. logPost -2211660 logLik -2209884 edf 262.22 eps 0.0004 iteration  14&quot;
#&gt;  [15] &quot;AICc 4420293. logPost -2211658 logLik -2209884 edf 261.62 eps 0.0003 iteration  15&quot;
#&gt;  [16] &quot;AICc 4420293. logPost -2211655 logLik -2209885 edf 261.07 eps 0.0002 iteration  16&quot;
#&gt;  [17] &quot;AICc 4420292. logPost -2211653 logLik -2209885 edf 260.57 eps 0.0002 iteration  17&quot;
#&gt;  [18] &quot;AICc 4420293. logPost -2211651 logLik -2209886 edf 260.13 eps 0.0001 iteration  18&quot;
#&gt;  [19] &quot;AICc 4420293. logPost -2211649 logLik -2209886 edf 259.75 eps 0.0001 iteration  19&quot;
#&gt;  [20] &quot;AICc 4420293. logPost -2211647 logLik -2209886 edf 259.41 eps 0.0001 iteration  20&quot;
#&gt;  [21] &quot;AICc 4420293. logPost -2211647 logLik -2209886 edf 259.41 eps 0.0001 iteration  20&quot;
#&gt;  [22] &quot;elapsed time: 92.69min&quot;                                                            
#&gt;  [23] &quot;Starting the sampler...&quot;                                                           
#&gt;  [24] &quot;Starting the sampler...&quot;                                                           
#&gt;  [25] &quot;Starting the sampler...&quot;                                                           
#&gt;  [26] &quot;Starting the sampler...&quot;                                                           
#&gt;  [27] &quot;&quot;                                                                                  
#&gt;  [28] &quot;|                    |   0% 455.90min&quot;                                             
#&gt;  [29] &quot;|                    |   0% 456.27min&quot;                                             
#&gt;  [30] &quot;|                    |   0% 457.15min&quot;                                             
#&gt;  [31] &quot;|                    |   0% 457.97min&quot;                                             
#&gt;  [32] &quot;|*                   |   5% 435.45min 22.92min&quot;                                    
#&gt;  [33] &quot;|*                   |   5% 435.41min 22.92min&quot;                                    
#&gt;  [34] &quot;|*                   |   5% 436.16min 22.96min&quot;                                    
#&gt;  [35] &quot;|*                   |   5% 437.41min 23.02min&quot;                                    
#&gt;  [36] &quot;|**                  |  10% 412.22min 45.80min&quot;                                    
#&gt;  [37] &quot;|**                  |  10% 413.00min 45.89min&quot;                                    
#&gt;  [38] &quot;|**                  |  10% 413.27min 45.92min&quot;                                    
#&gt;  [39] &quot;|**                  |  10% 414.97min 46.11min&quot;                                    
#&gt;  [40] &quot;|***                 |  15% 389.19min 68.68min&quot;                                    
#&gt;  [41] &quot;|***                 |  15% 389.97min 68.82min&quot;                                    
#&gt;  [42] &quot;|***                 |  15% 390.04min 68.83min&quot;                                    
#&gt;  [43] &quot;|***                 |  15% 391.59min 69.10min&quot;                                    
#&gt;  [44] &quot;|****                |  20% 366.23min 91.56min&quot;                                    
#&gt;  [45] &quot;|****                |  20% 366.94min 91.73min&quot;                                    
#&gt;  [46] &quot;|****                |  20% 367.01min 91.75min&quot;                                    
#&gt;  [47] &quot;|****                |  20% 368.44min 92.11min&quot;                                    
#&gt;  [48] &quot;|*****               |  25% 343.28min 114.43min&quot;                                   
#&gt;  [49] &quot;|*****               |  25% 343.93min 114.64min&quot;                                   
#&gt;  [50] &quot;|*****               |  25% 344.05min 114.68min&quot;                                   
#&gt;  [51] &quot;|*****               |  25% 345.31min 115.10min&quot;                                   
#&gt;  [52] &quot;|******              |  30% 320.36min 137.30min&quot;                                   
#&gt;  [53] &quot;|******              |  30% 320.92min 137.54min&quot;                                   
#&gt;  [54] &quot;|******              |  30% 321.10min 137.61min&quot;                                   
#&gt;  [55] &quot;|******              |  30% 322.25min 138.11min&quot;                                   
#&gt;  [56] &quot;|*******             |  35% 297.47min 160.18min&quot;                                   
#&gt;  [57] &quot;|*******             |  35% 297.95min 160.43min&quot;                                   
#&gt;  [58] &quot;|*******             |  35% 298.17min 160.56min&quot;                                   
#&gt;  [59] &quot;|*******             |  35% 299.19min 161.10min&quot;                                   
#&gt;  [60] &quot;|********            |  40% 274.64min 183.09min&quot;                                   
#&gt;  [61] &quot;|********            |  40% 275.12min 183.41min&quot;                                   
#&gt;  [62] &quot;|********            |  40% 275.24min 183.50min&quot;                                   
#&gt;  [63] &quot;|********            |  40% 276.04min 184.02min&quot;                                   
#&gt;  [64] &quot;|*********           |  45% 251.76min 205.99min&quot;                                   
#&gt;  [65] &quot;|*********           |  45% 252.25min 206.39min&quot;                                   
#&gt;  [66] &quot;|*********           |  45% 252.30min 206.43min&quot;                                   
#&gt;  [67] &quot;|*********           |  45% 252.93min 206.94min&quot;                                   
#&gt;  [68] &quot;|**********          |  50% 228.88min 228.88min&quot;                                   
#&gt;  [69] &quot;|**********          |  50% 229.36min 229.36min&quot;                                   
#&gt;  [70] &quot;|**********          |  50% 229.37min 229.37min&quot;                                   
#&gt;  [71] &quot;|**********          |  50% 229.87min 229.87min&quot;                                   
#&gt;  [72] &quot;|***********         |  55% 206.00min 251.77min&quot;                                   
#&gt;  [73] &quot;|***********         |  55% 206.44min 252.31min&quot;                                   
#&gt;  [74] &quot;|***********         |  55% 206.47min 252.35min&quot;                                   
#&gt;  [75] &quot;|***********         |  55% 206.83min 252.80min&quot;                                   
#&gt;  [76] &quot;|************        |  60% 183.10min 274.65min&quot;                                   
#&gt;  [77] &quot;|************        |  60% 183.50min 275.25min&quot;                                   
#&gt;  [78] &quot;|************        |  60% 183.53min 275.30min&quot;                                   
#&gt;  [79] &quot;|************        |  60% 183.82min 275.73min&quot;                                   
#&gt;  [80] &quot;|*************       |  65% 160.20min 297.52min&quot;                                   
#&gt;  [81] &quot;|*************       |  65% 160.56min 298.18min&quot;                                   
#&gt;  [82] &quot;|*************       |  65% 160.61min 298.27min&quot;                                   
#&gt;  [83] &quot;|*************       |  65% 160.82min 298.67min&quot;                                   
#&gt;  [84] &quot;|**************      |  70% 137.31min 320.39min&quot;                                   
#&gt;  [85] &quot;|**************      |  70% 137.61min 321.10min&quot;                                   
#&gt;  [86] &quot;|**************      |  70% 137.66min 321.20min&quot;                                   
#&gt;  [87] &quot;|**************      |  70% 137.84min 321.62min&quot;                                   
#&gt;  [88] &quot;|***************     |  75% 114.42min 343.27min&quot;                                   
#&gt;  [89] &quot;|***************     |  75% 114.67min 344.02min&quot;                                   
#&gt;  [90] &quot;|***************     |  75% 114.70min 344.10min&quot;                                   
#&gt;  [91] &quot;|***************     |  75% 114.87min 344.62min&quot;                                   
#&gt;  [92] &quot;|****************    |  80% 91.55min 366.21min&quot;                                    
#&gt;  [93] &quot;|****************    |  80% 91.72min 366.90min&quot;                                    
#&gt;  [94] &quot;|****************    |  80% 91.75min 367.01min&quot;                                    
#&gt;  [95] &quot;|****************    |  80% 91.90min 367.60min&quot;                                    
#&gt;  [96] &quot;|*****************   |  85% 68.68min 389.17min&quot;                                    
#&gt;  [97] &quot;|*****************   |  85% 68.79min 389.79min&quot;                                    
#&gt;  [98] &quot;|*****************   |  85% 68.81min 389.91min&quot;                                    
#&gt;  [99] &quot;|*****************   |  85% 68.92min 390.56min&quot;                                    
#&gt; [100] &quot;|******************  |  90% 45.79min 412.12min&quot;                                    
#&gt; [101] &quot;|******************  |  90% 45.85min 412.67min&quot;                                    
#&gt; [102] &quot;|******************  |  90% 45.87min 412.85min&quot;                                    
#&gt; [103] &quot;|******************  |  90% 45.94min 413.48min&quot;                                    
#&gt; [104] &quot;|******************* |  95% 22.90min 435.08min&quot;                                    
#&gt; [105] &quot;|******************* |  95% 22.93min 435.61min&quot;                                    
#&gt; [106] &quot;|******************* |  95% 22.93min 435.76min&quot;                                    
#&gt; [107] &quot;|******************* |  95% 22.97min 436.40min&quot;                                    
#&gt; [108] &quot;|********************| 100%  0.00sec 458.01min&quot;                                    
#&gt; [109] &quot;&quot;                                                                                  
#&gt; [110] &quot;|********************| 100%  0.00sec 458.54min&quot;                                    
#&gt; [111] &quot;&quot;                                                                                  
#&gt; [112] &quot;|********************| 100%  0.00sec 458.66min&quot;                                    
#&gt; [113] &quot;&quot;                                                                                  
#&gt; [114] &quot;|********************| 100%  0.00sec 459.35min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  39.288   0.088  39.380</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;       user     system    elapsed 
#&gt; 116556.549     52.634  33672.227</code></pre>
</div>
