---
title: "Gaussian full model: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/bw-12-full-re.rds
---



<p>Birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-12-full-re.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form_mu_aux &lt;- born_weight ~ sex + born_race + birth_place +
    marital_status + study_years + consult_num + s(age) +
    s(wk_ini) + s(rivwk_conception, bs = &quot;cc&quot;) +
    remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;)

form_mu &lt;- update(form_mu_aux, . ~ . +
                s(neg_mbsi_mean_1wk, pos_mbsi_mean_1wk, k = 70) +
                s(neg_mckee_mean_8wk, pos_mckee_mean_8wk, k = 70) +
                s(neg_ext_mbsi_mean_8wk, pos_ext_mbsi_mean_8wk, k = 70))

form_sigma &lt;- sigma ~ sex + born_race + birth_place +
    study_years + consult_num + s(age) +
    s(wk_ini) + s(res_muni, bs = &quot;re&quot;)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model,
        n.iter = 7000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 4445450. logPost -2449590 logLik -2222613 edf 111.37 eps 0.0369 iteration   1&quot;
#&gt;   [2] &quot;AICc 4438028. logPost -2222870 logLik -2218892 edf 121.73 eps 0.0081 iteration   2&quot;
#&gt;   [3] &quot;AICc 4434830. logPost -2219148 logLik -2217258 edf 156.55 eps 0.0046 iteration   3&quot;
#&gt;   [4] &quot;AICc 4433883. logPost -2218410 logLik -2216735 edf 205.85 eps 0.0029 iteration   4&quot;
#&gt;   [5] &quot;AICc 4433682. logPost -2218394 logLik -2216573 edf 267.39 eps 0.0011 iteration   5&quot;
#&gt;   [6] &quot;AICc 4433585. logPost -2218401 logLik -2216498 edf 293.90 eps 0.0007 iteration   6&quot;
#&gt;   [7] &quot;AICc 4433570. logPost -2218409 logLik -2216486 edf 298.16 eps 0.0002 iteration   7&quot;
#&gt;   [8] &quot;AICc 4433566. logPost -2218408 logLik -2216484 edf 298.54 eps 0.0000 iteration   8&quot;
#&gt;   [9] &quot;AICc 4433566. logPost -2218408 logLik -2216484 edf 298.54 eps 0.0000 iteration   8&quot;
#&gt;  [10] &quot;elapsed time: 21.40min&quot;                                                            
#&gt;  [11] &quot;Starting the sampler...&quot;                                                           
#&gt;  [12] &quot;Starting the sampler...&quot;                                                           
#&gt;  [13] &quot;Starting the sampler...&quot;                                                           
#&gt;  [14] &quot;Starting the sampler...&quot;                                                           
#&gt;  [15] &quot;&quot;                                                                                  
#&gt;  [16] &quot;|                    |   0% 1084.49min&quot;                                            
#&gt;  [17] &quot;|                    |   0% 1070.54min&quot;                                            
#&gt;  [18] &quot;|                    |   0% 1075.18min&quot;                                            
#&gt;  [19] &quot;|                    |   0% 1089.47min&quot;                                            
#&gt;  [20] &quot;|*                   |   5% 1003.19min 52.80min&quot;                                   
#&gt;  [21] &quot;|*                   |   5% 1004.73min 52.88min&quot;                                   
#&gt;  [22] &quot;|*                   |   5% 1005.43min 52.92min&quot;                                   
#&gt;  [23] &quot;|*                   |   5% 1006.43min 52.97min&quot;                                   
#&gt;  [24] &quot;|**                  |  10% 947.83min 105.31min&quot;                                   
#&gt;  [25] &quot;|**                  |  10% 948.01min 105.33min&quot;                                   
#&gt;  [26] &quot;|**                  |  10% 947.86min 105.32min&quot;                                   
#&gt;  [27] &quot;|**                  |  10% 949.62min 105.51min&quot;                                   
#&gt;  [28] &quot;|***                 |  15% 880.17min 155.32min&quot;                                   
#&gt;  [29] &quot;|***                 |  15% 880.14min 155.32min&quot;                                   
#&gt;  [30] &quot;|***                 |  15% 880.44min 155.37min&quot;                                   
#&gt;  [31] &quot;|***                 |  15% 881.64min 155.58min&quot;                                   
#&gt;  [32] &quot;|****                |  20% 817.21min 204.30min&quot;                                   
#&gt;  [33] &quot;|****                |  20% 817.65min 204.41min&quot;                                   
#&gt;  [34] &quot;|****                |  20% 817.74min 204.43min&quot;                                   
#&gt;  [35] &quot;|****                |  20% 818.74min 204.69min&quot;                                   
#&gt;  [36] &quot;|*****               |  25% 758.52min 252.84min&quot;                                   
#&gt;  [37] &quot;|*****               |  25% 759.81min 253.27min&quot;                                   
#&gt;  [38] &quot;|*****               |  25% 760.28min 253.43min&quot;                                   
#&gt;  [39] &quot;|*****               |  25% 760.31min 253.44min&quot;                                   
#&gt;  [40] &quot;|******              |  30% 703.65min 301.56min&quot;                                   
#&gt;  [41] &quot;|******              |  30% 704.09min 301.75min&quot;                                   
#&gt;  [42] &quot;|******              |  30% 704.76min 302.04min&quot;                                   
#&gt;  [43] &quot;|******              |  30% 705.00min 302.14min&quot;                                   
#&gt;  [44] &quot;|*******             |  35% 650.37min 350.20min&quot;                                   
#&gt;  [45] &quot;|*******             |  35% 650.66min 350.35min&quot;                                   
#&gt;  [46] &quot;|*******             |  35% 651.28min 350.69min&quot;                                   
#&gt;  [47] &quot;|*******             |  35% 651.48min 350.80min&quot;                                   
#&gt;  [48] &quot;|********            |  40% 598.09min 398.73min&quot;                                   
#&gt;  [49] &quot;|********            |  40% 598.55min 399.03min&quot;                                   
#&gt;  [50] &quot;|********            |  40% 598.91min 399.27min&quot;                                   
#&gt;  [51] &quot;|********            |  40% 599.02min 399.34min&quot;                                   
#&gt;  [52] &quot;|*********           |  45% 547.34min 447.83min&quot;                                   
#&gt;  [53] &quot;|*********           |  45% 547.64min 448.07min&quot;                                   
#&gt;  [54] &quot;|*********           |  45% 548.15min 448.49min&quot;                                   
#&gt;  [55] &quot;|*********           |  45% 548.34min 448.64min&quot;                                   
#&gt;  [56] &quot;|**********          |  50% 496.34min 496.34min&quot;                                   
#&gt;  [57] &quot;|**********          |  50% 496.68min 496.68min&quot;                                   
#&gt;  [58] &quot;|**********          |  50% 496.89min 496.89min&quot;                                   
#&gt;  [59] &quot;|**********          |  50% 497.38min 497.38min&quot;                                   
#&gt;  [60] &quot;|***********         |  55% 445.81min 544.88min&quot;                                   
#&gt;  [61] &quot;|***********         |  55% 446.14min 545.28min&quot;                                   
#&gt;  [62] &quot;|***********         |  55% 446.14min 545.28min&quot;                                   
#&gt;  [63] &quot;|***********         |  55% 446.78min 546.06min&quot;                                   
#&gt;  [64] &quot;|************        |  60% 395.72min 593.57min&quot;                                   
#&gt;  [65] &quot;|************        |  60% 395.79min 593.69min&quot;                                   
#&gt;  [66] &quot;|************        |  60% 395.91min 593.87min&quot;                                   
#&gt;  [67] &quot;|************        |  60% 396.42min 594.63min&quot;                                   
#&gt;  [68] &quot;|*************       |  65% 345.73min 642.07min&quot;                                   
#&gt;  [69] &quot;|*************       |  65% 345.84min 642.27min&quot;                                   
#&gt;  [70] &quot;|*************       |  65% 345.94min 642.47min&quot;                                   
#&gt;  [71] &quot;|*************       |  65% 346.33min 643.19min&quot;                                   
#&gt;  [72] &quot;|**************      |  70% 295.95min 690.55min&quot;                                   
#&gt;  [73] &quot;|**************      |  70% 296.04min 690.76min&quot;                                   
#&gt;  [74] &quot;|**************      |  70% 296.17min 691.06min&quot;                                   
#&gt;  [75] &quot;|**************      |  70% 296.52min 691.88min&quot;                                   
#&gt;  [76] &quot;|***************     |  75% 246.34min 739.02min&quot;                                   
#&gt;  [77] &quot;|***************     |  75% 246.45min 739.35min&quot;                                   
#&gt;  [78] &quot;|***************     |  75% 246.53min 739.60min&quot;                                   
#&gt;  [79] &quot;|***************     |  75% 246.84min 740.53min&quot;                                   
#&gt;  [80] &quot;|****************    |  80% 196.87min 787.48min&quot;                                   
#&gt;  [81] &quot;|****************    |  80% 196.99min 787.97min&quot;                                   
#&gt;  [82] &quot;|****************    |  80% 197.06min 788.26min&quot;                                   
#&gt;  [83] &quot;|****************    |  80% 197.24min 788.97min&quot;                                   
#&gt;  [84] &quot;|*****************   |  85% 147.52min 835.96min&quot;                                   
#&gt;  [85] &quot;|*****************   |  85% 147.63min 836.60min&quot;                                   
#&gt;  [86] &quot;|*****************   |  85% 147.69min 836.93min&quot;                                   
#&gt;  [87] &quot;|*****************   |  85% 147.78min 837.43min&quot;                                   
#&gt;  [88] &quot;|******************  |  90% 98.28min 884.49min&quot;                                    
#&gt;  [89] &quot;|******************  |  90% 98.36min 885.23min&quot;                                    
#&gt;  [90] &quot;|******************  |  90% 98.40min 885.56min&quot;                                    
#&gt;  [91] &quot;|******************  |  90% 98.45min 886.03min&quot;                                    
#&gt;  [92] &quot;|******************* |  95% 50.35min 956.58min&quot;                                    
#&gt;  [93] &quot;|******************* |  95% 50.35min 956.58min&quot;                                    
#&gt;  [94] &quot;|******************* |  95% 50.38min 957.14min&quot;                                    
#&gt;  [95] &quot;|******************* |  95% 50.44min 958.28min&quot;                                    
#&gt;  [96] &quot;|********************| 100%  0.00sec 1015.58min&quot;                                   
#&gt;  [97] &quot;&quot;                                                                                  
#&gt;  [98] &quot;|********************| 100%  0.00sec 1015.66min&quot;                                   
#&gt;  [99] &quot;&quot;                                                                                  
#&gt; [100] &quot;|********************| 100%  0.00sec 1015.70min&quot;                                   
#&gt; [101] &quot;&quot;                                                                                  
#&gt; [102] &quot;|********************| 100%  0.00sec 1016.54min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  58.989   0.316  59.310</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;       user     system    elapsed 
#&gt; 245775.199    144.033  62851.567</code></pre>
</div>
