---
title: "Full model with t-distribution: continue 2 mcmc"
prerequisites:
    - data/modelled/bw-10-full-re-t.rds
targets:
    - data/modelled/bw-10-full-re-t-continue2.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;43-mcmc-continue-light.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;45-mcmc-reshape.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;46-mcmc-get-last-sample.R&quot;))

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-10-full-re-t.rds&quot;)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)
path_modelled_continue2 &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-continue2\\1&quot;, path_modelled_data)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_continue2)

bamlss_model &lt;- readRDS(path_modelled_data)
form &lt;- readRDS(path_modelled_form)</code></pre>
</div>
<div id="continue-with-sampling" class="section level2">
<h2>Continue with sampling</h2>
<pre class="r"><code>starting_value &lt;- get_last_sample(bamlss_model, 3)
{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = TF, data = bwdata_model,
        start = starting_value, optimizer = FALSE,
        n.iter = 7000, burnin = 0, cores = 3, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;  [1] &quot;Starting the sampler...&quot;                                                     
#&gt;  [2] &quot;Starting the sampler...Starting the sampler...&quot;                              
#&gt;  [3] &quot;&quot;                                                                            
#&gt;  [4] &quot;&quot;                                                                            
#&gt;  [5] &quot;|                    |   0% 1007.81min&quot;                                      
#&gt;  [6] &quot;&quot;                                                                            
#&gt;  [7] &quot;||                                        |   0% |   0% 1041.68min1041.68min&quot;
#&gt;  [8] &quot;|*                   |   5% 948.35min 49.91min&quot;                              
#&gt;  [9] &quot;|*                   |   5% 948.29min 49.91min&quot;                              
#&gt; [10] &quot;|*                   |   5% 948.47min 49.92min&quot;                              
#&gt; [11] &quot;|**                  |  10% 891.00min 99.00min&quot;                              
#&gt; [12] &quot;|**                  |  10% 891.41min 99.05min&quot;                              
#&gt; [13] &quot;|**                  |  10% 892.00min 99.11min&quot;                              
#&gt; [14] &quot;|***                 |  15% 837.51min 147.80min&quot;                             
#&gt; [15] &quot;|***                 |  15% 837.92min 147.87min&quot;                             
#&gt; [16] &quot;|***                 |  15% 837.99min 147.88min&quot;                             
#&gt; [17] &quot;|****                |  20% 790.13min 197.53min&quot;                             
#&gt; [18] &quot;|****                |  20% 791.32min 197.83min&quot;                             
#&gt; [19] &quot;|****                |  20% 791.39min 197.85min&quot;                             
#&gt; [20] &quot;|*****               |  25% 742.16min 247.39min&quot;                             
#&gt; [21] &quot;|*****               |  25% 743.03min 247.68min&quot;                             
#&gt; [22] &quot;|*****               |  25% 743.47min 247.82min&quot;                             
#&gt; [23] &quot;|******              |  30% 691.51min 296.36min&quot;                             
#&gt; [24] &quot;|******              |  30% 692.16min 296.64min&quot;                             
#&gt; [25] &quot;|******              |  30% 692.61min 296.83min&quot;                             
#&gt; [26] &quot;|*******             |  35% 642.85min 346.15min&quot;                             
#&gt; [27] &quot;|*******             |  35% 644.10min 346.82min&quot;                             
#&gt; [28] &quot;|*******             |  35% 644.15min 346.85min&quot;                             
#&gt; [29] &quot;|********            |  40% 592.72min 395.15min&quot;                             
#&gt; [30] &quot;|********            |  40% 593.78min 395.86min&quot;                             
#&gt; [31] &quot;|********            |  40% 593.81min 395.87min&quot;                             
#&gt; [32] &quot;|*********           |  45% 543.24min 444.47min&quot;                             
#&gt; [33] &quot;|*********           |  45% 544.05min 445.13min&quot;                             
#&gt; [34] &quot;|*********           |  45% 544.11min 445.18min&quot;                             
#&gt; [35] &quot;|**********          |  50% 493.63min 493.63min&quot;                             
#&gt; [36] &quot;|**********          |  50% 494.23min 494.23min&quot;                             
#&gt; [37] &quot;|**********          |  50% 494.39min 494.39min&quot;                             
#&gt; [38] &quot;|***********         |  55% 444.56min 543.35min&quot;                             
#&gt; [39] &quot;|***********         |  55% 445.60min 544.62min&quot;                             
#&gt; [40] &quot;|***********         |  55% 445.64min 544.68min&quot;                             
#&gt; [41] &quot;|************        |  60% 395.28min 592.93min&quot;                             
#&gt; [42] &quot;|************        |  60% 396.14min 594.20min&quot;                             
#&gt; [43] &quot;|************        |  60% 396.20min 594.30min&quot;                             
#&gt; [44] &quot;|*************       |  65% 346.37min 643.26min&quot;                             
#&gt; [45] &quot;|*************       |  65% 346.98min 644.38min&quot;                             
#&gt; [46] &quot;|*************       |  65% 346.99min 644.42min&quot;                             
#&gt; [47] &quot;|**************      |  70% 296.78min 692.49min&quot;                             
#&gt; [48] &quot;|**************      |  70% 297.26min 693.60min&quot;                             
#&gt; [49] &quot;|**************      |  70% 297.32min 693.74min&quot;                             
#&gt; [50] &quot;|***************     |  75% 247.41min 742.23min&quot;                             
#&gt; [51] &quot;|***************     |  75% 247.74min 743.23min&quot;                             
#&gt; [52] &quot;|***************     |  75% 247.75min 743.25min&quot;                             
#&gt; [53] &quot;|****************    |  80% 197.91min 791.64min&quot;                             
#&gt; [54] &quot;|****************    |  80% 198.17min 792.68min&quot;                             
#&gt; [55] &quot;|****************    |  80% 198.19min 792.77min&quot;                             
#&gt; [56] &quot;|*****************   |  85% 148.46min 841.28min&quot;                             
#&gt; [57] &quot;|*****************   |  85% 148.65min 842.33min&quot;                             
#&gt; [58] &quot;|*****************   |  85% 148.67min 842.44min&quot;                             
#&gt; [59] &quot;|******************  |  90% 99.02min 891.20min&quot;                              
#&gt; [60] &quot;|******************  |  90% 99.10min 891.92min&quot;                              
#&gt; [61] &quot;|******************  |  90% 99.15min 892.34min&quot;                              
#&gt; [62] &quot;|******************* |  95% 49.53min 941.01min&quot;                              
#&gt; [63] &quot;|******************* |  95% 49.58min 942.10min&quot;                              
#&gt; [64] &quot;|******************* |  95% 49.61min 942.53min&quot;                              
#&gt; [65] &quot;|********************| 100%  0.00sec 991.26min&quot;                              
#&gt; [66] &quot;&quot;                                                                            
#&gt; [67] &quot;|********************| 100%  0.00sec 992.40min&quot;                              
#&gt; [68] &quot;&quot;                                                                            
#&gt; [69] &quot;|********************| 100%  0.00sec 992.84min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_continue2))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  10.865   0.035  10.896</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;       user     system    elapsed 
#&gt; 178782.648     35.193  59694.188</code></pre>
</div>
