---
title: "Growth model with t-distribution: burn-in and thinning"
prerequisites:
    - data/modelled/bw-20-growth-re-t-rectified.rds
targets:
    - data/modelled/bw-20-growth-re-t-burned.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
path_modelled_data &lt;- file.path(path_modelled, &quot;bw-20-growth-re-t.rds&quot;)
path_modelled_rectified &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-rectified\\1&quot;, path_modelled_data)
path_modelled_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, path_modelled_data)
path_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(bwdata_file)
model &lt;- readRDS(path_modelled_rectified)
form &lt;- readRDS(path_form)</code></pre>
</div>
<div id="burn-in-and-thinning" class="section level2">
<h2>Burn-in and thinning</h2>
<pre class="r"><code>model$samples &lt;- window(model$samples, start = 1000, thin = 20)</code></pre>
</div>
<div id="compute-results" class="section level2">
<h2>Compute results</h2>
<pre class="r"><code>system.time(model$results &lt;- results.bamlss.default(model))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt; 233.539   1.549 235.085</code></pre>
<pre class="r"><code>system.time(saveRDS(model, file = path_modelled_burned))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   9.454   0.032   9.489</code></pre>
</div>
<div id="maximum-auto-correlation-function-acf" class="section level2">
<h2>Maximum auto-correlation function (ACF)</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 3))
plot(model, model = &quot;mu&quot;, which = &quot;max-acf&quot;, spar = FALSE)
plot(model, model = &quot;sigma&quot;, which = &quot;max-acf&quot;, spar = FALSE)
plot(model, model = &quot;nu&quot;, which = &quot;max-acf&quot;, spar = FALSE)</code></pre>
<div class="figure" style="text-align: center"><span id="fig:maximum-acf"></span>
<img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/maximum-acf-1.png" alt="Maximum ACF of samples for $\mu$ (left), $\sigma$ (center) and $\nu$(right)" width="720" />
<p class="caption">
Figure 1: Maximum ACF of samples for <span class="math inline">\(\mu\)</span> (left), <span class="math inline">\(\sigma\)</span> (center) and <span class="math inline">\(\nu\)</span>(right)
</p>
</div>
</div>
<div id="mcmc-convergence" class="section level2">
<h2>MCMC convergence</h2>
<pre class="r"><code>par(mar = c(4, 4, 3, 1), mfrow = c(1, 2))
plot(model, which = &quot;samples&quot;)</code></pre>
<p><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-1.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-2.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-3.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-4.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-5.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-6.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-7.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-8.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-9.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-10.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-11.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-12.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-13.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-14.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-15.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-16.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-17.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-18.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-19.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-20.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-21.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-22.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-23.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-24.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-25.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-26.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-27.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-28.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-29.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-30.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-31.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-32.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-33.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-34.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-35.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-36.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-37.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-38.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-39.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-40.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-41.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-42.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-43.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-44.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-45.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-46.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-47.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-48.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-49.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-50.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-51.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-52.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-53.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-54.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-55.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-56.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-57.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-58.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-59.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-60.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-61.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-62.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-63.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-64.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-65.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-66.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-67.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-68.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-69.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-70.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-71.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-72.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-73.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-74.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-75.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-76.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-77.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-78.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-79.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-80.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-81.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-82.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-83.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-84.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-85.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-86.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-87.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-88.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-89.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-90.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-91.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-92.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-93.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-94.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-95.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-96.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-97.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-98.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-99.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-100.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-101.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-102.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-103.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-104.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-105.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-106.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-107.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-108.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-109.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-110.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-111.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-112.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-113.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-114.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-115.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-116.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-117.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-118.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-119.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-120.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-121.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-122.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-123.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-124.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-125.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-126.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-127.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-128.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-129.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-130.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-131.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-132.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-133.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-134.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-135.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-136.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-137.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-138.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-139.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-140.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-141.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-142.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-143.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-144.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-145.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-146.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-147.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-148.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-149.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-150.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-151.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-152.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-153.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-154.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-155.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-156.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-157.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-158.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-159.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-160.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-161.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-162.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-163.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-164.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-165.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-166.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-167.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-168.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-169.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-170.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-171.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-172.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-173.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-174.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-175.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-176.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-177.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-178.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-179.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-180.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-181.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-182.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-183.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-184.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-185.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-186.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-187.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-188.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-189.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-190.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-191.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-192.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-193.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-194.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-195.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-196.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-197.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-198.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-199.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-200.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-201.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-202.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-203.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-204.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-205.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-206.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-207.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-208.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-209.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-210.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-211.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-212.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-213.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-214.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-215.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-216.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-217.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-218.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-219.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-220.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-221.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-222.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-223.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-224.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-225.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-226.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-227.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-228.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-229.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-230.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-231.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-232.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-233.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-234.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-235.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-236.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-237.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-238.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-239.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-240.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-241.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-242.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-243.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-244.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-245.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-246.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-247.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-248.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-249.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-250.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-251.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-252.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-253.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-254.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-255.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-256.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-257.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-258.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-259.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-260.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-261.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-262.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-263.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-264.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-265.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-266.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-267.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-268.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-269.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-270.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-271.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-272.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-273.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-274.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-275.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-276.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-277.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-278.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-279.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-280.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-281.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-282.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-283.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-284.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-285.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-286.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-287.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-288.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-289.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-290.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-291.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-292.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-293.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-294.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-295.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-296.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-297.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-298.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-299.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-300.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-301.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-302.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-303.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-304.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-305.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-306.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-307.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-308.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-309.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-310.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-311.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-312.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-313.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-314.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-315.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-316.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-317.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-318.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-319.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-320.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-321.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-322.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-323.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-324.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-325.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-326.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-327.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-328.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-329.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-330.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-331.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-332.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-333.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-334.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-335.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-336.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-337.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-338.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-339.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-340.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-341.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-342.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-343.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-344.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-345.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-346.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-347.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-348.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-349.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-350.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-351.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-352.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-353.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-354.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-355.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-356.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-357.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-358.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-359.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-360.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-361.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-362.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-363.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-364.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-365.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-366.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-367.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-368.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-369.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-370.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-371.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-372.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-373.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-374.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-375.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-376.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-377.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-378.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-379.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-380.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-381.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-382.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-383.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-384.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-385.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-386.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-387.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-388.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-389.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-390.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-391.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-392.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-393.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-394.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-395.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-396.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-397.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-398.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-399.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-400.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-401.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-402.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-403.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-404.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-405.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-406.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-407.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-408.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-409.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-410.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-411.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-412.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-413.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-414.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-415.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/40-birthweight/bw-20-growth-re-t-09-burnin_files/figure-html/samples-416.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt; 311.333   2.021 313.867</code></pre>
</div>
