---
title: "Growth model with t-distribution: continue mcmc"
prerequisites:
    - src/43-mcmc-continue-light.R
    - src/45-mcmc-reshape.R
    - src/46-mcmc-get-last-sample.R
    - data/modelled/bw-20-growth-re-t-continue.rds
targets:
    - data/modelled/bw-20-growth-re-t-continue2.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;43-mcmc-continue-light.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;45-mcmc-reshape.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;46-mcmc-get-last-sample.R&quot;))

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-20-growth-re-t.rds&quot;)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)
path_modelled_continue &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-continue\\1&quot;, path_modelled_data)
path_modelled_continue2 &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-continue2\\1&quot;, path_modelled_data)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_continue2)

bamlss_model_continue &lt;- readRDS(path_modelled_continue)
form &lt;- readRDS(path_modelled_form)</code></pre>
</div>
<div id="continue-with-sampling" class="section level2">
<h2>Continue with sampling</h2>
<pre class="r"><code>starting_value &lt;- get_last_sample(bamlss_model_continue)
{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = TF, data = bwdata_model,
        start = starting_value, optimizer = FALSE,
        n.iter = 5000, burnin = 0, cores = 3, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;  [1] &quot;Starting the sampler...&quot;                                                                     
#&gt;  [2] &quot;Starting the sampler...&quot;                                                                     
#&gt;  [3] &quot;Starting the sampler...&quot;                                                                     
#&gt;  [4] &quot;&quot;                                                                                            
#&gt;  [5] &quot;|                    |   0% 778.35min&quot;                                                       
#&gt;  [6] &quot;|                    |   0% 779.69min&quot;                                                       
#&gt;  [7] &quot;|                    |   0% 779.74min&quot;                                                       
#&gt;  [8] &quot;|*                   |   5% 680.38min 35.81min&quot;                                              
#&gt;  [9] &quot;|*                   |   5% 680.77min 35.83min&quot;                                              
#&gt; [10] &quot;|*                   |   5% 681.37min 35.86min&quot;                                              
#&gt; [11] &quot;|**                  |  10% 637.82min 70.87min&quot;                                              
#&gt; [12] &quot;|**                  |  10% 637.95min 70.88min&quot;                                              
#&gt; [13] &quot;|**                  |  10% 638.59min 70.95min&quot;                                              
#&gt; [14] &quot;|***                 |  15% 599.90min 105.86min&quot;                                             
#&gt; [15] &quot;|***                 |  15% 599.91min 105.87min&quot;                                             
#&gt; [16] &quot;|***                 |  15% 600.35min 105.94min&quot;                                             
#&gt; [17] &quot;|****                |  20% 564.03min 141.01min&quot;                                             
#&gt; [18] &quot;|****                |  20% 564.08min 141.02min&quot;                                             
#&gt; [19] &quot;|****                |  20% 564.38min 141.10min&quot;                                             
#&gt; [20] &quot;|*****               |  25% 528.68min 176.23min&quot;                                             
#&gt; [21] &quot;|*****               |  25% 528.72min 176.24min&quot;                                             
#&gt; [22] &quot;|*****               |  25% 528.96min 176.32min&quot;                                             
#&gt; [23] &quot;|******              |  30% 493.26min 211.40min&quot;                                             
#&gt; [24] &quot;|******              |  30% 493.29min 211.41min&quot;                                             
#&gt; [25] &quot;|******              |  30% 493.48min 211.49min&quot;                                             
#&gt; [26] &quot;|*******             |  35% 457.82min 246.52min&quot;                                             
#&gt; [27] &quot;|*******             |  35% 457.87min 246.54min&quot;                                             
#&gt; [28] &quot;|*******             |  35% 457.99min 246.61min&quot;                                             
#&gt; [29] &quot;|********            |  40% 422.37min 281.58min&quot;                                             
#&gt; [30] &quot;|********            |  40% 422.42min 281.61min&quot;                                             
#&gt; [31] &quot;|********            |  40% 422.51min 281.67min&quot;                                             
#&gt; [32] &quot;|*********           |  45% 386.74min 316.43min&quot;                                             
#&gt; [33] &quot;|*********           |  45% 386.79min 316.47min&quot;                                             
#&gt; [34] &quot;|*********           |  45% 386.85min 316.52min&quot;                                             
#&gt; [35] &quot;|**********          |  50% 351.36min 351.36min&quot;                                             
#&gt; [36] &quot;|**********          |  50% 351.40min 351.40min&quot;                                             
#&gt; [37] &quot;|**********          |  50% 351.45min 351.45min&quot;                                             
#&gt; [38] &quot;|***********         |  55% 316.09min 386.33min&quot;                                             
#&gt; [39] &quot;|***********         |  55% 316.13min 386.38min&quot;                                             
#&gt; [40] &quot;|***********         |  55% 316.15min 386.40min&quot;                                             
#&gt; [41] &quot;|************        |  60% 281.21min 421.82min&quot;                                             
#&gt; [42] &quot;|************        |  60% 281.22min 421.83min&quot;                                             
#&gt; [43] &quot;|************        |  60% 281.31min 421.96min&quot;                                             
#&gt; [44] &quot;|*************       |  65% 246.42min 457.64min&quot;                                             
#&gt; [45] &quot;|*************       |  65% 246.50min 457.79min&quot;                                             
#&gt; [46] &quot;|*************       |  65% 246.59min 457.94min&quot;                                             
#&gt; [47] &quot;|**************      |  70% 211.26min 492.94min&quot;                                             
#&gt; [48] &quot;|**************      |  70% 211.33min 493.11min&quot;                                             
#&gt; [49] &quot;|**************      |  70% 211.33min 493.11min&quot;                                             
#&gt; [50] &quot;|***************     |  75% 175.98min 527.94min&quot;                                             
#&gt; [51] &quot;|***************     |  75% 176.03min 528.10min&quot;                                             
#&gt; [52] &quot;|***************     |  75% 176.04min 528.11min&quot;                                             
#&gt; [53] &quot;|****************    |  80% 140.73min 562.91min&quot;                                             
#&gt; [54] &quot;|****************    |  80% 140.77min 563.07min&quot;                                             
#&gt; [55] &quot;|****************    |  80% 140.77min 563.09min&quot;                                             
#&gt; [56] &quot;|*****************   |  85% 105.52min 597.96min&quot;                                             
#&gt; [57] &quot;|*****************   |  85% 105.55min 598.11min&quot;                                             
#&gt; [58] &quot;|*****************   |  85% 105.55min 598.14min&quot;                                             
#&gt; [59] &quot;|******************  |  90% 70.43min 633.84min&quot;                                              
#&gt; [60] &quot;&quot;                                                                                            
#&gt; [61] &quot;|******************  |  90% 70.46min 634.17min|******************  |  90% 70.46min 634.16min&quot;
#&gt; [62] &quot;|******************* |  95% 35.28min 670.24min&quot;                                              
#&gt; [63] &quot;|******************* |  95% 35.29min 670.57min&quot;                                              
#&gt; [64] &quot;|******************* |  95% 35.31min 670.81min&quot;                                              
#&gt; [65] &quot;|********************| 100%  0.00sec 705.43min&quot;                                              
#&gt; [66] &quot;&quot;                                                                                            
#&gt; [67] &quot;|********************| 100%  0.00sec 705.74min&quot;                                              
#&gt; [68] &quot;&quot;                                                                                            
#&gt; [69] &quot;|********************| 100%  0.00sec 705.93min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_continue2))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  11.436   0.080  11.789</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;       user     system    elapsed 
#&gt; 127232.108     31.233  42490.239</code></pre>
</div>
