---
title: "Growth model with t-distribution: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/bw-20-growth-re-t.rds
---



<p>Birthweight model including covariates at municipality level with linear effects, and
controlling for gestational age.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-20-growth-re-t.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form_mu_aux &lt;- born_weight ~ sex + born_race + birth_place + gestation_weeks +
    marital_status + study_years + consult_num + s(age) +
    s(wk_ini) + s(rivwk_conception, bs = &quot;cc&quot;) +
    remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;)

form_mu &lt;- update(form_mu_aux, . ~ . +
                s(neg_mbsi_mean_1wk, pos_mbsi_mean_1wk, k = 70) +
                s(neg_mckee_mean_8wk, pos_mckee_mean_8wk, k = 70) +
                s(neg_ext_mbsi_mean_8wk, pos_ext_mbsi_mean_8wk, k = 70))

form_sigma &lt;- sigma ~ sex + born_race + birth_place +
    study_years + consult_num + s(age) +
    s(wk_ini) + s(res_muni, bs = &quot;re&quot;)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = TF, data = bwdata_model,
        n.iter = 30, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 4441542. logPost -2383263 logLik -2220668 edf 103.35 eps 0.0655 iteration   1&quot;                                                                                                  
#&gt;   [2] &quot;AICc 4413785. logPost -2209756 logLik -2206773 edf 118.61 eps 0.0133 iteration   2&quot;                                                                                                  
#&gt;   [3] &quot;AICc 4411011. logPost -2206609 logLik -2205360 edf 144.98 eps 0.0036 iteration   3&quot;                                                                                                  
#&gt;   [4] &quot;AICc 4409619. logPost -2206041 logLik -2204646 edf 163.55 eps 0.0019 iteration   4&quot;                                                                                                  
#&gt;   [5] &quot;AICc 4408925. logPost -2205778 logLik -2204269 edf 193.24 eps 0.0017 iteration   5&quot;                                                                                                  
#&gt;   [6] &quot;AICc 4408809. logPost -2205768 logLik -2204188 edf 216.23 eps 0.0007 iteration   6&quot;                                                                                                  
#&gt;   [7] &quot;AICc 4408766. logPost -2205814 logLik -2204152 edf 230.33 eps 0.0005 iteration   7&quot;                                                                                                  
#&gt;   [8] &quot;AICc 4408744. logPost -2205864 logLik -2204120 edf 251.50 eps 0.0004 iteration   8&quot;                                                                                                  
#&gt;   [9] &quot;AICc 4408739. logPost -2205867 logLik -2204115 edf 253.51 eps 0.0002 iteration   9&quot;                                                                                                  
#&gt;  [10] &quot;AICc 4408738. logPost -2205868 logLik -2204115 edf 253.65 eps 0.0001 iteration  10&quot;                                                                                                  
#&gt;  [11] &quot;AICc 4408737. logPost -2205867 logLik -2204115 edf 253.57 eps 0.0001 iteration  11&quot;                                                                                                  
#&gt;  [12] &quot;AICc 4408737. logPost -2205867 logLik -2204115 edf 253.57 eps 0.0001 iteration  11&quot;                                                                                                  
#&gt;  [13] &quot;elapsed time: 14.11min&quot;                                                                                                                                                              
#&gt;  [14] &quot;Starting the sampler...&quot;                                                                                                                                                             
#&gt;  [15] &quot;Starting the sampler...&quot;                                                                                                                                                             
#&gt;  [16] &quot;Starting the sampler...&quot;                                                                                                                                                             
#&gt;  [17] &quot;Starting the sampler...&quot;                                                                                                                                                             
#&gt;  [18] &quot;&quot;                                                                                                                                                                                    
#&gt;  [19] &quot;&quot;                                                                                                                                                                                    
#&gt;  [20] &quot;&quot;                                                                                                                                                                                    
#&gt;  [21] &quot;&quot;                                                                                                                                                                                    
#&gt;  [22] &quot;|*                   |   3%  5.38min 11.14sec|*                   |   3%  5.39min 11.14sec|*                   |   3%|*                   |   3%   5.38min 5.39min  11.14sec11.16sec&quot;
#&gt;  [23] &quot;|*                   |   7%  5.14min 22.02sec&quot;                                                                                                                                       
#&gt;  [24] &quot;|*                   |   7%  5.14min 22.04sec&quot;                                                                                                                                       
#&gt;  [25] &quot;|*                   |   7%  5.14min 22.03sec&quot;                                                                                                                                       
#&gt;  [26] &quot;|*                   |   7%  5.14min 22.04sec&quot;                                                                                                                                       
#&gt;  [27] &quot;|**                  |  10%  4.91min 32.76sec&quot;                                                                                                                                       
#&gt;  [28] &quot;|**                  |  10%  4.93min 32.84sec&quot;                                                                                                                                       
#&gt;  [29] &quot;&quot;                                                                                                                                                                                    
#&gt;  [30] &quot;|**                  |  10%|**                  |  10%   4.93min 4.93min  32.87sec32.86sec&quot;                                                                                          
#&gt;  [31] &quot;|***                 |  13%  4.60min 42.44sec&quot;                                                                                                                                       
#&gt;  [32] &quot;|***                 |  13%  4.67min 43.15sec&quot;                                                                                                                                       
#&gt;  [33] &quot;&quot;                                                                                                                                                                                    
#&gt;  [34] &quot;|***                 |  13% |***                 |  13% 4.68min   4.68min43.16sec 43.18sec&quot;                                                                                          
#&gt;  [35] &quot;|***                 |  17%  4.35min 52.25sec&quot;                                                                                                                                       
#&gt;  [36] &quot;|***                 |  17%  4.45min 53.35sec&quot;                                                                                                                                       
#&gt;  [37] &quot;&quot;                                                                                                                                                                                    
#&gt;  [38] &quot;|***                 |  17%  4.45min 53.37sec|***                 |  17%  4.45min 53.35sec&quot;                                                                                          
#&gt;  [39] &quot;|****                |  20%  4.13min  1.03min&quot;                                                                                                                                       
#&gt;  [40] &quot;|****                |  20%  4.25min  1.06min&quot;                                                                                                                                       
#&gt;  [41] &quot;&quot;                                                                                                                                                                                    
#&gt;  [42] &quot;|****                |  20%  4.25min  1.06min|****                |  20%  4.25min  1.06min&quot;                                                                                          
#&gt;  [43] &quot;|*****               |  23%  3.92min  1.19min&quot;                                                                                                                                       
#&gt;  [44] &quot;|*****               |  23%  4.05min  1.23min&quot;                                                                                                                                       
#&gt;  [45] &quot;|*****               |  23%  4.05min  1.23min&quot;                                                                                                                                       
#&gt;  [46] &quot;|*****               |  23%  4.05min  1.23min&quot;                                                                                                                                       
#&gt;  [47] &quot;|*****               |  27%  3.73min  1.36min&quot;                                                                                                                                       
#&gt;  [48] &quot;|*****               |  27%  3.84min  1.40min&quot;                                                                                                                                       
#&gt;  [49] &quot;&quot;                                                                                                                                                                                    
#&gt;  [50] &quot;|*****               |  27% |*****               |  27% 3.85min   3.85min 1.40min  1.40min&quot;                                                                                          
#&gt;  [51] &quot;|******              |  30%  3.54min  1.52min&quot;                                                                                                                                       
#&gt;  [52] &quot;|******              |  30%  3.63min  1.56min&quot;                                                                                                                                       
#&gt;  [53] &quot;|******              |  30%  3.66min  1.57min&quot;                                                                                                                                       
#&gt;  [54] &quot;|******              |  30%  3.66min  1.57min&quot;                                                                                                                                       
#&gt;  [55] &quot;|                    |   0%  3.35min&quot;                                                                                                                                                
#&gt;  [56] &quot;|*******             |  33%  3.35min  1.68min&quot;                                                                                                                                       
#&gt;  [57] &quot;|                    |   0%  3.43min&quot;                                                                                                                                                
#&gt;  [58] &quot;|*******             |  33%  3.43min  1.71min&quot;                                                                                                                                       
#&gt;  [59] &quot;|                    |   0%  3.47min&quot;                                                                                                                                                
#&gt;  [60] &quot;|*******             |  33%  3.47min  1.73min&quot;                                                                                                                                       
#&gt;  [61] &quot;|                    |   0%  3.47min&quot;                                                                                                                                                
#&gt;  [62] &quot;|*******             |  33%  3.47min  1.73min&quot;                                                                                                                                       
#&gt;  [63] &quot;|*******             |  37%  3.17min  1.84min&quot;                                                                                                                                       
#&gt;  [64] &quot;|*******             |  37%  3.24min  1.87min&quot;                                                                                                                                       
#&gt;  [65] &quot;|*******             |  37%  3.28min  1.90min&quot;                                                                                                                                       
#&gt;  [66] &quot;|*******             |  37%  3.28min  1.90min&quot;                                                                                                                                       
#&gt;  [67] &quot;|********            |  40%  3.00min  2.00min&quot;                                                                                                                                       
#&gt;  [68] &quot;|********            |  40%  3.05min  2.04min&quot;                                                                                                                                       
#&gt;  [69] &quot;|********            |  40%  3.10min  2.07min&quot;                                                                                                                                       
#&gt;  [70] &quot;|********            |  40%  3.11min  2.07min&quot;                                                                                                                                       
#&gt;  [71] &quot;|*********           |  43%  2.82min  2.16min&quot;                                                                                                                                       
#&gt;  [72] &quot;|*********           |  43%  2.87min  2.20min&quot;                                                                                                                                       
#&gt;  [73] &quot;|*********           |  43%  2.92min  2.23min&quot;                                                                                                                                       
#&gt;  [74] &quot;|*********           |  43%  2.92min  2.23min&quot;                                                                                                                                       
#&gt;  [75] &quot;|*********           |  47%  2.65min  2.32min&quot;                                                                                                                                       
#&gt;  [76] &quot;|*********           |  47%  2.70min  2.36min&quot;                                                                                                                                       
#&gt;  [77] &quot;|*********           |  47%  2.74min  2.40min&quot;                                                                                                                                       
#&gt;  [78] &quot;|*********           |  47%  2.74min  2.40min&quot;                                                                                                                                       
#&gt;  [79] &quot;|**********          |  50%  2.49min  2.49min&quot;                                                                                                                                       
#&gt;  [80] &quot;|**********          |  50%  2.53min  2.53min&quot;                                                                                                                                       
#&gt;  [81] &quot;&quot;                                                                                                                                                                                    
#&gt;  [82] &quot;|**********          |  50%  2.58min  2.58min|**********          |  50%  2.59min  2.59min&quot;                                                                                          
#&gt;  [83] &quot;|***********         |  53%  2.44min  2.79min&quot;                                                                                                                                       
#&gt;  [84] &quot;&quot;                                                                                                                                                                                    
#&gt;  [85] &quot;&quot;                                                                                                                                                                                    
#&gt;  [86] &quot;|***********         |  53%|***********         |  53%|***********         |  53%    2.44min 2.45min 2.45min    2.79min 2.79min 2.79min&quot;                                             
#&gt;  [87] &quot;|***********         |  57%  2.27min  2.97min&quot;                                                                                                                                       
#&gt;  [88] &quot;|***********         |  57%  2.27min  2.97min&quot;                                                                                                                                       
#&gt;  [89] &quot;|***********         |  57%  2.27min  2.97min&quot;                                                                                                                                       
#&gt;  [90] &quot;|***********         |  57%  2.27min  2.97min&quot;                                                                                                                                       
#&gt;  [91] &quot;|************        |  60%  2.09min  3.14min&quot;                                                                                                                                       
#&gt;  [92] &quot;|************        |  60%  2.09min  3.14min&quot;                                                                                                                                       
#&gt;  [93] &quot;|************        |  60%  2.09min  3.14min&quot;                                                                                                                                       
#&gt;  [94] &quot;|************        |  60%  2.09min  3.14min&quot;                                                                                                                                       
#&gt;  [95] &quot;&quot;                                                                                                                                                                                    
#&gt;  [96] &quot;|*************       |  63%|*************       |  63%   1.91min 1.91min   3.30min 3.30min&quot;                                                                                          
#&gt;  [97] &quot;|*************       |  63%  1.91min  3.31min&quot;                                                                                                                                       
#&gt;  [98] &quot;|*************       |  63%  1.91min  3.31min&quot;                                                                                                                                       
#&gt;  [99] &quot;|*************       |  67%  1.73min  3.47min&quot;                                                                                                                                       
#&gt; [100] &quot;|*************       |  67%  1.73min  3.47min&quot;                                                                                                                                       
#&gt; [101] &quot;|*************       |  67%  1.74min  3.47min&quot;                                                                                                                                       
#&gt; [102] &quot;|*************       |  67%  1.74min  3.47min&quot;                                                                                                                                       
#&gt; [103] &quot;|**************      |  70%  1.56min  3.63min&quot;                                                                                                                                       
#&gt; [104] &quot;|**************      |  70%  1.56min  3.63min&quot;                                                                                                                                       
#&gt; [105] &quot;|**************      |  70%  1.56min  3.64min&quot;                                                                                                                                       
#&gt; [106] &quot;|**************      |  70%  1.56min  3.64min&quot;                                                                                                                                       
#&gt; [107] &quot;|***************     |  73%  1.38min  3.80min&quot;                                                                                                                                       
#&gt; [108] &quot;|***************     |  73%  1.38min  3.80min&quot;                                                                                                                                       
#&gt; [109] &quot;|***************     |  73%  1.38min  3.81min&quot;                                                                                                                                       
#&gt; [110] &quot;|***************     |  73%  1.38min  3.81min&quot;                                                                                                                                       
#&gt; [111] &quot;|***************     |  77%  1.21min  3.97min&quot;                                                                                                                                       
#&gt; [112] &quot;|***************     |  77%  1.21min  3.97min&quot;                                                                                                                                       
#&gt; [113] &quot;|***************     |  77%  1.21min  3.97min&quot;                                                                                                                                       
#&gt; [114] &quot;|***************     |  77%  1.21min  3.97min&quot;                                                                                                                                       
#&gt; [115] &quot;|****************    |  80%  1.03min  4.13min&quot;                                                                                                                                       
#&gt; [116] &quot;|****************    |  80%  1.03min  4.13min&quot;                                                                                                                                       
#&gt; [117] &quot;|****************    |  80%  1.04min  4.14min&quot;                                                                                                                                       
#&gt; [118] &quot;|****************    |  80%  1.04min  4.14min&quot;                                                                                                                                       
#&gt; [119] &quot;&quot;                                                                                                                                                                                    
#&gt; [120] &quot;|*****************   |  83% 51.64sec  4.30min|*****************   |  83% 51.64sec  4.30min&quot;                                                                                          
#&gt; [121] &quot;|*****************   |  83% 51.75sec &quot;                                                                                                                                               
#&gt; [122] &quot; 4.31min|*****************   |  83% 51.76sec  4.31min&quot;                                                                                                                               
#&gt; [123] &quot;|*****************   |  87% 41.25sec  4.47min&quot;                                                                                                                                       
#&gt; [124] &quot;|*****************   |  87% 41.25sec  4.47min&quot;                                                                                                                                       
#&gt; [125] &quot;|*****************   |  87% 41.34sec  4.48min&quot;                                                                                                                                       
#&gt; [126] &quot;|*****************   |  87% 41.34sec  4.48min&quot;                                                                                                                                       
#&gt; [127] &quot;|******************  |  90% 30.90sec  4.63min&quot;                                                                                                                                       
#&gt; [128] &quot;|******************  |  90% 30.94sec  4.64min&quot;                                                                                                                                       
#&gt; [129] &quot;|******************  |  90% 30.96sec  4.64min&quot;                                                                                                                                       
#&gt; [130] &quot;|******************  |  90% 30.99sec  4.65min&quot;                                                                                                                                       
#&gt; [131] &quot;|******************* |  93% 20.54sec  4.79min&quot;                                                                                                                                       
#&gt; [132] &quot;|******************* |  93% 20.56sec  4.80min&quot;                                                                                                                                       
#&gt; [133] &quot;|******************* |  93% 20.59sec  4.80min&quot;                                                                                                                                       
#&gt; [134] &quot;|******************* |  93% 20.60sec  4.81min&quot;                                                                                                                                       
#&gt; [135] &quot;|******************* |  97% 10.25sec  4.95min&quot;                                                                                                                                       
#&gt; [136] &quot;|******************* |  97% 10.27sec  4.96min&quot;                                                                                                                                       
#&gt; [137] &quot;|******************* |  97% 10.29sec  4.97min&quot;                                                                                                                                       
#&gt; [138] &quot;|******************* |  97% 10.29sec  4.97min&quot;                                                                                                                                       
#&gt; [139] &quot;|********************| 100%  0.00sec  5.12min&quot;                                                                                                                                       
#&gt; [140] &quot;&quot;                                                                                                                                                                                    
#&gt; [141] &quot;|********************| 100%  0.00sec  5.13min&quot;                                                                                                                                       
#&gt; [142] &quot;&quot;                                                                                                                                                                                    
#&gt; [143] &quot;|********************| 100%  0.00sec  5.15min&quot;                                                                                                                                       
#&gt; [144] &quot;&quot;                                                                                                                                                                                    
#&gt; [145] &quot;|********************| 100%  0.00sec  5.15min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   9.994   0.181  10.878</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;     user   system  elapsed 
#&gt; 2396.743   17.135 1332.385</code></pre>
</div>
