---
title: "Growth model with t-distribution and no rainfall: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/bw-25-growth-no-rain-t.rds
---



<p>Birthweight model including covariates at municipality level with linear effects, and
controlling for gestational age.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-25-growth-no-rain-t.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form_mu &lt;- born_weight ~ sex + born_race + birth_place + gestation_weeks +
    marital_status + study_years + consult_num + s(age) +
    s(wk_ini) + s(rivwk_conception, bs = &quot;cc&quot;) +
    remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;)

form_sigma &lt;- sigma ~ sex + born_race + birth_place +
    study_years + consult_num + s(age) +
    s(wk_ini) + s(res_muni, bs = &quot;re&quot;)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = TF, data = bwdata_model,
        n.iter = 8000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 4441698. logPost -2383904 logLik -2220751 edf 97.387 eps 0.0654 iteration   1&quot;
#&gt;   [2] &quot;AICc 4413816. logPost -2209738 logLik -2206795 edf 112.20 eps 0.0133 iteration   2&quot;
#&gt;   [3] &quot;AICc 4411020. logPost -2206508 logLik -2205372 edf 137.01 eps 0.0036 iteration   3&quot;
#&gt;   [4] &quot;AICc 4409641. logPost -2205685 logLik -2204673 edf 147.00 eps 0.0019 iteration   4&quot;
#&gt;   [5] &quot;AICc 4408962. logPost -2205207 logLik -2204330 edf 150.99 eps 0.0017 iteration   5&quot;
#&gt;   [6] &quot;AICc 4408866. logPost -2205090 logLik -2204277 edf 155.51 eps 0.0007 iteration   6&quot;
#&gt;   [7] &quot;AICc 4408851. logPost -2205081 logLik -2204267 edf 158.06 eps 0.0004 iteration   7&quot;
#&gt;   [8] &quot;AICc 4408850. logPost -2205082 logLik -2204267 edf 158.16 eps 0.0001 iteration   8&quot;
#&gt;   [9] &quot;AICc 4408850. logPost -2205082 logLik -2204267 edf 158.15 eps 0.0001 iteration   9&quot;
#&gt;  [10] &quot;AICc 4408850. logPost -2205081 logLik -2204267 edf 158.15 eps 0.0001 iteration  10&quot;
#&gt;  [11] &quot;AICc 4408850. logPost -2205081 logLik -2204267 edf 158.15 eps 0.0001 iteration  10&quot;
#&gt;  [12] &quot;elapsed time:  4.77min&quot;                                                            
#&gt;  [13] &quot;Starting the sampler...&quot;                                                           
#&gt;  [14] &quot;Starting the sampler...&quot;                                                           
#&gt;  [15] &quot;Starting the sampler...Starting the sampler...&quot;                                    
#&gt;  [16] &quot;&quot;                                                                                  
#&gt;  [17] &quot;&quot;                                                                                  
#&gt;  [18] &quot;|                    |   0% 871.23min&quot;                                             
#&gt;  [19] &quot;|                    |   0% 876.26min&quot;                                             
#&gt;  [20] &quot;&quot;                                                                                  
#&gt;  [21] &quot;|                    |   0% 899.38min|                    |   0% 899.38min&quot;        
#&gt;  [22] &quot;|*                   |   5% 822.03min 43.26min&quot;                                    
#&gt;  [23] &quot;|*                   |   5% 823.87min 43.36min&quot;                                    
#&gt;  [24] &quot;|*                   |   5% 824.16min 43.38min&quot;                                    
#&gt;  [25] &quot;|*                   |   5% 827.88min 43.57min&quot;                                    
#&gt;  [26] &quot;|**                  |  10% 780.23min 86.69min&quot;                                    
#&gt;  [27] &quot;|**                  |  10% 781.40min 86.82min&quot;                                    
#&gt;  [28] &quot;|**                  |  10% 783.63min 87.07min&quot;                                    
#&gt;  [29] &quot;|**                  |  10% 785.47min 87.27min&quot;                                    
#&gt;  [30] &quot;|***                 |  15% 736.27min 129.93min&quot;                                   
#&gt;  [31] &quot;|***                 |  15% 736.80min 130.02min&quot;                                   
#&gt;  [32] &quot;|***                 |  15% 738.25min 130.28min&quot;                                   
#&gt;  [33] &quot;|***                 |  15% 738.92min 130.40min&quot;                                   
#&gt;  [34] &quot;|****                |  20% 692.82min 173.20min&quot;                                   
#&gt;  [35] &quot;|****                |  20% 693.19min 173.30min&quot;                                   
#&gt;  [36] &quot;|****                |  20% 693.55min 173.39min&quot;                                   
#&gt;  [37] &quot;|****                |  20% 694.41min 173.60min&quot;                                   
#&gt;  [38] &quot;|*****               |  25% 651.29min 217.10min&quot;                                   
#&gt;  [39] &quot;|*****               |  25% 651.88min 217.29min&quot;                                   
#&gt;  [40] &quot;|*****               |  25% 651.92min 217.31min&quot;                                   
#&gt;  [41] &quot;|*****               |  25% 652.85min 217.62min&quot;                                   
#&gt;  [42] &quot;|******              |  30% 608.23min 260.67min&quot;                                   
#&gt;  [43] &quot;|******              |  30% 608.94min 260.97min&quot;                                   
#&gt;  [44] &quot;|******              |  30% 609.28min 261.12min&quot;                                   
#&gt;  [45] &quot;|******              |  30% 610.49min 261.64min&quot;                                   
#&gt;  [46] &quot;|*******             |  35% 564.91min 304.18min&quot;                                   
#&gt;  [47] &quot;|*******             |  35% 565.55min 304.53min&quot;                                   
#&gt;  [48] &quot;|*******             |  35% 565.92min 304.73min&quot;                                   
#&gt;  [49] &quot;|*******             |  35% 566.96min 305.28min&quot;                                   
#&gt;  [50] &quot;|********            |  40% 521.40min 347.60min&quot;                                   
#&gt;  [51] &quot;|********            |  40% 522.44min 348.29min&quot;                                   
#&gt;  [52] &quot;|********            |  40% 522.44min 348.30min&quot;                                   
#&gt;  [53] &quot;|********            |  40% 522.97min 348.64min&quot;                                   
#&gt;  [54] &quot;|*********           |  45% 477.93min 391.03min&quot;                                   
#&gt;  [55] &quot;|*********           |  45% 478.78min 391.73min&quot;                                   
#&gt;  [56] &quot;|*********           |  45% 479.10min 391.99min&quot;                                   
#&gt;  [57] &quot;|*********           |  45% 479.22min 392.09min&quot;                                   
#&gt;  [58] &quot;|**********          |  50% 434.71min 434.71min&quot;                                   
#&gt;  [59] &quot;|**********          |  50% 435.50min 435.50min&quot;                                   
#&gt;  [60] &quot;|**********          |  50% 435.58min 435.58min&quot;                                   
#&gt;  [61] &quot;|**********          |  50% 435.72min 435.72min&quot;                                   
#&gt;  [62] &quot;|***********         |  55% 391.14min 478.06min&quot;                                   
#&gt;  [63] &quot;|***********         |  55% 391.84min 478.92min&quot;                                   
#&gt;  [64] &quot;|***********         |  55% 391.84min 478.91min&quot;                                   
#&gt;  [65] &quot;|***********         |  55% 392.07min 479.20min&quot;                                   
#&gt;  [66] &quot;|************        |  60% 347.72min 521.58min&quot;                                   
#&gt;  [67] &quot;|************        |  60% 348.31min 522.46min&quot;                                   
#&gt;  [68] &quot;|************        |  60% 348.39min 522.59min&quot;                                   
#&gt;  [69] &quot;|************        |  60% 348.42min 522.62min&quot;                                   
#&gt;  [70] &quot;|*************       |  65% 304.29min 565.11min&quot;                                   
#&gt;  [71] &quot;|*************       |  65% 304.74min 565.95min&quot;                                   
#&gt;  [72] &quot;|*************       |  65% 304.81min 566.08min&quot;                                   
#&gt;  [73] &quot;|*************       |  65% 304.83min 566.11min&quot;                                   
#&gt;  [74] &quot;|**************      |  70% 260.81min 608.55min&quot;                                   
#&gt;  [75] &quot;|**************      |  70% 261.11min 609.25min&quot;                                   
#&gt;  [76] &quot;|**************      |  70% 261.22min 609.52min&quot;                                   
#&gt;  [77] &quot;|**************      |  70% 261.32min 609.75min&quot;                                   
#&gt;  [78] &quot;|***************     |  75% 217.17min 651.50min&quot;                                   
#&gt;  [79] &quot;|***************     |  75% 217.40min 652.19min&quot;                                   
#&gt;  [80] &quot;|***************     |  75% 217.50min 652.50min&quot;                                   
#&gt;  [81] &quot;|***************     |  75% 217.58min 652.73min&quot;                                   
#&gt;  [82] &quot;|****************    |  80% 173.75min 695.00min&quot;                                   
#&gt;  [83] &quot;|****************    |  80% 173.97min 695.88min&quot;                                   
#&gt;  [84] &quot;|****************    |  80% 174.09min 696.36min&quot;                                   
#&gt;  [85] &quot;|****************    |  80% 174.10min 696.38min&quot;                                   
#&gt;  [86] &quot;|*****************   |  85% 130.28min 738.28min&quot;                                   
#&gt;  [87] &quot;|*****************   |  85% 130.43min 739.11min&quot;                                   
#&gt;  [88] &quot;|*****************   |  85% 130.51min 739.58min&quot;                                   
#&gt;  [89] &quot;|*****************   |  85% 130.53min 739.66min&quot;                                   
#&gt;  [90] &quot;|******************  |  90% 86.91min 782.15min&quot;                                    
#&gt;  [91] &quot;|******************  |  90% 86.95min 782.52min&quot;                                    
#&gt;  [92] &quot;|******************  |  90% 87.03min 783.28min&quot;                                    
#&gt;  [93] &quot;|******************  |  90% 87.04min 783.36min&quot;                                    
#&gt;  [94] &quot;|******************* |  95% 43.44min 825.41min&quot;                                    
#&gt;  [95] &quot;|******************* |  95% 43.46min 825.82min&quot;                                    
#&gt;  [96] &quot;|******************* |  95% 43.50min 826.50min&quot;                                    
#&gt;  [97] &quot;|******************* |  95% 43.50min 826.52min&quot;                                    
#&gt;  [98] &quot;|********************| 100%  0.00sec 868.59min&quot;                                    
#&gt;  [99] &quot;&quot;                                                                                  
#&gt; [100] &quot;|********************| 100%  0.00sec 868.83min&quot;                                    
#&gt; [101] &quot;&quot;                                                                                  
#&gt; [102] &quot;|********************| 100%  0.00sec 869.39min&quot;                                    
#&gt; [103] &quot;&quot;                                                                                  
#&gt; [104] &quot;|********************| 100%  0.00sec 869.48min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   9.556   0.032   9.600</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;       user     system    elapsed 
#&gt; 209018.551     33.204  52534.708</code></pre>
</div>
