---
title: "Growth model with t-distribution: continue mcmc"
prerequisites:
    - src/43-mcmc-continue-light.R
    - src/45-mcmc-reshape.R
    - src/46-mcmc-last-sample.R
    - data/modelled/bw-20-growth-re-t.rds
targets:
    - data/modelled/bw-20-growth-re-t-continue.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;43-mcmc-continue-light.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;45-mcmc-reshape.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;46-mcmc-last-sample.R&quot;))

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-20-growth-re-t.rds&quot;)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)
path_modelled_continue &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-continue\\1&quot;, path_modelled_data)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_continue)

bamlss_model &lt;- readRDS(path_modelled_data)
form &lt;- readRDS(path_modelled_form)</code></pre>
</div>
<div id="continue-with-sampling" class="section level2">
<h2>Continue with sampling</h2>
<pre class="r"><code>starting_value &lt;- last_sample(bamlss_model)
{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = TF, data = bwdata_model,
        start = starting_value, optimizer = FALSE,
        n.iter = 4000, burnin = 0, cores = 3, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;  [1] &quot;Starting the sampler...&quot;                        
#&gt;  [2] &quot;Starting the sampler...Starting the sampler...&quot; 
#&gt;  [3] &quot;&quot;                                               
#&gt;  [4] &quot;&quot;                                               
#&gt;  [5] &quot;|                    |   0% 613.16min&quot;          
#&gt;  [6] &quot;|                    |   0% 619.33min&quot;          
#&gt;  [7] &quot;|                    |   0% 619.41min&quot;          
#&gt;  [8] &quot;|*                   |   5% 557.10min 29.32min&quot; 
#&gt;  [9] &quot;|*                   |   5% 557.61min 29.35min&quot; 
#&gt; [10] &quot;|*                   |   5% 557.61min 29.35min&quot; 
#&gt; [11] &quot;|**                  |  10% 519.84min 57.76min&quot; 
#&gt; [12] &quot;|**                  |  10% 520.45min 57.83min&quot; 
#&gt; [13] &quot;|**                  |  10% 521.07min 57.90min&quot; 
#&gt; [14] &quot;|***                 |  15% 487.50min 86.03min&quot; 
#&gt; [15] &quot;|***                 |  15% 487.94min 86.11min&quot; 
#&gt; [16] &quot;|***                 |  15% 488.26min 86.16min&quot; 
#&gt; [17] &quot;|****                |  20% 456.96min 114.24min&quot;
#&gt; [18] &quot;|****                |  20% 457.37min 114.34min&quot;
#&gt; [19] &quot;|****                |  20% 457.45min 114.36min&quot;
#&gt; [20] &quot;|*****               |  25% 428.19min 142.73min&quot;
#&gt; [21] &quot;|*****               |  25% 428.91min 142.97min&quot;
#&gt; [22] &quot;|*****               |  25% 428.92min 142.97min&quot;
#&gt; [23] &quot;|******              |  30% 400.04min 171.45min&quot;
#&gt; [24] &quot;|******              |  30% 400.63min 171.70min&quot;
#&gt; [25] &quot;|******              |  30% 400.76min 171.75min&quot;
#&gt; [26] &quot;|*******             |  35% 371.09min 199.82min&quot;
#&gt; [27] &quot;|*******             |  35% 371.53min 200.06min&quot;
#&gt; [28] &quot;|*******             |  35% 371.75min 200.17min&quot;
#&gt; [29] &quot;|********            |  40% 342.56min 228.37min&quot;
#&gt; [30] &quot;|********            |  40% 342.93min 228.62min&quot;
#&gt; [31] &quot;|********            |  40% 343.12min 228.74min&quot;
#&gt; [32] &quot;|*********           |  45% 313.73min 256.69min&quot;
#&gt; [33] &quot;|*********           |  45% 314.04min 256.94min&quot;
#&gt; [34] &quot;|*********           |  45% 314.19min 257.06min&quot;
#&gt; [35] &quot;|**********          |  50% 284.90min 284.90min&quot;
#&gt; [36] &quot;|**********          |  50% 285.15min 285.15min&quot;
#&gt; [37] &quot;|**********          |  50% 285.27min 285.27min&quot;
#&gt; [38] &quot;|***********         |  55% 256.23min 313.17min&quot;
#&gt; [39] &quot;|***********         |  55% 256.45min 313.44min&quot;
#&gt; [40] &quot;|***********         |  55% 256.51min 313.52min&quot;
#&gt; [41] &quot;|************        |  60% 227.57min 341.35min&quot;
#&gt; [42] &quot;|************        |  60% 227.75min 341.63min&quot;
#&gt; [43] &quot;|************        |  60% 227.81min 341.72min&quot;
#&gt; [44] &quot;|*************       |  65% 199.16min 369.87min&quot;
#&gt; [45] &quot;|*************       |  65% 199.29min 370.11min&quot;
#&gt; [46] &quot;|*************       |  65% 199.32min 370.16min&quot;
#&gt; [47] &quot;|**************      |  70% 171.11min 399.25min&quot;
#&gt; [48] &quot;|**************      |  70% 171.26min 399.60min&quot;
#&gt; [49] &quot;|**************      |  70% 171.38min 399.89min&quot;
#&gt; [50] &quot;|***************     |  75% 142.77min 428.30min&quot;
#&gt; [51] &quot;|***************     |  75% 143.02min 429.05min&quot;
#&gt; [52] &quot;|***************     |  75% 143.11min 429.32min&quot;
#&gt; [53] &quot;|****************    |  80% 114.35min 457.39min&quot;
#&gt; [54] &quot;|****************    |  80% 114.50min 457.99min&quot;
#&gt; [55] &quot;|****************    |  80% 114.52min 458.08min&quot;
#&gt; [56] &quot;|*****************   |  85% 85.73min 485.81min&quot; 
#&gt; [57] &quot;|*****************   |  85% 85.83min 486.36min&quot; 
#&gt; [58] &quot;|*****************   |  85% 85.84min 486.44min&quot; 
#&gt; [59] &quot;|******************  |  90% 57.14min 514.29min&quot; 
#&gt; [60] &quot;|******************  |  90% 57.20min 514.84min&quot; 
#&gt; [61] &quot;|******************  |  90% 57.21min 514.93min&quot; 
#&gt; [62] &quot;|******************* |  95% 28.56min 542.56min&quot; 
#&gt; [63] &quot;|******************* |  95% 28.58min 543.11min&quot; 
#&gt; [64] &quot;|******************* |  95% 28.59min 543.19min&quot; 
#&gt; [65] &quot;|********************| 100%  0.00sec 570.75min&quot; 
#&gt; [66] &quot;&quot;                                               
#&gt; [67] &quot;|********************| 100%  0.00sec 571.22min&quot; 
#&gt; [68] &quot;&quot;                                               
#&gt; [69] &quot;|********************| 100%  0.00sec 571.30min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_continue))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   9.523   0.038   9.607</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;       user     system    elapsed 
#&gt; 103003.346     20.949  34402.574</code></pre>
</div>
