---
title: "Gaussian growth model: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/bw-22-growth-re.rds
---



<p>Birthweight model including covariates at municipality level with linear effects, and
controlling for gestational age.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-22-growth-re.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form_mu_aux &lt;- born_weight ~ sex + born_race + birth_place + gestation_weeks +
    marital_status + study_years + consult_num + s(age) +
    s(wk_ini) + s(rivwk_conception, bs = &quot;cc&quot;) +
    remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;)

form_mu &lt;- update(form_mu_aux, . ~ . +
                s(neg_mbsi_mean_1wk, pos_mbsi_mean_1wk, k = 70) +
                s(neg_mckee_mean_8wk, pos_mckee_mean_8wk, k = 70) +
                s(neg_ext_mbsi_mean_8wk, pos_ext_mbsi_mean_8wk, k = 70))

form_sigma &lt;- sigma ~ sex + born_race + birth_place +
    study_years + consult_num + s(age) +
    s(wk_ini) + s(res_muni, bs = &quot;re&quot;)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model,
        n.iter = 3000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 4428095. logPost -2442899 logLik -2213933 edf 114.68 eps 0.0376 iteration   1&quot;
#&gt;   [2] &quot;AICc 4420736. logPost -2214323 logLik -2210241 edf 126.70 eps 0.0079 iteration   2&quot;
#&gt;   [3] &quot;AICc 4417630. logPost -2210556 logLik -2208655 edf 159.28 eps 0.0044 iteration   3&quot;
#&gt;   [4] &quot;AICc 4416793. logPost -2209856 logLik -2208189 edf 207.34 eps 0.0026 iteration   4&quot;
#&gt;   [5] &quot;AICc 4416672. logPost -2209829 logLik -2208088 edf 247.65 eps 0.0009 iteration   5&quot;
#&gt;   [6] &quot;AICc 4416646. logPost -2209834 logLik -2208065 edf 257.43 eps 0.0004 iteration   6&quot;
#&gt;   [7] &quot;AICc 4416642. logPost -2209834 logLik -2208063 edf 257.70 eps 0.0001 iteration   7&quot;
#&gt;   [8] &quot;AICc 4416642. logPost -2209834 logLik -2208063 edf 257.70 eps 0.0001 iteration   7&quot;
#&gt;   [9] &quot;elapsed time: 18.10min&quot;                                                            
#&gt;  [10] &quot;Starting the sampler...&quot;                                                           
#&gt;  [11] &quot;Starting the sampler...&quot;                                                           
#&gt;  [12] &quot;Starting the sampler...&quot;                                                           
#&gt;  [13] &quot;Starting the sampler...&quot;                                                           
#&gt;  [14] &quot;&quot;                                                                                  
#&gt;  [15] &quot;|                    |   0% 426.64min&quot;                                             
#&gt;  [16] &quot;|                    |   0% 428.33min&quot;                                             
#&gt;  [17] &quot;|                    |   0% 426.28min&quot;                                             
#&gt;  [18] &quot;|                    |   0% 427.44min&quot;                                             
#&gt;  [19] &quot;|*                   |   5% 401.91min 21.15min&quot;                                    
#&gt;  [20] &quot;|*                   |   5% 402.07min 21.16min&quot;                                    
#&gt;  [21] &quot;|*                   |   5% 402.89min 21.20min&quot;                                    
#&gt;  [22] &quot;|*                   |   5% 403.13min 21.22min&quot;                                    
#&gt;  [23] &quot;|**                  |  10% 381.38min 42.38min&quot;                                    
#&gt;  [24] &quot;|**                  |  10% 381.85min 42.43min&quot;                                    
#&gt;  [25] &quot;|**                  |  10% 381.82min 42.42min&quot;                                    
#&gt;  [26] &quot;|**                  |  10% 382.09min 42.45min&quot;                                    
#&gt;  [27] &quot;|***                 |  15% 360.09min 63.54min&quot;                                    
#&gt;  [28] &quot;|***                 |  15% 360.05min 63.54min&quot;                                    
#&gt;  [29] &quot;|***                 |  15% 360.47min 63.61min&quot;                                    
#&gt;  [30] &quot;|***                 |  15% 360.52min 63.62min&quot;                                    
#&gt;  [31] &quot;|****                |  20% 338.78min 84.70min&quot;                                    
#&gt;  [32] &quot;|****                |  20% 338.87min 84.72min&quot;                                    
#&gt;  [33] &quot;|****                |  20% 338.96min 84.74min&quot;                                    
#&gt;  [34] &quot;|****                |  20% 339.20min 84.80min&quot;                                    
#&gt;  [35] &quot;|*****               |  25% 317.58min 105.86min&quot;                                   
#&gt;  [36] &quot;|*****               |  25% 317.72min 105.91min&quot;                                   
#&gt;  [37] &quot;|*****               |  25% 317.75min 105.92min&quot;                                   
#&gt;  [38] &quot;|*****               |  25% 317.73min 105.91min&quot;                                   
#&gt;  [39] &quot;|******              |  30% 296.37min 127.01min&quot;                                   
#&gt;  [40] &quot;|******              |  30% 296.38min 127.02min&quot;                                   
#&gt;  [41] &quot;|******              |  30% 296.49min 127.07min&quot;                                   
#&gt;  [42] &quot;|******              |  30% 296.62min 127.12min&quot;                                   
#&gt;  [43] &quot;|*******             |  35% 275.16min 148.17min&quot;                                   
#&gt;  [44] &quot;|*******             |  35% 275.25min 148.21min&quot;                                   
#&gt;  [45] &quot;|*******             |  35% 275.26min 148.22min&quot;                                   
#&gt;  [46] &quot;|*******             |  35% 275.38min 148.28min&quot;                                   
#&gt;  [47] &quot;|********            |  40% 253.98min 169.32min&quot;                                   
#&gt;  [48] &quot;|********            |  40% 254.05min 169.36min&quot;                                   
#&gt;  [49] &quot;|********            |  40% 254.13min 169.42min&quot;                                   
#&gt;  [50] &quot;|********            |  40% 254.18min 169.45min&quot;                                   
#&gt;  [51] &quot;|*********           |  45% 232.78min 190.46min&quot;                                   
#&gt;  [52] &quot;|*********           |  45% 232.86min 190.52min&quot;                                   
#&gt;  [53] &quot;|*********           |  45% 232.96min 190.60min&quot;                                   
#&gt;  [54] &quot;|*********           |  45% 232.96min 190.60min&quot;                                   
#&gt;  [55] &quot;|**********          |  50% 211.60min 211.60min&quot;                                   
#&gt;  [56] &quot;|**********          |  50% 211.69min 211.69min&quot;                                   
#&gt;  [57] &quot;|**********          |  50% 211.72min 211.72min&quot;                                   
#&gt;  [58] &quot;|**********          |  50% 211.78min 211.78min&quot;                                   
#&gt;  [59] &quot;|***********         |  55% 190.48min 232.81min&quot;                                   
#&gt;  [60] &quot;|***********         |  55% 190.51min 232.84min&quot;                                   
#&gt;  [61] &quot;|***********         |  55% 190.51min 232.84min&quot;                                   
#&gt;  [62] &quot;|***********         |  55% 190.59min 232.95min&quot;                                   
#&gt;  [63] &quot;|************        |  60% 169.27min 253.90min&quot;                                   
#&gt;  [64] &quot;|************        |  60% 169.34min 254.01min&quot;                                   
#&gt;  [65] &quot;|************        |  60% 169.38min 254.07min&quot;                                   
#&gt;  [66] &quot;|************        |  60% 169.39min 254.08min&quot;                                   
#&gt;  [67] &quot;|*************       |  65% 148.13min 275.09min&quot;                                   
#&gt;  [68] &quot;|*************       |  65% 148.13min 275.09min&quot;                                   
#&gt;  [69] &quot;|*************       |  65% 148.20min 275.23min&quot;                                   
#&gt;  [70] &quot;|*************       |  65% 148.25min 275.31min&quot;                                   
#&gt;  [71] &quot;|**************      |  70% 126.95min 296.22min&quot;                                   
#&gt;  [72] &quot;|**************      |  70% 126.98min 296.28min&quot;                                   
#&gt;  [73] &quot;|**************      |  70% 127.00min 296.34min&quot;                                   
#&gt;  [74] &quot;|**************      |  70% 127.08min 296.52min&quot;                                   
#&gt;  [75] &quot;|***************     |  75% 105.77min 317.31min&quot;                                   
#&gt;  [76] &quot;|***************     |  75% 105.82min 317.46min&quot;                                   
#&gt;  [77] &quot;|***************     |  75% 105.85min 317.54min&quot;                                   
#&gt;  [78] &quot;|***************     |  75% 105.88min 317.65min&quot;                                   
#&gt;  [79] &quot;|****************    |  80% 84.62min 338.47min&quot;                                    
#&gt;  [80] &quot;|****************    |  80% 84.66min 338.66min&quot;                                    
#&gt;  [81] &quot;|****************    |  80% 84.67min 338.67min&quot;                                    
#&gt;  [82] &quot;|****************    |  80% 84.71min 338.82min&quot;                                    
#&gt;  [83] &quot;|*****************   |  85% 63.46min 359.59min&quot;                                    
#&gt;  [84] &quot;|*****************   |  85% 63.49min 359.78min&quot;                                    
#&gt;  [85] &quot;|*****************   |  85% 63.51min 359.87min&quot;                                    
#&gt;  [86] &quot;|*****************   |  85% 63.54min 360.04min&quot;                                    
#&gt;  [87] &quot;|******************  |  90% 42.30min 380.71min&quot;                                    
#&gt;  [88] &quot;|******************  |  90% 42.32min 380.89min&quot;                                    
#&gt;  [89] &quot;|******************  |  90% 42.34min 381.07min&quot;                                    
#&gt;  [90] &quot;|******************  |  90% 42.36min 381.27min&quot;                                    
#&gt;  [91] &quot;|******************* |  95% 21.15min 401.87min&quot;                                    
#&gt;  [92] &quot;|******************* |  95% 21.16min 402.09min&quot;                                    
#&gt;  [93] &quot;|******************* |  95% 21.17min 402.24min&quot;                                    
#&gt;  [94] &quot;|******************* |  95% 21.18min 402.36min&quot;                                    
#&gt;  [95] &quot;|********************| 100%  0.00sec 423.02min&quot;                                    
#&gt;  [96] &quot;&quot;                                                                                  
#&gt;  [97] &quot;|********************| 100%  0.00sec 423.28min&quot;                                    
#&gt;  [98] &quot;&quot;                                                                                  
#&gt;  [99] &quot;|********************| 100%  0.00sec 423.44min&quot;                                    
#&gt; [100] &quot;&quot;                                                                                  
#&gt; [101] &quot;|********************| 100%  0.00sec 423.48min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  46.546   0.152  46.703</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;       user     system    elapsed 
#&gt; 103496.989     72.666  27025.316</code></pre>
</div>
