---
title: "Simulate data for testing"
targets:
    - data/processed/bwdata_51_test.fst
---



<p>Simulating testing data to check adequacy of <code>bamlss</code> models with independent random
effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(ggplot2)

path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)</code></pre>
</div>
<div id="simulate-data" class="section level2">
<h2>Simulate data</h2>
<p><span class="math display">\[\text{born_weight} = \beta_0 + g(\text{marital_status}) + f(\text{age}) +
f(\text{municipality})\]</span></p>
<pre class="r"><code># groups parameters
groups_n &lt;- 40
groups_mu &lt;- 0
groups_sigma &lt;- 200
groups_eff &lt;- rnorm(groups_n, groups_mu, groups_sigma)

# marital_status parameters
marital_eff &lt;- c(40, 20, - 100)

# race parameters
race_eff &lt;- seq(1, by = 20, length = 4)

# data parameters
n &lt;- 20000
intercept &lt;- 3000
sigma &lt;- 200

# simulate
bwdata &lt;- tibble::tibble(id = 1:n) %&gt;% mutate(
    municipality = sample(1:groups_n, n, replace = TRUE),
    marital_status = factor(sample(seq_along(marital_eff), n, replace = TRUE)),
    race = factor(sample(seq_along(race_eff), n, replace = TRUE)),
    age = 30 + rnorm(n, 10, 10),
    born_weight = intercept +
        marital_eff[marital_status] +
        race_eff[race] -
        (age - 30) ^ 2 +
        groups_eff[municipality] +
        rnorm(n, 0, sigma),
    municipality = factor(municipality, 1:groups_n),
    fac_fake = factor(sample(0:1, n, replace = TRUE))
)

# discrete age
bwdata &lt;- bwdata %&gt;%
    mutate(age_bin = round(age))</code></pre>
</div>
<div id="check-simulated-data" class="section level2">
<h2>Check Simulated data</h2>
<pre class="r"><code># intercept
with(bwdata, mean(born_weight))</code></pre>
<pre><code>#&gt; [1] 2806.258</code></pre>
<pre class="r"><code>with(bwdata, mean(born_weight - marital_eff[marital_status] - race_eff[race]) +
     marital_eff[1] + race_eff[1])</code></pre>
<pre><code>#&gt; [1] 2829.555</code></pre>
<pre class="r"><code>intercept + 40 + 1 - mean((bwdata$age - 30) ^ 2) + with(bwdata, mean(groups_eff[municipality]))</code></pre>
<pre><code>#&gt; [1] 2828.273</code></pre>
<pre class="r"><code># ire
groups_sigma^2</code></pre>
<pre><code>#&gt; [1] 40000</code></pre>
<pre class="r"><code># intercept on sigma
log(sigma)</code></pre>
<pre><code>#&gt; [1] 5.298317</code></pre>
<pre class="r"><code># mean per group
setNames(round(groups_eff), seq_along(groups_eff))</code></pre>
<pre><code>#&gt;    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16   17   18   19   20 
#&gt;  270  113 -214  -48   15  353   16 -135 -253 -335   94  141  390 -204  142  201    6  160 -215 -260 
#&gt;   21   22   23   24   25   26   27   28   29   30   31   32   33   34   35   36   37   38   39   40 
#&gt;  109    1   60   12 -252 -117   53   47  232  -26   92 -246   58 -295   55 -238 -455  246   44 -142</code></pre>
<pre class="r"><code># marital_eff
marital_eff - marital_eff[1]</code></pre>
<pre><code>#&gt; [1]    0  -20 -140</code></pre>
<pre class="r"><code># race_eff
race_eff - race_eff[1]</code></pre>
<pre><code>#&gt; [1]  0 20 40 60</code></pre>
</div>
<div id="visualize" class="section level2">
<h2>Visualize</h2>
<pre class="r"><code>ggplot(bwdata, aes(age, born_weight, group = municipality)) +
    geom_point(size = 0.7) +
    geom_smooth(aes(col = municipality), se = FALSE, lwd = 0.5, show.legend = FALSE) +
    ggtitle(&quot;Birthweight vs age&quot;)</code></pre>
<pre><code>#&gt; `geom_smooth()` using method = &#39;loess&#39; and formula &#39;y ~ x&#39;</code></pre>
<p><img src="/birthweight/20-processing/11-bwdata-test_files/figure-html/unnamed-chunk-4-1.png" width="576" style="display: block; margin: auto;" /></p>
<pre class="r"><code>ggplot(bwdata, aes(marital_status, born_weight)) +
    geom_violin(aes(fill = marital_status)) +
    ggtitle(&quot;Birthweight by marital_status&quot;)</code></pre>
<p><img src="/birthweight/20-processing/11-bwdata-test_files/figure-html/unnamed-chunk-4-2.png" width="576" style="display: block; margin: auto;" /></p>
<pre class="r"><code>ggplot(bwdata, aes(municipality, born_weight)) +
    geom_violin(aes(fill = municipality), show.legend = FALSE) +
    ggtitle(&quot;Birthweight by municipality&quot;)</code></pre>
<p><img src="/birthweight/20-processing/11-bwdata-test_files/figure-html/unnamed-chunk-4-3.png" width="576" style="display: block; margin: auto;" /></p>
</div>
<div id="create-dummy-variables" class="section level2">
<h2>Create dummy variables</h2>
<pre class="r"><code>bwdata &lt;- cbind(
    bwdata,
    model.matrix(~ marital_status + race, bwdata)[, -1]
    )</code></pre>
</div>
<div id="save-birthweight-data-for-modelling" class="section level2">
<h2>Save birthweight data for modelling</h2>
<pre class="r"><code>fst::write_fst(bwdata, path = file.path(path_processed, &quot;bwdata_51_test.fst&quot;))</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   4.759   0.119   4.940</code></pre>
</div>
