---
title: "Create amazonas penalty for GMRF"
prerequisites:
    - data/processed/bwdata_41_model.fst
    - data/processed/ama_05_62.gpkg
targets:
    - data/processed/ama_10_penalty.rds
---



<p>Computing Amazonas penalty matrix for modelling with Gaussian Markov random fields. This
penalty is used in the <code>bamlss</code> package.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.8.0, GDAL 3.0.4, PROJ 6.3.1</code></pre>
<pre class="r"><code>library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:MASS&#39;:
#&gt; 
#&gt;     select</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:bamlss&#39;:
#&gt; 
#&gt;     n</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:nlme&#39;:
#&gt; 
#&gt;     collapse</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))
ama &lt;- st_read(file.path(path_processed, &quot;ama_05_62.gpkg&quot;))</code></pre>
<pre><code>#&gt; Reading layer `ama_05_62&#39; from data source `/home/rstudio/Documents/Projects/data-amazonia/70-studies/birthweight/data/processed/ama_05_62.gpkg&#39; using driver `GPKG&#39;
#&gt; Simple feature collection with 62 features and 373 fields
#&gt; geometry type:  MULTIPOLYGON
#&gt; dimension:      XY
#&gt; bbox:           xmin: 1573261 ymin: 8909613 xmax: 3542869 ymax: 10248330
#&gt; projected CRS:  unnamed</code></pre>
</div>
<div id="markov-random-field-penalty" class="section level2">
<h2>Markov random field penalty</h2>
<p>Penalty is constructed based on the neighbors.</p>
<pre class="r"><code>ama &lt;- ama %&gt;%
    dplyr::filter(inc_study) %&gt;%
    dplyr::select(mun_code)
ama &lt;- ama[match(levels(bwdata_model$res_muni), ama$mun_code), ]
K &lt;- neighbormatrix(ama)
colnames(K) &lt;- ama$mun_code
rownames(K) &lt;- ama$mun_code

saveRDS(K, file = file.path(path_processed, &quot;ama_10_penalty.rds&quot;))</code></pre>
</div>
<div id="visualize-neighbors" class="section level2">
<h2>Visualize neighbors</h2>
<pre class="r"><code>ama &lt;- mutate(ama, neighbors = diag(K))
plot(ama[&quot;neighbors&quot;])</code></pre>
<p><img src="/birthweight/20-processing/31-ama-penalty_files/figure-html/unnamed-chunk-3-1.png" width="98%" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  15.519   0.653  16.151</code></pre>
</div>
