---
title: "Full model with flexible prior: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/lbw-11-full-re-p1.rds
---



<p>Low birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;lbw-11-full-re-p1.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>hyper &lt;- list(a = 5, b = 1000)
form_aux &lt;- lbw ~ sex + born_race + birth_place +
    marital_status + study_years + consult_num + s(age, xt = hyper) +
    s(wk_ini, xt = hyper) + s(rivwk_conception, bs = &quot;cc&quot;, xt = hyper) +
    remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;, xt = hyper)
form &lt;- update(form_aux, . ~ . +
                s(neg_mbsi_mean_1wk, pos_mbsi_mean_1wk, k = 70, xt =  hyper) +
                s(neg_mckee_mean_8wk, pos_mckee_mean_8wk, k = 70, xt = hyper) +
                s(neg_ext_mbsi_mean_8wk, pos_ext_mbsi_mean_8wk, k = 70, xt = hyper))</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = &quot;binomial&quot;, data = bwdata_model,
        n.iter = 8000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 139298.7 logPost -8377857 logLik -69507.4 edf 141.88 eps 0.5483 iteration   1&quot;                                                                  
#&gt;   [2] &quot;AICc 129929.2 logPost -7939268 logLik -64781.3 edf 183.17 eps 0.2223 iteration   2&quot;                                                                  
#&gt;   [3] &quot;AICc 129565.2 logPost -8992485 logLik -64572.1 edf 210.29 eps 0.0380 iteration   3&quot;                                                                  
#&gt;   [4] &quot;AICc 129537.6 logPost -6947691 logLik -64550.5 edf 218.13 eps 0.0079 iteration   4&quot;                                                                  
#&gt;   [5] &quot;AICc 129531.4 logPost -1047376 logLik -64545.1 edf 220.39 eps 0.0029 iteration   5&quot;                                                                  
#&gt;   [6] &quot;AICc 129529.0 logPost -1379598 logLik -64543.1 edf 221.17 eps 0.0014 iteration   6&quot;                                                                  
#&gt;   [7] &quot;AICc 129527.8 logPost -1508622 logLik -64542.2 edf 221.48 eps 0.0008 iteration   7&quot;                                                                  
#&gt;   [8] &quot;AICc 129527.2 logPost -1490440 logLik -64541.8 edf 221.62 eps 0.0005 iteration   8&quot;                                                                  
#&gt;   [9] &quot;AICc 129526.8 logPost -1419587 logLik -64541.5 edf 221.68 eps 0.0003 iteration   9&quot;                                                                  
#&gt;  [10] &quot;AICc 129526.5 logPost -1344386 logLik -64541.3 edf 221.71 eps 0.0003 iteration  10&quot;                                                                  
#&gt;  [11] &quot;AICc 129526.3 logPost -1280304 logLik -64541.2 edf 221.73 eps 0.0002 iteration  11&quot;                                                                  
#&gt;  [12] &quot;AICc 129526.2 logPost -1231166 logLik -64541.2 edf 221.74 eps 0.0001 iteration  12&quot;                                                                  
#&gt;  [13] &quot;AICc 129526.2 logPost -1193967 logLik -64541.1 edf 221.75 eps 0.0001 iteration  13&quot;                                                                  
#&gt;  [14] &quot;AICc 129526.1 logPost -1159101 logLik -64541.1 edf 221.75 eps 0.0001 iteration  14&quot;                                                                  
#&gt;  [15] &quot;AICc 129526.1 logPost -1137510 logLik -64541.1 edf 221.76 eps 0.0001 iteration  15&quot;                                                                  
#&gt;  [16] &quot;AICc 129526.1 logPost -1137510 logLik -64541.1 edf 221.76 eps 0.0001 iteration  15&quot;                                                                  
#&gt;  [17] &quot;elapsed time: 10.18min&quot;                                                                                                                              
#&gt;  [18] &quot;Starting the sampler...&quot;                                                                                                                             
#&gt;  [19] &quot;Starting the sampler...&quot;                                                                                                                             
#&gt;  [20] &quot;Starting the sampler...&quot;                                                                                                                             
#&gt;  [21] &quot;Starting the sampler...&quot;                                                                                                                             
#&gt;  [22] &quot;&quot;                                                                                                                                                    
#&gt;  [23] &quot;&quot;                                                                                                                                                    
#&gt;  [24] &quot;&quot;                                                                                                                                                    
#&gt;  [25] &quot;&quot;                                                                                                                                                    
#&gt;  [26] &quot;||  | |                                                                          |   0%  |   0%  448.76min 448.64min|   0% |   0% 448.53min448.59min&quot;
#&gt;  [27] &quot;|*                   |   5% 424.53min 22.34min&quot;                                                                                                      
#&gt;  [28] &quot;|*                   |   5% 425.23min 22.38min&quot;                                                                                                      
#&gt;  [29] &quot;|*                   |   5% 425.23min 22.38min&quot;                                                                                                      
#&gt;  [30] &quot;|*                   |   5% 425.37min 22.39min&quot;                                                                                                      
#&gt;  [31] &quot;|**                  |  10% 408.50min 45.39min&quot;                                                                                                      
#&gt;  [32] &quot;|**                  |  10% 408.82min 45.42min&quot;                                                                                                      
#&gt;  [33] &quot;|**                  |  10% 408.82min 45.42min&quot;                                                                                                      
#&gt;  [34] &quot;|**                  |  10% 408.88min 45.43min&quot;                                                                                                      
#&gt;  [35] &quot;|***                 |  15% 387.49min 68.38min&quot;                                                                                                      
#&gt;  [36] &quot;|***                 |  15% 387.71min 68.42min&quot;                                                                                                      
#&gt;  [37] &quot;|***                 |  15% 387.71min 68.42min&quot;                                                                                                      
#&gt;  [38] &quot;|***                 |  15% 387.74min 68.43min&quot;                                                                                                      
#&gt;  [39] &quot;|****                |  20% 365.46min 91.37min&quot;                                                                                                      
#&gt;  [40] &quot;&quot;                                                                                                                                                    
#&gt;  [41] &quot;|****                |  20% 365.61min 91.40min|****                |  20% 365.61min 91.40min&quot;                                                        
#&gt;  [42] &quot;|****                |  20% 365.64min 91.41min&quot;                                                                                                      
#&gt;  [43] &quot;|*****               |  25% 343.18min 114.39min&quot;                                                                                                     
#&gt;  [44] &quot;|*****               |  25% 343.30min 114.43min&quot;                                                                                                     
#&gt;  [45] &quot;|*****               |  25% 343.30min 114.43min&quot;                                                                                                     
#&gt;  [46] &quot;|*****               |  25% 343.32min 114.44min&quot;                                                                                                     
#&gt;  [47] &quot;|******              |  30% 320.60min 137.40min&quot;                                                                                                     
#&gt;  [48] &quot;&quot;                                                                                                                                                    
#&gt;  [49] &quot;|******              |  30% 320.69min 137.44min|******              |  30% 320.69min 137.44min&quot;                                                      
#&gt;  [50] &quot;|******              |  30% 320.70min 137.44min&quot;                                                                                                     
#&gt;  [51] &quot;|*******             |  35% 297.86min 160.39min&quot;                                                                                                     
#&gt;  [52] &quot;|*******             |  35% 297.93min 160.42min&quot;                                                                                                     
#&gt;  [53] &quot;|*******             |  35% 297.93min 160.42min&quot;                                                                                                     
#&gt;  [54] &quot;|*******             |  35% 297.94min 160.43min&quot;                                                                                                     
#&gt;  [55] &quot;|********            |  40% 275.06min 183.38min&quot;                                                                                                     
#&gt;  [56] &quot;|********            |  40% 275.12min 183.41min&quot;                                                                                                     
#&gt;  [57] &quot;|********            |  40% 275.12min 183.41min&quot;                                                                                                     
#&gt;  [58] &quot;|********            |  40% 275.13min 183.42min&quot;                                                                                                     
#&gt;  [59] &quot;|*********           |  45% 252.23min 206.37min&quot;                                                                                                     
#&gt;  [60] &quot;|*********           |  45% 252.28min 206.41min&quot;                                                                                                     
#&gt;  [61] &quot;|*********           |  45% 252.28min 206.41min&quot;                                                                                                     
#&gt;  [62] &quot;|*********           |  45% 252.29min 206.42min&quot;                                                                                                     
#&gt;  [63] &quot;|**********          |  50% 229.35min 229.35min&quot;                                                                                                     
#&gt;  [64] &quot;&quot;                                                                                                                                                    
#&gt;  [65] &quot;|**********          |  50% 229.39min 229.39min|**********          |  50% 229.39min 229.39min&quot;                                                      
#&gt;  [66] &quot;|**********          |  50% 229.40min 229.40min&quot;                                                                                                     
#&gt;  [67] &quot;|***********         |  55% 206.42min 252.29min&quot;                                                                                                     
#&gt;  [68] &quot;|***********         |  55% 206.45min 252.33min&quot;                                                                                                     
#&gt;  [69] &quot;|***********         |  55% 206.45min 252.33min&quot;                                                                                                     
#&gt;  [70] &quot;|***********         |  55% 206.46min 252.34min&quot;                                                                                                     
#&gt;  [71] &quot;|************        |  60% 183.54min 275.31min&quot;                                                                                                     
#&gt;  [72] &quot;|************        |  60% 183.57min 275.35min&quot;                                                                                                     
#&gt;  [73] &quot;|************        |  60% 183.57min 275.35min&quot;                                                                                                     
#&gt;  [74] &quot;|************        |  60% 183.57min 275.35min&quot;                                                                                                     
#&gt;  [75] &quot;|*************       |  65% 160.52min 298.11min&quot;                                                                                                     
#&gt;  [76] &quot;|*************       |  65% 160.55min 298.16min&quot;                                                                                                     
#&gt;  [77] &quot;|*************       |  65% 160.55min 298.16min&quot;                                                                                                     
#&gt;  [78] &quot;|*************       |  65% 160.55min 298.16min&quot;                                                                                                     
#&gt;  [79] &quot;|**************      |  70% 137.38min 320.56min&quot;                                                                                                     
#&gt;  [80] &quot;|**************      |  70% 137.41min 320.61min&quot;                                                                                                     
#&gt;  [81] &quot;|**************      |  70% 137.41min 320.61min&quot;                                                                                                     
#&gt;  [82] &quot;|**************      |  70% 137.41min 320.62min&quot;                                                                                                     
#&gt;  [83] &quot;|***************     |  75% 114.35min 343.04min&quot;                                                                                                     
#&gt;  [84] &quot;|***************     |  75% 114.36min 343.09min&quot;                                                                                                     
#&gt;  [85] &quot;&quot;                                                                                                                                                    
#&gt;  [86] &quot;|***************     |  75% 114.36min 343.09min|***************     |  75% 114.36min 343.09min&quot;                                                      
#&gt;  [87] &quot;|****************    |  80% 91.37min 365.48min&quot;                                                                                                      
#&gt;  [88] &quot;|****************    |  80% 91.38min 365.53min&quot;                                                                                                      
#&gt;  [89] &quot;&quot;                                                                                                                                                    
#&gt;  [90] &quot;|****************    |  80% 91.38min 365.53min|****************    |  80% 91.38min 365.53min&quot;                                                        
#&gt;  [91] &quot;|*****************   |  85% 68.48min 388.04min&quot;                                                                                                      
#&gt;  [92] &quot;|*****************   |  85% 68.49min 388.09min&quot;                                                                                                      
#&gt;  [93] &quot;|*****************   |  85% 68.49min 388.09min&quot;                                                                                                      
#&gt;  [94] &quot;|*****************   |  85% 68.49min 388.09min&quot;                                                                                                      
#&gt;  [95] &quot;|******************  |  90% 45.61min 410.48min&quot;                                                                                                      
#&gt;  [96] &quot;&quot;                                                                                                                                                    
#&gt;  [97] &quot;|******************  |  90% 45.61min 410.53min|******************  |  90% 45.61min 410.53min&quot;                                                        
#&gt;  [98] &quot;|******************  |  90% 45.61min 410.53min&quot;                                                                                                      
#&gt;  [99] &quot;|******************* |  95% 22.79min 433.05min&quot;                                                                                                      
#&gt; [100] &quot;|******************* |  95% 22.79min 433.10min&quot;                                                                                                      
#&gt; [101] &quot;&quot;                                                                                                                                                    
#&gt; [102] &quot;|******************* |  95% 22.79min 433.10min|******************* |  95% 22.79min 433.10min&quot;                                                        
#&gt; [103] &quot;|********************| 100%  0.00sec 455.74min&quot;                                                                                                      
#&gt; [104] &quot;&quot;                                                                                                                                                    
#&gt; [105] &quot;|********************| 100%  0.00sec 455.79min&quot;                                                                                                      
#&gt; [106] &quot;&quot;                                                                                                                                                    
#&gt; [107] &quot;|********************| 100%  0.00sec 455.79min&quot;                                                                                                      
#&gt; [108] &quot;&quot;                                                                                                                                                    
#&gt; [109] &quot;|********************| 100%  0.00sec 455.79min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   6.596   0.040   6.655</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;      user    system   elapsed 
#&gt; 110184.76     35.36  28081.39</code></pre>
</div>
