---
title: "Full model with flexible prior: effects"
prerequisites:
    - data/modelled/lbw-11-full-re-p1-burned.rds
    - data/processed/bwdata_41_model.fst
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
model_file &lt;- file.path(path_modelled, &quot;lbw-11-full-re-p1.rds&quot;)
form_file &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, model_file)
model_file_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, model_file)

bwdata_model &lt;- fst::read_fst(bwdata_file)
form &lt;- readRDS(form_file)
model &lt;- readRDS(model_file_burned)</code></pre>
</div>
<div id="summary" class="section level2">
<h2>Summary</h2>
<pre class="r"><code>summary(model)</code></pre>
<pre><code>#&gt; 
#&gt; Call:
#&gt; bamlss(formula = form, family = &quot;binomial&quot;, data = bwdata_model, 
#&gt;     cores = 4, combine = FALSE, light = TRUE, n.iter = 8000, 
#&gt;     burnin = 0)
#&gt; ---
#&gt; Family: binomial 
#&gt; Link function: pi = logit
#&gt; *---
#&gt; Formula pi:
#&gt; ---
#&gt; lbw ~ sex + born_race + birth_place + marital_status + study_years + 
#&gt;     consult_num + s(age, xt = hyper) + s(wk_ini, xt = hyper) + 
#&gt;     s(rivwk_conception, bs = &quot;cc&quot;, xt = hyper) + remoteness + 
#&gt;     prop_tap_toilet + s(res_muni, bs = &quot;re&quot;, xt = hyper) + s(neg_mbsi_mean_1wk, 
#&gt;     pos_mbsi_mean_1wk, k = 70, xt = hyper) + s(neg_mckee_mean_8wk, 
#&gt;     pos_mckee_mean_8wk, k = 70, xt = hyper) + s(neg_ext_mbsi_mean_8wk, 
#&gt;     pos_ext_mbsi_mean_8wk, k = 70, xt = hyper)
#&gt; -
#&gt; Parametric coefficients:
#&gt;                                       Mean      2.5%       50%     97.5% parameters
#&gt; (Intercept)                      -5.746139 -9.648337 -5.751504 -2.066154      0.593
#&gt; sexfemale                         0.206497  0.175750  0.206411  0.238341      0.207
#&gt; born_raceindigenous               0.064123  0.011987  0.064634  0.113365      0.065
#&gt; born_raceNA                      -0.011340 -0.202184 -0.013212  0.187688     -0.013
#&gt; birth_placeanother health center -0.003873 -0.251103 -0.007934  0.261514      0.000
#&gt; birth_placehome                   0.014958 -0.032385  0.014655  0.063820      0.014
#&gt; birth_placeother                  0.340737  0.200700  0.341058  0.484380      0.340
#&gt; birth_placeNA                     0.024059 -0.140160  0.022798  0.193054      0.040
#&gt; marital_statusmarried            -0.159074 -0.215010 -0.158473 -0.106191     -0.160
#&gt; marital_statuswidow              -0.326396 -0.868855 -0.329963  0.252033     -0.340
#&gt; marital_statusdivorced           -0.126463 -0.587925 -0.128063  0.342259     -0.131
#&gt; marital_statusconsensual union   -0.162087 -0.204846 -0.162393 -0.119899     -0.164
#&gt; marital_statusNA                  0.027757 -0.105924  0.029033  0.164145      0.026
#&gt; study_years1 - 3                 -0.247644 -0.317036 -0.248742 -0.177829     -0.248
#&gt; study_years4 - 7                 -0.290916 -0.359794 -0.290158 -0.224740     -0.290
#&gt; study_years8 - 11                -0.206549 -0.275229 -0.205026 -0.139143     -0.208
#&gt; study_years&gt; 12                  -0.038393 -0.132483 -0.038768  0.059772     -0.038
#&gt; study_yearsNA                    -0.228462 -0.419522 -0.228442 -0.035374     -0.233
#&gt; consult_num1 - 3                 -0.299061 -0.356183 -0.298951 -0.242306     -0.298
#&gt; consult_num4 - 6                 -0.603640 -0.660887 -0.603703 -0.546783     -0.603
#&gt; consult_num&gt; 7                   -1.061549 -1.129192 -1.061941 -0.996885     -1.059
#&gt; consult_numNA                    -0.005738 -0.142005 -0.005864  0.142567     -0.005
#&gt; remoteness                        2.756496  0.363372  2.688799  5.171101     -0.041
#&gt; prop_tap_toilet                   7.697790 -2.432591  7.975479 17.659263      0.127
#&gt; -
#&gt; Acceptance probabilty:
#&gt;          Mean    2.5%     50% 97.5%
#&gt; alpha 0.74508 0.07741 0.84548     1
#&gt; -
#&gt; Smooth terms:
#&gt;                                                           Mean      2.5%       50%     97.5%
#&gt; s(age).tau21                                         1.390e+02 7.038e+01 1.280e+02 2.728e+02
#&gt; s(age).alpha                                         6.547e-01 1.148e-03 7.623e-01 1.000e+00
#&gt; s(age).edf                                           7.976e+00 7.557e+00 7.962e+00 8.429e+00
#&gt; s(wk_ini).tau21                                      1.279e+02 6.583e+01 1.176e+02 2.459e+02
#&gt; s(wk_ini).alpha                                      9.662e-01 8.035e-01 9.968e-01 1.000e+00
#&gt; s(wk_ini).edf                                        8.965e+00 8.939e+00 8.966e+00 8.983e+00
#&gt; s(rivwk_conception).tau21                            1.270e+02 6.377e+01 1.176e+02 2.463e+02
#&gt; s(rivwk_conception).alpha                            9.733e-01 8.499e-01 9.980e-01 1.000e+00
#&gt; s(rivwk_conception).edf                              8.000e+00 8.000e+00 8.000e+00 8.000e+00
#&gt; s(res_muni).tau21                                    4.088e+01 2.759e+01 3.995e+01 6.011e+01
#&gt; s(res_muni).alpha                                    7.229e-01 1.423e-01 7.865e-01 1.000e+00
#&gt; s(res_muni).edf                                      4.300e+01 4.299e+01 4.300e+01 4.300e+01
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).tau21         2.921e+01 2.118e+01 2.881e+01 4.025e+01
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).alpha         6.022e-01 2.697e-02 5.993e-01 1.000e+00
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).edf           6.660e+01 6.587e+01 6.662e+01 6.727e+01
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).tau21       2.962e+01 2.136e+01 2.918e+01 4.086e+01
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).alpha       6.578e-01 6.696e-02 6.809e-01 1.000e+00
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).edf         6.712e+01 6.651e+01 6.713e+01 6.765e+01
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).tau21 3.861e+01 2.750e+01 3.789e+01 5.544e+01
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).alpha 3.259e-01 1.176e-04 1.418e-01 1.000e+00
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).edf   6.527e+01 6.410e+01 6.529e+01 6.632e+01
#&gt;                                                      parameters
#&gt; s(age).tau21                                              0.690
#&gt; s(age).alpha                                                 NA
#&gt; s(age).edf                                                4.630
#&gt; s(wk_ini).tau21                                           6.608
#&gt; s(wk_ini).alpha                                              NA
#&gt; s(wk_ini).edf                                             8.483
#&gt; s(rivwk_conception).tau21                                 0.000
#&gt; s(rivwk_conception).alpha                                    NA
#&gt; s(rivwk_conception).edf                                   0.255
#&gt; s(res_muni).tau21                                         7.536
#&gt; s(res_muni).alpha                                            NA
#&gt; s(res_muni).edf                                          42.975
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).tau21              0.320
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).alpha                 NA
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).edf               28.628
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).tau21            1.538
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).alpha               NA
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).edf             49.619
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).tau21     21.716
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).alpha         NA
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).edf       63.174
#&gt; ---
#&gt; Sampler summary:
#&gt; -
#&gt; runtime = 27381.24
#&gt; ---
#&gt; Optimizer summary:
#&gt; -
#&gt; AICc = 129526.1 edf = 221.7651 logLik = -64541.13
#&gt; logPost = -1137510546 nobs = 291479 runtime = 610.701</code></pre>
</div>
<div id="parametric-effects" class="section level2">
<h2>Parametric effects</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot2d_bamlss(model, bwdata_model, model = &quot;pi&quot;, term = &quot;remoteness&quot;, grid = 50,
              FUN = c95)
plot2d_bamlss(model, bwdata_model, model = &quot;pi&quot;, term = &quot;prop_tap_toilet&quot;, grid = 50,
              FUN = c95)</code></pre>
<p><img src="/birthweight/40-modelling/50-low-birthweight/lbw-11-full-re-p1-10-effects_files/figure-html/unnamed-chunk-3-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="smooth-effects" class="section level2">
<h2>Smooth effects</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot(model, scale = 0, scheme = 2, spar = FALSE, image = TRUE, contour = TRUE)</code></pre>
<p><img src="/birthweight/40-modelling/50-low-birthweight/lbw-11-full-re-p1-10-effects_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-11-full-re-p1-10-effects_files/figure-html/unnamed-chunk-4-2.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-11-full-re-p1-10-effects_files/figure-html/unnamed-chunk-4-3.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-11-full-re-p1-10-effects_files/figure-html/unnamed-chunk-4-4.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-11-full-re-p1-10-effects_files/figure-html/unnamed-chunk-4-5.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   7.028   0.269   7.365</code></pre>
</div>
