---
title: "Full model without rainfall: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/lbw-15-full-no-rain.rds
---



<p>Low birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;lbw-15-full-no-rain.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form &lt;- lbw ~ sex + born_race + birth_place +
    marital_status + study_years + consult_num + s(age) +
    s(wk_ini) + s(rivwk_conception, bs = &quot;cc&quot;) +
    remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = &quot;binomial&quot;, data = bwdata_model,
        n.iter = 8000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 139282.9 logPost -69882.8 logLik -69566.2 edf 75.229 eps 0.5483 iteration   1&quot;                             
#&gt;   [2] &quot;AICc 130130.0 logPost -65998.2 logLik -64985.7 edf 79.241 eps 0.2211 iteration   2&quot;                             
#&gt;   [3] &quot;AICc 129803.7 logPost -70325.5 logLik -64822.0 edf 79.845 eps 0.0367 iteration   3&quot;                             
#&gt;   [4] &quot;AICc 129789.0 logPost -76962.0 logLik -64814.5 edf 79.985 eps 0.0067 iteration   4&quot;                             
#&gt;   [5] &quot;AICc 129787.8 logPost -78702.7 logLik -64813.9 edf 79.928 eps 0.0020 iteration   5&quot;                             
#&gt;   [6] &quot;AICc 129787.8 logPost -78905.3 logLik -64813.9 edf 79.907 eps 0.0007 iteration   6&quot;                             
#&gt;   [7] &quot;AICc 129787.8 logPost -78925.9 logLik -64814.0 edf 79.899 eps 0.0002 iteration   7&quot;                             
#&gt;   [8] &quot;AICc 129787.9 logPost -78927.9 logLik -64814.0 edf 79.896 eps 0.0000 iteration   8&quot;                             
#&gt;   [9] &quot;AICc 129787.9 logPost -78927.9 logLik -64814.0 edf 79.896 eps 0.0000 iteration   8&quot;                             
#&gt;  [10] &quot;elapsed time: 41.67sec&quot;                                                                                         
#&gt;  [11] &quot;Starting the sampler...Starting the sampler...&quot;                                                                 
#&gt;  [12] &quot;&quot;                                                                                                               
#&gt;  [13] &quot;Starting the sampler...&quot;                                                                                        
#&gt;  [14] &quot;Starting the sampler...&quot;                                                                                        
#&gt;  [15] &quot;&quot;                                                                                                               
#&gt;  [16] &quot;&quot;                                                                                                               
#&gt;  [17] &quot;&quot;                                                                                                               
#&gt;  [18] &quot;||    |                                                      |   0% |   0%  170.55min170.55min |   0% 170.53min&quot;
#&gt;  [19] &quot;|                    |   0% 170.67min&quot;                                                                          
#&gt;  [20] &quot;|*                   |   5% 159.62min  8.40min&quot;                                                                 
#&gt;  [21] &quot;|*                   |   5% 160.23min  8.43min&quot;                                                                 
#&gt;  [22] &quot;|*                   |   5% 160.23min  8.43min&quot;                                                                 
#&gt;  [23] &quot;|*                   |   5% 160.23min  8.43min&quot;                                                                 
#&gt;  [24] &quot;|**                  |  10% 151.07min 16.79min&quot;                                                                 
#&gt;  [25] &quot;&quot;                                                                                                               
#&gt;  [26] &quot;|**                  |  10%&quot;                                                                                    
#&gt;  [27] &quot; 151.83min 16.87min|**                  |  10% 151.83min 16.87min|**                  |  10% 151.83min 16.87min&quot;
#&gt;  [28] &quot;|***                 |  15% 142.83min 25.20min&quot;                                                                 
#&gt;  [29] &quot;|***                 |  15% 143.47min 25.32min&quot;                                                                 
#&gt;  [30] &quot;|***                 |  15% 143.57min 25.34min&quot;                                                                 
#&gt;  [31] &quot;|***                 |  15% 143.57min 25.34min&quot;                                                                 
#&gt;  [32] &quot;|****                |  20% 134.79min 33.70min&quot;                                                                 
#&gt;  [33] &quot;|****                |  20% 135.27min 33.82min&quot;                                                                 
#&gt;  [34] &quot;&quot;                                                                                                               
#&gt;  [35] &quot;|****                |  20% 135.36min 33.84min|****                |  20% 135.36min 33.84min&quot;                   
#&gt;  [36] &quot;|*****               |  25% 126.38min 42.13min&quot;                                                                 
#&gt;  [37] &quot;|*****               |  25% 126.75min 42.25min&quot;                                                                 
#&gt;  [38] &quot;|*****               |  25% 126.89min 42.30min&quot;                                                                 
#&gt;  [39] &quot;|*****               |  25% 126.89min 42.30min&quot;                                                                 
#&gt;  [40] &quot;|******              |  30% 117.85min 50.51min&quot;                                                                 
#&gt;  [41] &quot;|******              |  30% 118.25min 50.68min&quot;                                                                 
#&gt;  [42] &quot;|******              |  30% 118.37min 50.73min&quot;                                                                 
#&gt;  [43] &quot;|******              |  30% 118.38min 50.74min&quot;                                                                 
#&gt;  [44] &quot;|*******             |  35% 109.50min 58.96min&quot;                                                                 
#&gt;  [45] &quot;|*******             |  35% 109.81min 59.13min&quot;                                                                 
#&gt;  [46] &quot;|*******             |  35% 109.92min 59.19min&quot;                                                                 
#&gt;  [47] &quot;|*******             |  35% 109.92min 59.19min&quot;                                                                 
#&gt;  [48] &quot;|********            |  40% 101.12min 67.41min&quot;                                                                 
#&gt;  [49] &quot;|********            |  40% 101.43min 67.62min&quot;                                                                 
#&gt;  [50] &quot;|********            |  40% 101.48min 67.66min&quot;                                                                 
#&gt;  [51] &quot;|********            |  40% 101.53min 67.68min&quot;                                                                 
#&gt;  [52] &quot;|*********           |  45% 92.68min 75.83min&quot;                                                                  
#&gt;  [53] &quot;|*********           |  45% 93.01min 76.10min&quot;                                                                  
#&gt;  [54] &quot;|*********           |  45% 93.03min 76.12min&quot;                                                                  
#&gt;  [55] &quot;|*********           |  45% 93.08min 76.16min&quot;                                                                  
#&gt;  [56] &quot;|**********          |  50% 84.30min 84.30min&quot;                                                                  
#&gt;  [57] &quot;|**********          |  50% 84.59min 84.59min&quot;                                                                  
#&gt;  [58] &quot;|**********          |  50% 84.60min 84.60min&quot;                                                                  
#&gt;  [59] &quot;|**********          |  50% 84.67min 84.67min&quot;                                                                  
#&gt;  [60] &quot;|***********         |  55% 75.88min 92.74min&quot;                                                                  
#&gt;  [61] &quot;|***********         |  55% 76.13min 93.05min&quot;                                                                  
#&gt;  [62] &quot;|***********         |  55% 76.16min 93.09min&quot;                                                                  
#&gt;  [63] &quot;|***********         |  55% 76.21min 93.15min&quot;                                                                  
#&gt;  [64] &quot;|************        |  60% 67.46min 101.19min&quot;                                                                 
#&gt;  [65] &quot;|************        |  60% 67.69min 101.53min&quot;                                                                 
#&gt;  [66] &quot;|************        |  60% 67.72min 101.59min&quot;                                                                 
#&gt;  [67] &quot;|************        |  60% 67.77min 101.65min&quot;                                                                 
#&gt;  [68] &quot;|*************       |  65% 59.06min 109.69min&quot;                                                                 
#&gt;  [69] &quot;|*************       |  65% 59.24min 110.01min&quot;                                                                 
#&gt;  [70] &quot;|*************       |  65% 59.28min 110.10min&quot;                                                                 
#&gt;  [71] &quot;|*************       |  65% 59.32min 110.16min&quot;                                                                 
#&gt;  [72] &quot;|**************      |  70% 50.65min 118.18min&quot;                                                                 
#&gt;  [73] &quot;|**************      |  70% 50.80min 118.53min&quot;                                                                 
#&gt;  [74] &quot;|**************      |  70% 50.83min 118.61min&quot;                                                                 
#&gt;  [75] &quot;|**************      |  70% 50.86min 118.68min&quot;                                                                 
#&gt;  [76] &quot;|***************     |  75% 42.21min 126.64min&quot;                                                                 
#&gt;  [77] &quot;|***************     |  75% 42.33min 126.99min&quot;                                                                 
#&gt;  [78] &quot;|***************     |  75% 42.37min 127.10min&quot;                                                                 
#&gt;  [79] &quot;|***************     |  75% 42.39min 127.16min&quot;                                                                 
#&gt;  [80] &quot;|****************    |  80% 33.77min 135.07min&quot;                                                                 
#&gt;  [81] &quot;|****************    |  80% 33.86min 135.46min&quot;                                                                 
#&gt;  [82] &quot;|****************    |  80% 33.89min 135.57min&quot;                                                                 
#&gt;  [83] &quot;|****************    |  80% 33.91min 135.64min&quot;                                                                 
#&gt;  [84] &quot;|*****************   |  85% 25.33min 143.53min&quot;                                                                 
#&gt;  [85] &quot;|*****************   |  85% 25.40min 143.94min&quot;                                                                 
#&gt;  [86] &quot;|*****************   |  85% 25.42min 144.07min&quot;                                                                 
#&gt;  [87] &quot;|*****************   |  85% 25.44min 144.13min&quot;                                                                 
#&gt;  [88] &quot;|******************  |  90% 16.89min 152.03min&quot;                                                                 
#&gt;  [89] &quot;|******************  |  90% 16.94min 152.47min&quot;                                                                 
#&gt;  [90] &quot;|******************  |  90% 16.96min 152.61min&quot;                                                                 
#&gt;  [91] &quot;|******************  |  90% 16.96min 152.68min&quot;                                                                 
#&gt;  [92] &quot;|******************* |  95%  8.45min 160.51min&quot;                                                                 
#&gt;  [93] &quot;|******************* |  95%  8.47min 160.97min&quot;                                                                 
#&gt;  [94] &quot;|******************* |  95%  8.48min 161.12min&quot;                                                                 
#&gt;  [95] &quot;|******************* |  95%  8.48min 161.18min&quot;                                                                 
#&gt;  [96] &quot;|********************| 100%  0.00sec 169.00min&quot;                                                                 
#&gt;  [97] &quot;&quot;                                                                                                               
#&gt;  [98] &quot;|********************| 100%  0.00sec 169.40min&quot;                                                                 
#&gt;  [99] &quot;&quot;                                                                                                               
#&gt; [100] &quot;|********************| 100%  0.00sec 169.51min&quot;                                                                 
#&gt; [101] &quot;&quot;                                                                                                               
#&gt; [102] &quot;|********************| 100%  0.00sec 169.55min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   4.503   0.007   4.549</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;      user    system   elapsed 
#&gt; 40751.926    27.022 10254.004</code></pre>
</div>
