---
title: "Full model: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/lbw-10-full-re.rds
---



<p>Low birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;lbw-10-full-re.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form_aux &lt;- lbw ~ sex + born_race + birth_place +
    marital_status + study_years + consult_num + s(age) +
    s(wk_ini) + s(rivwk_conception, bs = &quot;cc&quot;) +
    remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;)
form &lt;- update(form_aux, . ~ . +
                s(neg_mbsi_mean_1wk, pos_mbsi_mean_1wk, k = 70) +
                s(neg_mckee_mean_8wk, pos_mckee_mean_8wk, k = 70) +
                s(neg_ext_mbsi_mean_8wk, pos_ext_mbsi_mean_8wk, k = 70))</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = &quot;binomial&quot;, data = bwdata_model,
        n.iter = 3000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 139298.7 logPost -69468.9 logLik -69507.4 edf 141.88 eps 0.5483 iteration   1&quot;          
#&gt;   [2] &quot;AICc 129929.2 logPost -65763.4 logLik -64781.3 edf 183.17 eps 0.2223 iteration   2&quot;          
#&gt;   [3] &quot;AICc 129565.2 logPost -65044.3 logLik -64572.1 edf 210.29 eps 0.0380 iteration   3&quot;          
#&gt;   [4] &quot;AICc 129537.6 logPost -64994.8 logLik -64550.5 edf 218.13 eps 0.0079 iteration   4&quot;          
#&gt;   [5] &quot;AICc 129531.4 logPost -65029.6 logLik -64545.1 edf 220.39 eps 0.0029 iteration   5&quot;          
#&gt;   [6] &quot;AICc 129529.0 logPost -65062.6 logLik -64543.1 edf 221.17 eps 0.0014 iteration   6&quot;          
#&gt;   [7] &quot;AICc 129527.8 logPost -65075.5 logLik -64542.2 edf 221.48 eps 0.0008 iteration   7&quot;          
#&gt;   [8] &quot;AICc 129527.2 logPost -65073.9 logLik -64541.8 edf 221.62 eps 0.0005 iteration   8&quot;          
#&gt;   [9] &quot;AICc 129526.8 logPost -65067.0 logLik -64541.5 edf 221.68 eps 0.0003 iteration   9&quot;          
#&gt;  [10] &quot;AICc 129526.5 logPost -65059.7 logLik -64541.3 edf 221.71 eps 0.0003 iteration  10&quot;          
#&gt;  [11] &quot;AICc 129526.3 logPost -65053.5 logLik -64541.2 edf 221.73 eps 0.0002 iteration  11&quot;          
#&gt;  [12] &quot;AICc 129526.2 logPost -65048.7 logLik -64541.2 edf 221.74 eps 0.0001 iteration  12&quot;          
#&gt;  [13] &quot;AICc 129526.2 logPost -65045.0 logLik -64541.1 edf 221.75 eps 0.0001 iteration  13&quot;          
#&gt;  [14] &quot;AICc 129526.1 logPost -65041.7 logLik -64541.1 edf 221.75 eps 0.0001 iteration  14&quot;          
#&gt;  [15] &quot;AICc 129526.1 logPost -65039.5 logLik -64541.1 edf 221.76 eps 0.0001 iteration  15&quot;          
#&gt;  [16] &quot;AICc 129526.1 logPost -65039.5 logLik -64541.1 edf 221.76 eps 0.0001 iteration  15&quot;          
#&gt;  [17] &quot;elapsed time: 10.11min&quot;                                                                      
#&gt;  [18] &quot;Starting the sampler...&quot;                                                                     
#&gt;  [19] &quot;Starting the sampler...&quot;                                                                     
#&gt;  [20] &quot;Starting the sampler...&quot;                                                                     
#&gt;  [21] &quot;Starting the sampler...&quot;                                                                     
#&gt;  [22] &quot;&quot;                                                                                            
#&gt;  [23] &quot;|                    |   0% 175.77min&quot;                                                       
#&gt;  [24] &quot;|                    |   0% 175.91min&quot;                                                       
#&gt;  [25] &quot;|                    |   0% 175.53min&quot;                                                       
#&gt;  [26] &quot;|                    |   0% 177.95min&quot;                                                       
#&gt;  [27] &quot;|*                   |   5% 169.42min  8.92min&quot;                                              
#&gt;  [28] &quot;|*                   |   5% 169.36min  8.91min&quot;                                              
#&gt;  [29] &quot;|*                   |   5% 169.46min  8.92min&quot;                                              
#&gt;  [30] &quot;|*                   |   5% 169.47min  8.92min&quot;                                              
#&gt;  [31] &quot;|**                  |  10% 160.46min 17.83min&quot;                                              
#&gt;  [32] &quot;|**                  |  10% 160.43min 17.83min&quot;                                              
#&gt;  [33] &quot;|**                  |  10% 160.42min 17.82min&quot;                                              
#&gt;  [34] &quot;|**                  |  10% 160.48min 17.83min&quot;                                              
#&gt;  [35] &quot;|***                 |  15% 150.99min 26.65min&quot;                                              
#&gt;  [36] &quot;|***                 |  15% 150.97min 26.64min&quot;                                              
#&gt;  [37] &quot;|***                 |  15% 150.97min 26.64min&quot;                                              
#&gt;  [38] &quot;|***                 |  15% 151.01min 26.65min&quot;                                              
#&gt;  [39] &quot;|****                |  20% 141.25min 35.31min&quot;                                              
#&gt;  [40] &quot;|****                |  20% 141.25min 35.31min&quot;                                              
#&gt;  [41] &quot;|****                |  20% 141.32min 35.33min&quot;                                              
#&gt;  [42] &quot;|****                |  20% 141.28min 35.32min&quot;                                              
#&gt;  [43] &quot;|*****               |  25% 131.81min 43.94min&quot;                                              
#&gt;  [44] &quot;&quot;                                                                                            
#&gt;  [45] &quot;|*****               |  25%|*****               |  25%  131.86min131.81min  43.95min43.94min&quot;
#&gt;  [46] &quot;|*****               |  25% 131.83min 43.94min&quot;                                              
#&gt;  [47] &quot;|******              |  30% 122.72min 52.59min&quot;                                              
#&gt;  [48] &quot;|******              |  30% 122.71min 52.59min&quot;                                              
#&gt;  [49] &quot;|******              |  30% 122.71min 52.59min&quot;                                              
#&gt;  [50] &quot;|******              |  30% 122.76min 52.61min&quot;                                              
#&gt;  [51] &quot;|*******             |  35% 113.87min 61.32min&quot;                                              
#&gt;  [52] &quot;|*******             |  35% 113.86min 61.31min&quot;                                              
#&gt;  [53] &quot;|*******             |  35% 113.86min 61.31min&quot;                                              
#&gt;  [54] &quot;|*******             |  35% 113.90min 61.33min&quot;                                              
#&gt;  [55] &quot;|********            |  40% 105.09min 70.06min&quot;                                              
#&gt;  [56] &quot;|********            |  40% 105.08min 70.05min&quot;                                              
#&gt;  [57] &quot;|********            |  40% 105.08min 70.05min&quot;                                              
#&gt;  [58] &quot;|********            |  40% 105.11min 70.07min&quot;                                              
#&gt;  [59] &quot;|*********           |  45% 96.34min 78.82min&quot;                                               
#&gt;  [60] &quot;|*********           |  45% 96.33min 78.82min&quot;                                               
#&gt;  [61] &quot;|*********           |  45% 96.33min 78.82min&quot;                                               
#&gt;  [62] &quot;|*********           |  45% 96.36min 78.84min&quot;                                               
#&gt;  [63] &quot;|**********          |  50% 87.58min 87.58min&quot;                                               
#&gt;  [64] &quot;|**********          |  50% 87.57min 87.57min&quot;                                               
#&gt;  [65] &quot;|**********          |  50% 87.57min 87.57min&quot;                                               
#&gt;  [66] &quot;|**********          |  50% 87.59min 87.59min&quot;                                               
#&gt;  [67] &quot;|***********         |  55% 78.78min 96.29min&quot;                                               
#&gt;  [68] &quot;|***********         |  55% 78.78min 96.29min&quot;                                               
#&gt;  [69] &quot;|***********         |  55% 78.78min 96.29min&quot;                                               
#&gt;  [70] &quot;|***********         |  55% 78.80min 96.31min&quot;                                               
#&gt;  [71] &quot;|************        |  60% 70.02min 105.04min&quot;                                              
#&gt;  [72] &quot;|************        |  60% 70.02min 105.03min&quot;                                              
#&gt;  [73] &quot;|************        |  60% 70.02min 105.03min&quot;                                              
#&gt;  [74] &quot;|************        |  60% 70.03min 105.05min&quot;                                              
#&gt;  [75] &quot;|*************       |  65% 61.26min 113.78min&quot;                                              
#&gt;  [76] &quot;|*************       |  65% 61.26min 113.77min&quot;                                              
#&gt;  [77] &quot;|*************       |  65% 61.26min 113.77min&quot;                                              
#&gt;  [78] &quot;|*************       |  65% 61.27min 113.79min&quot;                                              
#&gt;  [79] &quot;|**************      |  70% 52.49min 122.49min&quot;                                              
#&gt;  [80] &quot;|**************      |  70% 52.49min 122.48min&quot;                                              
#&gt;  [81] &quot;|**************      |  70% 52.49min 122.48min&quot;                                              
#&gt;  [82] &quot;|**************      |  70% 52.50min 122.50min&quot;                                              
#&gt;  [83] &quot;|***************     |  75% 43.75min 131.26min&quot;                                              
#&gt;  [84] &quot;|***************     |  75% 43.75min 131.25min&quot;                                              
#&gt;  [85] &quot;|***************     |  75% 43.75min 131.26min&quot;                                              
#&gt;  [86] &quot;|***************     |  75% 43.76min 131.27min&quot;                                              
#&gt;  [87] &quot;|****************    |  80% 35.03min 140.13min&quot;                                              
#&gt;  [88] &quot;|****************    |  80% 35.03min 140.12min&quot;                                              
#&gt;  [89] &quot;|****************    |  80% 35.03min 140.13min&quot;                                              
#&gt;  [90] &quot;|****************    |  80% 35.04min 140.14min&quot;                                              
#&gt;  [91] &quot;|*****************   |  85% 26.30min 149.02min&quot;                                              
#&gt;  [92] &quot;|*****************   |  85% 26.30min 149.01min&quot;                                              
#&gt;  [93] &quot;|*****************   |  85% 26.30min 149.02min&quot;                                              
#&gt;  [94] &quot;|*****************   |  85% 26.30min 149.03min&quot;                                              
#&gt;  [95] &quot;|******************  |  90% 17.55min 157.91min&quot;                                              
#&gt;  [96] &quot;|******************  |  90% 17.55min 157.91min&quot;                                              
#&gt;  [97] &quot;|******************  |  90% 17.55min 157.91min&quot;                                              
#&gt;  [98] &quot;|******************  |  90% 17.55min 157.93min&quot;                                              
#&gt;  [99] &quot;|******************* |  95%  8.78min 166.80min&quot;                                              
#&gt; [100] &quot;|******************* |  95%  8.78min 166.79min&quot;                                              
#&gt; [101] &quot;|******************* |  95%  8.78min 166.80min&quot;                                              
#&gt; [102] &quot;|******************* |  95%  8.78min 166.82min&quot;                                              
#&gt; [103] &quot;|********************| 100%  0.00sec 175.46min&quot;                                              
#&gt; [104] &quot;&quot;                                                                                            
#&gt; [105] &quot;|********************| 100%  0.00sec 175.45min&quot;                                              
#&gt; [106] &quot;&quot;                                                                                            
#&gt; [107] &quot;|********************| 100%  0.00sec 175.47min&quot;                                              
#&gt; [108] &quot;&quot;                                                                                            
#&gt; [109] &quot;|********************| 100%  0.00sec 175.46min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   4.998   0.024   5.082</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;      user    system   elapsed 
#&gt; 42919.275    20.108 11256.108</code></pre>
</div>
