---
title: "Growth model: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/lbw-20-growth-re.rds
---



<p>Low birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;lbw-20-growth-re.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form_aux &lt;- lbw ~ sex + born_race + birth_place + gestation_weeks +
    marital_status + study_years + consult_num + s(age) +
    s(wk_ini) + s(rivwk_conception, bs = &quot;cc&quot;) +
    remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;)
form &lt;- update(form_aux, . ~ . +
                s(neg_mbsi_mean_1wk, pos_mbsi_mean_1wk, k = 70) +
                s(neg_mckee_mean_8wk, pos_mckee_mean_8wk, k = 70) +
                s(neg_ext_mbsi_mean_8wk, pos_ext_mbsi_mean_8wk, k = 70))</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = &quot;binomial&quot;, data = bwdata_model,
        n.iter = 7000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 132902.9 logPost -66291.4 logLik -66306.5 edf 144.88 eps 0.7526 iteration   1&quot;                                                                  
#&gt;   [2] &quot;AICc 120893.2 logPost -60643.4 logLik -60300.3 edf 146.16 eps 0.2720 iteration   2&quot;                                                                  
#&gt;   [3] &quot;AICc 120464.9 logPost -60033.0 logLik -60106.8 edf 125.55 eps 0.0533 iteration   3&quot;                                                                  
#&gt;   [4] &quot;AICc 120447.8 logPost -59873.1 logLik -60107.3 edf 116.48 eps 0.0102 iteration   4&quot;                                                                  
#&gt;   [5] &quot;AICc 120447.3 logPost -59812.3 logLik -60108.9 edf 114.66 eps 0.0022 iteration   5&quot;                                                                  
#&gt;   [6] &quot;AICc 120447.3 logPost -60031.4 logLik -60109.3 edf 114.20 eps 0.0008 iteration   6&quot;                                                                  
#&gt;   [7] &quot;AICc 120447.1 logPost -62376.2 logLik -60109.5 edf 114.01 eps 0.0003 iteration   7&quot;                                                                  
#&gt;   [8] &quot;AICc 120446.9 logPost -69473.7 logLik -60109.5 edf 113.82 eps 0.0007 iteration   8&quot;                                                                  
#&gt;   [9] &quot;AICc 120446.8 logPost -72928.8 logLik -60109.6 edf 113.77 eps 0.0005 iteration   9&quot;                                                                  
#&gt;  [10] &quot;AICc 120446.8 logPost -73412.3 logLik -60109.5 edf 113.78 eps 0.0003 iteration  10&quot;                                                                  
#&gt;  [11] &quot;AICc 120446.8 logPost -73462.4 logLik -60109.5 edf 113.77 eps 0.0002 iteration  11&quot;                                                                  
#&gt;  [12] &quot;AICc 120446.7 logPost -73467.2 logLik -60109.6 edf 113.74 eps 0.0002 iteration  12&quot;                                                                  
#&gt;  [13] &quot;AICc 120446.7 logPost -73467.4 logLik -60109.6 edf 113.72 eps 0.0001 iteration  13&quot;                                                                  
#&gt;  [14] &quot;AICc 120446.7 logPost -73467.2 logLik -60109.6 edf 113.69 eps 0.0001 iteration  14&quot;                                                                  
#&gt;  [15] &quot;AICc 120446.7 logPost -73466.9 logLik -60109.6 edf 113.66 eps 0.0001 iteration  15&quot;                                                                  
#&gt;  [16] &quot;AICc 120446.7 logPost -73466.7 logLik -60109.6 edf 113.63 eps 0.0001 iteration  16&quot;                                                                  
#&gt;  [17] &quot;AICc 120446.7 logPost -73466.5 logLik -60109.7 edf 113.61 eps 0.0001 iteration  17&quot;                                                                  
#&gt;  [18] &quot;AICc 120446.7 logPost -73466.3 logLik -60109.7 edf 113.59 eps 0.0001 iteration  18&quot;                                                                  
#&gt;  [19] &quot;AICc 120446.7 logPost -73466.1 logLik -60109.7 edf 113.57 eps 0.0002 iteration  19&quot;                                                                  
#&gt;  [20] &quot;AICc 120446.7 logPost -73466.0 logLik -60109.7 edf 113.56 eps 0.0000 iteration  20&quot;                                                                  
#&gt;  [21] &quot;AICc 120446.7 logPost -73466.0 logLik -60109.7 edf 113.56 eps 0.0000 iteration  20&quot;                                                                  
#&gt;  [22] &quot;elapsed time: 14.29min&quot;                                                                                                                              
#&gt;  [23] &quot;Starting the sampler...Starting the sampler...Starting the sampler...&quot;                                                                               
#&gt;  [24] &quot;Starting the sampler...&quot;                                                                                                                             
#&gt;  [25] &quot;&quot;                                                                                                                                                    
#&gt;  [26] &quot;&quot;                                                                                                                                                    
#&gt;  [27] &quot;&quot;                                                                                                                                                    
#&gt;  [28] &quot;&quot;                                                                                                                                                    
#&gt;  [29] &quot;&quot;                                                                                                                                                    
#&gt;  [30] &quot;&quot;                                                                                                                                                    
#&gt;  [31] &quot;|                    |   0% 398.85min|| |                                                          |   0%  |   0% 398.85min|   0% 398.85min398.85min&quot;
#&gt;  [32] &quot;|*                   |   5% 380.10min 20.01min&quot;                                                                                                      
#&gt;  [33] &quot;|*                   |   5% 380.21min 20.01min&quot;                                                                                                      
#&gt;  [34] &quot;|*                   |   5% 380.33min 20.02min&quot;                                                                                                      
#&gt;  [35] &quot;|*                   |   5% 380.34min 20.02min&quot;                                                                                                      
#&gt;  [36] &quot;|**                  |  10% 363.71min 40.41min&quot;                                                                                                      
#&gt;  [37] &quot;|**                  |  10% 363.72min 40.41min&quot;                                                                                                      
#&gt;  [38] &quot;|**                  |  10% 363.78min 40.42min&quot;                                                                                                      
#&gt;  [39] &quot;|**                  |  10% 363.78min 40.42min&quot;                                                                                                      
#&gt;  [40] &quot;|***                 |  15% 344.79min 60.85min&quot;                                                                                                      
#&gt;  [41] &quot;|***                 |  15% 344.83min 60.85min&quot;                                                                                                      
#&gt;  [42] &quot;|***                 |  15% 344.87min 60.86min&quot;                                                                                                      
#&gt;  [43] &quot;|***                 |  15% 344.90min 60.87min&quot;                                                                                                      
#&gt;  [44] &quot;|****                |  20% 327.01min 81.75min&quot;                                                                                                      
#&gt;  [45] &quot;|****                |  20% 327.04min 81.76min&quot;                                                                                                      
#&gt;  [46] &quot;|****                |  20% 327.06min 81.77min&quot;                                                                                                      
#&gt;  [47] &quot;|****                |  20% 327.09min 81.77min&quot;                                                                                                      
#&gt;  [48] &quot;|*****               |  25% 307.94min 102.65min&quot;                                                                                                     
#&gt;  [49] &quot;|*****               |  25% 307.95min 102.65min&quot;                                                                                                     
#&gt;  [50] &quot;|*****               |  25% 307.97min 102.66min&quot;                                                                                                     
#&gt;  [51] &quot;|*****               |  25% 307.99min 102.66min&quot;                                                                                                     
#&gt;  [52] &quot;&quot;                                                                                                                                                    
#&gt;  [53] &quot;|******              |  30% 287.90min 123.38min|******              |  30% 287.90min 123.38min&quot;                                                      
#&gt;  [54] &quot;|******              |  30% 287.93min 123.40min&quot;                                                                                                     
#&gt;  [55] &quot;|******              |  30% 287.96min 123.41min&quot;                                                                                                     
#&gt;  [56] &quot;&quot;                                                                                                                                                    
#&gt;  [57] &quot;|*******             |  35% 267.54min 144.06min|*******             |  35% 267.54min 144.06min&quot;                                                      
#&gt;  [58] &quot;|*******             |  35% 267.56min 144.07min&quot;                                                                                                     
#&gt;  [59] &quot;|*******             |  35% 267.58min 144.08min&quot;                                                                                                     
#&gt;  [60] &quot;&quot;                                                                                                                                                    
#&gt;  [61] &quot;|********            |  40% 246.92min 164.62min|********            |  40% 246.92min 164.62min&quot;                                                      
#&gt;  [62] &quot;|********            |  40% 246.94min 164.63min&quot;                                                                                                     
#&gt;  [63] &quot;|********            |  40% 246.96min 164.64min&quot;                                                                                                     
#&gt;  [64] &quot;|*********           |  45% 226.42min 185.25min&quot;                                                                                                     
#&gt;  [65] &quot;|*********           |  45% 226.44min 185.27min&quot;                                                                                                     
#&gt;  [66] &quot;|*********           |  45% 226.51min 185.33min&quot;                                                                                                     
#&gt;  [67] &quot;|*********           |  45% 226.52min 185.33min&quot;                                                                                                     
#&gt;  [68] &quot;|**********          |  50% 205.68min 205.68min&quot;                                                                                                     
#&gt;  [69] &quot;|**********          |  50% 205.70min 205.70min&quot;                                                                                                     
#&gt;  [70] &quot;|**********          |  50% 205.76min 205.76min&quot;                                                                                                     
#&gt;  [71] &quot;|**********          |  50% 205.76min 205.76min&quot;                                                                                                     
#&gt;  [72] &quot;|***********         |  55% 185.06min 226.19min&quot;                                                                                                     
#&gt;  [73] &quot;|***********         |  55% 185.07min 226.20min&quot;                                                                                                     
#&gt;  [74] &quot;|***********         |  55% 185.12min 226.26min&quot;                                                                                                     
#&gt;  [75] &quot;|***********         |  55% 185.13min 226.27min&quot;                                                                                                     
#&gt;  [76] &quot;|************        |  60% 164.47min 246.71min&quot;                                                                                                     
#&gt;  [77] &quot;|************        |  60% 164.48min 246.72min&quot;                                                                                                     
#&gt;  [78] &quot;|************        |  60% 164.52min 246.78min&quot;                                                                                                     
#&gt;  [79] &quot;|************        |  60% 164.52min 246.79min&quot;                                                                                                     
#&gt;  [80] &quot;|*************       |  65% 143.87min 267.20min&quot;                                                                                                     
#&gt;  [81] &quot;|*************       |  65% 143.88min 267.21min&quot;                                                                                                     
#&gt;  [82] &quot;|*************       |  65% 143.91min 267.27min&quot;                                                                                                     
#&gt;  [83] &quot;|*************       |  65% 143.92min 267.27min&quot;                                                                                                     
#&gt;  [84] &quot;|**************      |  70% 123.30min 287.71min&quot;                                                                                                     
#&gt;  [85] &quot;|**************      |  70% 123.31min 287.72min&quot;                                                                                                     
#&gt;  [86] &quot;|**************      |  70% 123.33min 287.78min&quot;                                                                                                     
#&gt;  [87] &quot;|**************      |  70% 123.34min 287.79min&quot;                                                                                                     
#&gt;  [88] &quot;|***************     |  75% 102.74min 308.21min&quot;                                                                                                     
#&gt;  [89] &quot;|***************     |  75% 102.74min 308.22min&quot;                                                                                                     
#&gt;  [90] &quot;|***************     |  75% 102.76min 308.28min&quot;                                                                                                     
#&gt;  [91] &quot;|***************     |  75% 102.76min 308.29min&quot;                                                                                                     
#&gt;  [92] &quot;|****************    |  80% 82.17min 328.69min&quot;                                                                                                      
#&gt;  [93] &quot;|****************    |  80% 82.18min 328.70min&quot;                                                                                                      
#&gt;  [94] &quot;|****************    |  80% 82.19min 328.76min&quot;                                                                                                      
#&gt;  [95] &quot;|****************    |  80% 82.19min 328.77min&quot;                                                                                                      
#&gt;  [96] &quot;|*****************   |  85% 61.61min 349.14min&quot;                                                                                                      
#&gt;  [97] &quot;|*****************   |  85% 61.62min 349.16min&quot;                                                                                                      
#&gt;  [98] &quot;|*****************   |  85% 61.63min 349.21min&quot;                                                                                                      
#&gt;  [99] &quot;|*****************   |  85% 61.63min 349.22min&quot;                                                                                                      
#&gt; [100] &quot;|******************  |  90% 41.07min 369.62min&quot;                                                                                                      
#&gt; [101] &quot;|******************  |  90% 41.07min 369.63min&quot;                                                                                                      
#&gt; [102] &quot;|******************  |  90% 41.08min 369.69min&quot;                                                                                                      
#&gt; [103] &quot;|******************  |  90% 41.08min 369.70min&quot;                                                                                                      
#&gt; [104] &quot;|******************* |  95% 20.53min 390.14min&quot;                                                                                                      
#&gt; [105] &quot;|******************* |  95% 20.53min 390.15min&quot;                                                                                                      
#&gt; [106] &quot;|******************* |  95% 20.54min 390.20min&quot;                                                                                                      
#&gt; [107] &quot;|******************* |  95% 20.54min 390.21min&quot;                                                                                                      
#&gt; [108] &quot;|********************| 100%  0.00sec 410.63min&quot;                                                                                                      
#&gt; [109] &quot;&quot;                                                                                                                                                    
#&gt; [110] &quot;|********************| 100%  0.00sec 410.64min&quot;                                                                                                      
#&gt; [111] &quot;&quot;                                                                                                                                                    
#&gt; [112] &quot;|********************| 100%  0.00sec 410.69min&quot;                                                                                                      
#&gt; [113] &quot;&quot;                                                                                                                                                    
#&gt; [114] &quot;|********************| 100%  0.00sec 410.69min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   6.985   0.036   7.072</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;      user    system   elapsed 
#&gt; 99604.999    32.401 25622.346</code></pre>
</div>
