---
title: "Full model with smoother prior: effects"
prerequisites:
    - data/modelled/lbw-12-full-re-p2-burned.rds
    - data/processed/bwdata_41_model.fst
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
model_file &lt;- file.path(path_modelled, &quot;lbw-12-full-re-p2.rds&quot;)
form_file &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, model_file)
model_file_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, model_file)

bwdata_model &lt;- fst::read_fst(bwdata_file)
form &lt;- readRDS(form_file)
model &lt;- readRDS(model_file_burned)</code></pre>
</div>
<div id="summary" class="section level2">
<h2>Summary</h2>
<pre class="r"><code>summary(model)</code></pre>
<pre><code>#&gt; 
#&gt; Call:
#&gt; bamlss(formula = form, family = &quot;binomial&quot;, data = bwdata_model, 
#&gt;     cores = 4, combine = FALSE, light = TRUE, n.iter = 8000, 
#&gt;     burnin = 0)
#&gt; ---
#&gt; Family: binomial 
#&gt; Link function: pi = logit
#&gt; *---
#&gt; Formula pi:
#&gt; ---
#&gt; lbw ~ sex + born_race + birth_place + marital_status + study_years + 
#&gt;     consult_num + s(age, xt = hyper) + s(wk_ini, xt = hyper) + 
#&gt;     s(rivwk_conception, bs = &quot;cc&quot;, xt = hyper) + remoteness + 
#&gt;     prop_tap_toilet + s(res_muni, bs = &quot;re&quot;, xt = hyper) + s(neg_mbsi_mean_1wk, 
#&gt;     pos_mbsi_mean_1wk, k = 70, xt = hyper) + s(neg_mckee_mean_8wk, 
#&gt;     pos_mckee_mean_8wk, k = 70, xt = hyper) + s(neg_ext_mbsi_mean_8wk, 
#&gt;     pos_ext_mbsi_mean_8wk, k = 70, xt = hyper)
#&gt; -
#&gt; Parametric coefficients:
#&gt;                                       Mean      2.5%       50%     97.5% parameters
#&gt; (Intercept)                      -2.159511 -2.346907 -2.160038 -1.969596      0.593
#&gt; sexfemale                         0.205646  0.173880  0.205608  0.235656      0.207
#&gt; born_raceindigenous               0.068350  0.018692  0.068271  0.117029      0.065
#&gt; born_raceNA                      -0.013663 -0.202292 -0.014641  0.181295     -0.013
#&gt; birth_placeanother health center  0.005091 -0.236661  0.000719  0.273344      0.000
#&gt; birth_placehome                   0.006050 -0.042074  0.006426  0.054249      0.014
#&gt; birth_placeother                  0.319448  0.177596  0.318570  0.464291      0.340
#&gt; birth_placeNA                     0.046566 -0.108925  0.045370  0.205595      0.040
#&gt; marital_statusmarried            -0.158585 -0.213160 -0.157665 -0.104998     -0.160
#&gt; marital_statuswidow              -0.329066 -0.873007 -0.339134  0.260659     -0.340
#&gt; marital_statusdivorced           -0.140722 -0.589123 -0.148493  0.331590     -0.131
#&gt; marital_statusconsensual union   -0.157783 -0.196516 -0.158116 -0.117997     -0.164
#&gt; marital_statusNA                  0.012848 -0.128975  0.013552  0.152456      0.026
#&gt; study_years1 - 3                 -0.243038 -0.312327 -0.242867 -0.173189     -0.248
#&gt; study_years4 - 7                 -0.286147 -0.350998 -0.286374 -0.220371     -0.290
#&gt; study_years8 - 11                -0.206076 -0.271367 -0.205592 -0.138289     -0.208
#&gt; study_years&gt; 12                  -0.033720 -0.131942 -0.034731  0.063700     -0.038
#&gt; study_yearsNA                    -0.270199 -0.460423 -0.272043 -0.080995     -0.233
#&gt; consult_num1 - 3                 -0.297799 -0.357649 -0.298008 -0.239170     -0.298
#&gt; consult_num4 - 6                 -0.606966 -0.665467 -0.607325 -0.548905     -0.603
#&gt; consult_num&gt; 7                   -1.065997 -1.127078 -1.066704 -1.000670     -1.059
#&gt; consult_numNA                    -0.009763 -0.144002 -0.011375  0.133401     -0.005
#&gt; remoteness                        0.223100  0.022266  0.224474  0.408797     -0.041
#&gt; prop_tap_toilet                   0.005369 -0.371073  0.005387  0.382848      0.127
#&gt; -
#&gt; Acceptance probabilty:
#&gt;          Mean    2.5%     50% 97.5%
#&gt; alpha 0.73100 0.05576 0.83875     1
#&gt; -
#&gt; Smooth terms:
#&gt;                                                           Mean      2.5%       50%     97.5%
#&gt; s(age).tau21                                         5.006e-01 2.731e-01 4.714e-01 9.022e-01
#&gt; s(age).alpha                                         9.502e-01 6.741e-01 9.936e-01 1.000e+00
#&gt; s(age).edf                                           4.316e+00 3.806e+00 4.308e+00 4.890e+00
#&gt; s(wk_ini).tau21                                      1.109e-05 5.921e-06 1.019e-05 2.006e-05
#&gt; s(wk_ini).alpha                                      9.995e-01 9.965e-01 1.000e+00 1.000e+00
#&gt; s(wk_ini).edf                                        1.008e+00 1.004e+00 1.007e+00 1.014e+00
#&gt; s(rivwk_conception).tau21                            1.075e-05 5.872e-06 1.006e-05 1.925e-05
#&gt; s(rivwk_conception).alpha                            9.982e-01 9.875e-01 1.000e+00 1.000e+00
#&gt; s(rivwk_conception).edf                              1.443e+00 1.067e+00 1.431e+00 1.885e+00
#&gt; s(res_muni).tau21                                    1.276e-02 7.856e-03 1.233e-02 1.986e-02
#&gt; s(res_muni).alpha                                    8.164e-01 3.223e-01 9.043e-01 1.000e+00
#&gt; s(res_muni).edf                                      3.256e+01 2.906e+01 3.259e+01 3.567e+01
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).tau21         1.128e-05 5.963e-06 1.055e-05 2.113e-05
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).alpha         9.967e-01 9.755e-01 1.000e+00 1.000e+00
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).edf           2.011e+00 2.006e+00 2.010e+00 2.021e+00
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).tau21       1.134e-05 5.919e-06 1.051e-05 2.210e-05
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).alpha       9.944e-01 9.539e-01 1.000e+00 1.000e+00
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).edf         2.017e+00 2.009e+00 2.016e+00 2.032e+00
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).tau21 1.102e-05 5.938e-06 1.018e-05 2.094e-05
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).alpha 9.840e-01 8.776e-01 9.999e-01 1.000e+00
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).edf   2.018e+00 2.010e+00 2.017e+00 2.035e+00
#&gt;                                                      parameters
#&gt; s(age).tau21                                              0.690
#&gt; s(age).alpha                                                 NA
#&gt; s(age).edf                                                4.630
#&gt; s(wk_ini).tau21                                           6.608
#&gt; s(wk_ini).alpha                                              NA
#&gt; s(wk_ini).edf                                             8.483
#&gt; s(rivwk_conception).tau21                                 0.000
#&gt; s(rivwk_conception).alpha                                    NA
#&gt; s(rivwk_conception).edf                                   0.255
#&gt; s(res_muni).tau21                                         7.536
#&gt; s(res_muni).alpha                                            NA
#&gt; s(res_muni).edf                                          42.975
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).tau21              0.320
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).alpha                 NA
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).edf               28.628
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).tau21            1.538
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).alpha               NA
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).edf             49.619
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).tau21     21.716
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).alpha         NA
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).edf       63.174
#&gt; ---
#&gt; Sampler summary:
#&gt; -
#&gt; runtime = 27525.39
#&gt; ---
#&gt; Optimizer summary:
#&gt; -
#&gt; AICc = 129526.1 edf = 221.7651 logLik = -64541.13
#&gt; logPost = -65629.06 nobs = 291479 runtime = 602.708</code></pre>
</div>
<div id="parametric-effects" class="section level2">
<h2>Parametric effects</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot2d_bamlss(model, bwdata_model, model = &quot;pi&quot;, term = &quot;remoteness&quot;, grid = 50,
              FUN = c95)
plot2d_bamlss(model, bwdata_model, model = &quot;pi&quot;, term = &quot;prop_tap_toilet&quot;, grid = 50,
              FUN = c95)</code></pre>
<p><img src="/birthweight/40-modelling/50-low-birthweight/lbw-12-full-re-p2-10-effects_files/figure-html/unnamed-chunk-3-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="smooth-effects" class="section level2">
<h2>Smooth effects</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot(model, scale = 0, scheme = 2, spar = FALSE, image = TRUE, contour = TRUE)</code></pre>
<p><img src="/birthweight/40-modelling/50-low-birthweight/lbw-12-full-re-p2-10-effects_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-12-full-re-p2-10-effects_files/figure-html/unnamed-chunk-4-2.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-12-full-re-p2-10-effects_files/figure-html/unnamed-chunk-4-3.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-12-full-re-p2-10-effects_files/figure-html/unnamed-chunk-4-4.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-12-full-re-p2-10-effects_files/figure-html/unnamed-chunk-4-5.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   7.030   0.252   7.301</code></pre>
</div>
