---
title: "Full model with smoother prior: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/lbw-12-full-re-p2.rds
---



<p>Low birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;lbw-12-full-re-p2.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>hyper &lt;- list(a = 10, b = 0.0001)
form_aux &lt;- lbw ~ sex + born_race + birth_place +
    marital_status + study_years + consult_num + s(age, xt = hyper) +
    s(wk_ini, xt = hyper) + s(rivwk_conception, bs = &quot;cc&quot;, xt = hyper) +
    remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;, xt = hyper)
form &lt;- update(form_aux, . ~ . +
                s(neg_mbsi_mean_1wk, pos_mbsi_mean_1wk, k = 70, xt =  hyper) +
                s(neg_mckee_mean_8wk, pos_mckee_mean_8wk, k = 70, xt = hyper) +
                s(neg_ext_mbsi_mean_8wk, pos_ext_mbsi_mean_8wk, k = 70, xt = hyper))</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = &quot;binomial&quot;, data = bwdata_model,
        n.iter = 8000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 139298.7 logPost -69820.0 logLik -69507.4 edf 141.88 eps 0.5483 iteration   1&quot;          
#&gt;   [2] &quot;AICc 129929.2 logPost -66265.2 logLik -64781.3 edf 183.17 eps 0.2223 iteration   2&quot;          
#&gt;   [3] &quot;AICc 129565.2 logPost -65649.0 logLik -64572.1 edf 210.29 eps 0.0380 iteration   3&quot;          
#&gt;   [4] &quot;AICc 129537.6 logPost -65589.6 logLik -64550.5 edf 218.13 eps 0.0079 iteration   4&quot;          
#&gt;   [5] &quot;AICc 129531.4 logPost -65618.6 logLik -64545.1 edf 220.39 eps 0.0029 iteration   5&quot;          
#&gt;   [6] &quot;AICc 129529.0 logPost -65649.7 logLik -64543.1 edf 221.17 eps 0.0014 iteration   6&quot;          
#&gt;   [7] &quot;AICc 129527.8 logPost -65662.1 logLik -64542.2 edf 221.48 eps 0.0008 iteration   7&quot;          
#&gt;   [8] &quot;AICc 129527.2 logPost -65660.7 logLik -64541.8 edf 221.62 eps 0.0005 iteration   8&quot;          
#&gt;   [9] &quot;AICc 129526.8 logPost -65654.4 logLik -64541.5 edf 221.68 eps 0.0003 iteration   9&quot;          
#&gt;  [10] &quot;AICc 129526.5 logPost -65647.6 logLik -64541.3 edf 221.71 eps 0.0003 iteration  10&quot;          
#&gt;  [11] &quot;AICc 129526.3 logPost -65641.9 logLik -64541.2 edf 221.73 eps 0.0002 iteration  11&quot;          
#&gt;  [12] &quot;AICc 129526.2 logPost -65637.4 logLik -64541.2 edf 221.74 eps 0.0001 iteration  12&quot;          
#&gt;  [13] &quot;AICc 129526.2 logPost -65634.1 logLik -64541.1 edf 221.75 eps 0.0001 iteration  13&quot;          
#&gt;  [14] &quot;AICc 129526.1 logPost -65631.0 logLik -64541.1 edf 221.75 eps 0.0001 iteration  14&quot;          
#&gt;  [15] &quot;AICc 129526.1 logPost -65629.0 logLik -64541.1 edf 221.76 eps 0.0001 iteration  15&quot;          
#&gt;  [16] &quot;AICc 129526.1 logPost -65629.0 logLik -64541.1 edf 221.76 eps 0.0001 iteration  15&quot;          
#&gt;  [17] &quot;elapsed time: 10.05min&quot;                                                                      
#&gt;  [18] &quot;Starting the sampler...&quot;                                                                     
#&gt;  [19] &quot;Starting the sampler...&quot;                                                                     
#&gt;  [20] &quot;Starting the sampler...&quot;                                                                     
#&gt;  [21] &quot;Starting the sampler...&quot;                                                                     
#&gt;  [22] &quot;&quot;                                                                                            
#&gt;  [23] &quot;|                    |   0% 448.04min&quot;                                                       
#&gt;  [24] &quot;|                    |   0% 446.81min&quot;                                                       
#&gt;  [25] &quot;|                    |   0% 450.60min&quot;                                                       
#&gt;  [26] &quot;|                    |   0% 450.54min&quot;                                                       
#&gt;  [27] &quot;|*                   |   5% 419.67min 22.09min&quot;                                              
#&gt;  [28] &quot;&quot;                                                                                            
#&gt;  [29] &quot;|*                   |   5% |*                   |   5%420.42min  420.36min22.13min 22.12min&quot;
#&gt;  [30] &quot;|*                   |   5% 420.34min 22.12min&quot;                                              
#&gt;  [31] &quot;|**                  |  10% 397.61min 44.18min&quot;                                              
#&gt;  [32] &quot;&quot;                                                                                            
#&gt;  [33] &quot;|**                  |  10% 398.08min 44.23min|**                  |  10% 398.11min 44.23min&quot;
#&gt;  [34] &quot;|**                  |  10% 398.07min 44.23min&quot;                                              
#&gt;  [35] &quot;|***                 |  15% 376.33min 66.41min&quot;                                              
#&gt;  [36] &quot;|***                 |  15% 376.70min 66.48min&quot;                                              
#&gt;  [37] &quot;|***                 |  15% 376.94min 66.52min&quot;                                              
#&gt;  [38] &quot;|***                 |  15% 376.96min 66.52min&quot;                                              
#&gt;  [39] &quot;|****                |  20% 355.06min 88.76min&quot;                                              
#&gt;  [40] &quot;|****                |  20% 355.26min 88.82min&quot;                                              
#&gt;  [41] &quot;|****                |  20% 355.49min 88.87min&quot;                                              
#&gt;  [42] &quot;|****                |  20% 355.47min 88.87min&quot;                                              
#&gt;  [43] &quot;|*****               |  25% 332.93min 110.98min&quot;                                             
#&gt;  [44] &quot;|*****               |  25% 333.08min 111.03min&quot;                                             
#&gt;  [45] &quot;|*****               |  25% 333.25min 111.08min&quot;                                             
#&gt;  [46] &quot;|*****               |  25% 333.24min 111.08min&quot;                                             
#&gt;  [47] &quot;|******              |  30% 311.73min 133.60min&quot;                                             
#&gt;  [48] &quot;|******              |  30% 311.99min 133.71min&quot;                                             
#&gt;  [49] &quot;|******              |  30% 312.02min 133.72min&quot;                                             
#&gt;  [50] &quot;|******              |  30% 312.16min 133.78min&quot;                                             
#&gt;  [51] &quot;|*******             |  35% 290.49min 156.42min&quot;                                             
#&gt;  [52] &quot;|*******             |  35% 290.69min 156.53min&quot;                                             
#&gt;  [53] &quot;|*******             |  35% 290.72min 156.54min&quot;                                             
#&gt;  [54] &quot;|*******             |  35% 290.83min 156.60min&quot;                                             
#&gt;  [55] &quot;|********            |  40% 268.53min 179.02min&quot;                                             
#&gt;  [56] &quot;|********            |  40% 268.70min 179.13min&quot;                                             
#&gt;  [57] &quot;|********            |  40% 268.72min 179.15min&quot;                                             
#&gt;  [58] &quot;|********            |  40% 268.81min 179.21min&quot;                                             
#&gt;  [59] &quot;|*********           |  45% 247.14min 202.21min&quot;                                             
#&gt;  [60] &quot;|*********           |  45% 247.23min 202.28min&quot;                                             
#&gt;  [61] &quot;|*********           |  45% 247.29min 202.33min&quot;                                             
#&gt;  [62] &quot;|*********           |  45% 247.32min 202.35min&quot;                                             
#&gt;  [63] &quot;|**********          |  50% 225.80min 225.80min&quot;                                             
#&gt;  [64] &quot;|**********          |  50% 225.87min 225.87min&quot;                                             
#&gt;  [65] &quot;|**********          |  50% 225.92min 225.92min&quot;                                             
#&gt;  [66] &quot;|**********          |  50% 225.96min 225.96min&quot;                                             
#&gt;  [67] &quot;|***********         |  55% 204.05min 249.40min&quot;                                             
#&gt;  [68] &quot;|***********         |  55% 204.11min 249.47min&quot;                                             
#&gt;  [69] &quot;|***********         |  55% 204.15min 249.52min&quot;                                             
#&gt;  [70] &quot;|***********         |  55% 204.18min 249.56min&quot;                                             
#&gt;  [71] &quot;|************        |  60% 182.00min 272.99min&quot;                                             
#&gt;  [72] &quot;|************        |  60% 182.04min 273.06min&quot;                                             
#&gt;  [73] &quot;|************        |  60% 182.08min 273.11min&quot;                                             
#&gt;  [74] &quot;|************        |  60% 182.10min 273.15min&quot;                                             
#&gt;  [75] &quot;|*************       |  65% 159.70min 296.58min&quot;                                             
#&gt;  [76] &quot;|*************       |  65% 159.73min 296.65min&quot;                                             
#&gt;  [77] &quot;|*************       |  65% 159.76min 296.70min&quot;                                             
#&gt;  [78] &quot;|*************       |  65% 159.79min 296.74min&quot;                                             
#&gt;  [79] &quot;|**************      |  70% 137.12min 319.95min&quot;                                             
#&gt;  [80] &quot;|**************      |  70% 137.15min 320.02min&quot;                                             
#&gt;  [81] &quot;|**************      |  70% 137.17min 320.06min&quot;                                             
#&gt;  [82] &quot;|**************      |  70% 137.19min 320.12min&quot;                                             
#&gt;  [83] &quot;|***************     |  75% 114.31min 342.92min&quot;                                             
#&gt;  [84] &quot;|***************     |  75% 114.33min 343.00min&quot;                                             
#&gt;  [85] &quot;|***************     |  75% 114.35min 343.04min&quot;                                             
#&gt;  [86] &quot;|***************     |  75% 114.37min 343.10min&quot;                                             
#&gt;  [87] &quot;|****************    |  80% 91.49min 365.95min&quot;                                              
#&gt;  [88] &quot;|****************    |  80% 91.51min 366.02min&quot;                                              
#&gt;  [89] &quot;|****************    |  80% 91.52min 366.06min&quot;                                              
#&gt;  [90] &quot;|****************    |  80% 91.53min 366.12min&quot;                                              
#&gt;  [91] &quot;|*****************   |  85% 68.63min 388.91min&quot;                                              
#&gt;  [92] &quot;|*****************   |  85% 68.64min 388.98min&quot;                                              
#&gt;  [93] &quot;|*****************   |  85% 68.65min 389.02min&quot;                                              
#&gt;  [94] &quot;|*****************   |  85% 68.66min 389.07min&quot;                                              
#&gt;  [95] &quot;|******************  |  90% 45.76min 411.88min&quot;                                              
#&gt;  [96] &quot;|******************  |  90% 45.77min 411.96min&quot;                                              
#&gt;  [97] &quot;|******************  |  90% 45.78min 411.99min&quot;                                              
#&gt;  [98] &quot;|******************  |  90% 45.78min 412.05min&quot;                                              
#&gt;  [99] &quot;|******************* |  95% 22.89min 434.89min&quot;                                              
#&gt; [100] &quot;|******************* |  95% 22.89min 434.98min&quot;                                              
#&gt; [101] &quot;|******************* |  95% 22.89min 435.00min&quot;                                              
#&gt; [102] &quot;|******************* |  95% 22.90min 435.05min&quot;                                              
#&gt; [103] &quot;|********************| 100%  0.00sec 458.06min&quot;                                              
#&gt; [104] &quot;&quot;                                                                                            
#&gt; [105] &quot;|********************| 100%  0.00sec 458.16min&quot;                                              
#&gt; [106] &quot;&quot;                                                                                            
#&gt; [107] &quot;|********************| 100%  0.00sec 458.16min&quot;                                              
#&gt; [108] &quot;&quot;                                                                                            
#&gt; [109] &quot;|********************| 100%  0.00sec 458.20min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   7.449   0.044   7.585</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;       user     system    elapsed 
#&gt; 110725.012     43.991  28217.547</code></pre>
</div>
