---
title: "Growth model without rainfall: burn-in and thinning"
prerequisites:
    - data/modelled/lbw-25-growth-no-rain.rds
targets:
    - data/modelled/lbw-25-growth-no-rain-burned.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
path_modelled_data &lt;- file.path(path_modelled, &quot;lbw-25-growth-no-rain.rds&quot;)
path_modelled_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, path_modelled_data)
path_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(bwdata_file)
model &lt;- readRDS(path_modelled_data)
form &lt;- readRDS(path_form)</code></pre>
</div>
<div id="burn-in-and-thinning" class="section level2">
<h2>Burn-in and thinning</h2>
<pre class="r"><code>model$samples &lt;- window(model$samples, start = 3001, thin = 10)</code></pre>
</div>
<div id="compute-results" class="section level2">
<h2>Compute results</h2>
<pre class="r"><code>system.time(model$results &lt;- results.bamlss.default(model))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  57.069   0.132  57.209</code></pre>
<pre class="r"><code>system.time(saveRDS(model, file = path_modelled_burned))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   4.146   0.000   4.145</code></pre>
</div>
<div id="maximum-auto-correlation-function-acf" class="section level2">
<h2>Maximum auto-correlation function (ACF)</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2))
plot(model, model = &quot;pi&quot;, which = &quot;max-acf&quot;, spar = FALSE)</code></pre>
<div class="figure" style="text-align: center"><span id="fig:maximum-acf"></span>
<img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/maximum-acf-1.png" alt="Maximum ACF of samples for $\pi$" width="672" />
<p class="caption">
Figure 1: Maximum ACF of samples for <span class="math inline">\(\pi\)</span>
</p>
</div>
</div>
<div id="mcmc-convergence" class="section level2">
<h2>MCMC convergence</h2>
<pre class="r"><code>par(mar = c(4, 4, 3, 1), mfrow = c(1, 2))
plot(model, which = &quot;samples&quot;)</code></pre>
<p><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-1.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-2.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-3.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-4.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-5.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-6.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-7.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-8.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-9.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-10.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-11.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-12.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-13.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-14.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-15.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-16.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-17.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-18.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-19.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-20.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-21.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-22.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-23.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-24.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-25.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-26.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-27.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-28.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-29.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-30.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-31.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-32.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-33.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-34.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-35.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-36.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-37.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-38.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-39.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-40.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-41.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-42.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-43.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-44.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-45.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-46.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-47.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-48.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-49.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-50.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-51.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-52.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-53.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-54.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-55.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-56.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-57.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-58.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-59.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-60.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-61.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-62.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-63.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-64.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-65.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-66.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-67.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-68.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-69.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-70.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-71.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-72.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-73.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-74.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-75.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-76.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-77.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-78.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-79.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-80.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-81.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-82.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-83.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-84.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-85.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-86.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-87.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-88.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-89.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-90.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-91.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-92.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-93.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-94.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-95.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-96.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-97.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-98.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-99.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-100.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-101.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-102.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-103.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-104.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-105.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-106.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-107.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-108.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-109.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-25-growth-no-rain-09-burnin_files/figure-html/samples-110.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  87.482   0.373  87.988</code></pre>
</div>
