---
title: "Full model: continue mcmc"
prerequisites:
    - src/43-mcmc-continue-light.R
    - src/45-mcmc-reshape.R
    - src/46-mcmc-last-sample.R
    - data/modelled/lbw-10-full-re.rds
objects:
    - data/modelled/lbw-10-full-re-continue.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;43-mcmc-continue-light.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;45-mcmc-reshape.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;46-mcmc-last-sample.R&quot;))

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))

path_modelled_data &lt;- file.path(path_modelled, &quot;lbw-10-full-re.rds&quot;)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)
path_modelled_continue &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-continue\\1&quot;, path_modelled_data)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_continue)

bamlss_model &lt;- readRDS(path_modelled_data)
form &lt;- readRDS(path_modelled_form)</code></pre>
</div>
<div id="continue-with-sampling" class="section level2">
<h2>Continue with sampling</h2>
<pre class="r"><code>starting_value &lt;- last_sample(bamlss_model)
{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = &quot;binomial&quot;, data = bwdata_model,
        start = starting_value, optimizer = FALSE,
        n.iter = 4000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;  [1] &quot;Starting the sampler...&quot;                        
#&gt;  [2] &quot;Starting the sampler...&quot;                        
#&gt;  [3] &quot;Starting the sampler...&quot;                        
#&gt;  [4] &quot;Starting the sampler...&quot;                        
#&gt;  [5] &quot;&quot;                                               
#&gt;  [6] &quot;|                    |   0% 577.51min&quot;          
#&gt;  [7] &quot;|                    |   0% 626.74min&quot;          
#&gt;  [8] &quot;|                    |   0% 611.40min&quot;          
#&gt;  [9] &quot;|                    |   0% 629.89min&quot;          
#&gt; [10] &quot;|*                   |   5% 467.09min 24.58min&quot; 
#&gt; [11] &quot;|*                   |   5% 468.31min 24.65min&quot; 
#&gt; [12] &quot;|*                   |   5% 471.00min 24.79min&quot; 
#&gt; [13] &quot;|*                   |   5% 470.62min 24.77min&quot; 
#&gt; [14] &quot;|**                  |  10% 429.67min 47.74min&quot; 
#&gt; [15] &quot;|**                  |  10% 430.17min 47.80min&quot; 
#&gt; [16] &quot;|**                  |  10% 431.08min 47.90min&quot; 
#&gt; [17] &quot;|**                  |  10% 431.67min 47.96min&quot; 
#&gt; [18] &quot;|***                 |  15% 401.34min 70.82min&quot; 
#&gt; [19] &quot;|***                 |  15% 401.85min 70.92min&quot; 
#&gt; [20] &quot;|***                 |  15% 402.67min 71.06min&quot; 
#&gt; [21] &quot;|***                 |  15% 403.18min 71.15min&quot; 
#&gt; [22] &quot;|****                |  20% 375.64min 93.91min&quot; 
#&gt; [23] &quot;|****                |  20% 376.14min 94.04min&quot; 
#&gt; [24] &quot;|****                |  20% 376.85min 94.21min&quot; 
#&gt; [25] &quot;|****                |  20% 377.38min 94.35min&quot; 
#&gt; [26] &quot;|*****               |  25% 351.05min 117.02min&quot;
#&gt; [27] &quot;|*****               |  25% 351.48min 117.16min&quot;
#&gt; [28] &quot;|*****               |  25% 352.06min 117.35min&quot;
#&gt; [29] &quot;|*****               |  25% 352.62min 117.54min&quot;
#&gt; [30] &quot;|******              |  30% 327.12min 140.19min&quot;
#&gt; [31] &quot;|******              |  30% 327.46min 140.34min&quot;
#&gt; [32] &quot;|******              |  30% 327.72min 140.45min&quot;
#&gt; [33] &quot;|******              |  30% 328.25min 140.68min&quot;
#&gt; [34] &quot;|*******             |  35% 303.57min 163.46min&quot;
#&gt; [35] &quot;|*******             |  35% 303.93min 163.66min&quot;
#&gt; [36] &quot;|*******             |  35% 304.16min 163.78min&quot;
#&gt; [37] &quot;|*******             |  35% 304.61min 164.02min&quot;
#&gt; [38] &quot;|********            |  40% 279.84min 186.56min&quot;
#&gt; [39] &quot;|********            |  40% 280.26min 186.84min&quot;
#&gt; [40] &quot;|********            |  40% 280.36min 186.91min&quot;
#&gt; [41] &quot;|********            |  40% 280.75min 187.17min&quot;
#&gt; [42] &quot;|*********           |  45% 256.27min 209.68min&quot;
#&gt; [43] &quot;|*********           |  45% 256.61min 209.95min&quot;
#&gt; [44] &quot;|*********           |  45% 256.79min 210.10min&quot;
#&gt; [45] &quot;|*********           |  45% 257.06min 210.32min&quot;
#&gt; [46] &quot;|**********          |  50% 232.80min 232.80min&quot;
#&gt; [47] &quot;|**********          |  50% 233.07min 233.07min&quot;
#&gt; [48] &quot;|**********          |  50% 233.29min 233.29min&quot;
#&gt; [49] &quot;|**********          |  50% 233.46min 233.46min&quot;
#&gt; [50] &quot;|***********         |  55% 209.39min 255.92min&quot;
#&gt; [51] &quot;|***********         |  55% 209.61min 256.19min&quot;
#&gt; [52] &quot;|***********         |  55% 209.84min 256.48min&quot;
#&gt; [53] &quot;|***********         |  55% 209.92min 256.57min&quot;
#&gt; [54] &quot;|************        |  60% 186.05min 279.07min&quot;
#&gt; [55] &quot;|************        |  60% 186.21min 279.31min&quot;
#&gt; [56] &quot;|************        |  60% 186.42min 279.64min&quot;
#&gt; [57] &quot;|************        |  60% 186.43min 279.65min&quot;
#&gt; [58] &quot;|*************       |  65% 162.70min 302.15min&quot;
#&gt; [59] &quot;|*************       |  65% 162.87min 302.48min&quot;
#&gt; [60] &quot;|*************       |  65% 163.06min 302.83min&quot;
#&gt; [61] &quot;|*************       |  65% 163.02min 302.75min&quot;
#&gt; [62] &quot;|**************      |  70% 139.41min 325.29min&quot;
#&gt; [63] &quot;|**************      |  70% 139.55min 325.62min&quot;
#&gt; [64] &quot;|**************      |  70% 139.65min 325.85min&quot;
#&gt; [65] &quot;|**************      |  70% 139.72min 326.00min&quot;
#&gt; [66] &quot;|***************     |  75% 116.15min 348.46min&quot;
#&gt; [67] &quot;|***************     |  75% 116.28min 348.83min&quot;
#&gt; [68] &quot;|***************     |  75% 116.32min 348.97min&quot;
#&gt; [69] &quot;|***************     |  75% 116.36min 349.08min&quot;
#&gt; [70] &quot;|****************    |  80% 92.91min 371.65min&quot; 
#&gt; [71] &quot;|****************    |  80% 93.01min 372.05min&quot; 
#&gt; [72] &quot;|****************    |  80% 93.04min 372.14min&quot; 
#&gt; [73] &quot;|****************    |  80% 93.02min 372.07min&quot; 
#&gt; [74] &quot;|*****************   |  85% 69.68min 394.83min&quot; 
#&gt; [75] &quot;|*****************   |  85% 69.74min 395.21min&quot; 
#&gt; [76] &quot;|*****************   |  85% 69.74min 395.20min&quot; 
#&gt; [77] &quot;|*****************   |  85% 69.75min 395.27min&quot; 
#&gt; [78] &quot;|******************  |  90% 46.44min 418.00min&quot; 
#&gt; [79] &quot;|******************  |  90% 46.48min 418.28min&quot; 
#&gt; [80] &quot;|******************  |  90% 46.48min 418.31min&quot; 
#&gt; [81] &quot;|******************  |  90% 46.50min 418.49min&quot; 
#&gt; [82] &quot;|******************* |  95% 23.22min 441.17min&quot; 
#&gt; [83] &quot;|******************* |  95% 23.23min 441.35min&quot; 
#&gt; [84] &quot;|******************* |  95% 23.23min 441.41min&quot; 
#&gt; [85] &quot;|******************* |  95% 23.25min 441.70min&quot; 
#&gt; [86] &quot;|********************| 100%  0.00sec 464.36min&quot; 
#&gt; [87] &quot;&quot;                                               
#&gt; [88] &quot;|********************| 100%  0.00sec 464.42min&quot; 
#&gt; [89] &quot;&quot;                                               
#&gt; [90] &quot;|********************| 100%  0.00sec 464.53min&quot; 
#&gt; [91] &quot;&quot;                                               
#&gt; [92] &quot;|********************| 100%  0.00sec 464.90min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_continue))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  26.030   0.124  26.157</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;       user     system    elapsed 
#&gt; 112142.811     65.764  28291.466</code></pre>
</div>
