---
title: "Full model: effects"
prerequisites:
    - data/modelled/lbw-10-full-re-burned.rds
    - data/processed/bwdata_41_model.fst
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
model_file &lt;- file.path(path_modelled, &quot;lbw-10-full-re.rds&quot;)
form_file &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, model_file)
model_file_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, model_file)

bwdata_model &lt;- fst::read_fst(bwdata_file)
form &lt;- readRDS(form_file)
model &lt;- readRDS(model_file_burned)</code></pre>
</div>
<div id="summary" class="section level2">
<h2>Summary</h2>
<pre class="r"><code>summary(model)</code></pre>
<pre><code>#&gt; 
#&gt; Call:
#&gt; bamlss(formula = form, family = &quot;binomial&quot;, data = bwdata_model, 
#&gt;     cores = 4, combine = FALSE, light = TRUE, n.iter = 3000, 
#&gt;     burnin = 0)
#&gt; ---
#&gt; Family: binomial 
#&gt; Link function: pi = logit
#&gt; *---
#&gt; Formula pi:
#&gt; ---
#&gt; lbw ~ sex + born_race + birth_place + marital_status + study_years + 
#&gt;     consult_num + s(age) + s(wk_ini) + s(rivwk_conception, bs = &quot;cc&quot;) + 
#&gt;     remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;) + s(neg_mbsi_mean_1wk, 
#&gt;     pos_mbsi_mean_1wk, k = 70) + s(neg_mckee_mean_8wk, pos_mckee_mean_8wk, 
#&gt;     k = 70) + s(neg_ext_mbsi_mean_8wk, pos_ext_mbsi_mean_8wk, 
#&gt;     k = 70)
#&gt; -
#&gt; Parametric coefficients:
#&gt;                                        Mean       2.5%        50%      97.5% parameters
#&gt; (Intercept)                      -2.1658376 -2.4319624 -2.1601403 -1.9060922      0.593
#&gt; sexfemale                         0.2070039  0.1759772  0.2066543  0.2363417      0.207
#&gt; born_raceindigenous               0.0667911  0.0174085  0.0674261  0.1169290      0.065
#&gt; born_raceNA                      -0.0176114 -0.2073267 -0.0174042  0.1798509     -0.013
#&gt; birth_placeanother health center  0.0011679 -0.2391878  0.0003536  0.2500118      0.000
#&gt; birth_placehome                   0.0120588 -0.0354034  0.0116492  0.0594698      0.014
#&gt; birth_placeother                  0.3358386  0.1957715  0.3374128  0.4839088      0.340
#&gt; birth_placeNA                     0.0528583 -0.1084978  0.0494021  0.2087015      0.040
#&gt; marital_statusmarried            -0.1577649 -0.2132233 -0.1581320 -0.1018063     -0.160
#&gt; marital_statuswidow              -0.3187990 -0.8401923 -0.3281749  0.2644606     -0.340
#&gt; marital_statusdivorced           -0.1238819 -0.5988271 -0.1402106  0.3874013     -0.131
#&gt; marital_statusconsensual union   -0.1589283 -0.1987011 -0.1593350 -0.1195457     -0.164
#&gt; marital_statusNA                  0.0236716 -0.1203158  0.0254596  0.1624749      0.026
#&gt; study_years1 - 3                 -0.2469705 -0.3203908 -0.2466745 -0.1767881     -0.248
#&gt; study_years4 - 7                 -0.2878626 -0.3581063 -0.2887641 -0.2204480     -0.290
#&gt; study_years8 - 11                -0.2034260 -0.2739073 -0.2038168 -0.1328680     -0.208
#&gt; study_years&gt; 12                  -0.0322366 -0.1322795 -0.0315433  0.0645347     -0.038
#&gt; study_yearsNA                    -0.2489579 -0.4412563 -0.2483397 -0.0526108     -0.233
#&gt; consult_num1 - 3                 -0.2961960 -0.3501537 -0.2961071 -0.2392788     -0.298
#&gt; consult_num4 - 6                 -0.6023635 -0.6591067 -0.6029809 -0.5466483     -0.603
#&gt; consult_num&gt; 7                   -1.0586371 -1.1235168 -1.0597880 -0.9929174     -1.059
#&gt; consult_numNA                    -0.0024748 -0.1356399 -0.0032571  0.1392619     -0.005
#&gt; remoteness                        0.1968927 -0.0592087  0.1937581  0.4669553     -0.041
#&gt; prop_tap_toilet                  -0.0111101 -0.4971463 -0.0146280  0.4850063      0.127
#&gt; -
#&gt; Acceptance probabilty:
#&gt;          Mean    2.5%     50% 97.5%
#&gt; alpha 0.74246 0.04904 0.84867     1
#&gt; -
#&gt; Smooth terms:
#&gt;                                                           Mean      2.5%       50%     97.5%
#&gt; s(age).tau21                                         3.890e+00 1.088e+00 2.806e+00 1.270e+01
#&gt; s(age).alpha                                         9.008e-01 2.871e-01 9.886e-01 1.000e+00
#&gt; s(age).edf                                           5.904e+00 5.016e+00 5.865e+00 6.937e+00
#&gt; s(wk_ini).tau21                                      1.124e+00 1.620e-02 6.996e-01 4.523e+00
#&gt; s(wk_ini).alpha                                      9.777e-01 8.625e-01 9.991e-01 1.000e+00
#&gt; s(wk_ini).edf                                        6.469e+00 2.950e+00 6.694e+00 8.340e+00
#&gt; s(rivwk_conception).tau21                            1.385e-04 2.552e-05 9.461e-05 5.202e-04
#&gt; s(rivwk_conception).alpha                            9.923e-01 9.472e-01 1.000e+00 1.000e+00
#&gt; s(rivwk_conception).edf                              3.293e+00 2.147e+00 3.198e+00 5.069e+00
#&gt; s(res_muni).tau21                                    2.383e-02 1.390e-02 2.284e-02 3.782e-02
#&gt; s(res_muni).alpha                                    7.901e-01 2.818e-01 8.718e-01 1.000e+00
#&gt; s(res_muni).edf                                      3.639e+01 3.349e+01 3.648e+01 3.875e+01
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).tau21         7.075e-02 3.858e-03 5.049e-02 2.667e-01
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).alpha         9.310e-01 5.978e-01 9.908e-01 1.000e+00
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).edf           1.411e+01 4.415e+00 1.358e+01 2.691e+01
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).tau21       2.650e-01 6.851e-02 2.228e-01 6.797e-01
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).alpha       8.693e-01 4.358e-01 9.496e-01 1.000e+00
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).edf         2.812e+01 1.751e+01 2.792e+01 3.946e+01
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).tau21 6.021e+00 3.179e+00 5.831e+00 1.017e+01
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).alpha 4.501e-01 3.423e-03 3.292e-01 1.000e+00
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).edf   5.402e+01 4.859e+01 5.418e+01 5.838e+01
#&gt;                                                      parameters
#&gt; s(age).tau21                                              0.690
#&gt; s(age).alpha                                                 NA
#&gt; s(age).edf                                                4.630
#&gt; s(wk_ini).tau21                                           6.608
#&gt; s(wk_ini).alpha                                              NA
#&gt; s(wk_ini).edf                                             8.483
#&gt; s(rivwk_conception).tau21                                 0.000
#&gt; s(rivwk_conception).alpha                                    NA
#&gt; s(rivwk_conception).edf                                   0.255
#&gt; s(res_muni).tau21                                         7.536
#&gt; s(res_muni).alpha                                            NA
#&gt; s(res_muni).edf                                          42.975
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).tau21              0.320
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).alpha                 NA
#&gt; s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk).edf               28.628
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).tau21            1.538
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).alpha               NA
#&gt; s(neg_mckee_mean_8wk,pos_mckee_mean_8wk).edf             49.619
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).tau21     21.716
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).alpha         NA
#&gt; s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk).edf       63.174
#&gt; ---
#&gt; Sampler summary:
#&gt; -
#&gt; runtime = 10561.22
#&gt; ---
#&gt; Optimizer summary:
#&gt; -
#&gt; AICc = 129526.1 edf = 221.7651 logLik = -64541.13
#&gt; logPost = -65039.6 nobs = 291479 runtime = 606.335</code></pre>
</div>
<div id="parametric-effects" class="section level2">
<h2>Parametric effects</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot2d_bamlss(model, bwdata_model, model = &quot;pi&quot;, term = &quot;remoteness&quot;, grid = 50,
              FUN = c95)
plot2d_bamlss(model, bwdata_model, model = &quot;pi&quot;, term = &quot;prop_tap_toilet&quot;, grid = 50,
              FUN = c95)</code></pre>
<p><img src="/birthweight/40-modelling/50-low-birthweight/lbw-10-full-re-10-effects_files/figure-html/unnamed-chunk-3-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="smooth-effects" class="section level2">
<h2>Smooth effects</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot(model, scale = 0, scheme = 2, spar = FALSE, image = TRUE, contour = TRUE)</code></pre>
<p><img src="/birthweight/40-modelling/50-low-birthweight/lbw-10-full-re-10-effects_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-10-full-re-10-effects_files/figure-html/unnamed-chunk-4-2.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-10-full-re-10-effects_files/figure-html/unnamed-chunk-4-3.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-10-full-re-10-effects_files/figure-html/unnamed-chunk-4-4.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/50-low-birthweight/lbw-10-full-re-10-effects_files/figure-html/unnamed-chunk-4-5.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   6.942   0.170   7.135</code></pre>
</div>
