---
title: "Growth model without rainfall: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/lbw-25-growth-no-rain.rds
---



<p>Low birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;lbw-25-growth-no-rain.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form &lt;- lbw ~ sex + born_race + birth_place + gestation_weeks +
    marital_status + study_years + consult_num + s(age) +
    s(wk_ini) + s(rivwk_conception, bs = &quot;cc&quot;) +
    remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, family = &quot;binomial&quot;, data = bwdata_model,
        n.iter = 8000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 132798.7 logPost -66661.2 logLik -66321.1 edf 78.229 eps 0.9950 iteration   1&quot;          
#&gt;   [2] &quot;AICc 120871.3 logPost -60692.8 logLik -60353.0 edf 82.638 eps 0.2762 iteration   2&quot;          
#&gt;   [3] &quot;AICc 120483.5 logPost -60481.1 logLik -60156.3 edf 85.368 eps 0.0524 iteration   3&quot;          
#&gt;   [4] &quot;AICc 120471.5 logPost -60437.9 logLik -60150.3 edf 85.395 eps 0.0078 iteration   4&quot;          
#&gt;   [5] &quot;AICc 120471.2 logPost -60436.2 logLik -60150.2 edf 85.383 eps 0.0017 iteration   5&quot;          
#&gt;   [6] &quot;AICc 120471.2 logPost -60436.2 logLik -60150.2 edf 85.380 eps 0.0001 iteration   6&quot;          
#&gt;   [7] &quot;AICc 120471.2 logPost -60436.2 logLik -60150.2 edf 85.379 eps 0.0000 iteration   7&quot;          
#&gt;   [8] &quot;AICc 120471.2 logPost -60436.2 logLik -60150.2 edf 85.379 eps 0.0000 iteration   7&quot;          
#&gt;   [9] &quot;elapsed time: 35.22sec&quot;                                                                      
#&gt;  [10] &quot;Starting the sampler...&quot;                                                                     
#&gt;  [11] &quot;Starting the sampler...Starting the sampler...Starting the sampler...&quot;                       
#&gt;  [12] &quot;&quot;                                                                                            
#&gt;  [13] &quot;&quot;                                                                                            
#&gt;  [14] &quot;&quot;                                                                                            
#&gt;  [15] &quot;|                    |   0% 175.47min&quot;                                                       
#&gt;  [16] &quot;|                    |   0% 178.92min&quot;                                                       
#&gt;  [17] &quot;|                    |   0% 179.00min&quot;                                                       
#&gt;  [18] &quot;|                    |   0% 179.42min&quot;                                                       
#&gt;  [19] &quot;|*                   |   5% 165.67min  8.72min&quot;                                              
#&gt;  [20] &quot;|*                   |   5% 165.73min  8.72min&quot;                                              
#&gt;  [21] &quot;|*                   |   5% 165.96min  8.73min&quot;                                              
#&gt;  [22] &quot;|*                   |   5% 166.12min  8.74min&quot;                                              
#&gt;  [23] &quot;|**                  |  10% 157.10min 17.46min&quot;                                              
#&gt;  [24] &quot;|**                  |  10% 157.12min 17.46min&quot;                                              
#&gt;  [25] &quot;|**                  |  10% 157.24min 17.47min&quot;                                              
#&gt;  [26] &quot;|**                  |  10% 157.32min 17.48min&quot;                                              
#&gt;  [27] &quot;|***                 |  15% 148.57min 26.22min&quot;                                              
#&gt;  [28] &quot;|***                 |  15% 148.66min 26.23min&quot;                                              
#&gt;  [29] &quot;|***                 |  15% 148.71min 26.24min&quot;                                              
#&gt;  [30] &quot;|***                 |  15% 148.81min 26.26min&quot;                                              
#&gt;  [31] &quot;|****                |  20% 139.67min 34.92min&quot;                                              
#&gt;  [32] &quot;|****                |  20% 139.74min 34.93min&quot;                                              
#&gt;  [33] &quot;|****                |  20% 139.76min 34.94min&quot;                                              
#&gt;  [34] &quot;|****                |  20% 139.83min 34.96min&quot;                                              
#&gt;  [35] &quot;|*****               |  25% 130.92min 43.64min&quot;                                              
#&gt;  [36] &quot;&quot;                                                                                            
#&gt;  [37] &quot;|*****               |  25% 130.97min|*****               |  25%  43.66min130.97min 43.66min&quot;
#&gt;  [38] &quot;|*****               |  25% 131.03min 43.68min&quot;                                              
#&gt;  [39] &quot;|******              |  30% 122.07min 52.32min&quot;                                              
#&gt;  [40] &quot;|******              |  30% 122.09min 52.32min&quot;                                              
#&gt;  [41] &quot;|******              |  30% 122.11min 52.33min&quot;                                              
#&gt;  [42] &quot;|******              |  30% 122.16min 52.35min&quot;                                              
#&gt;  [43] &quot;|*******             |  35% 113.44min 61.08min&quot;                                              
#&gt;  [44] &quot;|*******             |  35% 113.47min 61.10min&quot;                                              
#&gt;  [45] &quot;|*******             |  35% 113.50min 61.11min&quot;                                              
#&gt;  [46] &quot;|*******             |  35% 113.54min 61.14min&quot;                                              
#&gt;  [47] &quot;|********            |  40% 104.89min 69.93min&quot;                                              
#&gt;  [48] &quot;|********            |  40% 104.90min 69.93min&quot;                                              
#&gt;  [49] &quot;|********            |  40% 104.92min 69.95min&quot;                                              
#&gt;  [50] &quot;|********            |  40% 104.94min 69.96min&quot;                                              
#&gt;  [51] &quot;|*********           |  45% 96.17min 78.69min&quot;                                               
#&gt;  [52] &quot;|*********           |  45% 96.19min 78.70min&quot;                                               
#&gt;  [53] &quot;|*********           |  45% 96.20min 78.71min&quot;                                               
#&gt;  [54] &quot;|*********           |  45% 96.22min 78.73min&quot;                                               
#&gt;  [55] &quot;|**********          |  50% 87.42min 87.42min&quot;                                               
#&gt;  [56] &quot;|**********          |  50% 87.43min 87.43min&quot;                                               
#&gt;  [57] &quot;|**********          |  50% 87.47min 87.47min&quot;                                               
#&gt;  [58] &quot;|**********          |  50% 87.47min 87.47min&quot;                                               
#&gt;  [59] &quot;|***********         |  55% 78.68min 96.17min&quot;                                               
#&gt;  [60] &quot;|***********         |  55% 78.70min 96.19min&quot;                                               
#&gt;  [61] &quot;|***********         |  55% 78.75min 96.25min&quot;                                               
#&gt;  [62] &quot;|***********         |  55% 78.74min 96.24min&quot;                                               
#&gt;  [63] &quot;|************        |  60% 69.98min 104.97min&quot;                                              
#&gt;  [64] &quot;|************        |  60% 70.00min 105.00min&quot;                                              
#&gt;  [65] &quot;|************        |  60% 70.04min 105.06min&quot;                                              
#&gt;  [66] &quot;|************        |  60% 70.05min 105.08min&quot;                                              
#&gt;  [67] &quot;|*************       |  65% 61.21min 113.68min&quot;                                              
#&gt;  [68] &quot;|*************       |  65% 61.25min 113.74min&quot;                                              
#&gt;  [69] &quot;|*************       |  65% 61.27min 113.79min&quot;                                              
#&gt;  [70] &quot;|*************       |  65% 61.30min 113.84min&quot;                                              
#&gt;  [71] &quot;|**************      |  70% 52.45min 122.38min&quot;                                              
#&gt;  [72] &quot;|**************      |  70% 52.48min 122.45min&quot;                                              
#&gt;  [73] &quot;|**************      |  70% 52.50min 122.51min&quot;                                              
#&gt;  [74] &quot;|**************      |  70% 52.53min 122.56min&quot;                                              
#&gt;  [75] &quot;|***************     |  75% 43.70min 131.10min&quot;                                              
#&gt;  [76] &quot;|***************     |  75% 43.73min 131.19min&quot;                                              
#&gt;  [77] &quot;|***************     |  75% 43.75min 131.25min&quot;                                              
#&gt;  [78] &quot;|***************     |  75% 43.77min 131.31min&quot;                                              
#&gt;  [79] &quot;|****************    |  80% 34.96min 139.82min&quot;                                              
#&gt;  [80] &quot;|****************    |  80% 34.98min 139.91min&quot;                                              
#&gt;  [81] &quot;|****************    |  80% 34.99min 139.97min&quot;                                              
#&gt;  [82] &quot;|****************    |  80% 35.01min 140.04min&quot;                                              
#&gt;  [83] &quot;|*****************   |  85% 26.21min 148.55min&quot;                                              
#&gt;  [84] &quot;|*****************   |  85% 26.23min 148.63min&quot;                                              
#&gt;  [85] &quot;|*****************   |  85% 26.24min 148.69min&quot;                                              
#&gt;  [86] &quot;|*****************   |  85% 26.26min 148.78min&quot;                                              
#&gt;  [87] &quot;|******************  |  90% 17.47min 157.26min&quot;                                              
#&gt;  [88] &quot;|******************  |  90% 17.48min 157.35min&quot;                                              
#&gt;  [89] &quot;|******************  |  90% 17.49min 157.41min&quot;                                              
#&gt;  [90] &quot;|******************  |  90% 17.50min 157.53min&quot;                                              
#&gt;  [91] &quot;|******************* |  95%  8.74min 166.01min&quot;                                              
#&gt;  [92] &quot;|******************* |  95%  8.74min 166.08min&quot;                                              
#&gt;  [93] &quot;|******************* |  95%  8.75min 166.23min&quot;                                              
#&gt;  [94] &quot;|******************* |  95%  8.75min 166.34min&quot;                                              
#&gt;  [95] &quot;|********************| 100%  0.00sec 174.74min&quot;                                              
#&gt;  [96] &quot;&quot;                                                                                            
#&gt;  [97] &quot;|********************| 100%  0.00sec 174.82min&quot;                                              
#&gt;  [98] &quot;&quot;                                                                                            
#&gt;  [99] &quot;|********************| 100%  0.00sec 174.93min&quot;                                              
#&gt; [100] &quot;&quot;                                                                                            
#&gt; [101] &quot;|********************| 100%  0.00sec 175.01min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   4.634   0.012   4.646</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;      user    system   elapsed 
#&gt; 42074.587    23.962 10575.054</code></pre>
</div>
