---
title: "Only covariates with binning: mcmc"
prerequisites:
    - data/modelled/bw-muni-01-covs-bin.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

model_file &lt;- file.path(path_modelled, &quot;bw-muni-01-covs-bin.rds&quot;)
model &lt;- readRDS(model_file)</code></pre>
</div>
<div id="maximum-auto-correlation-function-acf" class="section level2">
<h2>Maximum auto-correlation function (ACF)</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2))
plot(model, model = &quot;mu&quot;, which = &quot;max-acf&quot;, spar = FALSE)
plot(model, model = &quot;sigma&quot;, which = &quot;max-acf&quot;, ylab = &quot;&quot;)</code></pre>
<div class="figure" style="text-align: center"><span id="fig:maximum-acf"></span>
<img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/maximum-acf-1.png" alt="Maximum ACF of samples for $\mu$ (left) and $\sigma$ (right)" width="672" />
<p class="caption">
Figure 1: Maximum ACF of samples for <span class="math inline">\(\mu\)</span> (left) and <span class="math inline">\(\sigma\)</span> (right)
</p>
</div>
</div>
<div id="mcmc-convergence" class="section level2">
<h2>MCMC convergence</h2>
<pre class="r"><code>par(mar = c(4, 4, 3, 1), mfrow = c(1, 2))
plot(model, which = &quot;samples&quot;)</code></pre>
<p><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-1.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-2.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-3.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-4.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-5.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-6.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-7.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-8.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-9.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-10.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-11.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-12.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-13.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-14.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-15.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-16.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-17.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-18.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-19.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-20.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-21.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-22.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-23.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-24.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-25.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-26.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-27.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-28.png" width="672" style="display: block; margin: auto;" /><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-02-mcmc_files/figure-html/samples-29.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  11.520   0.104  11.644</code></pre>
</div>
