---
title: "Parametric terms: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/bw-muni-02-covs-param.rds
---



<p>Birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-muni-02-covs-param.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<p>Now we define the same models as in the previous study.</p>
<pre class="r"><code>form_sigma &lt;- sigma ~ 1

form_mu &lt;- born_weight ~ poly(remoteness, 2) + poly(prop_tap_toilet, 2)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;  [1] &quot;AICc 4458216. logPost -2229216 logLik -2229102 edf 6.0000 eps 0.0299 iteration   1&quot;
#&gt;  [2] &quot;AICc 4458216. logPost -2229216 logLik -2229102 edf 6.0000 eps 0.0000 iteration   2&quot;
#&gt;  [3] &quot;AICc 4458216. logPost -2229216 logLik -2229102 edf 6.0000 eps 0.0000 iteration   2&quot;
#&gt;  [4] &quot;elapsed time:  0.74sec&quot;                                                            
#&gt;  [5] &quot;Starting the sampler...&quot;                                                           
#&gt;  [6] &quot;Starting the sampler...Starting the sampler...&quot;                                    
#&gt;  [7] &quot;&quot;                                                                                  
#&gt;  [8] &quot;Starting the sampler...&quot;                                                           
#&gt;  [9] &quot;&quot;                                                                                  
#&gt; [10] &quot;|                    |   0%  5.43min&quot;                                              
#&gt; [11] &quot;|                    |   0%  5.45min&quot;                                              
#&gt; [12] &quot;|                    |   0%  5.89min&quot;                                              
#&gt; [13] &quot;|                    |   0%  5.89min&quot;                                              
#&gt; [14] &quot;|*                   |   5%  4.61min 14.54sec&quot;                                     
#&gt; [15] &quot;|*                   |   5%  4.61min 14.55sec&quot;                                     
#&gt; [16] &quot;|*                   |   5%  4.69min 14.81sec&quot;                                     
#&gt; [17] &quot;|*                   |   5%  4.71min 14.87sec&quot;                                     
#&gt; [18] &quot;|**                  |  10%  4.30min 28.64sec&quot;                                     
#&gt; [19] &quot;|**                  |  10%  4.30min 28.65sec&quot;                                     
#&gt; [20] &quot;|**                  |  10%  4.31min 28.74sec&quot;                                     
#&gt; [21] &quot;|**                  |  10%  4.33min 28.89sec&quot;                                     
#&gt; [22] &quot;|***                 |  15%  4.02min 42.56sec&quot;                                     
#&gt; [23] &quot;|***                 |  15%  4.04min 42.77sec&quot;                                     
#&gt; [24] &quot;|***                 |  15%  4.05min 42.88sec&quot;                                     
#&gt; [25] &quot;|***                 |  15%  4.04min 42.82sec&quot;                                     
#&gt; [26] &quot;|****                |  20%  3.77min 56.62sec&quot;                                     
#&gt; [27] &quot;|****                |  20%  3.78min 56.76sec&quot;                                     
#&gt; [28] &quot;|****                |  20%  3.79min 56.79sec&quot;                                     
#&gt; [29] &quot;|****                |  20%  3.80min 57.04sec&quot;                                     
#&gt; [30] &quot;|*****               |  25%  3.53min  1.18min&quot;                                     
#&gt; [31] &quot;|*****               |  25%  3.54min  1.18min&quot;                                     
#&gt; [32] &quot;|*****               |  25%  3.54min  1.18min&quot;                                     
#&gt; [33] &quot;|*****               |  25%  3.55min  1.18min&quot;                                     
#&gt; [34] &quot;|******              |  30%  3.30min  1.41min&quot;                                     
#&gt; [35] &quot;|******              |  30%  3.30min  1.42min&quot;                                     
#&gt; [36] &quot;|******              |  30%  3.31min  1.42min&quot;                                     
#&gt; [37] &quot;|******              |  30%  3.30min  1.42min&quot;                                     
#&gt; [38] &quot;|*******             |  35%  3.06min  1.65min&quot;                                     
#&gt; [39] &quot;|*******             |  35%  3.07min  1.65min&quot;                                     
#&gt; [40] &quot;|*******             |  35%  3.07min  1.65min&quot;                                     
#&gt; [41] &quot;|*******             |  35%  3.07min  1.65min&quot;                                     
#&gt; [42] &quot;|********            |  40%  2.82min  1.88min&quot;                                     
#&gt; [43] &quot;|********            |  40%  2.82min  1.88min&quot;                                     
#&gt; [44] &quot;|********            |  40%  2.83min  1.89min&quot;                                     
#&gt; [45] &quot;|********            |  40%  2.84min  1.89min&quot;                                     
#&gt; [46] &quot;|*********           |  45%  2.59min  2.12min&quot;                                     
#&gt; [47] &quot;|*********           |  45%  2.59min  2.12min&quot;                                     
#&gt; [48] &quot;|*********           |  45%  2.59min  2.12min&quot;                                     
#&gt; [49] &quot;|*********           |  45%  2.59min  2.12min&quot;                                     
#&gt; [50] &quot;|**********          |  50%  2.35min  2.35min&quot;                                     
#&gt; [51] &quot;|**********          |  50%  2.36min  2.36min&quot;                                     
#&gt; [52] &quot;|**********          |  50%  2.36min  2.36min&quot;                                     
#&gt; [53] &quot;|**********          |  50%  2.36min  2.36min&quot;                                     
#&gt; [54] &quot;|***********         |  55%  2.11min  2.58min&quot;                                     
#&gt; [55] &quot;|***********         |  55%  2.12min  2.59min&quot;                                     
#&gt; [56] &quot;|***********         |  55%  2.12min  2.59min&quot;                                     
#&gt; [57] &quot;|***********         |  55%  2.12min  2.59min&quot;                                     
#&gt; [58] &quot;|************        |  60%  1.88min  2.82min&quot;                                     
#&gt; [59] &quot;|************        |  60%  1.88min  2.82min&quot;                                     
#&gt; [60] &quot;|************        |  60%  1.88min  2.83min&quot;                                     
#&gt; [61] &quot;|************        |  60%  1.89min  2.83min&quot;                                     
#&gt; [62] &quot;|*************       |  65%  1.64min  3.05min&quot;                                     
#&gt; [63] &quot;|*************       |  65%  1.65min  3.06min&quot;                                     
#&gt; [64] &quot;|*************       |  65%  1.65min  3.06min&quot;                                     
#&gt; [65] &quot;|*************       |  65%  1.65min  3.07min&quot;                                     
#&gt; [66] &quot;|**************      |  70%  1.41min  3.29min&quot;                                     
#&gt; [67] &quot;|**************      |  70%  1.41min  3.30min&quot;                                     
#&gt; [68] &quot;|**************      |  70%  1.41min  3.30min&quot;                                     
#&gt; [69] &quot;|**************      |  70%  1.41min  3.30min&quot;                                     
#&gt; [70] &quot;|***************     |  75%  1.17min  3.52min&quot;                                     
#&gt; [71] &quot;|***************     |  75%  1.18min  3.53min&quot;                                     
#&gt; [72] &quot;|***************     |  75%  1.18min  3.53min&quot;                                     
#&gt; [73] &quot;|***************     |  75%  1.18min  3.54min&quot;                                     
#&gt; [74] &quot;|****************    |  80% 56.44sec  3.76min&quot;                                     
#&gt; [75] &quot;|****************    |  80% 56.46sec  3.76min&quot;                                     
#&gt; [76] &quot;|****************    |  80% 56.56sec  3.77min&quot;                                     
#&gt; [77] &quot;|****************    |  80% 56.61sec  3.77min&quot;                                     
#&gt; [78] &quot;|*****************   |  85% 42.27sec  3.99min&quot;                                     
#&gt; [79] &quot;|*****************   |  85% 42.35sec  4.00min&quot;                                     
#&gt; [80] &quot;|*****************   |  85% 42.37sec  4.00min&quot;                                     
#&gt; [81] &quot;|*****************   |  85% 42.41sec  4.00min&quot;                                     
#&gt; [82] &quot;|******************  |  90% 28.18sec  4.23min&quot;                                     
#&gt; [83] &quot;|******************  |  90% 28.20sec  4.23min&quot;                                     
#&gt; [84] &quot;|******************  |  90% 28.25sec  4.24min&quot;                                     
#&gt; [85] &quot;|******************  |  90% 28.27sec  4.24min&quot;                                     
#&gt; [86] &quot;|******************* |  95% 14.09sec  4.46min&quot;                                     
#&gt; [87] &quot;|******************* |  95% 14.10sec  4.47min&quot;                                     
#&gt; [88] &quot;|******************* |  95% 14.11sec  4.47min&quot;                                     
#&gt; [89] &quot;|******************* |  95% 14.14sec  4.48min&quot;                                     
#&gt; [90] &quot;|********************| 100%  0.00sec  4.69min&quot;                                     
#&gt; [91] &quot;&quot;                                                                                  
#&gt; [92] &quot;|********************| 100%  0.00sec  4.70min&quot;                                     
#&gt; [93] &quot;&quot;                                                                                  
#&gt; [94] &quot;|********************| 100%  0.00sec  4.70min&quot;                                     
#&gt; [95] &quot;&quot;                                                                                  
#&gt; [96] &quot;|********************| 100%  0.00sec  4.71min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   0.326   0.000   0.326</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;     user   system  elapsed 
#&gt; 1159.872    5.737  298.964</code></pre>
</div>
