---
title: "Parametric terms with binning: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/bw-muni-03-covs-param-bin.rds
---



<p>Birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-muni-03-covs-param-bin.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<p>Now we define the same models as in the previous study.</p>
<pre class="r"><code>form_sigma &lt;- sigma ~ 1

form_mu &lt;- born_weight ~ poly(remoteness, 2) + poly(prop_tap_toilet, 2)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model, binning = TRUE,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;  [1] &quot;AICc 4458216. logPost -2229216 logLik -2229102 edf 6.0000 eps 0.0299 iteration   1&quot;
#&gt;  [2] &quot;AICc 4458216. logPost -2229216 logLik -2229102 edf 6.0000 eps 0.0000 iteration   2&quot;
#&gt;  [3] &quot;AICc 4458216. logPost -2229216 logLik -2229102 edf 6.0000 eps 0.0000 iteration   2&quot;
#&gt;  [4] &quot;elapsed time:  0.39sec&quot;                                                            
#&gt;  [5] &quot;Starting the sampler...&quot;                                                           
#&gt;  [6] &quot;Starting the sampler...&quot;                                                           
#&gt;  [7] &quot;Starting the sampler...&quot;                                                           
#&gt;  [8] &quot;Starting the sampler...&quot;                                                           
#&gt;  [9] &quot;&quot;                                                                                  
#&gt; [10] &quot;|                    |   0%  5.61min&quot;                                              
#&gt; [11] &quot;|                    |   0%  5.58min&quot;                                              
#&gt; [12] &quot;|                    |   0%  5.66min&quot;                                              
#&gt; [13] &quot;|                    |   0%  5.68min&quot;                                              
#&gt; [14] &quot;|*                   |   5%  4.83min 15.25sec&quot;                                     
#&gt; [15] &quot;|*                   |   5%  4.99min 15.77sec&quot;                                     
#&gt; [16] &quot;|*                   |   5%  4.99min 15.76sec&quot;                                     
#&gt; [17] &quot;|*                   |   5%  5.11min 16.13sec&quot;                                     
#&gt; [18] &quot;|**                  |  10%  4.47min 29.78sec&quot;                                     
#&gt; [19] &quot;|**                  |  10%  4.54min 30.28sec&quot;                                     
#&gt; [20] &quot;|**                  |  10%  4.68min 31.17sec&quot;                                     
#&gt; [21] &quot;|**                  |  10%  4.75min 31.67sec&quot;                                     
#&gt; [22] &quot;|***                 |  15%  4.14min 43.86sec&quot;                                     
#&gt; [23] &quot;|***                 |  15%  4.23min 44.78sec&quot;                                     
#&gt; [24] &quot;|***                 |  15%  4.32min 45.73sec&quot;                                     
#&gt; [25] &quot;|***                 |  15%  4.48min 47.45sec&quot;                                     
#&gt; [26] &quot;|****                |  20%  3.89min 58.40sec&quot;                                     
#&gt; [27] &quot;|****                |  20%  3.97min 59.48sec&quot;                                     
#&gt; [28] &quot;|****                |  20%  4.01min  1.00min&quot;                                     
#&gt; [29] &quot;|****                |  20%  4.17min  1.04min&quot;                                     
#&gt; [30] &quot;|*****               |  25%  3.63min  1.21min&quot;                                     
#&gt; [31] &quot;|*****               |  25%  3.70min  1.23min&quot;                                     
#&gt; [32] &quot;|*****               |  25%  3.73min  1.24min&quot;                                     
#&gt; [33] &quot;|*****               |  25%  3.85min  1.28min&quot;                                     
#&gt; [34] &quot;|******              |  30%  3.39min  1.45min&quot;                                     
#&gt; [35] &quot;|******              |  30%  3.46min  1.48min&quot;                                     
#&gt; [36] &quot;|******              |  30%  3.49min  1.49min&quot;                                     
#&gt; [37] &quot;|******              |  30%  3.56min  1.53min&quot;                                     
#&gt; [38] &quot;|*******             |  35%  3.15min  1.70min&quot;                                     
#&gt; [39] &quot;|*******             |  35%  3.20min  1.72min&quot;                                     
#&gt; [40] &quot;|*******             |  35%  3.23min  1.74min&quot;                                     
#&gt; [41] &quot;|*******             |  35%  3.28min  1.77min&quot;                                     
#&gt; [42] &quot;|********            |  40%  2.90min  1.93min&quot;                                     
#&gt; [43] &quot;|********            |  40%  2.95min  1.97min&quot;                                     
#&gt; [44] &quot;|********            |  40%  2.96min  1.97min&quot;                                     
#&gt; [45] &quot;|********            |  40%  3.01min  2.00min&quot;                                     
#&gt; [46] &quot;|*********           |  45%  2.66min  2.17min&quot;                                     
#&gt; [47] &quot;|*********           |  45%  2.69min  2.20min&quot;                                     
#&gt; [48] &quot;|*********           |  45%  2.71min  2.22min&quot;                                     
#&gt; [49] &quot;|*********           |  45%  2.75min  2.25min&quot;                                     
#&gt; [50] &quot;|**********          |  50%  2.41min  2.41min&quot;                                     
#&gt; [51] &quot;|**********          |  50%  2.45min  2.45min&quot;                                     
#&gt; [52] &quot;|**********          |  50%  2.46min  2.46min&quot;                                     
#&gt; [53] &quot;|**********          |  50%  2.49min  2.49min&quot;                                     
#&gt; [54] &quot;|***********         |  55%  2.17min  2.65min&quot;                                     
#&gt; [55] &quot;|***********         |  55%  2.20min  2.69min&quot;                                     
#&gt; [56] &quot;|***********         |  55%  2.21min  2.70min&quot;                                     
#&gt; [57] &quot;|***********         |  55%  2.23min  2.73min&quot;                                     
#&gt; [58] &quot;|************        |  60%  1.92min  2.89min&quot;                                     
#&gt; [59] &quot;|************        |  60%  1.95min  2.93min&quot;                                     
#&gt; [60] &quot;|************        |  60%  1.96min  2.94min&quot;                                     
#&gt; [61] &quot;|************        |  60%  1.98min  2.97min&quot;                                     
#&gt; [62] &quot;|*************       |  65%  1.69min  3.13min&quot;                                     
#&gt; [63] &quot;|*************       |  65%  1.71min  3.18min&quot;                                     
#&gt; [64] &quot;|*************       |  65%  1.72min  3.19min&quot;                                     
#&gt; [65] &quot;|*************       |  65%  1.73min  3.22min&quot;                                     
#&gt; [66] &quot;|**************      |  70%  1.45min  3.38min&quot;                                     
#&gt; [67] &quot;|**************      |  70%  1.47min  3.42min&quot;                                     
#&gt; [68] &quot;|**************      |  70%  1.47min  3.43min&quot;                                     
#&gt; [69] &quot;|**************      |  70%  1.48min  3.46min&quot;                                     
#&gt; [70] &quot;|***************     |  75%  1.21min  3.62min&quot;                                     
#&gt; [71] &quot;|***************     |  75%  1.22min  3.67min&quot;                                     
#&gt; [72] &quot;|***************     |  75%  1.22min  3.67min&quot;                                     
#&gt; [73] &quot;|***************     |  75%  1.23min  3.70min&quot;                                     
#&gt; [74] &quot;|****************    |  80% 57.92sec  3.86min&quot;                                     
#&gt; [75] &quot;|****************    |  80% 58.68sec  3.91min&quot;                                     
#&gt; [76] &quot;|****************    |  80% 58.72sec  3.91min&quot;                                     
#&gt; [77] &quot;|****************    |  80% 59.10sec  3.94min&quot;                                     
#&gt; [78] &quot;|*****************   |  85% 43.42sec  4.10min&quot;                                     
#&gt; [79] &quot;|*****************   |  85% 43.94sec  4.15min&quot;                                     
#&gt; [80] &quot;|*****************   |  85% 43.98sec  4.15min&quot;                                     
#&gt; [81] &quot;|*****************   |  85% 44.27sec  4.18min&quot;                                     
#&gt; [82] &quot;|******************  |  90% 28.95sec  4.34min&quot;                                     
#&gt; [83] &quot;|******************  |  90% 29.27sec  4.39min&quot;                                     
#&gt; [84] &quot;|******************  |  90% 29.31sec  4.40min&quot;                                     
#&gt; [85] &quot;|******************  |  90% 29.48sec  4.42min&quot;                                     
#&gt; [86] &quot;|******************* |  95% 14.47sec  4.58min&quot;                                     
#&gt; [87] &quot;|******************* |  95% 14.63sec  4.63min&quot;                                     
#&gt; [88] &quot;|******************* |  95% 14.63sec  4.63min&quot;                                     
#&gt; [89] &quot;|******************* |  95% 14.72sec  4.66min&quot;                                     
#&gt; [90] &quot;|********************| 100%  0.00sec  4.83min&quot;                                     
#&gt; [91] &quot;&quot;                                                                                  
#&gt; [92] &quot;|********************| 100%  0.00sec  4.87min&quot;                                     
#&gt; [93] &quot;&quot;                                                                                  
#&gt; [94] &quot;|********************| 100%  0.00sec  4.87min&quot;                                     
#&gt; [95] &quot;&quot;                                                                                  
#&gt; [96] &quot;|********************| 100%  0.00sec  4.88min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   0.571   0.000   0.571</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;     user   system  elapsed 
#&gt; 1199.991    5.477  310.706</code></pre>
</div>
