---
title: "Linear model with random effects: effects"
prerequisites:
    - data/modelled/bw-muni-08-lm-re-burned.rds
    - data/processed/bwdata_41_model.fst
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
model_file &lt;- file.path(path_modelled, &quot;bw-muni-08-lm-re.rds&quot;)
form_file &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, model_file)
model_file_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, model_file)

bwdata_model &lt;- fst::read_fst(bwdata_file)
form &lt;- readRDS(form_file)
model &lt;- readRDS(model_file_burned)</code></pre>
</div>
<div id="compute-results" class="section level2">
<h2>Compute results</h2>
<pre class="r"><code>model$results &lt;- results.bamlss.default(model)</code></pre>
</div>
<div id="summary" class="section level2">
<h2>Summary</h2>
<pre class="r"><code>summary(model)</code></pre>
<pre><code>#&gt; 
#&gt; Call:
#&gt; bamlss(formula = form, data = bwdata_model, cores = 4, combine = FALSE, 
#&gt;     light = TRUE, n.iter = 1000, burnin = 0)
#&gt; ---
#&gt; Family: gaussian 
#&gt; Link function: mu = identity, sigma = log
#&gt; *---
#&gt; Formula mu:
#&gt; ---
#&gt; born_weight ~ remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;)
#&gt; -
#&gt; Parametric coefficients:
#&gt;                    Mean    2.5%     50%   97.5% parameters
#&gt; (Intercept)     3200.15 3131.03 3203.72 3257.87    3232.79
#&gt; remoteness       -56.64 -124.94  -60.14   17.72     -57.49
#&gt; prop_tap_toilet  149.47   31.29  142.96  293.85     -51.00
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.9920 0.9621 0.9988     1
#&gt; -
#&gt; Smooth terms:
#&gt;                      Mean    2.5%     50%   97.5% parameters
#&gt; s(res_muni).tau21 2142.83 1369.52 2067.18 3319.95    3823.12
#&gt; s(res_muni).alpha    1.00    1.00    1.00    1.00         NA
#&gt; s(res_muni).edf     41.81   41.25   41.84   42.25      42.35
#&gt; ---
#&gt; Formula sigma:
#&gt; ---
#&gt; sigma ~ 1
#&gt; -
#&gt; Parametric coefficients:
#&gt;              Mean  2.5%   50% 97.5% parameters
#&gt; (Intercept) 6.225 6.223 6.225 6.228      6.225
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.9993 0.9937 1.0000     1
#&gt; ---
#&gt; Sampler summary:
#&gt; -
#&gt; runtime = 743.851
#&gt; ---
#&gt; Optimizer summary:
#&gt; -
#&gt; AICc = 4456381 edf = 46.3523 logLik = -2228144
#&gt; logPost = -2228395 nobs = 291479 runtime = 9.681</code></pre>
</div>
<div id="parametric-effects" class="section level2">
<h2>Parametric effects</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot2d_bamlss(model, bwdata_model, model = &quot;mu&quot;, term = &quot;remoteness&quot;, grid = 50, FUN = c95)
plot2d_bamlss(model, bwdata_model, model = &quot;mu&quot;, term = &quot;prop_tap_toilet&quot;, grid = 50, FUN = c95)</code></pre>
<p><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-08-lm-re-10-effects_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  22.018   0.333  22.370</code></pre>
</div>
