---
title: "Only covariates: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/bw-muni-00-covs.rds
---



<p>Birthweight model including covariates at municipality level</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-muni-00-covs.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<p>Now we define the same models as in the previous study.</p>
<pre class="r"><code>form_sigma &lt;- sigma ~ 1

form_mu &lt;- born_weight ~ s(remoteness) + s(prop_tap_toilet)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 4458377. logPost -2229229 logLik -2229184 edf 4.2021 eps 0.0299 iteration   1&quot;        
#&gt;   [2] &quot;AICc 4458249. logPost -2229206 logLik -2229119 edf 5.3771 eps 0.0007 iteration   2&quot;        
#&gt;   [3] &quot;AICc 4458121. logPost -2229167 logLik -2229052 edf 8.1029 eps 0.0007 iteration   3&quot;        
#&gt;   [4] &quot;AICc 4457879. logPost -2229090 logLik -2228927 edf 12.443 eps 0.0007 iteration   4&quot;        
#&gt;   [5] &quot;AICc 4457558. logPost -2228948 logLik -2228762 edf 17.218 eps 0.0013 iteration   5&quot;        
#&gt;   [6] &quot;AICc 4457450. logPost -2228874 logLik -2228705 edf 19.531 eps 0.0008 iteration   6&quot;        
#&gt;   [7] &quot;AICc 4457423. logPost -2228862 logLik -2228691 edf 19.797 eps 0.0003 iteration   7&quot;        
#&gt;   [8] &quot;AICc 4457417. logPost -2228859 logLik -2228688 edf 19.770 eps 0.0001 iteration   8&quot;        
#&gt;   [9] &quot;AICc 4457416. logPost -2228859 logLik -2228688 edf 19.757 eps 0.0000 iteration   9&quot;        
#&gt;  [10] &quot;AICc 4457416. logPost -2228859 logLik -2228688 edf 19.757 eps 0.0000 iteration   9&quot;        
#&gt;  [11] &quot;elapsed time: 22.54sec&quot;                                                                    
#&gt;  [12] &quot;Starting the sampler...&quot;                                                                   
#&gt;  [13] &quot;Starting the sampler...&quot;                                                                   
#&gt;  [14] &quot;Starting the sampler...Starting the sampler...&quot;                                            
#&gt;  [15] &quot;&quot;                                                                                          
#&gt;  [16] &quot;&quot;                                                                                          
#&gt;  [17] &quot;|                    |   0% 10.43min&quot;                                                      
#&gt;  [18] &quot;|                    |   0% 10.44min&quot;                                                      
#&gt;  [19] &quot;|                    |   0% 11.14min&quot;                                                      
#&gt;  [20] &quot;|                    |   0% 10.61min&quot;                                                      
#&gt;  [21] &quot;|*                   |   5% 10.11min 31.92sec&quot;                                             
#&gt;  [22] &quot;|*                   |   5% 10.25min 32.35sec&quot;                                             
#&gt;  [23] &quot;|*                   |   5% 10.17min 32.10sec&quot;                                             
#&gt;  [24] &quot;|*                   |   5% 10.31min 32.54sec&quot;                                             
#&gt;  [25] &quot;&quot;                                                                                          
#&gt;  [26] &quot;|**                  |  10%  9.54min  1.06min|**                  |  10%  9.59min  1.07min&quot;
#&gt;  [27] &quot;|**                  |  10%  9.65min  1.07min&quot;                                             
#&gt;  [28] &quot;|**                  |  10%  9.70min  1.08min&quot;                                             
#&gt;  [29] &quot;|***                 |  15%  9.08min  1.60min&quot;                                             
#&gt;  [30] &quot;|***                 |  15%  9.04min  1.60min&quot;                                             
#&gt;  [31] &quot;|***                 |  15%  9.12min  1.61min&quot;                                             
#&gt;  [32] &quot;|***                 |  15%  9.19min  1.62min&quot;                                             
#&gt;  [33] &quot;|****                |  20%  8.55min  2.14min&quot;                                             
#&gt;  [34] &quot;|****                |  20%  8.55min  2.14min&quot;                                             
#&gt;  [35] &quot;|****                |  20%  8.62min  2.15min&quot;                                             
#&gt;  [36] &quot;|****                |  20%  8.64min  2.16min&quot;                                             
#&gt;  [37] &quot;|*****               |  25%  8.04min  2.68min&quot;                                             
#&gt;  [38] &quot;|*****               |  25%  8.04min  2.68min&quot;                                             
#&gt;  [39] &quot;|*****               |  25%  8.08min  2.69min&quot;                                             
#&gt;  [40] &quot;|*****               |  25%  8.10min  2.70min&quot;                                             
#&gt;  [41] &quot;|******              |  30%  7.52min  3.22min&quot;                                             
#&gt;  [42] &quot;|******              |  30%  7.53min  3.23min&quot;                                             
#&gt;  [43] &quot;|******              |  30%  7.56min  3.24min&quot;                                             
#&gt;  [44] &quot;|******              |  30%  7.57min  3.25min&quot;                                             
#&gt;  [45] &quot;|*******             |  35%  6.99min  3.76min&quot;                                             
#&gt;  [46] &quot;|*******             |  35%  7.00min  3.77min&quot;                                             
#&gt;  [47] &quot;|*******             |  35%  7.02min  3.78min&quot;                                             
#&gt;  [48] &quot;|*******             |  35%  7.04min  3.79min&quot;                                             
#&gt;  [49] &quot;|********            |  40%  6.46min  4.31min&quot;                                             
#&gt;  [50] &quot;|********            |  40%  6.47min  4.31min&quot;                                             
#&gt;  [51] &quot;|********            |  40%  6.49min  4.32min&quot;                                             
#&gt;  [52] &quot;|********            |  40%  6.50min  4.33min&quot;                                             
#&gt;  [53] &quot;|*********           |  45%  5.91min  4.84min&quot;                                             
#&gt;  [54] &quot;|*********           |  45%  5.92min  4.84min&quot;                                             
#&gt;  [55] &quot;|*********           |  45%  5.93min  4.85min&quot;                                             
#&gt;  [56] &quot;|*********           |  45%  5.94min  4.86min&quot;                                             
#&gt;  [57] &quot;|**********          |  50%  5.36min  5.36min&quot;                                             
#&gt;  [58] &quot;|**********          |  50%  5.37min  5.37min&quot;                                             
#&gt;  [59] &quot;|**********          |  50%  5.38min  5.38min&quot;                                             
#&gt;  [60] &quot;|**********          |  50%  5.39min  5.39min&quot;                                             
#&gt;  [61] &quot;|***********         |  55%  4.82min  5.89min&quot;                                             
#&gt;  [62] &quot;|***********         |  55%  4.82min  5.89min&quot;                                             
#&gt;  [63] &quot;|***********         |  55%  4.83min  5.91min&quot;                                             
#&gt;  [64] &quot;|***********         |  55%  4.84min  5.92min&quot;                                             
#&gt;  [65] &quot;|************        |  60%  4.28min  6.41min&quot;                                             
#&gt;  [66] &quot;|************        |  60%  4.28min  6.42min&quot;                                             
#&gt;  [67] &quot;|************        |  60%  4.29min  6.43min&quot;                                             
#&gt;  [68] &quot;|************        |  60%  4.29min  6.44min&quot;                                             
#&gt;  [69] &quot;|*************       |  65%  3.74min  6.94min&quot;                                             
#&gt;  [70] &quot;|*************       |  65%  3.74min  6.95min&quot;                                             
#&gt;  [71] &quot;|*************       |  65%  3.75min  6.96min&quot;                                             
#&gt;  [72] &quot;|*************       |  65%  3.75min  6.97min&quot;                                             
#&gt;  [73] &quot;|**************      |  70%  3.20min  7.46min&quot;                                             
#&gt;  [74] &quot;|**************      |  70%  3.20min  7.47min&quot;                                             
#&gt;  [75] &quot;|**************      |  70%  3.21min  7.48min&quot;                                             
#&gt;  [76] &quot;|**************      |  70%  3.21min  7.49min&quot;                                             
#&gt;  [77] &quot;|***************     |  75%  2.66min  7.99min&quot;                                             
#&gt;  [78] &quot;|***************     |  75%  2.67min  8.00min&quot;                                             
#&gt;  [79] &quot;|***************     |  75%  2.67min  8.01min&quot;                                             
#&gt;  [80] &quot;|***************     |  75%  2.67min  8.02min&quot;                                             
#&gt;  [81] &quot;|****************    |  80%  2.13min  8.51min&quot;                                             
#&gt;  [82] &quot;|****************    |  80%  2.13min  8.52min&quot;                                             
#&gt;  [83] &quot;|****************    |  80%  2.13min  8.53min&quot;                                             
#&gt;  [84] &quot;|****************    |  80%  2.13min  8.54min&quot;                                             
#&gt;  [85] &quot;|*****************   |  85%  1.60min  9.04min&quot;                                             
#&gt;  [86] &quot;|*****************   |  85%  1.60min  9.06min&quot;                                             
#&gt;  [87] &quot;|*****************   |  85%  1.60min  9.07min&quot;                                             
#&gt;  [88] &quot;|*****************   |  85%  1.60min  9.07min&quot;                                             
#&gt;  [89] &quot;|******************  |  90%  1.06min  9.57min&quot;                                             
#&gt;  [90] &quot;|******************  |  90%  1.07min  9.59min&quot;                                             
#&gt;  [91] &quot;|******************  |  90%  1.07min  9.59min&quot;                                             
#&gt;  [92] &quot;|******************  |  90%  1.07min  9.60min&quot;                                             
#&gt;  [93] &quot;|******************* |  95% 31.86sec 10.09min&quot;                                             
#&gt;  [94] &quot;|******************* |  95% 31.92sec 10.11min&quot;                                             
#&gt;  [95] &quot;|******************* |  95% 31.95sec 10.12min&quot;                                             
#&gt;  [96] &quot;|******************* |  95% 31.96sec 10.12min&quot;                                             
#&gt;  [97] &quot;|********************| 100%  0.00sec 10.62min&quot;                                             
#&gt;  [98] &quot;&quot;                                                                                          
#&gt;  [99] &quot;|********************| 100%  0.00sec 10.63min&quot;                                             
#&gt; [100] &quot;&quot;                                                                                          
#&gt; [101] &quot;|********************| 100%  0.00sec 10.64min&quot;                                             
#&gt; [102] &quot;&quot;                                                                                          
#&gt; [103] &quot;|********************| 100%  0.00sec 10.64min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   0.116   0.000   0.116</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;     user   system  elapsed 
#&gt; 2626.596    2.224  684.595</code></pre>
</div>
