---
title: "Parametric remoteness: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/bw-muni-06-remote-param.rds
---



<p>Birthweight model including parametric remoteness effect.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-muni-06-remote-param.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<p>Now we define the same models as in the previous study.</p>
<pre class="r"><code>form_sigma &lt;- sigma ~ 1

form_mu &lt;- born_weight ~ poly(remoteness, 2)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;  [1] &quot;AICc 4458361. logPost -2229270 logLik -2229176 edf 4.0000 eps 0.0299 iteration   1&quot;
#&gt;  [2] &quot;AICc 4458361. logPost -2229270 logLik -2229176 edf 4.0000 eps 0.0000 iteration   2&quot;
#&gt;  [3] &quot;AICc 4458361. logPost -2229270 logLik -2229176 edf 4.0000 eps 0.0000 iteration   2&quot;
#&gt;  [4] &quot;elapsed time:  0.44sec&quot;                                                            
#&gt;  [5] &quot;Starting the sampler...&quot;                                                           
#&gt;  [6] &quot;Starting the sampler...&quot;                                                           
#&gt;  [7] &quot;Starting the sampler...&quot;                                                           
#&gt;  [8] &quot;Starting the sampler...&quot;                                                           
#&gt;  [9] &quot;&quot;                                                                                  
#&gt; [10] &quot;|                    |   0%  5.69min&quot;                                              
#&gt; [11] &quot;|                    |   0%  5.78min&quot;                                              
#&gt; [12] &quot;&quot;                                                                                  
#&gt; [13] &quot;|                    |   0%  5.70min|                    |   0%  5.70min&quot;          
#&gt; [14] &quot;|*                   |   5%  4.42min 13.95sec&quot;                                     
#&gt; [15] &quot;|*                   |   5%  4.41min 13.93sec&quot;                                     
#&gt; [16] &quot;|*                   |   5%  4.43min 13.98sec&quot;                                     
#&gt; [17] &quot;|*                   |   5%  4.57min 14.45sec&quot;                                     
#&gt; [18] &quot;|**                  |  10%  4.07min 27.11sec&quot;                                     
#&gt; [19] &quot;|**                  |  10%  4.07min 27.11sec&quot;                                     
#&gt; [20] &quot;|**                  |  10%  4.11min 27.42sec&quot;                                     
#&gt; [21] &quot;|**                  |  10%  4.15min 27.67sec&quot;                                     
#&gt; [22] &quot;|***                 |  15%  3.81min 40.36sec&quot;                                     
#&gt; [23] &quot;|***                 |  15%  3.81min 40.35sec&quot;                                     
#&gt; [24] &quot;|***                 |  15%  3.81min 40.37sec&quot;                                     
#&gt; [25] &quot;|***                 |  15%  3.87min 40.95sec&quot;                                     
#&gt; [26] &quot;|****                |  20%  3.57min 53.52sec&quot;                                     
#&gt; [27] &quot;|****                |  20%  3.57min 53.59sec&quot;                                     
#&gt; [28] &quot;|****                |  20%  3.57min 53.60sec&quot;                                     
#&gt; [29] &quot;|****                |  20%  3.61min 54.18sec&quot;                                     
#&gt; [30] &quot;|*****               |  25%  3.33min  1.11min&quot;                                     
#&gt; [31] &quot;|*****               |  25%  3.34min  1.11min&quot;                                     
#&gt; [32] &quot;|*****               |  25%  3.34min  1.11min&quot;                                     
#&gt; [33] &quot;|*****               |  25%  3.37min  1.12min&quot;                                     
#&gt; [34] &quot;|******              |  30%  3.11min  1.33min&quot;                                     
#&gt; [35] &quot;|******              |  30%  3.12min  1.34min&quot;                                     
#&gt; [36] &quot;|******              |  30%  3.12min  1.34min&quot;                                     
#&gt; [37] &quot;|******              |  30%  3.15min  1.35min&quot;                                     
#&gt; [38] &quot;|*******             |  35%  2.89min  1.56min&quot;                                     
#&gt; [39] &quot;|*******             |  35%  2.90min  1.56min&quot;                                     
#&gt; [40] &quot;|*******             |  35%  2.91min  1.57min&quot;                                     
#&gt; [41] &quot;|*******             |  35%  2.91min  1.57min&quot;                                     
#&gt; [42] &quot;|********            |  40%  2.67min  1.78min&quot;                                     
#&gt; [43] &quot;|********            |  40%  2.68min  1.79min&quot;                                     
#&gt; [44] &quot;|********            |  40%  2.69min  1.79min&quot;                                     
#&gt; [45] &quot;|********            |  40%  2.69min  1.79min&quot;                                     
#&gt; [46] &quot;|*********           |  45%  2.46min  2.01min&quot;                                     
#&gt; [47] &quot;|*********           |  45%  2.46min  2.01min&quot;                                     
#&gt; [48] &quot;|*********           |  45%  2.46min  2.02min&quot;                                     
#&gt; [49] &quot;|*********           |  45%  2.47min  2.02min&quot;                                     
#&gt; [50] &quot;|**********          |  50%  2.24min  2.24min&quot;                                     
#&gt; [51] &quot;|**********          |  50%  2.24min  2.24min&quot;                                     
#&gt; [52] &quot;|**********          |  50%  2.25min  2.25min&quot;                                     
#&gt; [53] &quot;|**********          |  50%  2.25min  2.25min&quot;                                     
#&gt; [54] &quot;|***********         |  55%  2.01min  2.46min&quot;                                     
#&gt; [55] &quot;|***********         |  55%  2.02min  2.47min&quot;                                     
#&gt; [56] &quot;|***********         |  55%  2.02min  2.47min&quot;                                     
#&gt; [57] &quot;|***********         |  55%  2.03min  2.48min&quot;                                     
#&gt; [58] &quot;|************        |  60%  1.79min  2.69min&quot;                                     
#&gt; [59] &quot;|************        |  60%  1.80min  2.69min&quot;                                     
#&gt; [60] &quot;|************        |  60%  1.80min  2.70min&quot;                                     
#&gt; [61] &quot;|************        |  60%  1.80min  2.71min&quot;                                     
#&gt; [62] &quot;|*************       |  65%  1.57min  2.92min&quot;                                     
#&gt; [63] &quot;|*************       |  65%  1.57min  2.92min&quot;                                     
#&gt; [64] &quot;|*************       |  65%  1.57min  2.92min&quot;                                     
#&gt; [65] &quot;|*************       |  65%  1.58min  2.93min&quot;                                     
#&gt; [66] &quot;|**************      |  70%  1.35min  3.14min&quot;                                     
#&gt; [67] &quot;|**************      |  70%  1.35min  3.14min&quot;                                     
#&gt; [68] &quot;|**************      |  70%  1.35min  3.15min&quot;                                     
#&gt; [69] &quot;|**************      |  70%  1.35min  3.16min&quot;                                     
#&gt; [70] &quot;|***************     |  75%  1.12min  3.37min&quot;                                     
#&gt; [71] &quot;|***************     |  75%  1.12min  3.37min&quot;                                     
#&gt; [72] &quot;|***************     |  75%  1.12min  3.37min&quot;                                     
#&gt; [73] &quot;|***************     |  75%  1.13min  3.39min&quot;                                     
#&gt; [74] &quot;|****************    |  80% 53.96sec  3.60min&quot;                                     
#&gt; [75] &quot;|****************    |  80% 53.99sec  3.60min&quot;                                     
#&gt; [76] &quot;|****************    |  80% 53.99sec  3.60min&quot;                                     
#&gt; [77] &quot;|****************    |  80% 54.22sec  3.61min&quot;                                     
#&gt; [78] &quot;|*****************   |  85% 40.43sec  3.82min&quot;                                     
#&gt; [79] &quot;|*****************   |  85% 40.46sec  3.82min&quot;                                     
#&gt; [80] &quot;|*****************   |  85% 40.53sec  3.83min&quot;                                     
#&gt; [81] &quot;|*****************   |  85% 40.66sec  3.84min&quot;                                     
#&gt; [82] &quot;|******************  |  90% 26.95sec  4.04min&quot;                                     
#&gt; [83] &quot;|******************  |  90% 26.98sec  4.05min&quot;                                     
#&gt; [84] &quot;|******************  |  90% 27.02sec  4.05min&quot;                                     
#&gt; [85] &quot;|******************  |  90% 27.11sec  4.07min&quot;                                     
#&gt; [86] &quot;|******************* |  95% 13.49sec  4.27min&quot;                                     
#&gt; [87] &quot;|******************* |  95% 13.51sec  4.28min&quot;                                     
#&gt; [88] &quot;|******************* |  95% 13.52sec  4.28min&quot;                                     
#&gt; [89] &quot;|******************* |  95% 13.57sec  4.30min&quot;                                     
#&gt; [90] &quot;|********************| 100%  0.00sec  4.50min&quot;                                     
#&gt; [91] &quot;&quot;                                                                                  
#&gt; [92] &quot;|********************| 100%  0.00sec  4.50min&quot;                                     
#&gt; [93] &quot;&quot;                                                                                  
#&gt; [94] &quot;|********************| 100%  0.00sec  4.51min&quot;                                     
#&gt; [95] &quot;&quot;                                                                                  
#&gt; [96] &quot;|********************| 100%  0.00sec  4.51min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   0.209   0.000   0.210</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;     user   system  elapsed 
#&gt; 1112.623    7.388  287.744</code></pre>
</div>
