---
title: "Only covariates with binning: effects"
prerequisites:
    - data/modelled/bw-muni-01-covs-bin.rds
    - data/processed/bwdata_41_model.fst
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
model_file &lt;- file.path(path_modelled, &quot;bw-muni-01-covs-bin.rds&quot;)
form_file &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, model_file)
# model_file_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, model_file)
model_file_burned &lt;- model_file

bwdata_model &lt;- fst::read_fst(bwdata_file)
form &lt;- readRDS(form_file)
model &lt;- readRDS(model_file_burned)</code></pre>
</div>
<div id="compute-results" class="section level2">
<h2>Compute results</h2>
<pre class="r"><code>model$results &lt;- results.bamlss.default(model)</code></pre>
</div>
<div id="fixed-effects" class="section level2">
<h2>Fixed effects</h2>
<pre class="r"><code>summary(model)</code></pre>
<pre><code>#&gt; 
#&gt; Call:
#&gt; bamlss(formula = form, data = bwdata_model, cores = 4, combine = FALSE, 
#&gt;     light = TRUE, binning = TRUE, n.iter = 1000, burnin = 0)
#&gt; ---
#&gt; Family: gaussian 
#&gt; Link function: mu = identity, sigma = log
#&gt; *---
#&gt; Formula mu:
#&gt; ---
#&gt; born_weight ~ s(remoteness) + s(prop_tap_toilet)
#&gt; -
#&gt; Parametric coefficients:
#&gt;             Mean 2.5%  50% 97.5% parameters
#&gt; (Intercept) 3221 3219 3221  3223       3222
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.9983 0.9918 1.0000     1
#&gt; -
#&gt; Smooth terms:
#&gt;                               Mean      2.5%       50%     97.5% parameters
#&gt; s(remoteness).tau21      8.282e+04 2.627e+04 6.573e+04 2.338e+05  8.947e+04
#&gt; s(remoteness).alpha      1.000e+00 1.000e+00 1.000e+00 1.000e+00         NA
#&gt; s(remoteness).edf        8.697e+00 8.368e+00 8.714e+00 8.914e+00  8.785e+00
#&gt; s(prop_tap_toilet).tau21 7.741e+05 2.495e+05 6.240e+05 2.144e+06  1.363e+06
#&gt; s(prop_tap_toilet).alpha 1.000e+00 1.000e+00 1.000e+00 1.000e+00         NA
#&gt; s(prop_tap_toilet).edf   8.926e+00 8.836e+00 8.932e+00 8.980e+00  8.968e+00
#&gt; ---
#&gt; Formula sigma:
#&gt; ---
#&gt; sigma ~ 1
#&gt; -
#&gt; Parametric coefficients:
#&gt;              Mean  2.5%   50% 97.5% parameters
#&gt; (Intercept) 6.227 6.225 6.227 6.230      6.227
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.9993 0.9942 1.0000     1
#&gt; ---
#&gt; Sampler summary:
#&gt; -
#&gt; runtime = 660.769
#&gt; ---
#&gt; Optimizer summary:
#&gt; -
#&gt; AICc = 4457418 edf = 19.7534 logLik = -2228689
#&gt; logPost = -2228861 nobs = 291479 runtime = 14.758</code></pre>
</div>
<div id="smoothed-effects" class="section level2">
<h2>Smoothed effects</h2>
<p>There seems to be a problem with the labels of the random effects plot.</p>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot(model, scale = 0, scheme = 2, spar = FALSE)</code></pre>
<p><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-01-covs-bin-10-effects_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   3.088   0.126   3.233</code></pre>
</div>
