---
title: "Linear remoteness with random effects: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/bw-muni-12-remote-re.rds
---



<p>Birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-muni-12-remote-re.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<p>Now we define the same models as in the previous study.</p>
<pre class="r"><code>form_sigma &lt;- sigma ~ 1

form_mu &lt;- born_weight ~ remoteness + s(res_muni, bs = &quot;re&quot;)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 4466503. logPost -2455531 logLik -2233247 edf 4.0881 eps 0.0326 iteration   1&quot;                          
#&gt;   [2] &quot;AICc 4458268. logPost -2231120 logLik -2229122 edf 11.652 eps 0.0097 iteration   2&quot;                          
#&gt;   [3] &quot;AICc 4456589. logPost -2228764 logLik -2228262 edf 32.198 eps 0.0038 iteration   3&quot;                          
#&gt;   [4] &quot;AICc 4456380. logPost -2228401 logLik -2228146 edf 43.877 eps 0.0014 iteration   4&quot;                          
#&gt;   [5] &quot;AICc 4456379. logPost -2228385 logLik -2228144 edf 45.290 eps 0.0001 iteration   5&quot;                          
#&gt;   [6] &quot;AICc 4456379. logPost -2228385 logLik -2228144 edf 45.285 eps 0.0000 iteration   6&quot;                          
#&gt;   [7] &quot;AICc 4456379. logPost -2228385 logLik -2228144 edf 45.285 eps 0.0000 iteration   6&quot;                          
#&gt;   [8] &quot;elapsed time:  9.64sec&quot;                                                                                      
#&gt;   [9] &quot;Starting the sampler...Starting the sampler...Starting the sampler...&quot;                                       
#&gt;  [10] &quot;&quot;                                                                                                            
#&gt;  [11] &quot;&quot;                                                                                                            
#&gt;  [12] &quot;Starting the sampler...&quot;                                                                                     
#&gt;  [13] &quot;&quot;                                                                                                            
#&gt;  [14] &quot;&quot;                                                                                                            
#&gt;  [15] &quot;&quot;                                                                                                            
#&gt;  [16] &quot;|||                                                            |   0% |   0% |   0% 12.35min12.35min12.35min&quot;
#&gt;  [17] &quot;|                    |   0% 13.34min&quot;                                                                        
#&gt;  [18] &quot;|*                   |   5% 11.27min 35.58sec&quot;                                                               
#&gt;  [19] &quot;|*                   |   5% 11.27min 35.59sec&quot;                                                               
#&gt;  [20] &quot;|*                   |   5% 11.43min 36.10sec&quot;                                                               
#&gt;  [21] &quot;|*                   |   5% 11.52min 36.36sec&quot;                                                               
#&gt;  [22] &quot;|**                  |  10% 10.80min  1.20min&quot;                                                               
#&gt;  [23] &quot;|**                  |  10% 10.80min  1.20min&quot;                                                               
#&gt;  [24] &quot;|**                  |  10% 10.89min  1.21min&quot;                                                               
#&gt;  [25] &quot;|**                  |  10% 10.97min  1.22min&quot;                                                               
#&gt;  [26] &quot;&quot;                                                                                                            
#&gt;  [27] &quot;|***                 |  15%|***                 |  15%  10.22min10.22min   1.80min 1.80min&quot;                  
#&gt;  [28] &quot;|***                 |  15% 10.31min  1.82min&quot;                                                               
#&gt;  [29] &quot;|***                 |  15% 10.34min  1.83min&quot;                                                               
#&gt;  [30] &quot;|****                |  20%  9.60min  2.40min&quot;                                                               
#&gt;  [31] &quot;|****                |  20%  9.61min  2.40min&quot;                                                               
#&gt;  [32] &quot;|****                |  20%  9.70min  2.42min&quot;                                                               
#&gt;  [33] &quot;|****                |  20%  9.70min  2.42min&quot;                                                               
#&gt;  [34] &quot;|*****               |  25%  8.99min  3.00min&quot;                                                               
#&gt;  [35] &quot;|*****               |  25%  9.01min  3.00min&quot;                                                               
#&gt;  [36] &quot;|*****               |  25%  9.07min  3.02min&quot;                                                               
#&gt;  [37] &quot;|*****               |  25%  9.08min  3.03min&quot;                                                               
#&gt;  [38] &quot;|******              |  30%  8.39min  3.59min&quot;                                                               
#&gt;  [39] &quot;|******              |  30%  8.39min  3.60min&quot;                                                               
#&gt;  [40] &quot;|******              |  30%  8.44min  3.62min&quot;                                                               
#&gt;  [41] &quot;|******              |  30%  8.45min  3.62min&quot;                                                               
#&gt;  [42] &quot;|*******             |  35%  7.78min  4.19min&quot;                                                               
#&gt;  [43] &quot;|*******             |  35%  7.78min  4.19min&quot;                                                               
#&gt;  [44] &quot;|*******             |  35%  7.82min  4.21min&quot;                                                               
#&gt;  [45] &quot;|*******             |  35%  7.83min  4.22min&quot;                                                               
#&gt;  [46] &quot;|********            |  40%  7.18min  4.79min&quot;                                                               
#&gt;  [47] &quot;|********            |  40%  7.19min  4.79min&quot;                                                               
#&gt;  [48] &quot;|********            |  40%  7.22min  4.81min&quot;                                                               
#&gt;  [49] &quot;|********            |  40%  7.23min  4.82min&quot;                                                               
#&gt;  [50] &quot;|*********           |  45%  6.59min  5.39min&quot;                                                               
#&gt;  [51] &quot;|*********           |  45%  6.59min  5.39min&quot;                                                               
#&gt;  [52] &quot;|*********           |  45%  6.62min  5.41min&quot;                                                               
#&gt;  [53] &quot;|*********           |  45%  6.63min  5.42min&quot;                                                               
#&gt;  [54] &quot;|**********          |  50%  5.99min  5.99min&quot;                                                               
#&gt;  [55] &quot;|**********          |  50%  5.99min  5.99min&quot;                                                               
#&gt;  [56] &quot;|**********          |  50%  6.02min  6.02min&quot;                                                               
#&gt;  [57] &quot;|**********          |  50%  6.03min  6.03min&quot;                                                               
#&gt;  [58] &quot;|***********         |  55%  5.39min  6.59min&quot;                                                               
#&gt;  [59] &quot;|***********         |  55%  5.40min  6.60min&quot;                                                               
#&gt;  [60] &quot;|***********         |  55%  5.42min  6.62min&quot;                                                               
#&gt;  [61] &quot;|***********         |  55%  5.43min  6.63min&quot;                                                               
#&gt;  [62] &quot;|************        |  60%  4.80min  7.20min&quot;                                                               
#&gt;  [63] &quot;|************        |  60%  4.80min  7.20min&quot;                                                               
#&gt;  [64] &quot;|************        |  60%  4.82min  7.23min&quot;                                                               
#&gt;  [65] &quot;|************        |  60%  4.82min  7.24min&quot;                                                               
#&gt;  [66] &quot;|*************       |  65%  4.20min  7.80min&quot;                                                               
#&gt;  [67] &quot;|*************       |  65%  4.20min  7.81min&quot;                                                               
#&gt;  [68] &quot;|*************       |  65%  4.22min  7.84min&quot;                                                               
#&gt;  [69] &quot;|*************       |  65%  4.22min  7.84min&quot;                                                               
#&gt;  [70] &quot;|**************      |  70%  3.60min  8.40min&quot;                                                               
#&gt;  [71] &quot;|**************      |  70%  3.60min  8.41min&quot;                                                               
#&gt;  [72] &quot;|**************      |  70%  3.62min  8.44min&quot;                                                               
#&gt;  [73] &quot;|**************      |  70%  3.62min  8.44min&quot;                                                               
#&gt;  [74] &quot;|***************     |  75%  3.00min  9.01min&quot;                                                               
#&gt;  [75] &quot;|***************     |  75%  3.01min  9.02min&quot;                                                               
#&gt;  [76] &quot;|***************     |  75%  3.01min  9.04min&quot;                                                               
#&gt;  [77] &quot;|***************     |  75%  3.02min  9.05min&quot;                                                               
#&gt;  [78] &quot;|****************    |  80%  2.40min  9.62min&quot;                                                               
#&gt;  [79] &quot;|****************    |  80%  2.41min  9.62min&quot;                                                               
#&gt;  [80] &quot;|****************    |  80%  2.41min  9.65min&quot;                                                               
#&gt;  [81] &quot;|****************    |  80%  2.41min  9.66min&quot;                                                               
#&gt;  [82] &quot;|*****************   |  85%  1.80min 10.22min&quot;                                                               
#&gt;  [83] &quot;|*****************   |  85%  1.80min 10.23min&quot;                                                               
#&gt;  [84] &quot;|*****************   |  85%  1.81min 10.26min&quot;                                                               
#&gt;  [85] &quot;|*****************   |  85%  1.81min 10.26min&quot;                                                               
#&gt;  [86] &quot;|******************  |  90%  1.20min 10.83min&quot;                                                               
#&gt;  [87] &quot;|******************  |  90%  1.20min 10.84min&quot;                                                               
#&gt;  [88] &quot;|******************  |  90%  1.21min 10.87min&quot;                                                               
#&gt;  [89] &quot;|******************  |  90%  1.21min 10.88min&quot;                                                               
#&gt;  [90] &quot;|******************* |  95% 36.07sec 11.42min&quot;                                                               
#&gt;  [91] &quot;|******************* |  95% 36.11sec 11.44min&quot;                                                               
#&gt;  [92] &quot;|******************* |  95% 36.18sec 11.46min&quot;                                                               
#&gt;  [93] &quot;|******************* |  95% 36.22sec 11.47min&quot;                                                               
#&gt;  [94] &quot;|********************| 100%  0.00sec 12.02min&quot;                                                               
#&gt;  [95] &quot;&quot;                                                                                                            
#&gt;  [96] &quot;|********************| 100%  0.00sec 12.03min&quot;                                                               
#&gt;  [97] &quot;&quot;                                                                                                            
#&gt;  [98] &quot;|********************| 100%  0.00sec 12.05min&quot;                                                               
#&gt;  [99] &quot;&quot;                                                                                                            
#&gt; [100] &quot;|********************| 100%  0.00sec 12.05min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   2.213   0.008   2.226</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;     user   system  elapsed 
#&gt; 2947.190    8.916  757.571</code></pre>
</div>
