---
title: "Linear model with random effects: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/bw-muni-08-lm-re.rds
---



<p>Birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-muni-08-lm-re.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<p>Now we define the same models as in the previous study.</p>
<pre class="r"><code>form_sigma &lt;- sigma ~ 1

form_mu &lt;- born_weight ~ remoteness + prop_tap_toilet + s(res_muni, bs = &quot;re&quot;)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 4465334. logPost -2454954 logLik -2232662 edf 5.0881 eps 0.0321 iteration   1&quot;                                                     
#&gt;   [2] &quot;AICc 4458447. logPost -2231450 logLik -2229211 edf 12.679 eps 0.0074 iteration   2&quot;                                                     
#&gt;   [3] &quot;AICc 4456610. logPost -2228818 logLik -2228272 edf 33.194 eps 0.0038 iteration   3&quot;                                                     
#&gt;   [4] &quot;AICc 4456383. logPost -2228414 logLik -2228146 edf 44.877 eps 0.0015 iteration   4&quot;                                                     
#&gt;   [5] &quot;AICc 4456381. logPost -2228395 logLik -2228144 edf 46.357 eps 0.0001 iteration   5&quot;                                                     
#&gt;   [6] &quot;AICc 4456381. logPost -2228395 logLik -2228144 edf 46.352 eps 0.0000 iteration   6&quot;                                                     
#&gt;   [7] &quot;AICc 4456381. logPost -2228395 logLik -2228144 edf 46.352 eps 0.0000 iteration   6&quot;                                                     
#&gt;   [8] &quot;elapsed time:  9.68sec&quot;                                                                                                                 
#&gt;   [9] &quot;Starting the sampler...&quot;                                                                                                                
#&gt;  [10] &quot;Starting the sampler...&quot;                                                                                                                
#&gt;  [11] &quot;Starting the sampler...&quot;                                                                                                                
#&gt;  [12] &quot;Starting the sampler...&quot;                                                                                                                
#&gt;  [13] &quot;&quot;                                                                                                                                       
#&gt;  [14] &quot;&quot;                                                                                                                                       
#&gt;  [15] &quot;|  |                                    |   0%  13.00min |   0% 12.96min&quot;                                                               
#&gt;  [16] &quot;|                    |   0% 13.13min&quot;                                                                                                   
#&gt;  [17] &quot;|                    |   0% 13.12min&quot;                                                                                                   
#&gt;  [18] &quot;&quot;                                                                                                                                       
#&gt;  [19] &quot;&quot;                                                                                                                                       
#&gt;  [20] &quot;|*                   |   5%|*                   |   5%|*                   |   5%   12.08min12.07min12.08min   38.15sec38.12sec38.15sec&quot;
#&gt;  [21] &quot;|*                   |   5% 12.18min 38.45sec&quot;                                                                                          
#&gt;  [22] &quot;&quot;                                                                                                                                       
#&gt;  [23] &quot;|**                  |  10% 11.25min  1.25min|**                  |  10% 11.25min  1.25min&quot;                                             
#&gt;  [24] &quot;|**                  |  10% 11.26min  1.25min&quot;                                                                                          
#&gt;  [25] &quot;|**                  |  10% 11.34min  1.26min&quot;                                                                                          
#&gt;  [26] &quot;|***                 |  15% 10.50min  1.85min&quot;                                                                                          
#&gt;  [27] &quot;|***                 |  15% 10.50min  1.85min&quot;                                                                                          
#&gt;  [28] &quot;|***                 |  15% 10.53min  1.86min&quot;                                                                                          
#&gt;  [29] &quot;|***                 |  15% 10.55min  1.86min&quot;                                                                                          
#&gt;  [30] &quot;|****                |  20%  9.81min  2.45min&quot;                                                                                          
#&gt;  [31] &quot;|****                |  20%  9.83min  2.46min&quot;                                                                                          
#&gt;  [32] &quot;&quot;                                                                                                                                       
#&gt;  [33] &quot;|****                |  20%  9.85min  2.46min|****                |  20%  9.86min  2.46min&quot;                                             
#&gt;  [34] &quot;|*****               |  25%  9.17min  3.06min&quot;                                                                                          
#&gt;  [35] &quot;&quot;                                                                                                                                       
#&gt;  [36] &quot;|*****               |  25%|*****               |  25%   9.21min 9.21min   3.07min 3.07min&quot;                                             
#&gt;  [37] &quot;|*****               |  25%  9.20min  3.07min&quot;                                                                                          
#&gt;  [38] &quot;|******              |  30%  8.55min  3.66min&quot;                                                                                          
#&gt;  [39] &quot;|******              |  30%  8.56min  3.67min&quot;                                                                                          
#&gt;  [40] &quot;|******              |  30%  8.58min  3.68min&quot;                                                                                          
#&gt;  [41] &quot;|******              |  30%  8.57min  3.67min&quot;                                                                                          
#&gt;  [42] &quot;|*******             |  35%  7.92min  4.26min&quot;                                                                                          
#&gt;  [43] &quot;|*******             |  35%  7.94min  4.28min&quot;                                                                                          
#&gt;  [44] &quot;|*******             |  35%  7.94min  4.28min&quot;                                                                                          
#&gt;  [45] &quot;|*******             |  35%  7.96min  4.28min&quot;                                                                                          
#&gt;  [46] &quot;|********            |  40%  7.31min  4.87min&quot;                                                                                          
#&gt;  [47] &quot;|********            |  40%  7.32min  4.88min&quot;                                                                                          
#&gt;  [48] &quot;|********            |  40%  7.32min  4.88min&quot;                                                                                          
#&gt;  [49] &quot;|********            |  40%  7.33min  4.89min&quot;                                                                                          
#&gt;  [50] &quot;|*********           |  45%  6.70min  5.48min&quot;                                                                                          
#&gt;  [51] &quot;|*********           |  45%  6.71min  5.49min&quot;                                                                                          
#&gt;  [52] &quot;|*********           |  45%  6.71min  5.49min&quot;                                                                                          
#&gt;  [53] &quot;|*********           |  45%  6.72min  5.50min&quot;                                                                                          
#&gt;  [54] &quot;|**********          |  50%  6.09min  6.09min&quot;                                                                                          
#&gt;  [55] &quot;|**********          |  50%  6.10min  6.10min&quot;                                                                                          
#&gt;  [56] &quot;|**********          |  50%  6.10min  6.10min&quot;                                                                                          
#&gt;  [57] &quot;|**********          |  50%  6.11min  6.11min&quot;                                                                                          
#&gt;  [58] &quot;|***********         |  55%  5.49min  6.71min&quot;                                                                                          
#&gt;  [59] &quot;|***********         |  55%  5.50min  6.72min&quot;                                                                                          
#&gt;  [60] &quot;|***********         |  55%  5.50min  6.72min&quot;                                                                                          
#&gt;  [61] &quot;|***********         |  55%  5.50min  6.72min&quot;                                                                                          
#&gt;  [62] &quot;|************        |  60%  4.88min  7.32min&quot;                                                                                          
#&gt;  [63] &quot;|************        |  60%  4.89min  7.33min&quot;                                                                                          
#&gt;  [64] &quot;|************        |  60%  4.89min  7.33min&quot;                                                                                          
#&gt;  [65] &quot;|************        |  60%  4.89min  7.34min&quot;                                                                                          
#&gt;  [66] &quot;|*************       |  65%  4.27min  7.93min&quot;                                                                                          
#&gt;  [67] &quot;|*************       |  65% &quot;                                                                                                           
#&gt;  [68] &quot; 4.28min  7.94min|*************       |  65%  4.28min  7.94min&quot;                                                                         
#&gt;  [69] &quot;|*************       |  65%  4.28min  7.95min&quot;                                                                                          
#&gt;  [70] &quot;|**************      |  70%  3.66min  8.54min&quot;                                                                                          
#&gt;  [71] &quot;|**************      |  70%  3.67min  8.55min&quot;                                                                                          
#&gt;  [72] &quot;|**************      |  70%  3.67min  8.55min&quot;                                                                                          
#&gt;  [73] &quot;|**************      |  70%  3.67min  8.56min&quot;                                                                                          
#&gt;  [74] &quot;|***************     |  75%  3.05min  9.15min&quot;                                                                                          
#&gt;  [75] &quot;|***************     |  75%  3.05min  9.16min&quot;                                                                                          
#&gt;  [76] &quot;|***************     |  75%  3.05min  9.16min&quot;                                                                                          
#&gt;  [77] &quot;|***************     |  75%  3.06min  9.18min&quot;                                                                                          
#&gt;  [78] &quot;|****************    |  80%  2.44min  9.76min&quot;                                                                                          
#&gt;  [79] &quot;|****************    |  80%  2.44min  9.77min&quot;                                                                                          
#&gt;  [80] &quot;|****************    |  80%  2.44min  9.78min&quot;                                                                                          
#&gt;  [81] &quot;|****************    |  80%  2.45min  9.79min&quot;                                                                                          
#&gt;  [82] &quot;|*****************   |  85%  1.83min 10.36min&quot;                                                                                          
#&gt;  [83] &quot;|*****************   |  85%  1.83min 10.37min&quot;                                                                                          
#&gt;  [84] &quot;|*****************   |  85%  1.83min 10.39min&quot;                                                                                          
#&gt;  [85] &quot;|*****************   |  85%  1.83min 10.40min&quot;                                                                                          
#&gt;  [86] &quot;|******************  |  90%  1.22min 10.96min&quot;                                                                                          
#&gt;  [87] &quot;|******************  |  90%  1.22min 10.98min&quot;                                                                                          
#&gt;  [88] &quot;|******************  |  90%  1.22min 10.99min&quot;                                                                                          
#&gt;  [89] &quot;|******************  |  90%  1.22min 11.00min&quot;                                                                                          
#&gt;  [90] &quot;|******************* |  95% 36.54sec 11.57min&quot;                                                                                          
#&gt;  [91] &quot;|******************* |  95% 36.58sec 11.58min&quot;                                                                                          
#&gt;  [92] &quot;|******************* |  95% 36.63sec 11.60min&quot;                                                                                          
#&gt;  [93] &quot;|******************* |  95% 36.65sec 11.61min&quot;                                                                                          
#&gt;  [94] &quot;|********************| 100%  0.00sec 12.18min&quot;                                                                                          
#&gt;  [95] &quot;&quot;                                                                                                                                       
#&gt;  [96] &quot;|********************| 100%  0.00sec 12.19min&quot;                                                                                          
#&gt;  [97] &quot;&quot;                                                                                                                                       
#&gt;  [98] &quot;|********************| 100%  0.00sec 12.20min&quot;                                                                                          
#&gt;  [99] &quot;&quot;                                                                                                                                       
#&gt; [100] &quot;|********************| 100%  0.00sec 12.21min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   2.312   0.004   2.317</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;     user   system  elapsed 
#&gt; 2987.760    8.275  767.654</code></pre>
</div>
