---
title: "MRF model with random effects: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
    - data/processed/ama_10_penalty.rds
targets:
    - data/modelled/bw-muni-18-mrf-re.rds
---



<p>Birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.8.0, GDAL 3.0.4, PROJ 6.3.1</code></pre>
<pre class="r"><code>library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:MASS&#39;:
#&gt; 
#&gt;     select</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:bamlss&#39;:
#&gt; 
#&gt;     n</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:nlme&#39;:
#&gt; 
#&gt;     collapse</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-muni-18-mrf-re.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))
K &lt;- readRDS(file.path(path_processed, &quot;ama_10_penalty.rds&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<p>Now we define the same models as in the previous study.</p>
<pre class="r"><code>form_sigma &lt;- sigma ~ 1

form_mu &lt;- born_weight ~ s(res_muni, bs = &quot;mrf&quot;, xt = list(&quot;penalty&quot; = K)) +
    s(res_muni, bs = &quot;re&quot;)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;  [1] &quot;AICc 4465702. logPost -2455231 logLik -2232841 edf 9.6768 eps 0.0324 iteration   1&quot;
#&gt;  [2] &quot;AICc 4457087. logPost -2232089 logLik -2228510 edf 33.635 eps 0.0150 iteration   2&quot;
#&gt;  [3] &quot;AICc 4456437. logPost -2228674 logLik -2228149 edf 69.132 eps 0.0030 iteration   3&quot;
#&gt;  [4] &quot;AICc 4456449. logPost -2228525 logLik -2228144 edf 80.279 eps 0.0002 iteration   4&quot;
#&gt;  [5] &quot;AICc 4456449. logPost -2228522 logLik -2228144 edf 79.856 eps 0.0000 iteration   5&quot;
#&gt;  [6] &quot;AICc 4456449. logPost -2228522 logLik -2228144 edf 79.856 eps 0.0000 iteration   5&quot;
#&gt;  [7] &quot;elapsed time:  2.17min&quot;                                                            
#&gt;  [8] &quot;Starting the sampler...&quot;                                                           
#&gt;  [9] &quot;Starting the sampler...&quot;                                                           
#&gt; [10] &quot;Starting the sampler...&quot;                                                           
#&gt; [11] &quot;Starting the sampler...&quot;                                                           
#&gt; [12] &quot;&quot;                                                                                  
#&gt; [13] &quot;|                    |   0% 43.96min&quot;                                              
#&gt; [14] &quot;|                    |   0% 40.93min&quot;                                              
#&gt; [15] &quot;|                    |   0% 41.33min&quot;                                              
#&gt; [16] &quot;|                    |   0% 50.55min&quot;                                              
#&gt; [17] &quot;|*                   |   5% 41.77min  2.20min&quot;                                     
#&gt; [18] &quot;|*                   |   5% 41.12min  2.16min&quot;                                     
#&gt; [19] &quot;|*                   |   5% 43.04min  2.27min&quot;                                     
#&gt; [20] &quot;|*                   |   5% 44.43min  2.34min&quot;                                     
#&gt; [21] &quot;|**                  |  10% 40.29min  4.48min&quot;                                     
#&gt; [22] &quot;|**                  |  10% 41.15min  4.57min&quot;                                     
#&gt; [23] &quot;|**                  |  10% 41.28min  4.59min&quot;                                     
#&gt; [24] &quot;|**                  |  10% 43.22min  4.80min&quot;                                     
#&gt; [25] &quot;|***                 |  15% 38.40min  6.78min&quot;                                     
#&gt; [26] &quot;|***                 |  15% 39.08min  6.90min&quot;                                     
#&gt; [27] &quot;|***                 |  15% 39.31min  6.94min&quot;                                     
#&gt; [28] &quot;|***                 |  15% 40.90min  7.22min&quot;                                     
#&gt; [29] &quot;|****                |  20% 35.88min  8.97min&quot;                                     
#&gt; [30] &quot;|****                |  20% 36.18min  9.05min&quot;                                     
#&gt; [31] &quot;|****                |  20% 36.37min  9.09min&quot;                                     
#&gt; [32] &quot;|****                |  20% 37.32min  9.33min&quot;                                     
#&gt; [33] &quot;|*****               |  25% 33.01min 11.00min&quot;                                     
#&gt; [34] &quot;|*****               |  25% 33.27min 11.09min&quot;                                     
#&gt; [35] &quot;|*****               |  25% 33.39min 11.13min&quot;                                     
#&gt; [36] &quot;|*****               |  25% 34.14min 11.38min&quot;                                     
#&gt; [37] &quot;|******              |  30% 30.49min 13.07min&quot;                                     
#&gt; [38] &quot;|******              |  30% 30.66min 13.14min&quot;                                     
#&gt; [39] &quot;|******              |  30% 30.79min 13.19min&quot;                                     
#&gt; [40] &quot;|******              |  30% 31.32min 13.42min&quot;                                     
#&gt; [41] &quot;|*******             |  35% 27.93min 15.04min&quot;                                     
#&gt; [42] &quot;|*******             |  35% 28.06min 15.11min&quot;                                     
#&gt; [43] &quot;|*******             |  35% 28.14min 15.15min&quot;                                     
#&gt; [44] &quot;|*******             |  35% 28.60min 15.40min&quot;                                     
#&gt; [45] &quot;|********            |  40% 25.52min 17.01min&quot;                                     
#&gt; [46] &quot;|********            |  40% 25.63min 17.08min&quot;                                     
#&gt; [47] &quot;|********            |  40% 25.70min 17.13min&quot;                                     
#&gt; [48] &quot;|********            |  40% 26.07min 17.38min&quot;                                     
#&gt; [49] &quot;|*********           |  45% 23.19min 18.97min&quot;                                     
#&gt; [50] &quot;|*********           |  45% 23.29min 19.05min&quot;                                     
#&gt; [51] &quot;|*********           |  45% 23.34min 19.10min&quot;                                     
#&gt; [52] &quot;|*********           |  45% 23.66min 19.36min&quot;                                     
#&gt; [53] &quot;|**********          |  50% 20.94min 20.94min&quot;                                     
#&gt; [54] &quot;|**********          |  50% 21.01min 21.01min&quot;                                     
#&gt; [55] &quot;|**********          |  50% 21.08min 21.08min&quot;                                     
#&gt; [56] &quot;|**********          |  50% 21.32min 21.32min&quot;                                     
#&gt; [57] &quot;|***********         |  55% 18.71min 22.87min&quot;                                     
#&gt; [58] &quot;|***********         |  55% 18.77min 22.94min&quot;                                     
#&gt; [59] &quot;|***********         |  55% 18.82min 23.01min&quot;                                     
#&gt; [60] &quot;|***********         |  55% 19.01min 23.23min&quot;                                     
#&gt; [61] &quot;|************        |  60% 16.51min 24.76min&quot;                                     
#&gt; [62] &quot;|************        |  60% 16.55min 24.82min&quot;                                     
#&gt; [63] &quot;|************        |  60% 16.61min 24.91min&quot;                                     
#&gt; [64] &quot;|************        |  60% 16.76min 25.15min&quot;                                     
#&gt; [65] &quot;|*************       |  65% 14.35min 26.64min&quot;                                     
#&gt; [66] &quot;|*************       |  65% 14.38min 26.70min&quot;                                     
#&gt; [67] &quot;|*************       |  65% 14.43min 26.81min&quot;                                     
#&gt; [68] &quot;|*************       |  65% 14.56min 27.04min&quot;                                     
#&gt; [69] &quot;|**************      |  70% 12.32min 28.74min&quot;                                     
#&gt; [70] &quot;|**************      |  70% 12.35min 28.81min&quot;                                     
#&gt; [71] &quot;|**************      |  70% 12.39min 28.92min&quot;                                     
#&gt; [72] &quot;|**************      |  70% 12.50min 29.17min&quot;                                     
#&gt; [73] &quot;|***************     |  75% 10.28min 30.85min&quot;                                     
#&gt; [74] &quot;|***************     |  75% 10.30min 30.91min&quot;                                     
#&gt; [75] &quot;|***************     |  75% 10.36min 31.07min&quot;                                     
#&gt; [76] &quot;|***************     |  75% 10.45min 31.34min&quot;                                     
#&gt; [77] &quot;|****************    |  80%  8.24min 32.96min&quot;                                     
#&gt; [78] &quot;|****************    |  80%  8.26min 33.03min&quot;                                     
#&gt; [79] &quot;|****************    |  80%  8.30min 33.18min&quot;                                     
#&gt; [80] &quot;|****************    |  80%  8.36min 33.43min&quot;                                     
#&gt; [81] &quot;|*****************   |  85%  6.20min 35.13min&quot;                                     
#&gt; [82] &quot;|*****************   |  85%  6.21min 35.19min&quot;                                     
#&gt; [83] &quot;|*****************   |  85%  6.24min 35.36min&quot;                                     
#&gt; [84] &quot;|*****************   |  85%  6.28min 35.58min&quot;                                     
#&gt; [85] &quot;|******************  |  90%  4.12min 37.12min&quot;                                     
#&gt; [86] &quot;|******************  |  90%  4.13min 37.18min&quot;                                     
#&gt; [87] &quot;|******************  |  90%  4.15min 37.33min&quot;                                     
#&gt; [88] &quot;|******************  |  90%  4.17min 37.56min&quot;                                     
#&gt; [89] &quot;|******************* |  95%  2.06min 39.17min&quot;                                     
#&gt; [90] &quot;|******************* |  95%  2.07min 39.24min&quot;                                     
#&gt; [91] &quot;|******************* |  95%  2.07min 39.41min&quot;                                     
#&gt; [92] &quot;|******************* |  95%  2.09min 39.65min&quot;                                     
#&gt; [93] &quot;|********************| 100%  0.00sec 41.27min&quot;                                     
#&gt; [94] &quot;&quot;                                                                                  
#&gt; [95] &quot;|********************| 100%  0.00sec 41.36min&quot;                                     
#&gt; [96] &quot;&quot;                                                                                  
#&gt; [97] &quot;|********************| 100%  0.00sec 41.49min&quot;                                     
#&gt; [98] &quot;&quot;                                                                                  
#&gt; [99] &quot;|********************| 100%  0.00sec 41.74min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  11.047   0.012  11.205</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;      user    system   elapsed 
#&gt; 10249.420    34.947  2763.662</code></pre>
</div>
