---
title: "Only covariates with binning: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/bw-muni-01-covs-bin.rds
---



<p>Birthweight model including covariates at municipality level with <em>binning</em> option.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-muni-01-covs-bin.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<pre class="r"><code>form_sigma &lt;- sigma ~ 1

form_mu &lt;- born_weight ~ s(remoteness) + s(prop_tap_toilet)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model, binning = TRUE,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 4873071. logPost -2582651 logLik -2436526 edf 9.3467 eps 0.1928 iteration   1&quot;        
#&gt;   [2] &quot;AICc 4598169. logPost -2299275 logLik -2299074 edf 9.8623 eps 0.1272 iteration   2&quot;        
#&gt;   [3] &quot;AICc 4486998. logPost -2243656 logLik -2243482 edf 16.524 eps 0.0336 iteration   3&quot;        
#&gt;   [4] &quot;AICc 4459259. logPost -2229780 logLik -2229610 edf 19.637 eps 0.0176 iteration   4&quot;        
#&gt;   [5] &quot;AICc 4457573. logPost -2228938 logLik -2228767 edf 19.775 eps 0.0049 iteration   5&quot;        
#&gt;   [6] &quot;AICc 4457465. logPost -2228884 logLik -2228712 edf 19.776 eps 0.0008 iteration   6&quot;        
#&gt;   [7] &quot;AICc 4457432. logPost -2228867 logLik -2228696 edf 19.763 eps 0.0003 iteration   7&quot;        
#&gt;   [8] &quot;AICc 4457421. logPost -2228862 logLik -2228691 edf 19.756 eps 0.0001 iteration   8&quot;        
#&gt;   [9] &quot;AICc 4457418. logPost -2228860 logLik -2228689 edf 19.753 eps 0.0001 iteration   9&quot;        
#&gt;  [10] &quot;AICc 4457418. logPost -2228860 logLik -2228689 edf 19.753 eps 0.0001 iteration   9&quot;        
#&gt;  [11] &quot;elapsed time: 14.76sec&quot;                                                                    
#&gt;  [12] &quot;Starting the sampler...&quot;                                                                   
#&gt;  [13] &quot;Starting the sampler...&quot;                                                                   
#&gt;  [14] &quot;Starting the sampler...Starting the sampler...&quot;                                            
#&gt;  [15] &quot;&quot;                                                                                          
#&gt;  [16] &quot;&quot;                                                                                          
#&gt;  [17] &quot;|                    |   0% 10.86min&quot;                                                      
#&gt;  [18] &quot;|                    |   0% 10.89min&quot;                                                      
#&gt;  [19] &quot;|                    |   0% 11.08min&quot;                                                      
#&gt;  [20] &quot;|                    |   0% 11.14min&quot;                                                      
#&gt;  [21] &quot;|*                   |   5% 10.36min 32.71sec&quot;                                             
#&gt;  [22] &quot;|*                   |   5% 10.58min 33.41sec&quot;                                             
#&gt;  [23] &quot;&quot;                                                                                          
#&gt;  [24] &quot;|*                   |   5% 10.70min 33.78sec|*                   |   5% 10.71min 33.82sec&quot;
#&gt;  [25] &quot;|**                  |  10%  9.79min  1.09min&quot;                                             
#&gt;  [26] &quot;|**                  |  10%  9.86min  1.10min&quot;                                             
#&gt;  [27] &quot;&quot;                                                                                          
#&gt;  [28] &quot;|**                  |  10% 10.09min  1.12min|**                  |  10% 10.10min  1.12min&quot;
#&gt;  [29] &quot;|***                 |  15%  9.23min  1.63min&quot;                                             
#&gt;  [30] &quot;|***                 |  15%  9.27min  1.64min&quot;                                             
#&gt;  [31] &quot;&quot;                                                                                          
#&gt;  [32] &quot;|***                 |  15%|***                 |  15%   9.55min 9.54min   1.68min 1.68min&quot;
#&gt;  [33] &quot;|****                |  20%  8.67min  2.17min&quot;                                             
#&gt;  [34] &quot;|****                |  20%  8.68min  2.17min&quot;                                             
#&gt;  [35] &quot;&quot;                                                                                          
#&gt;  [36] &quot;|****                |  20%  8.98min  2.24min|****                |  20%  8.98min  2.24min&quot;
#&gt;  [37] &quot;|*****               |  25%  8.14min  2.71min&quot;                                             
#&gt;  [38] &quot;|*****               |  25%  8.15min  2.72min&quot;                                             
#&gt;  [39] &quot;&quot;                                                                                          
#&gt;  [40] &quot;|*****               |  25% |*****               |  25% 8.42min   8.42min 2.81min  2.81min&quot;
#&gt;  [41] &quot;|******              |  30%  7.59min  3.25min&quot;                                             
#&gt;  [42] &quot;|******              |  30%  7.60min  3.26min&quot;                                             
#&gt;  [43] &quot;&quot;                                                                                          
#&gt;  [44] &quot;|******              |  30%  7.85min |******              |  30% 3.36min  7.85min  3.36min&quot;
#&gt;  [45] &quot;|*******             |  35%  7.05min  3.79min&quot;                                             
#&gt;  [46] &quot;|*******             |  35%  7.06min  3.80min&quot;                                             
#&gt;  [47] &quot;&quot;                                                                                          
#&gt;  [48] &quot;|*******             |  35%|*******             |  35%   7.29min 7.29min   3.93min 3.93min&quot;
#&gt;  [49] &quot;|********            |  40%  6.51min  4.34min&quot;                                             
#&gt;  [50] &quot;|********            |  40%  6.53min  4.35min&quot;                                             
#&gt;  [51] &quot;|********            |  40%  6.72min  4.48min&quot;                                             
#&gt;  [52] &quot;|********            |  40%  6.72min  4.48min&quot;                                             
#&gt;  [53] &quot;|*********           |  45%  5.95min  4.87min&quot;                                             
#&gt;  [54] &quot;|*********           |  45%  5.97min  4.89min&quot;                                             
#&gt;  [55] &quot;|*********           |  45%  6.13min  5.01min&quot;                                             
#&gt;  [56] &quot;|*********           |  45%  6.14min  5.02min&quot;                                             
#&gt;  [57] &quot;|**********          |  50%  5.41min  5.41min&quot;                                             
#&gt;  [58] &quot;|**********          |  50%  5.43min  5.43min&quot;                                             
#&gt;  [59] &quot;|**********          |  50%  5.55min  5.55min&quot;                                             
#&gt;  [60] &quot;|**********          |  50%  5.56min  5.56min&quot;                                             
#&gt;  [61] &quot;|***********         |  55%  4.86min  5.94min&quot;                                             
#&gt;  [62] &quot;|***********         |  55%  4.89min  5.97min&quot;                                             
#&gt;  [63] &quot;|***********         |  55%  4.98min  6.09min&quot;                                             
#&gt;  [64] &quot;|***********         |  55%  4.98min  6.09min&quot;                                             
#&gt;  [65] &quot;|************        |  60%  4.32min  6.48min&quot;                                             
#&gt;  [66] &quot;|************        |  60%  4.34min  6.51min&quot;                                             
#&gt;  [67] &quot;|************        |  60%  4.42min  6.63min&quot;                                             
#&gt;  [68] &quot;|************        |  60%  4.42min  6.63min&quot;                                             
#&gt;  [69] &quot;|*************       |  65%  3.78min  7.02min&quot;                                             
#&gt;  [70] &quot;|*************       |  65%  3.79min  7.05min&quot;                                             
#&gt;  [71] &quot;|*************       |  65%  3.86min  7.17min&quot;                                             
#&gt;  [72] &quot;|*************       |  65%  3.86min  7.17min&quot;                                             
#&gt;  [73] &quot;|**************      |  70%  3.24min  7.56min&quot;                                             
#&gt;  [74] &quot;|**************      |  70%  3.25min  7.59min&quot;                                             
#&gt;  [75] &quot;|**************      |  70%  3.30min  7.71min&quot;                                             
#&gt;  [76] &quot;|**************      |  70%  3.31min  7.71min&quot;                                             
#&gt;  [77] &quot;|***************     |  75%  2.70min  8.10min&quot;                                             
#&gt;  [78] &quot;|***************     |  75%  2.71min  8.13min&quot;                                             
#&gt;  [79] &quot;|***************     |  75%  2.75min  8.25min&quot;                                             
#&gt;  [80] &quot;|***************     |  75%  2.75min  8.25min&quot;                                             
#&gt;  [81] &quot;|****************    |  80%  2.16min  8.65min&quot;                                             
#&gt;  [82] &quot;|****************    |  80%  2.17min  8.68min&quot;                                             
#&gt;  [83] &quot;|****************    |  80%  2.20min  8.80min&quot;                                             
#&gt;  [84] &quot;|****************    |  80%  2.20min  8.80min&quot;                                             
#&gt;  [85] &quot;|*****************   |  85%  1.62min  9.19min&quot;                                             
#&gt;  [86] &quot;|*****************   |  85%  1.63min  9.22min&quot;                                             
#&gt;  [87] &quot;|*****************   |  85%  1.65min  9.34min&quot;                                             
#&gt;  [88] &quot;|*****************   |  85%  1.65min  9.34min&quot;                                             
#&gt;  [89] &quot;|******************  |  90%  1.08min  9.72min&quot;                                             
#&gt;  [90] &quot;|******************  |  90%  1.08min  9.76min&quot;                                             
#&gt;  [91] &quot;|******************  |  90%  1.10min  9.87min&quot;                                             
#&gt;  [92] &quot;|******************  |  90%  1.10min  9.89min&quot;                                             
#&gt;  [93] &quot;|******************* |  95% 32.40sec 10.26min&quot;                                             
#&gt;  [94] &quot;|******************* |  95% 32.51sec 10.30min&quot;                                             
#&gt;  [95] &quot;|******************* |  95% 32.89sec 10.42min&quot;                                             
#&gt;  [96] &quot;|******************* |  95% 32.91sec 10.42min&quot;                                             
#&gt;  [97] &quot;|********************| 100%  0.00sec 10.79min&quot;                                             
#&gt;  [98] &quot;&quot;                                                                                          
#&gt;  [99] &quot;|********************| 100%  0.00sec 10.82min&quot;                                             
#&gt; [100] &quot;&quot;                                                                                          
#&gt; [101] &quot;|********************| 100%  0.00sec 10.90min&quot;                                             
#&gt; [102] &quot;&quot;                                                                                          
#&gt; [103] &quot;|********************| 100%  0.00sec 10.90min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   0.355   0.004   0.359</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;     user   system  elapsed 
#&gt; 2652.596    1.833  684.350</code></pre>
</div>
