---
title: "Linear tap water with random effects: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/bw-muni-14-water-re.rds
---



<p>Birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-muni-14-water-re.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<p>Now we define the same models as in the previous study.</p>
<pre class="r"><code>form_sigma &lt;- sigma ~ 1

form_mu &lt;- born_weight ~ prop_tap_toilet + s(res_muni, bs = &quot;re&quot;)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 4465554. logPost -2455057 logLik -2232773 edf 4.0881 eps 0.0322 iteration   1&quot;
#&gt;   [2] &quot;AICc 4458520. logPost -2231484 logLik -2229248 edf 11.674 eps 0.0076 iteration   2&quot;
#&gt;   [3] &quot;AICc 4456619. logPost -2228826 logLik -2228277 edf 32.192 eps 0.0040 iteration   3&quot;
#&gt;   [4] &quot;AICc 4456381. logPost -2228409 logLik -2228146 edf 43.877 eps 0.0016 iteration   4&quot;
#&gt;   [5] &quot;AICc 4456379. logPost -2228388 logLik -2228144 edf 45.376 eps 0.0001 iteration   5&quot;
#&gt;   [6] &quot;AICc 4456379. logPost -2228387 logLik -2228144 edf 45.371 eps 0.0000 iteration   6&quot;
#&gt;   [7] &quot;AICc 4456379. logPost -2228387 logLik -2228144 edf 45.371 eps 0.0000 iteration   6&quot;
#&gt;   [8] &quot;elapsed time:  9.62sec&quot;                                                            
#&gt;   [9] &quot;Starting the sampler...Starting the sampler...&quot;                                    
#&gt;  [10] &quot;&quot;                                                                                  
#&gt;  [11] &quot;Starting the sampler...&quot;                                                           
#&gt;  [12] &quot;Starting the sampler...&quot;                                                           
#&gt;  [13] &quot;&quot;                                                                                  
#&gt;  [14] &quot;&quot;                                                                                  
#&gt;  [15] &quot;||                                        |   0% |   0% 12.80min12.80min&quot;          
#&gt;  [16] &quot;|                    |   0% 12.79min&quot;                                              
#&gt;  [17] &quot;|                    |   0% 12.83min&quot;                                              
#&gt;  [18] &quot;|*                   |   5% 11.73min 37.05sec&quot;                                     
#&gt;  [19] &quot;|*                   |   5% 11.85min 37.41sec&quot;                                     
#&gt;  [20] &quot;|*                   |   5% 11.85min 37.41sec&quot;                                     
#&gt;  [21] &quot;|*                   |   5% 12.03min 37.98sec&quot;                                     
#&gt;  [22] &quot;|**                  |  10% 11.08min  1.23min&quot;                                     
#&gt;  [23] &quot;|**                  |  10% 11.10min  1.23min&quot;                                     
#&gt;  [24] &quot;|**                  |  10% 11.14min  1.24min&quot;                                     
#&gt;  [25] &quot;|**                  |  10% 11.20min  1.24min&quot;                                     
#&gt;  [26] &quot;|***                 |  15% 10.65min  1.88min&quot;                                     
#&gt;  [27] &quot;|***                 |  15% 10.65min  1.88min&quot;                                     
#&gt;  [28] &quot;|***                 |  15% 10.70min  1.89min&quot;                                     
#&gt;  [29] &quot;|***                 |  15% 10.75min  1.90min&quot;                                     
#&gt;  [30] &quot;|****                |  20% 10.12min  2.53min&quot;                                     
#&gt;  [31] &quot;|****                |  20% 10.12min  2.53min&quot;                                     
#&gt;  [32] &quot;|****                |  20% 10.15min  2.54min&quot;                                     
#&gt;  [33] &quot;|****                |  20% 10.24min  2.56min&quot;                                     
#&gt;  [34] &quot;|*****               |  25%  9.83min  3.28min&quot;                                     
#&gt;  [35] &quot;|*****               |  25%  9.82min  3.27min&quot;                                     
#&gt;  [36] &quot;|*****               |  25%  9.83min  3.28min&quot;                                     
#&gt;  [37] &quot;|*****               |  25%  9.91min  3.30min&quot;                                     
#&gt;  [38] &quot;|******              |  30%  9.21min  3.95min&quot;                                     
#&gt;  [39] &quot;|******              |  30%  9.20min  3.94min&quot;                                     
#&gt;  [40] &quot;|******              |  30%  9.23min  3.96min&quot;                                     
#&gt;  [41] &quot;|******              |  30%  9.28min  3.98min&quot;                                     
#&gt;  [42] &quot;|*******             |  35%  8.62min  4.64min&quot;                                     
#&gt;  [43] &quot;|*******             |  35%  8.62min  4.64min&quot;                                     
#&gt;  [44] &quot;|*******             |  35%  8.65min  4.66min&quot;                                     
#&gt;  [45] &quot;|*******             |  35%  8.69min  4.68min&quot;                                     
#&gt;  [46] &quot;|********            |  40%  7.96min  5.31min&quot;                                     
#&gt;  [47] &quot;|********            |  40%  7.97min  5.31min&quot;                                     
#&gt;  [48] &quot;|********            |  40%  8.00min  5.33min&quot;                                     
#&gt;  [49] &quot;|********            |  40%  8.02min  5.34min&quot;                                     
#&gt;  [50] &quot;|*********           |  45%  7.28min  5.95min&quot;                                     
#&gt;  [51] &quot;|*********           |  45%  7.29min  5.97min&quot;                                     
#&gt;  [52] &quot;|*********           |  45%  7.31min  5.98min&quot;                                     
#&gt;  [53] &quot;|*********           |  45%  7.33min  5.99min&quot;                                     
#&gt;  [54] &quot;|**********          |  50%  6.57min  6.57min&quot;                                     
#&gt;  [55] &quot;|**********          |  50%  6.59min  6.59min&quot;                                     
#&gt;  [56] &quot;|**********          |  50%  6.60min  6.60min&quot;                                     
#&gt;  [57] &quot;|**********          |  50%  6.62min  6.62min&quot;                                     
#&gt;  [58] &quot;|***********         |  55%  5.90min  7.22min&quot;                                     
#&gt;  [59] &quot;|***********         |  55%  5.91min  7.23min&quot;                                     
#&gt;  [60] &quot;|***********         |  55%  5.93min  7.24min&quot;                                     
#&gt;  [61] &quot;|***********         |  55%  5.94min  7.26min&quot;                                     
#&gt;  [62] &quot;|************        |  60%  5.23min  7.84min&quot;                                     
#&gt;  [63] &quot;|************        |  60%  5.23min  7.85min&quot;                                     
#&gt;  [64] &quot;|************        |  60%  5.24min  7.87min&quot;                                     
#&gt;  [65] &quot;|************        |  60%  5.25min  7.88min&quot;                                     
#&gt;  [66] &quot;|*************       |  65%  4.56min  8.47min&quot;                                     
#&gt;  [67] &quot;|*************       |  65%  4.57min  8.48min&quot;                                     
#&gt;  [68] &quot;|*************       |  65%  4.57min  8.50min&quot;                                     
#&gt;  [69] &quot;|*************       |  65%  4.58min  8.51min&quot;                                     
#&gt;  [70] &quot;|**************      |  70%  3.89min  9.08min&quot;                                     
#&gt;  [71] &quot;|**************      |  70%  3.90min  9.09min&quot;                                     
#&gt;  [72] &quot;|**************      |  70%  3.90min  9.11min&quot;                                     
#&gt;  [73] &quot;|**************      |  70%  3.91min  9.12min&quot;                                     
#&gt;  [74] &quot;|***************     |  75%  3.23min  9.69min&quot;                                     
#&gt;  [75] &quot;|***************     |  75%  3.24min  9.71min&quot;                                     
#&gt;  [76] &quot;|***************     |  75%  3.24min  9.73min&quot;                                     
#&gt;  [77] &quot;|***************     |  75%  3.25min  9.76min&quot;                                     
#&gt;  [78] &quot;|****************    |  80%  2.58min 10.31min&quot;                                     
#&gt;  [79] &quot;|****************    |  80%  2.58min 10.33min&quot;                                     
#&gt;  [80] &quot;|****************    |  80%  2.59min 10.35min&quot;                                     
#&gt;  [81] &quot;|****************    |  80%  2.59min 10.37min&quot;                                     
#&gt;  [82] &quot;|*****************   |  85%  1.93min 10.93min&quot;                                     
#&gt;  [83] &quot;|*****************   |  85%  1.93min 10.95min&quot;                                     
#&gt;  [84] &quot;|*****************   |  85%  1.94min 10.97min&quot;                                     
#&gt;  [85] &quot;|*****************   |  85%  1.94min 10.99min&quot;                                     
#&gt;  [86] &quot;|******************  |  90%  1.28min 11.55min&quot;                                     
#&gt;  [87] &quot;|******************  |  90%  1.28min 11.56min&quot;                                     
#&gt;  [88] &quot;|******************  |  90%  1.29min 11.58min&quot;                                     
#&gt;  [89] &quot;|******************  |  90%  1.29min 11.61min&quot;                                     
#&gt;  [90] &quot;|******************* |  95% 38.45sec 12.18min&quot;                                     
#&gt;  [91] &quot;|******************* |  95% 38.49sec 12.19min&quot;                                     
#&gt;  [92] &quot;|******************* |  95% 38.56sec 12.21min&quot;                                     
#&gt;  [93] &quot;|******************* |  95% 38.64sec 12.24min&quot;                                     
#&gt;  [94] &quot;|********************| 100%  0.00sec 12.79min&quot;                                     
#&gt;  [95] &quot;&quot;                                                                                  
#&gt;  [96] &quot;|********************| 100%  0.00sec 12.80min&quot;                                     
#&gt;  [97] &quot;&quot;                                                                                  
#&gt;  [98] &quot;|********************| 100%  0.00sec 12.82min&quot;                                     
#&gt;  [99] &quot;&quot;                                                                                  
#&gt; [100] &quot;|********************| 100%  0.00sec 12.83min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;    2.21    0.00    2.21</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;     user   system  elapsed 
#&gt; 3130.705    9.988  804.350</code></pre>
</div>
