---
title: "MRF model with random effects and binning: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
    - data/processed/ama_10_penalty.rds
targets:
    - data/modelled/bw-muni-19-mrf-re-bin.rds
---



<p>Birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.8.0, GDAL 3.0.4, PROJ 6.3.1</code></pre>
<pre class="r"><code>library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:MASS&#39;:
#&gt; 
#&gt;     select</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:bamlss&#39;:
#&gt; 
#&gt;     n</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:nlme&#39;:
#&gt; 
#&gt;     collapse</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-muni-19-mrf-re-bin.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))
K &lt;- readRDS(file.path(path_processed, &quot;ama_10_penalty.rds&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<p>Now we define the same models as in the previous study.</p>
<pre class="r"><code>form_sigma &lt;- sigma ~ 1

form_mu &lt;- born_weight ~ s(res_muni, bs = &quot;mrf&quot;, xt = list(&quot;penalty&quot; = K)) +
    s(res_muni, bs = &quot;re&quot;)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model, binning = TRUE,
        n.iter = 5000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 5119162. logPost -3736446 logLik -2559558 edf 23.352 eps 0.2579 iteration   1&quot;
#&gt;   [2] &quot;AICc 4825823. logPost -2418027 logLik -2412896 edf 14.893 eps 0.1308 iteration   2&quot;
#&gt;   [3] &quot;AICc 4614017. logPost -2307931 logLik -2306943 edf 64.966 eps 0.0509 iteration   3&quot;
#&gt;   [4] &quot;AICc 4492249. logPost -2246531 logLik -2246041 edf 83.555 eps 0.0301 iteration   4&quot;
#&gt;   [5] &quot;AICc 4458569. logPost -2229668 logLik -2229199 edf 85.273 eps 0.0167 iteration   5&quot;
#&gt;   [6] &quot;AICc 4456467. logPost -2228616 logLik -2228147 edf 85.748 eps 0.0046 iteration   6&quot;
#&gt;   [7] &quot;AICc 4456459. logPost -2228612 logLik -2228143 edf 85.817 eps 0.0002 iteration   7&quot;
#&gt;   [8] &quot;AICc 4456459. logPost -2228612 logLik -2228143 edf 85.767 eps 0.0000 iteration   8&quot;
#&gt;   [9] &quot;AICc 4456459. logPost -2228612 logLik -2228143 edf 85.767 eps 0.0000 iteration   8&quot;
#&gt;  [10] &quot;elapsed time: 49.23sec&quot;                                                            
#&gt;  [11] &quot;Starting the sampler...&quot;                                                           
#&gt;  [12] &quot;Starting the sampler...&quot;                                                           
#&gt;  [13] &quot;Starting the sampler...&quot;                                                           
#&gt;  [14] &quot;Starting the sampler...&quot;                                                           
#&gt;  [15] &quot;&quot;                                                                                  
#&gt;  [16] &quot;|                    |   0% 103.90min&quot;                                             
#&gt;  [17] &quot;|                    |   0% 105.61min&quot;                                             
#&gt;  [18] &quot;|                    |   0% 103.77min&quot;                                             
#&gt;  [19] &quot;|                    |   0% 105.58min&quot;                                             
#&gt;  [20] &quot;|*                   |   5% 105.05min  5.53min&quot;                                    
#&gt;  [21] &quot;|*                   |   5% 105.81min  5.57min&quot;                                    
#&gt;  [22] &quot;|*                   |   5% 105.90min  5.57min&quot;                                    
#&gt;  [23] &quot;|*                   |   5% 106.00min  5.58min&quot;                                    
#&gt;  [24] &quot;|**                  |  10% 98.71min 10.97min&quot;                                     
#&gt;  [25] &quot;|**                  |  10% 100.16min 11.13min&quot;                                    
#&gt;  [26] &quot;|**                  |  10% 100.20min 11.13min&quot;                                    
#&gt;  [27] &quot;|**                  |  10% 100.21min 11.13min&quot;                                    
#&gt;  [28] &quot;|***                 |  15% 92.36min 16.30min&quot;                                     
#&gt;  [29] &quot;|***                 |  15% 93.32min 16.47min&quot;                                     
#&gt;  [30] &quot;|***                 |  15% 93.36min 16.48min&quot;                                     
#&gt;  [31] &quot;|***                 |  15% 93.38min 16.48min&quot;                                     
#&gt;  [32] &quot;|****                |  20% 86.57min 21.64min&quot;                                     
#&gt;  [33] &quot;|****                |  20% 87.25min 21.81min&quot;                                     
#&gt;  [34] &quot;|****                |  20% 87.38min 21.85min&quot;                                     
#&gt;  [35] &quot;|****                |  20% 87.49min 21.87min&quot;                                     
#&gt;  [36] &quot;|*****               |  25% 81.49min 27.16min&quot;                                     
#&gt;  [37] &quot;|*****               |  25% 82.13min 27.38min&quot;                                     
#&gt;  [38] &quot;|*****               |  25% 82.30min 27.43min&quot;                                     
#&gt;  [39] &quot;|*****               |  25% 82.60min 27.53min&quot;                                     
#&gt;  [40] &quot;|******              |  30% 75.96min 32.56min&quot;                                     
#&gt;  [41] &quot;|******              |  30% 76.56min 32.81min&quot;                                     
#&gt;  [42] &quot;|******              |  30% 76.67min 32.86min&quot;                                     
#&gt;  [43] &quot;|******              |  30% 76.92min 32.97min&quot;                                     
#&gt;  [44] &quot;|*******             |  35% 70.36min 37.89min&quot;                                     
#&gt;  [45] &quot;|*******             |  35% 70.79min 38.12min&quot;                                     
#&gt;  [46] &quot;|*******             |  35% 70.97min 38.22min&quot;                                     
#&gt;  [47] &quot;|*******             |  35% 71.31min 38.40min&quot;                                     
#&gt;  [48] &quot;|********            |  40% 65.32min 43.55min&quot;                                     
#&gt;  [49] &quot;|********            |  40% 65.63min 43.75min&quot;                                     
#&gt;  [50] &quot;|********            |  40% 65.77min 43.84min&quot;                                     
#&gt;  [51] &quot;|********            |  40% 65.98min 43.99min&quot;                                     
#&gt;  [52] &quot;|*********           |  45% 60.07min 49.14min&quot;                                     
#&gt;  [53] &quot;|*********           |  45% 60.34min 49.37min&quot;                                     
#&gt;  [54] &quot;|*********           |  45% 60.57min 49.56min&quot;                                     
#&gt;  [55] &quot;|*********           |  45% 60.78min 49.73min&quot;                                     
#&gt;  [56] &quot;|**********          |  50% 55.09min 55.09min&quot;                                     
#&gt;  [57] &quot;|**********          |  50% 55.30min 55.30min&quot;                                     
#&gt;  [58] &quot;|**********          |  50% 55.63min 55.63min&quot;                                     
#&gt;  [59] &quot;|**********          |  50% 55.79min 55.79min&quot;                                     
#&gt;  [60] &quot;|***********         |  55% 49.65min 60.68min&quot;                                     
#&gt;  [61] &quot;|***********         |  55% 49.78min 60.84min&quot;                                     
#&gt;  [62] &quot;|***********         |  55% 50.08min 61.21min&quot;                                     
#&gt;  [63] &quot;|***********         |  55% 50.19min 61.34min&quot;                                     
#&gt;  [64] &quot;|************        |  60% 43.89min 65.84min&quot;                                     
#&gt;  [65] &quot;|************        |  60% 43.98min 65.98min&quot;                                     
#&gt;  [66] &quot;|************        |  60% 44.24min 66.36min&quot;                                     
#&gt;  [67] &quot;|************        |  60% 44.33min 66.50min&quot;                                     
#&gt;  [68] &quot;|*************       |  65% 38.43min 71.38min&quot;                                     
#&gt;  [69] &quot;|*************       |  65% 38.55min 71.60min&quot;                                     
#&gt;  [70] &quot;|*************       |  65% 38.75min 71.96min&quot;                                     
#&gt;  [71] &quot;|*************       |  65% 38.84min 72.13min&quot;                                     
#&gt;  [72] &quot;|**************      |  70% 32.81min 76.56min&quot;                                     
#&gt;  [73] &quot;|**************      |  70% 32.90min 76.76min&quot;                                     
#&gt;  [74] &quot;|**************      |  70% 33.07min 77.17min&quot;                                     
#&gt;  [75] &quot;|**************      |  70% 33.16min 77.38min&quot;                                     
#&gt;  [76] &quot;|***************     |  75% 27.22min 81.66min&quot;                                     
#&gt;  [77] &quot;|***************     |  75% 27.30min 81.89min&quot;                                     
#&gt;  [78] &quot;|***************     |  75% 27.44min 82.31min&quot;                                     
#&gt;  [79] &quot;|***************     |  75% 27.50min 82.50min&quot;                                     
#&gt;  [80] &quot;|****************    |  80% 21.71min 86.85min&quot;                                     
#&gt;  [81] &quot;|****************    |  80% 21.78min 87.10min&quot;                                     
#&gt;  [82] &quot;|****************    |  80% 21.91min 87.62min&quot;                                     
#&gt;  [83] &quot;|****************    |  80% 21.95min 87.82min&quot;                                     
#&gt;  [84] &quot;|*****************   |  85% 16.28min 92.25min&quot;                                     
#&gt;  [85] &quot;|*****************   |  85% 16.33min 92.55min&quot;                                     
#&gt;  [86] &quot;|*****************   |  85% 16.43min 93.12min&quot;                                     
#&gt;  [87] &quot;|*****************   |  85% 16.45min 93.24min&quot;                                     
#&gt;  [88] &quot;|******************  |  90% 10.86min 97.75min&quot;                                     
#&gt;  [89] &quot;|******************  |  90% 10.90min 98.06min&quot;                                     
#&gt;  [90] &quot;|******************  |  90% 10.96min 98.68min&quot;                                     
#&gt;  [91] &quot;|******************  |  90% 10.96min 98.68min&quot;                                     
#&gt;  [92] &quot;|******************* |  95%  5.43min 103.23min&quot;                                    
#&gt;  [93] &quot;|******************* |  95%  5.45min 103.52min&quot;                                    
#&gt;  [94] &quot;|******************* |  95%  5.48min 104.04min&quot;                                    
#&gt;  [95] &quot;|******************* |  95%  5.48min 104.08min&quot;                                    
#&gt;  [96] &quot;|********************| 100%  0.00sec 108.37min&quot;                                    
#&gt;  [97] &quot;&quot;                                                                                  
#&gt;  [98] &quot;|********************| 100%  0.00sec 108.64min&quot;                                    
#&gt;  [99] &quot;&quot;                                                                                  
#&gt; [100] &quot;|********************| 100%  0.00sec 109.18min&quot;                                    
#&gt; [101] &quot;&quot;                                                                                  
#&gt; [102] &quot;|********************| 100%  0.00sec 109.20min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   7.603   0.071   7.678</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;      user    system   elapsed 
#&gt; 26016.188    13.049  6670.762</code></pre>
</div>
