---
title: "Parametric remoteness: effects"
prerequisites:
    - data/modelled/bw-muni-06-remote-param.rds
    - data/processed/bwdata_41_model.fst
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
model_file &lt;- file.path(path_modelled, &quot;bw-muni-06-remote-param.rds&quot;)
form_file &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, model_file)
# model_file_burned &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-burned\\1&quot;, model_file)
model_file_burned &lt;- model_file

bwdata_model &lt;- fst::read_fst(bwdata_file)
form &lt;- readRDS(form_file)
model &lt;- readRDS(model_file_burned)</code></pre>
</div>
<div id="compute-results" class="section level2">
<h2>Compute results</h2>
<pre class="r"><code>model$results &lt;- results.bamlss.default(model)</code></pre>
</div>
<div id="paramed-effects" class="section level2">
<h2>paramed effects</h2>
<pre class="r"><code>summary(model)</code></pre>
<pre><code>#&gt; 
#&gt; Call:
#&gt; bamlss(formula = form, data = bwdata_model, cores = 4, combine = FALSE, 
#&gt;     light = TRUE, n.iter = 1000, burnin = 0)
#&gt; ---
#&gt; Family: gaussian 
#&gt; Link function: mu = identity, sigma = log
#&gt; *---
#&gt; Formula mu:
#&gt; ---
#&gt; born_weight ~ poly(remoteness, 2)
#&gt; -
#&gt; Parametric coefficients:
#&gt;                       Mean  2.5%   50% 97.5% parameters
#&gt; (Intercept)           3220  3218  3220  3221       3219
#&gt; poly(remoteness, 2)1 -8453 -9096 -8367 -8020      -9694
#&gt; poly(remoteness, 2)2 -4022 -4790 -4051 -3406      -4628
#&gt; -
#&gt; Acceptance probabilty:
#&gt;            Mean      2.5%       50% 97.5%
#&gt; alpha 1.907e-02 6.178e-12 8.898e-07 0.151
#&gt; ---
#&gt; Formula sigma:
#&gt; ---
#&gt; sigma ~ 1
#&gt; -
#&gt; Parametric coefficients:
#&gt;              Mean  2.5%   50% 97.5% parameters
#&gt; (Intercept) 6.229 6.226 6.229 6.231      6.229
#&gt; -
#&gt; Acceptance probabilty:
#&gt;         Mean   2.5%    50% 97.5%
#&gt; alpha 0.9992 0.9931 1.0000     1
#&gt; ---
#&gt; Sampler summary:
#&gt; -
#&gt; runtime = 278.194
#&gt; ---
#&gt; Optimizer summary:
#&gt; -
#&gt; AICc = 4458361 edf = 4 logLik = -2229177
#&gt; logPost = -2229271 nobs = 291479 runtime = 0.443</code></pre>
</div>
<div id="parametric-effects" class="section level2">
<h2>Parametric effects</h2>
<pre class="r"><code>par(mar = c(4, 4, 0.5, 0), mfrow = c(1, 2), cex.axis = 0.7)
plot2d_bamlss(model, bwdata_model, model = &quot;mu&quot;, term = &quot;poly(remoteness, 2)&quot;, grid = 50, FUN = c95)</code></pre>
<p><img src="/birthweight/40-modelling/20-testing-muni/bw-muni-06-remote-param-10-effects_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   2.785   0.121   2.925</code></pre>
</div>
