---
title: "Spatial model with random effects: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/bw-muni-16-sp-re.rds
---



<p>Birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-muni-16-sp-re.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<p>Now we define the same models as in the previous study.</p>
<pre class="r"><code>form_sigma &lt;- sigma ~ 1

form_mu &lt;- born_weight ~ s(longitud, latitud) + s(res_muni, bs = &quot;re&quot;)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;  [1] &quot;AICc 4466655. logPost -2455255 logLik -2233322 edf 5.2735 eps 0.0328 iteration   1&quot;        
#&gt;  [2] &quot;AICc 4457952. logPost -2231199 logLik -2228962 edf 14.041 eps 0.0105 iteration   2&quot;        
#&gt;  [3] &quot;AICc 4456528. logPost -2228805 logLik -2228225 edf 39.119 eps 0.0034 iteration   3&quot;        
#&gt;  [4] &quot;AICc 4456411. logPost -2228508 logLik -2228145 edf 60.255 eps 0.0011 iteration   4&quot;        
#&gt;  [5] &quot;AICc 4456417. logPost -2228498 logLik -2228144 edf 64.079 eps 0.0000 iteration   5&quot;        
#&gt;  [6] &quot;AICc 4456417. logPost -2228498 logLik -2228144 edf 64.079 eps 0.0000 iteration   5&quot;        
#&gt;  [7] &quot;elapsed time: 28.67sec&quot;                                                                    
#&gt;  [8] &quot;Starting the sampler...&quot;                                                                   
#&gt;  [9] &quot;Starting the sampler...&quot;                                                                   
#&gt; [10] &quot;Starting the sampler...&quot;                                                                   
#&gt; [11] &quot;Starting the sampler...&quot;                                                                   
#&gt; [12] &quot;&quot;                                                                                          
#&gt; [13] &quot;|                    |   0% 18.11min&quot;                                                      
#&gt; [14] &quot;|                    |   0% 18.30min&quot;                                                      
#&gt; [15] &quot;|                    |   0% 18.29min&quot;                                                      
#&gt; [16] &quot;|                    |   0% 18.38min&quot;                                                      
#&gt; [17] &quot;&quot;                                                                                          
#&gt; [18] &quot;|*                   |   5% 16.67min 52.64sec|*                   |   5% 16.65min 52.59sec&quot;
#&gt; [19] &quot;|*                   |   5% 16.64min 52.54sec&quot;                                             
#&gt; [20] &quot;|*                   |   5% 16.67min 52.65sec&quot;                                             
#&gt; [21] &quot;|**                  |  10% 15.58min  1.73min&quot;                                             
#&gt; [22] &quot;|**                  |  10% 15.58min  1.73min&quot;                                             
#&gt; [23] &quot;|**                  |  10% 15.59min  1.73min&quot;                                             
#&gt; [24] &quot;|**                  |  10% 15.61min  1.73min&quot;                                             
#&gt; [25] &quot;|***                 |  15% 14.76min  2.60min&quot;                                             
#&gt; [26] &quot;|***                 |  15% 14.78min  2.61min&quot;                                             
#&gt; [27] &quot;|***                 |  15% 14.81min  2.61min&quot;                                             
#&gt; [28] &quot;|***                 |  15% 14.82min  2.61min&quot;                                             
#&gt; [29] &quot;|****                |  20% 13.88min  3.47min&quot;                                             
#&gt; [30] &quot;|****                |  20% 13.89min  3.47min&quot;                                             
#&gt; [31] &quot;|****                |  20% 13.89min  3.47min&quot;                                             
#&gt; [32] &quot;|****                |  20% 13.91min  3.48min&quot;                                             
#&gt; [33] &quot;&quot;                                                                                          
#&gt; [34] &quot;|*****               |  25%|*****               |  25%  12.99min12.98min   4.33min 4.33min&quot;
#&gt; [35] &quot;|*****               |  25% 13.03min  4.34min&quot;                                             
#&gt; [36] &quot;|*****               |  25% 13.04min  4.35min&quot;                                             
#&gt; [37] &quot;|******              |  30% 12.16min  5.21min&quot;                                             
#&gt; [38] &quot;|******              |  30% 12.17min  5.21min&quot;                                             
#&gt; [39] &quot;|******              |  30% 12.21min  5.23min&quot;                                             
#&gt; [40] &quot;|******              |  30% 12.23min  5.24min&quot;                                             
#&gt; [41] &quot;|*******             |  35% 11.38min  6.13min&quot;                                             
#&gt; [42] &quot;|*******             |  35% 11.41min  6.15min&quot;                                             
#&gt; [43] &quot;|*******             |  35% 11.45min  6.17min&quot;                                             
#&gt; [44] &quot;|*******             |  35% 11.49min  6.19min&quot;                                             
#&gt; [45] &quot;|********            |  40% 10.62min  7.08min&quot;                                             
#&gt; [46] &quot;|********            |  40% 10.64min  7.10min&quot;                                             
#&gt; [47] &quot;|********            |  40% 10.65min  7.10min&quot;                                             
#&gt; [48] &quot;|********            |  40% 10.68min  7.12min&quot;                                             
#&gt; [49] &quot;|*********           |  45%  9.77min  7.99min&quot;                                             
#&gt; [50] &quot;|*********           |  45%  9.86min  8.07min&quot;                                             
#&gt; [51] &quot;|*********           |  45%  9.87min  8.07min&quot;                                             
#&gt; [52] &quot;|*********           |  45%  9.93min  8.12min&quot;                                             
#&gt; [53] &quot;|**********          |  50%  8.95min  8.95min&quot;                                             
#&gt; [54] &quot;|**********          |  50%  9.03min  9.03min&quot;                                             
#&gt; [55] &quot;|**********          |  50%  9.05min  9.05min&quot;                                             
#&gt; [56] &quot;|**********          |  50%  9.06min  9.06min&quot;                                             
#&gt; [57] &quot;|***********         |  55%  8.06min  9.85min&quot;                                             
#&gt; [58] &quot;|***********         |  55%  8.12min  9.92min&quot;                                             
#&gt; [59] &quot;|***********         |  55%  8.13min  9.94min&quot;                                             
#&gt; [60] &quot;|***********         |  55%  8.15min  9.96min&quot;                                             
#&gt; [61] &quot;|************        |  60%  7.18min 10.78min&quot;                                             
#&gt; [62] &quot;|************        |  60%  7.22min 10.83min&quot;                                             
#&gt; [63] &quot;|************        |  60%  7.24min 10.86min&quot;                                             
#&gt; [64] &quot;|************        |  60%  7.25min 10.88min&quot;                                             
#&gt; [65] &quot;|*************       |  65%  6.31min 11.72min&quot;                                             
#&gt; [66] &quot;|*************       |  65%  6.33min 11.76min&quot;                                             
#&gt; [67] &quot;|*************       |  65%  6.35min 11.79min&quot;                                             
#&gt; [68] &quot;|*************       |  65%  6.35min 11.80min&quot;                                             
#&gt; [69] &quot;|**************      |  70%  5.41min 12.61min&quot;                                             
#&gt; [70] &quot;|**************      |  70%  5.42min 12.65min&quot;                                             
#&gt; [71] &quot;|**************      |  70%  5.46min 12.73min&quot;                                             
#&gt; [72] &quot;|**************      |  70%  5.46min 12.74min&quot;                                             
#&gt; [73] &quot;|***************     |  75%  4.50min 13.51min&quot;                                             
#&gt; [74] &quot;|***************     |  75%  4.52min 13.55min&quot;                                             
#&gt; [75] &quot;|***************     |  75%  4.54min 13.63min&quot;                                             
#&gt; [76] &quot;|***************     |  75%  4.55min 13.64min&quot;                                             
#&gt; [77] &quot;|****************    |  80%  3.60min 14.40min&quot;                                             
#&gt; [78] &quot;|****************    |  80%  3.61min 14.43min&quot;                                             
#&gt; [79] &quot;|****************    |  80%  3.63min 14.52min&quot;                                             
#&gt; [80] &quot;|****************    |  80%  3.63min 14.52min&quot;                                             
#&gt; [81] &quot;|*****************   |  85%  2.70min 15.28min&quot;                                             
#&gt; [82] &quot;|*****************   |  85%  2.70min 15.31min&quot;                                             
#&gt; [83] &quot;|*****************   |  85%  2.72min 15.40min&quot;                                             
#&gt; [84] &quot;|*****************   |  85%  2.72min 15.40min&quot;                                             
#&gt; [85] &quot;|******************  |  90%  1.79min 16.15min&quot;                                             
#&gt; [86] &quot;|******************  |  90%  1.80min 16.19min&quot;                                             
#&gt; [87] &quot;|******************  |  90%  1.81min 16.27min&quot;                                             
#&gt; [88] &quot;|******************  |  90%  1.81min 16.27min&quot;                                             
#&gt; [89] &quot;|******************* |  95% 53.75sec 17.02min&quot;                                             
#&gt; [90] &quot;|******************* |  95% 53.89sec 17.06min&quot;                                             
#&gt; [91] &quot;|******************* |  95% 54.16sec 17.15min&quot;                                             
#&gt; [92] &quot;|******************* |  95% 54.17sec 17.15min&quot;                                             
#&gt; [93] &quot;|********************| 100%  0.00sec 17.91min&quot;                                             
#&gt; [94] &quot;&quot;                                                                                          
#&gt; [95] &quot;|********************| 100%  0.00sec 17.94min&quot;                                             
#&gt; [96] &quot;&quot;                                                                                          
#&gt; [97] &quot;|********************| 100%  0.00sec 18.00min&quot;                                             
#&gt; [98] &quot;&quot;                                                                                          
#&gt; [99] &quot;|********************| 100%  0.00sec 18.00min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   2.244   0.004   2.258</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;     user   system  elapsed 
#&gt; 4404.543   11.836 1142.992</code></pre>
</div>
