---
title: "Spatial model with random effects and binning: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/bw-muni-17-sp-re-bin.rds
---



<p>Birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-muni-17-sp-re-bin.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<p>Now we define the same models as in the previous study.</p>
<pre class="r"><code>form_sigma &lt;- sigma ~ 1

form_mu &lt;- born_weight ~ s(longitud, latitud) + s(res_muni, bs = &quot;re&quot;)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model, binning = TRUE,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 5118459. logPost -3673047 logLik -2559209 edf 19.895 eps 0.2509 iteration   1&quot;        
#&gt;   [2] &quot;AICc 4825471. logPost -2417561 logLik -2412722 edf 13.547 eps 0.1288 iteration   2&quot;        
#&gt;   [3] &quot;AICc 4613570. logPost -2307717 logLik -2306732 edf 52.482 eps 0.0509 iteration   3&quot;        
#&gt;   [4] &quot;AICc 4492049. logPost -2246453 logLik -2245952 edf 72.047 eps 0.0301 iteration   4&quot;        
#&gt;   [5] &quot;AICc 4458524. logPost -2229670 logLik -2229189 edf 73.172 eps 0.0166 iteration   5&quot;        
#&gt;   [6] &quot;AICc 4456442. logPost -2228628 logLik -2228147 edf 73.414 eps 0.0046 iteration   6&quot;        
#&gt;   [7] &quot;AICc 4456434. logPost -2228624 logLik -2228143 edf 73.454 eps 0.0002 iteration   7&quot;        
#&gt;   [8] &quot;AICc 4456434. logPost -2228624 logLik -2228143 edf 73.437 eps 0.0000 iteration   8&quot;        
#&gt;   [9] &quot;AICc 4456434. logPost -2228624 logLik -2228143 edf 73.437 eps 0.0000 iteration   8&quot;        
#&gt;  [10] &quot;elapsed time: 13.00sec&quot;                                                                    
#&gt;  [11] &quot;Starting the sampler...&quot;                                                                   
#&gt;  [12] &quot;Starting the sampler...&quot;                                                                   
#&gt;  [13] &quot;Starting the sampler...&quot;                                                                   
#&gt;  [14] &quot;Starting the sampler...&quot;                                                                   
#&gt;  [15] &quot;&quot;                                                                                          
#&gt;  [16] &quot;|                    |   0% 11.31min&quot;                                                      
#&gt;  [17] &quot;|                    |   0% 11.44min&quot;                                                      
#&gt;  [18] &quot;&quot;                                                                                          
#&gt;  [19] &quot;||                                        |   0% |   0% 11.65min11.62min&quot;                  
#&gt;  [20] &quot;|*                   |   5% 10.63min 33.58sec&quot;                                             
#&gt;  [21] &quot;|*                   |   5% 10.68min 33.71sec&quot;                                             
#&gt;  [22] &quot;&quot;                                                                                          
#&gt;  [23] &quot;|*                   |   5% 10.96min 34.62sec|*                   |   5% 10.96min 34.60sec&quot;
#&gt;  [24] &quot;|**                  |  10%  9.79min  1.09min&quot;                                             
#&gt;  [25] &quot;|**                  |  10%  9.81min  1.09min&quot;                                             
#&gt;  [26] &quot;|**                  |  10% 10.02min  1.11min&quot;                                             
#&gt;  [27] &quot;|**                  |  10% 10.31min  1.15min&quot;                                             
#&gt;  [28] &quot;|***                 |  15%  8.97min  1.58min&quot;                                             
#&gt;  [29] &quot;|***                 |  15%  8.98min  1.58min&quot;                                             
#&gt;  [30] &quot;|***                 |  15%  9.13min  1.61min&quot;                                             
#&gt;  [31] &quot;|***                 |  15%  9.59min  1.69min&quot;                                             
#&gt;  [32] &quot;|****                |  20%  8.33min  2.08min&quot;                                             
#&gt;  [33] &quot;|****                |  20%  8.35min  2.09min&quot;                                             
#&gt;  [34] &quot;|****                |  20%  8.45min  2.11min&quot;                                             
#&gt;  [35] &quot;|****                |  20%  8.77min  2.19min&quot;                                             
#&gt;  [36] &quot;|*****               |  25%  7.76min  2.59min&quot;                                             
#&gt;  [37] &quot;|*****               |  25%  7.77min  2.59min&quot;                                             
#&gt;  [38] &quot;|*****               |  25%  7.85min  2.62min&quot;                                             
#&gt;  [39] &quot;|*****               |  25%  8.10min  2.70min&quot;                                             
#&gt;  [40] &quot;|******              |  30%  7.21min  3.09min&quot;                                             
#&gt;  [41] &quot;|******              |  30%  7.22min  3.09min&quot;                                             
#&gt;  [42] &quot;|******              |  30%  7.28min  3.12min&quot;                                             
#&gt;  [43] &quot;|******              |  30%  7.47min  3.20min&quot;                                             
#&gt;  [44] &quot;|*******             |  35%  6.66min  3.59min&quot;                                             
#&gt;  [45] &quot;|*******             |  35%  6.67min  3.59min&quot;                                             
#&gt;  [46] &quot;|*******             |  35%  6.71min  3.61min&quot;                                             
#&gt;  [47] &quot;|*******             |  35%  6.87min  3.70min&quot;                                             
#&gt;  [48] &quot;|********            |  40%  6.13min  4.08min&quot;                                             
#&gt;  [49] &quot;|********            |  40%  6.14min  4.09min&quot;                                             
#&gt;  [50] &quot;|********            |  40%  6.17min  4.11min&quot;                                             
#&gt;  [51] &quot;|********            |  40%  6.30min  4.20min&quot;                                             
#&gt;  [52] &quot;|*********           |  45%  5.60min  4.59min&quot;                                             
#&gt;  [53] &quot;|*********           |  45%  5.62min  4.60min&quot;                                             
#&gt;  [54] &quot;|*********           |  45%  5.64min  4.61min&quot;                                             
#&gt;  [55] &quot;|*********           |  45%  5.74min  4.70min&quot;                                             
#&gt;  [56] &quot;|**********          |  50%  5.09min  5.09min&quot;                                             
#&gt;  [57] &quot;|**********          |  50%  5.09min  5.09min&quot;                                             
#&gt;  [58] &quot;|**********          |  50%  5.12min  5.12min&quot;                                             
#&gt;  [59] &quot;|**********          |  50%  5.19min  5.19min&quot;                                             
#&gt;  [60] &quot;|***********         |  55%  4.57min  5.58min&quot;                                             
#&gt;  [61] &quot;|***********         |  55%  4.58min  5.59min&quot;                                             
#&gt;  [62] &quot;|***********         |  55%  4.59min  5.62min&quot;                                             
#&gt;  [63] &quot;|***********         |  55%  4.66min  5.69min&quot;                                             
#&gt;  [64] &quot;|************        |  60%  4.06min  6.09min&quot;                                             
#&gt;  [65] &quot;|************        |  60%  4.06min  6.09min&quot;                                             
#&gt;  [66] &quot;|************        |  60%  4.08min  6.11min&quot;                                             
#&gt;  [67] &quot;|************        |  60%  4.13min  6.19min&quot;                                             
#&gt;  [68] &quot;|*************       |  65%  3.55min  6.59min&quot;                                             
#&gt;  [69] &quot;|*************       |  65%  3.55min  6.59min&quot;                                             
#&gt;  [70] &quot;|*************       |  65%  3.56min  6.61min&quot;                                             
#&gt;  [71] &quot;|*************       |  65%  3.61min  6.70min&quot;                                             
#&gt;  [72] &quot;|**************      |  70%  3.04min  7.08min&quot;                                             
#&gt;  [73] &quot;|**************      |  70%  3.04min  7.09min&quot;                                             
#&gt;  [74] &quot;|**************      |  70%  3.05min  7.11min&quot;                                             
#&gt;  [75] &quot;|**************      |  70%  3.08min  7.19min&quot;                                             
#&gt;  [76] &quot;|***************     |  75%  2.53min  7.58min&quot;                                             
#&gt;  [77] &quot;|***************     |  75%  2.53min  7.59min&quot;                                             
#&gt;  [78] &quot;|***************     |  75%  2.54min  7.62min&quot;                                             
#&gt;  [79] &quot;|***************     |  75%  2.56min  7.69min&quot;                                             
#&gt;  [80] &quot;|****************    |  80%  2.02min  8.08min&quot;                                             
#&gt;  [81] &quot;|****************    |  80%  2.02min  8.09min&quot;                                             
#&gt;  [82] &quot;|****************    |  80%  2.03min  8.11min&quot;                                             
#&gt;  [83] &quot;|****************    |  80%  2.05min  8.19min&quot;                                             
#&gt;  [84] &quot;|*****************   |  85%  1.51min  8.58min&quot;                                             
#&gt;  [85] &quot;|*****************   |  85%  1.51min  8.58min&quot;                                             
#&gt;  [86] &quot;|*****************   |  85%  1.52min  8.61min&quot;                                             
#&gt;  [87] &quot;|*****************   |  85%  1.53min  8.68min&quot;                                             
#&gt;  [88] &quot;|******************  |  90%  1.01min  9.07min&quot;                                             
#&gt;  [89] &quot;|******************  |  90%  1.01min  9.08min&quot;                                             
#&gt;  [90] &quot;|******************  |  90%  1.01min  9.11min&quot;                                             
#&gt;  [91] &quot;|******************  |  90%  1.02min  9.18min&quot;                                             
#&gt;  [92] &quot;|******************* |  95% 30.25sec  9.58min&quot;                                             
#&gt;  [93] &quot;|******************* |  95% 30.28sec  9.59min&quot;                                             
#&gt;  [94] &quot;|******************* |  95% 30.34sec  9.61min&quot;                                             
#&gt;  [95] &quot;|******************* |  95% 30.58sec  9.68min&quot;                                             
#&gt;  [96] &quot;|********************| 100%  0.00sec 10.07min&quot;                                             
#&gt;  [97] &quot;&quot;                                                                                          
#&gt;  [98] &quot;|********************| 100%  0.00sec 10.09min&quot;                                             
#&gt;  [99] &quot;&quot;                                                                                          
#&gt; [100] &quot;|********************| 100%  0.00sec 10.10min&quot;                                             
#&gt; [101] &quot;&quot;                                                                                          
#&gt; [102] &quot;|********************| 100%  0.00sec 10.14min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   0.799   0.004   0.803</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;     user   system  elapsed 
#&gt; 2460.613   10.202  637.431</code></pre>
</div>
