---
title: "Linear remoteness with random effects and binning: fitting"
prerequisites:
    - data/processed/bwdata_41_model.fst
targets:
    - data/modelled/bw-muni-13-remote-re-bin.rds
---



<p>Birthweight model including covariates at municipality level with linear effects.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<p>Paths are defined relative to the git repository location.</p>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

path_modelled_data &lt;- file.path(path_modelled, &quot;bw-muni-13-remote-re-bin.rds&quot;)
path_modelled_sink &lt;- gsub(&quot;\\.rds$&quot;, &quot;\\.txt&quot;, path_modelled_data)
path_modelled_form &lt;- gsub(&quot;(\\.rds)$&quot;, &quot;-form\\1&quot;, path_modelled_data)

bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="define-formula-for-our-model" class="section level2">
<h2>Define formula for our model</h2>
<p>Now we define the same models as in the previous study.</p>
<pre class="r"><code>form_sigma &lt;- sigma ~ 1

form_mu &lt;- born_weight ~ remoteness + s(res_muni, bs = &quot;re&quot;)

form &lt;- list(form_mu, form_sigma)</code></pre>
</div>
<div id="run-the-model-of-interest-and-save-results" class="section level2">
<h2>Run the model of interest and save results</h2>
<pre class="r"><code>{
    sink(path_modelled_sink)
    bamlss_model &lt;- bamlss(
        form, data = bwdata_model, binning = TRUE,
        n.iter = 1000, burnin = 0, cores = 4, combine = FALSE, light = TRUE
    )
    sink()
}
readLines(path_modelled_sink)</code></pre>
<pre><code>#&gt;   [1] &quot;AICc 4619787. logPost -3432973 logLik -2309881 edf 12.089 eps 0.0927 iteration   1&quot;
#&gt;   [2] &quot;AICc 4485810. logPost -2296595 logLik -2242879 edf 25.939 eps 0.0582 iteration   2&quot;
#&gt;   [3] &quot;AICc 4456869. logPost -2235069 logLik -2228391 edf 43.417 eps 0.0269 iteration   3&quot;
#&gt;   [4] &quot;AICc 4456382. logPost -2229063 logLik -2228145 edf 45.776 eps 0.0031 iteration   4&quot;
#&gt;   [5] &quot;AICc 4456379. logPost -2228509 logLik -2228143 edf 45.978 eps 0.0001 iteration   5&quot;
#&gt;   [6] &quot;AICc 4456379. logPost -2228489 logLik -2228143 edf 45.993 eps 0.0000 iteration   6&quot;
#&gt;   [7] &quot;AICc 4456379. logPost -2228489 logLik -2228143 edf 45.993 eps 0.0000 iteration   6&quot;
#&gt;   [8] &quot;elapsed time:  6.07sec&quot;                                                            
#&gt;   [9] &quot;Starting the sampler...&quot;                                                           
#&gt;  [10] &quot;Starting the sampler...&quot;                                                           
#&gt;  [11] &quot;Starting the sampler...&quot;                                                           
#&gt;  [12] &quot;Starting the sampler...&quot;                                                           
#&gt;  [13] &quot;&quot;                                                                                  
#&gt;  [14] &quot;|                    |   0%  9.18min&quot;                                              
#&gt;  [15] &quot;|                    |   0%  9.28min&quot;                                              
#&gt;  [16] &quot;|                    |   0%  9.45min&quot;                                              
#&gt;  [17] &quot;|                    |   0%  9.45min&quot;                                              
#&gt;  [18] &quot;|*                   |   5%  8.81min 27.81sec&quot;                                     
#&gt;  [19] &quot;|*                   |   5%  8.83min 27.88sec&quot;                                     
#&gt;  [20] &quot;|*                   |   5%  8.93min 28.21sec&quot;                                     
#&gt;  [21] &quot;|*                   |   5%  8.96min 28.30sec&quot;                                     
#&gt;  [22] &quot;|**                  |  10%  8.15min 54.34sec&quot;                                     
#&gt;  [23] &quot;|**                  |  10%  8.16min 54.43sec&quot;                                     
#&gt;  [24] &quot;|**                  |  10%  8.23min 54.89sec&quot;                                     
#&gt;  [25] &quot;|**                  |  10%  8.26min 55.05sec&quot;                                     
#&gt;  [26] &quot;|***                 |  15%  7.58min  1.34min&quot;                                     
#&gt;  [27] &quot;|***                 |  15%  7.63min  1.35min&quot;                                     
#&gt;  [28] &quot;|***                 |  15%  7.63min  1.35min&quot;                                     
#&gt;  [29] &quot;|***                 |  15%  7.68min  1.35min&quot;                                     
#&gt;  [30] &quot;|****                |  20%  7.09min  1.77min&quot;                                     
#&gt;  [31] &quot;|****                |  20%  7.14min  1.78min&quot;                                     
#&gt;  [32] &quot;|****                |  20%  7.17min  1.79min&quot;                                     
#&gt;  [33] &quot;|****                |  20%  7.17min  1.79min&quot;                                     
#&gt;  [34] &quot;|*****               |  25%  6.62min  2.21min&quot;                                     
#&gt;  [35] &quot;|*****               |  25%&quot;                                                       
#&gt;  [36] &quot;  6.68min  2.23min|*****               |  25%  6.68min  2.23min&quot;                   
#&gt;  [37] &quot;|*****               |  25%  6.68min  2.23min&quot;                                     
#&gt;  [38] &quot;|******              |  30%  6.19min  2.65min&quot;                                     
#&gt;  [39] &quot;|******              |  30%  6.22min  2.67min&quot;                                     
#&gt;  [40] &quot;|******              |  30%  6.22min  2.67min&quot;                                     
#&gt;  [41] &quot;|******              |  30%  6.22min  2.67min&quot;                                     
#&gt;  [42] &quot;|*******             |  35%  5.73min  3.09min&quot;                                     
#&gt;  [43] &quot;|*******             |  35%  5.76min  3.10min&quot;                                     
#&gt;  [44] &quot;|*******             |  35%  5.76min  3.10min&quot;                                     
#&gt;  [45] &quot;|*******             |  35%  5.76min  3.10min&quot;                                     
#&gt;  [46] &quot;|********            |  40%  5.30min  3.53min&quot;                                     
#&gt;  [47] &quot;|********            |  40%  5.32min  3.55min&quot;                                     
#&gt;  [48] &quot;|********            |  40%  5.32min  3.55min&quot;                                     
#&gt;  [49] &quot;|********            |  40%  5.33min  3.55min&quot;                                     
#&gt;  [50] &quot;|*********           |  45%  4.88min  4.00min&quot;                                     
#&gt;  [51] &quot;|*********           |  45%  4.90min  4.01min&quot;                                     
#&gt;  [52] &quot;|*********           |  45%  4.91min  4.02min&quot;                                     
#&gt;  [53] &quot;|*********           |  45%  4.91min  4.02min&quot;                                     
#&gt;  [54] &quot;|**********          |  50%  4.43min  4.43min&quot;                                     
#&gt;  [55] &quot;|**********          |  50%  4.46min  4.46min&quot;                                     
#&gt;  [56] &quot;|**********          |  50%  4.46min  4.46min&quot;                                     
#&gt;  [57] &quot;|**********          |  50%  4.47min  4.47min&quot;                                     
#&gt;  [58] &quot;|***********         |  55%  3.99min  4.88min&quot;                                     
#&gt;  [59] &quot;|***********         |  55%  4.01min  4.90min&quot;                                     
#&gt;  [60] &quot;|***********         |  55%  4.02min  4.91min&quot;                                     
#&gt;  [61] &quot;|***********         |  55%  4.02min  4.92min&quot;                                     
#&gt;  [62] &quot;|************        |  60%  3.56min  5.34min&quot;                                     
#&gt;  [63] &quot;|************        |  60%  3.57min  5.36min&quot;                                     
#&gt;  [64] &quot;|************        |  60%  3.58min  5.36min&quot;                                     
#&gt;  [65] &quot;|************        |  60%  3.58min  5.37min&quot;                                     
#&gt;  [66] &quot;|*************       |  65%  3.12min  5.79min&quot;                                     
#&gt;  [67] &quot;|*************       |  65%  3.13min  5.81min&quot;                                     
#&gt;  [68] &quot;|*************       |  65%  3.13min  5.81min&quot;                                     
#&gt;  [69] &quot;|*************       |  65%  3.13min  5.81min&quot;                                     
#&gt;  [70] &quot;|**************      |  70%  2.67min  6.24min&quot;                                     
#&gt;  [71] &quot;|**************      |  70%  2.68min  6.25min&quot;                                     
#&gt;  [72] &quot;|**************      |  70%  2.68min  6.25min&quot;                                     
#&gt;  [73] &quot;|**************      |  70%  2.68min  6.26min&quot;                                     
#&gt;  [74] &quot;|***************     |  75%  2.23min  6.69min&quot;                                     
#&gt;  [75] &quot;|***************     |  75%  2.23min  6.70min&quot;                                     
#&gt;  [76] &quot;|***************     |  75%  2.24min  6.71min&quot;                                     
#&gt;  [77] &quot;|***************     |  75%  2.24min  6.72min&quot;                                     
#&gt;  [78] &quot;|****************    |  80%  1.79min  7.15min&quot;                                     
#&gt;  [79] &quot;|****************    |  80%  1.79min  7.16min&quot;                                     
#&gt;  [80] &quot;|****************    |  80%  1.79min  7.16min&quot;                                     
#&gt;  [81] &quot;|****************    |  80%  1.79min  7.17min&quot;                                     
#&gt;  [82] &quot;|*****************   |  85%  1.34min  7.60min&quot;                                     
#&gt;  [83] &quot;|*****************   |  85%  1.34min  7.62min&quot;                                     
#&gt;  [84] &quot;|*****************   |  85%  1.34min  7.62min&quot;                                     
#&gt;  [85] &quot;|*****************   |  85%  1.35min  7.63min&quot;                                     
#&gt;  [86] &quot;|******************  |  90% 53.70sec  8.05min&quot;                                     
#&gt;  [87] &quot;|******************  |  90% 53.75sec  8.06min&quot;                                     
#&gt;  [88] &quot;|******************  |  90% 53.81sec  8.07min&quot;                                     
#&gt;  [89] &quot;|******************  |  90% 53.83sec  8.07min&quot;                                     
#&gt;  [90] &quot;|******************* |  95% 26.85sec  8.50min&quot;                                     
#&gt;  [91] &quot;|******************* |  95% 26.87sec  8.51min&quot;                                     
#&gt;  [92] &quot;|******************* |  95% 26.90sec  8.52min&quot;                                     
#&gt;  [93] &quot;|******************* |  95% 26.94sec  8.53min&quot;                                     
#&gt;  [94] &quot;|********************| 100%  0.00sec  8.95min&quot;                                     
#&gt;  [95] &quot;&quot;                                                                                  
#&gt;  [96] &quot;|********************| 100%  0.00sec  8.95min&quot;                                     
#&gt;  [97] &quot;&quot;                                                                                  
#&gt;  [98] &quot;|********************| 100%  0.00sec  8.96min&quot;                                     
#&gt;  [99] &quot;&quot;                                                                                  
#&gt; [100] &quot;|********************| 100%  0.00sec  8.97min&quot;</code></pre>
<pre class="r"><code>system.time(saveRDS(bamlss_model, file = path_modelled_data))</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   0.831   0.004   0.835</code></pre>
<pre class="r"><code>saveRDS(form, file = path_modelled_form)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;     user   system  elapsed 
#&gt; 2190.848    2.253  560.543</code></pre>
</div>
