---
title: "Summarise BW and LBW models controlling for gestational age: growth path"
prerequisites:
    - data/modelled/bw-20-growth-re-t-burned.rds
    - data/modelled/lbw-20-growth-re-burned.rds
    - data/processed/bwdata_41_model.fst
targets:
    - data/summarised/summary-growth-models.csv
---



<p>In this script we summarise the results of the BW and LBW models controlling for
gestational age. We also include comparisons between different types of profiles. The
resulting table can be seen in section <a href="#growth-bw-lbw">Display summary</a>.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>library(ggplot2)
library(patchwork)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;patchwork&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:MASS&#39;:
#&gt; 
#&gt;     area</code></pre>
<pre class="r"><code>library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:MASS&#39;:
#&gt; 
#&gt;     select</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:bamlss&#39;:
#&gt; 
#&gt;     n</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:nlme&#39;:
#&gt; 
#&gt;     collapse</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)
path_summarised &lt;- file.path(path_data, &quot;summarised&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;50-summarization.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
path_model_bw_growth &lt;- file.path(path_modelled, &quot;bw-20-growth-re-t-burned.rds&quot;)
path_model_lbw_growth &lt;- file.path(path_modelled, &quot;lbw-20-growth-re-burned.rds&quot;)

bwdata_model &lt;- fst::read_fst(bwdata_file)
model_bw &lt;- readRDS(path_model_bw_growth)
model_lbw &lt;- readRDS(path_model_lbw_growth)

data_points_all &lt;- readRDS(file.path(path_processed, &quot;exposure-reference-points.rds&quot;))</code></pre>
<pre class="r"><code>data_summary &lt;- tibble::tribble(~description, ~value,
    &quot;number of birth registration (modelled)&quot;, as.character(nrow(bwdata_model)),
    &quot;period of study&quot;, &quot;2006 - 2017&quot;)

# model summary
bamlss_sum &lt;- summary(model_bw)
bamlss_lbw_sum &lt;- summary(model_lbw)

data_summary &lt;- tibble::tribble(~description, ~value,
        &quot;mean birthweight&quot;, round(mean(bwdata_model$born_weight), 3),
        &quot;mean birthweight on baseline group&quot;, round(bamlss_sum$model.matrix$mu[1, 1], 3),
        &quot;proportion of low birthweight&quot;, round(mean(bwdata_model$born_weight &lt; 2500), 3)
        ) %&gt;%
    rbind(data_summary, .)</code></pre>
<pre class="r"><code># disadvantage profiles
profiles &lt;- data.frame(
  age = c(15, 30),
  born_race = factor(c(&quot;indigenous&quot;, &quot;non-indigenous&quot;),
                     levels = levels(bwdata_model$born_race)),
  study_years = factor(c(&quot;no&quot;, &quot;4 - 7&quot;),
                          levels = levels(bwdata_model$study_years)),
  marital_status = factor(c(&quot;single&quot;, &quot;married&quot;),
                          levels = levels(bwdata_model$marital_status)),
  consult_num = factor(c(&quot;0&quot;, &quot;&gt; 7&quot;),
                          levels = levels(bwdata_model$consult_num)),
  birth_place = factor(c(&quot;home&quot;, &quot;hospital&quot;),
                          levels = levels(bwdata_model$birth_place))
  )

disadvantage_eff &lt;- predict(model_bw, profiles, &quot;mu&quot;,
        c(&quot;s(age)&quot;, &quot;born_race&quot;, &quot;study_years&quot;, &quot;marital_status&quot;, &quot;consult_num&quot;, &quot;birth_place&quot;),
        intercept = FALSE , FUN = function (x) x) %&gt;% as.matrix() %&gt;% diff() %&gt;% as.numeric() %&gt;% c95()

disadvantage_eff_lbw &lt;- predict(model_lbw, profiles, &quot;pi&quot;,
        c(&quot;s(age)&quot;, &quot;born_race&quot;, &quot;study_years&quot;, &quot;marital_status&quot;, &quot;consult_num&quot;, &quot;birth_place&quot;),
        intercept = FALSE, FUN = function (x) x)

odds &lt;- t(apply(disadvantage_eff_lbw, 1, function (x) c95(exp(x))))

disadvantage_odds_ratio &lt;- disadvantage_eff_lbw[2:1, ] %&gt;% as.matrix() %&gt;% diff() %&gt;% as.numeric() %&gt;% exp() %&gt;% c95()

data_summary &lt;- tibble::tribble(~description, ~value,
    &quot;penalty when born to adolescent, indigenous Amerindian, unmarried mothers that received no formal education, antenatal or obstetric healthcare&quot;, ci_character(disadvantage_eff),
    &quot;odds ratio when born to adolescent, indigenous Amerindian, unmarried mothers that received no formal education, antenatal or obstetric healthcare&quot;, ci_character(disadvantage_odds_ratio),
    &quot;odds change (with respect to baseline) when born to adolescent, indigenous Amerindian, unmarried mothers that received no formal education, antenatal or obstetric healthcare&quot;, ci_character(odds[1, ]),
    &quot;odds change (with respect to baseline) when born to mature, non-indigenous, married mothers that received formal education (4-7), antenatal or obstetric healthcare&quot;, ci_character(odds[2, ])
    ) %&gt;%
    rbind(data_summary, .)</code></pre>
<pre class="r"><code>c95_prob &lt;- function(x)  c(c95(x), exceed = mean(x &gt; 0))
c95_exp_prob &lt;- function(x) c(c95(exp(x)), exceed = mean(x &gt; 0))

# extremes bw
data_extremes &lt;- data_points_all[[3]] %&gt;%
    mutate(description = paste0(&quot; extreme effects of &quot;, label, &quot; (&quot;, description, &quot;)&quot;))

ext_eff &lt;- predict_effect(model_bw, data_extremes,
                          &quot;mu&quot;, &quot;s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk)&quot;)

data_summary  &lt;-
    data_extremes %&gt;%
    dplyr::mutate(value =   ci_character(ext_eff)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)

data_extremes &lt;- data_points_all[[3]] %&gt;%
    mutate(description = paste0(&quot;extreme effects: baseline comparison of &quot;,
                                label, &quot; - A (&quot;, description, &quot;)&quot;))

ext_eff_base &lt;- predict_effect_baseline(
    model_bw, data_extremes,
    &quot;mu&quot;, &quot;s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk)&quot;, FUN = c95_prob
)

data_summary  &lt;-
    data_extremes %&gt;%
    dplyr::mutate(value =   ci_character_exceed(ext_eff_base)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)

# extremes lbw
data_extremes_lbw &lt;- data_points_all[[3]] %&gt;%
    mutate(description = paste0(&quot;odds of extreme events &quot;, label, &quot; (&quot;, description, &quot;)&quot;))
data_extremes_lbw[data_extremes_lbw$label == &quot;E&quot;, &quot;y&quot;] &lt;- 0.4

ext_eff_lbw &lt;- predict_effect(model_lbw, data_extremes_lbw, &quot;pi&quot;,
                          &quot;s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk)&quot;,
                          FUN = function(x) c95(exp(x)))

data_summary  &lt;- data_extremes_lbw %&gt;%
    dplyr::mutate(value = ci_character(ext_eff_lbw, 3)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)

data_extremes_lbw &lt;- data_points_all[[3]] %&gt;%
    mutate(description = paste0(&quot;extreme effects: odds ratio of &quot;,
                                label, &quot; - A (&quot;, description, &quot;)&quot;))
data_extremes_lbw[data_extremes_lbw$label == &quot;E&quot;, &quot;y&quot;] &lt;- 0.4

ext_eff_lbw_base &lt;- predict_effect_baseline(
    model_lbw, data_extremes_lbw, &quot;pi&quot;,
    &quot;s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk)&quot;,
    FUN = c95_exp_prob)

data_summary  &lt;- data_extremes_lbw %&gt;%
    dplyr::mutate(value = ci_character_exceed(ext_eff_lbw_base, 3)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)

# non extreme events
data_events &lt;- data_points_all[[2]] %&gt;%
    mutate(description = paste0(&quot;non-extreme effects of &quot;, label, &quot; (&quot;, description, &quot;)&quot;))

events_eff &lt;- predict_effect(model_bw, data_events,
                          &quot;mu&quot;, &quot;s(neg_mckee_mean_8wk,pos_mckee_mean_8wk)&quot;)

data_summary  &lt;- data_events %&gt;%
    dplyr::mutate(value = ci_character(events_eff)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)

data_events &lt;- data_points_all[[2]] %&gt;%
    mutate(description = paste0(&quot;non-extreme effects: baseline comparison of &quot;,
                                label, &quot; - A (&quot;, description, &quot;)&quot;))

events_eff_base &lt;- predict_effect_baseline(
    model_bw, data_events, &quot;mu&quot;,
    &quot;s(neg_mckee_mean_8wk,pos_mckee_mean_8wk)&quot;,
    FUN = c95_prob
)

data_summary  &lt;- data_events %&gt;%
    dplyr::mutate(value = ci_character_exceed(events_eff_base)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)

# non extreme lbw
data_events_lbw &lt;- data_points_all[[2]] %&gt;%
    mutate(description = paste0(&quot;odds of non-extreme effects of &quot;,
                                label, &quot; (&quot;, description, &quot;)&quot;))

events_eff_lbw &lt;- predict_effect(model_lbw, data_events_lbw,
                          &quot;pi&quot;, &quot;s(neg_mckee_mean_8wk,pos_mckee_mean_8wk)&quot;,
                          FUN = function(x) c95(exp(x)))

data_summary  &lt;- data_events_lbw %&gt;%
    dplyr::mutate(value = ci_character(events_eff_lbw)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)

data_events_lbw &lt;- data_points_all[[2]] %&gt;%
    mutate(description = paste0(&quot;non-extreme effects: odds ratio of &quot;,
                                label, &quot; - A (&quot;, description, &quot;)&quot;))

events_eff_lbw_base &lt;- predict_effect_baseline(
    model_lbw, data_events_lbw, &quot;pi&quot;,
    &quot;s(neg_mckee_mean_8wk,pos_mckee_mean_8wk)&quot;,
    FUN = c95_exp_prob)

data_summary  &lt;- data_events_lbw %&gt;%
    dplyr::mutate(value = ci_character_exceed(events_eff_lbw_base)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)

# deviations from seasonality
data_deviations &lt;- data_points_all[[1]] %&gt;%
    mutate(description = paste0(&quot;seasonal deviation effects of &quot;, label, &quot; (&quot;,
                                description, &quot;)&quot;))

deviations_eff &lt;- predict_effect(model_bw, data_deviations,
                          &quot;mu&quot;, &quot;s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk)&quot;)

data_summary  &lt;- data_deviations %&gt;%
    dplyr::mutate(value = ci_character(deviations_eff)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)

data_deviations &lt;- data_points_all[[1]] %&gt;%
    mutate(description = paste0(&quot;seasonal deviation effects: baseline comparison of &quot;,
                                label, &quot; - A (&quot;, description, &quot;)&quot;))

deviations_eff &lt;- predict_effect_baseline(
    model_bw, data_deviations, &quot;mu&quot;,
    &quot;s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk)&quot;,
    FUN = c95_prob
)

data_summary  &lt;- data_deviations %&gt;%
    dplyr::mutate(value = ci_character_exceed(deviations_eff)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)

# deviations from seasonality lbw
data_deviations_lbw &lt;- data_points_all[[1]] %&gt;%
    mutate(description = paste0(&quot;odds of seasonal deviation effects of &quot;, label, &quot; (&quot;,
                                description, &quot;)&quot;))

deviations_eff_lbw &lt;- predict_effect(model_lbw, data_deviations_lbw,
                          &quot;pi&quot;, &quot;s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk)&quot;,
                          FUN = function(x) c95(exp(x)))

data_summary  &lt;- data_deviations_lbw %&gt;%
    dplyr::mutate(value = ci_character(deviations_eff_lbw)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)

data_deviations_lbw &lt;- data_points_all[[1]] %&gt;%
    mutate(description = paste0(&quot;seasonal deviation effects: odds ratio of &quot;,
                                label, &quot; - A(&quot;, description, &quot;)&quot;))

deviations_eff_lbw &lt;- predict_effect_baseline(
    model_lbw, data_deviations_lbw, &quot;pi&quot;,
    &quot;s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk)&quot;,
    FUN = c95_exp_prob)

data_summary  &lt;- data_deviations_lbw %&gt;%
    dplyr::mutate(value = ci_character_exceed(deviations_eff_lbw)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)</code></pre>
<pre class="r"><code># remoteness municipality level effects (mean and lbw)
data_summary  &lt;-
    effect_summary_prob(model_bw, model_lbw, data.frame(c(0.25, 0.75)),
                   term = &quot;remoteness&quot;,
                   label_1 = &quot;low remoteness&quot;, label_2 = &quot;high remoteness&quot;) %&gt;%
    rbind(data_summary, .)

# sanitation municipality level effects (mean and lbw)
data_summary  &lt;-
    effect_summary_prob(model_bw, model_lbw, data.frame(c(0.45, 0.20)),
                   term = &quot;prop_tap_toilet&quot;,
                   label_1 = &quot;high sanitation&quot;, label_2 = &quot;low sanitation&quot;) %&gt;%
    rbind(data_summary, .)

# municipality profiles
profiles_mun &lt;- tibble::tribble(~x, ~y,
                                0.25, 0.50,
                                0.8, 0.15)
data_summary  &lt;-
    effect_summary_prob(model_bw, model_lbw, profiles_mun,
                   term = c(&quot;remoteness&quot;,  &quot;prop_tap_toilet&quot;),
                   label_1 = &quot;not remote and high sanitation&quot;, label_2 = &quot;remote and low sanitation&quot;) %&gt;%
    rbind(data_summary, .)</code></pre>
<pre class="r"><code># age effect (mean and lbw)
data_summary  &lt;-
    effect_summary(model_bw, model_lbw, data.frame(c(30, 15)), term = &quot;s(age)&quot;,
                   label_1 = &quot;mature mothers&quot;, label_2 = &quot;young mothers&quot;) %&gt;%
    rbind(data_summary, .)

# education effect (mean and lbw)
data_study &lt;- data.frame(factor(c(&quot;1 - 3&quot;, &quot;no&quot;), levels(bwdata_model$study_years)))
data_summary  &lt;-
    effect_summary(model_bw, model_lbw, data_study, term = &quot;study_years&quot;,
                   label_1 = &quot;mother with education&quot;, label_2 = &quot;mothers with no formal education&quot;) %&gt;%
    rbind(data_summary, .)

# education effect (mean and lbw)
data_aux &lt;- data.frame(factor(c(&quot;4 - 7&quot;, &quot;no&quot;), levels(bwdata_model$study_years)))
data_summary  &lt;-
    effect_summary(model_bw, model_lbw, data_aux, term = &quot;study_years&quot;,
                   label_1 = &quot;mother with education&quot;, label_2 = &quot;mothers with no formal education&quot;) %&gt;%
    rbind(data_summary, .)

# marital status effect (mean and lbw)
data_aux &lt;- data.frame(factor(c(&quot;married&quot;, &quot;single&quot;), levels(bwdata_model$marital_status)))
data_summary  &lt;-
    effect_summary(model_bw, model_lbw, data_aux, term = &quot;marital_status&quot;,
                   label_1 = &quot;married mothers&quot;, label_2 = &quot;single mothers&quot;) %&gt;%
    rbind(data_summary, .)

# antenatal care effect (mean and lbw)
data_aux &lt;- data.frame(factor(c(&quot;&gt; 7&quot;, &quot;0&quot;), levels(bwdata_model$consult_num)))
data_summary  &lt;-
    effect_summary(model_bw, model_lbw, data_aux, term = &quot;consult_num&quot;,
                   label_1 = &quot;mothers with ante-natal care&quot;, label_2 = &quot;mothers with no ante-natal care&quot;) %&gt;%
    rbind(data_summary, .)

# birth place effect (mean and lbw)
data_aux &lt;- data.frame(factor(c(&quot;hospital&quot;, &quot;home&quot;), levels(bwdata_model$birth_place)))
data_summary  &lt;-
    effect_summary(model_bw, model_lbw, data_aux, term = &quot;birth_place&quot;,
                   label_1 = &quot;births in medical facility (hospital)&quot;, label_2 = &quot;births outside medical facility (home)&quot;) %&gt;%
    rbind(data_summary, .)

# indigenous effect (mean and lbw)
data_aux &lt;- data.frame(factor(c(&quot;non-indigenous&quot;, &quot;indigenous&quot;), levels(bwdata_model$born_race)))
data_summary  &lt;-
    effect_summary(model_bw, model_lbw, data_aux, term = &quot;born_race&quot;,
                   label_1 = &quot;non-indigenous&quot;, label_2 = &quot;indigenous&quot;) %&gt;%
    rbind(data_summary, .)

# river week seasonal effect (mean and lbw)
data_summary  &lt;-
    effect_summary_prob(model_bw, model_lbw, data.frame(c(0, 30)), term = &quot;s(rivwk_conception)&quot;,
                   label_1 = &quot;wet season&quot;, label_2 = &quot;dry season&quot;, digits = 3) %&gt;%
    rbind(data_summary, .)

# river week seasonal effect (mean and lbw)
data_summary  &lt;-
    effect_summary_prob(model_bw, model_lbw, data.frame(c(5, 39)), term = &quot;s(rivwk_conception)&quot;,
                   label_1 = &quot;wet season&quot;, label_2 = &quot;rising season&quot;, digits = 3) %&gt;%
    rbind(data_summary, .)

# temporal effect (mean and lbw)
data_summary  &lt;-
    effect_summary(model_bw, model_lbw, data.frame(c(167, 700)), term = &quot;s(wk_ini)&quot;,
                   label_1 = &quot;2006&quot;, label_2 = &quot;2016&quot;) %&gt;%
    rbind(data_summary, .)

# gestational weeks
data_aux &lt;- data.frame(factor(c(&quot;&gt; 37&quot;, &quot;32 - 36&quot;), levels(bwdata_model$gestation_weeks)))
data_summary  &lt;-
    effect_summary(model_bw, model_lbw, data_aux, term = &quot;gestation_weeks&quot;,
                   label_1 = &quot;full gestational&quot;, label_2 = &quot;32-36 weeks&quot;) %&gt;%
    rbind(data_summary, .)

# gestational weeks
data_aux &lt;- data.frame(factor(c(&quot;&gt; 37&quot;, &quot;28 - 31&quot;), levels(bwdata_model$gestation_weeks)))
data_summary  &lt;-
    effect_summary(model_bw, model_lbw, data_aux, term = &quot;gestation_weeks&quot;,
                   label_1 = &quot;full gestational&quot;, label_2 = &quot;28 - 31 weeks&quot;) %&gt;%
    rbind(data_summary, .)

# gestational weeks
data_aux &lt;- data.frame(factor(c(&quot;&gt; 37&quot;, &quot;22 - 27&quot;), levels(bwdata_model$gestation_weeks)))
data_summary  &lt;-
    effect_summary(model_bw, model_lbw, data_aux, term = &quot;gestation_weeks&quot;,
                   label_1 = &quot;full gestational&quot;, label_2 = &quot;22 - 27 weeks&quot;) %&gt;%
    rbind(data_summary, .)</code></pre>
</div>
<div id="growth-bw-lbw" class="section level2">
<h2>Display summary</h2>
<pre class="r"><code>cap &lt;- &quot;Summarise BW and LBW models controlling for gestational age.&quot;
knitr::kable(data_summary, &quot;html&quot;, table.attr = &quot;class=\&quot;table\&quot;&quot;,
             caption = cap)</code></pre>
<table class="table">
<caption>
<span id="tab:unnamed-chunk-7">Table 1: </span>Summarise BW and LBW models controlling for gestational age.
</caption>
<thead>
<tr>
<th style="text-align:left;">
description
</th>
<th style="text-align:left;">
value
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
number of birth registration (modelled)
</td>
<td style="text-align:left;">
291479
</td>
</tr>
<tr>
<td style="text-align:left;">
period of study
</td>
<td style="text-align:left;">
2006 - 2017
</td>
</tr>
<tr>
<td style="text-align:left;">
mean birthweight
</td>
<td style="text-align:left;">
3219.386
</td>
</tr>
<tr>
<td style="text-align:left;">
mean birthweight on baseline group
</td>
<td style="text-align:left;">
3104.022
</td>
</tr>
<tr>
<td style="text-align:left;">
proportion of low birthweight
</td>
<td style="text-align:left;">
0.061
</td>
</tr>
<tr>
<td style="text-align:left;">
penalty when born to adolescent, indigenous Amerindian, unmarried mothers that received no formal education, antenatal or obstetric healthcare
</td>
<td style="text-align:left;">
609.02 (CI: 594.46, 622.75)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds ratio when born to adolescent, indigenous Amerindian, unmarried mothers that received no formal education, antenatal or obstetric healthcare
</td>
<td style="text-align:left;">
7.61 (CI: 6.76, 8.56)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds change (with respect to baseline) when born to adolescent, indigenous Amerindian, unmarried mothers that received no formal education, antenatal or obstetric healthcare
</td>
<td style="text-align:left;">
1.65 (CI: 1.54, 1.77)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds change (with respect to baseline) when born to mature, non-indigenous, married mothers that received formal education (4-7), antenatal or obstetric healthcare
</td>
<td style="text-align:left;">
0.22 (CI: 0.2, 0.24)
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects of A (None)
</td>
<td style="text-align:left;">
-0.26 (CI: -2.81, 2.44)
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects of B (Intense and deficient)
</td>
<td style="text-align:left;">
19.25 (CI: -50.09, 91.67)
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects of C (Intense)
</td>
<td style="text-align:left;">
-16.22 (CI: -91.1, 64.55)
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects of E (Moderate intense)
</td>
<td style="text-align:left;">
-36.17 (CI: -65.91, -10.45)
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects of D (Deficient)
</td>
<td style="text-align:left;">
4.82 (CI: -98.41, 104.72)
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects: baseline comparison of A - A (None)
</td>
<td style="text-align:left;">
0 (CI: 0, 0); P(diff &gt; 0) = 0
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects: baseline comparison of B - A (Intense and deficient)
</td>
<td style="text-align:left;">
19.512 (CI: -50.128, 92.29); P(diff &gt; 0) = 0.698
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects: baseline comparison of C - A (Intense)
</td>
<td style="text-align:left;">
-15.961 (CI: -91.564, 64.121); P(diff &gt; 0) = 0.344
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects: baseline comparison of E - A (Moderate intense)
</td>
<td style="text-align:left;">
-35.908 (CI: -65.511, -9.84); P(diff &gt; 0) = 0.005
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects: baseline comparison of D - A (Deficient)
</td>
<td style="text-align:left;">
5.084 (CI: -97.808, 104.095); P(diff &gt; 0) = 0.549
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of extreme events A (None)
</td>
<td style="text-align:left;">
1.002 (CI: 0.979, 1.024)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of extreme events B (Intense and deficient)
</td>
<td style="text-align:left;">
0.973 (CI: 0.716, 1.22)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of extreme events C (Intense)
</td>
<td style="text-align:left;">
1.075 (CI: 0.813, 1.464)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of extreme events E (Moderate intense)
</td>
<td style="text-align:left;">
0.999 (CI: 0.902, 1.106)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of extreme events D (Deficient)
</td>
<td style="text-align:left;">
0.963 (CI: 0.638, 1.427)
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects: odds ratio of A - A (None)
</td>
<td style="text-align:left;">
1 (CI: 1, 1); P(diff &gt; 0) = 0
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects: odds ratio of B - A (Intense and deficient)
</td>
<td style="text-align:left;">
0.972 (CI: 0.711, 1.239); P(diff &gt; 0) = 0.396
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects: odds ratio of C - A (Intense)
</td>
<td style="text-align:left;">
1.073 (CI: 0.804, 1.464); P(diff &gt; 0) = 0.658
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects: odds ratio of E - A (Moderate intense)
</td>
<td style="text-align:left;">
0.997 (CI: 0.888, 1.114); P(diff &gt; 0) = 0.455
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects: odds ratio of D - A (Deficient)
</td>
<td style="text-align:left;">
0.962 (CI: 0.631, 1.432); P(diff &gt; 0) = 0.376
</td>
</tr>
<tr>
<td style="text-align:left;">
non-extreme effects of A (None)
</td>
<td style="text-align:left;">
0.73 (CI: -5.72, 7.01)
</td>
</tr>
<tr>
<td style="text-align:left;">
non-extreme effects of B (Intense and deficient)
</td>
<td style="text-align:left;">
-7.25 (CI: -26.55, 11.06)
</td>
</tr>
<tr>
<td style="text-align:left;">
non-extreme effects of C (Intense)
</td>
<td style="text-align:left;">
9.98 (CI: -19.67, 39.94)
</td>
</tr>
<tr>
<td style="text-align:left;">
non-extreme effects of D (Deficient)
</td>
<td style="text-align:left;">
-4.34 (CI: -51.38, 44.64)
</td>
</tr>
<tr>
<td style="text-align:left;">
non-extreme effects: baseline comparison of A - A (None)
</td>
<td style="text-align:left;">
0 (CI: 0, 0); P(diff &gt; 0) = 0
</td>
</tr>
<tr>
<td style="text-align:left;">
non-extreme effects: baseline comparison of B - A (Intense and deficient)
</td>
<td style="text-align:left;">
-7.978 (CI: -29.76, 11.714); P(diff &gt; 0) = 0.213
</td>
</tr>
<tr>
<td style="text-align:left;">
non-extreme effects: baseline comparison of C - A (Intense)
</td>
<td style="text-align:left;">
9.251 (CI: -21.52, 40.458); P(diff &gt; 0) = 0.719
</td>
</tr>
<tr>
<td style="text-align:left;">
non-extreme effects: baseline comparison of D - A (Deficient)
</td>
<td style="text-align:left;">
-5.07 (CI: -54.457, 45.184); P(diff &gt; 0) = 0.416
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of non-extreme effects of A (None)
</td>
<td style="text-align:left;">
0.98 (CI: 0.93, 1.02)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of non-extreme effects of B (Intense and deficient)
</td>
<td style="text-align:left;">
1.05 (CI: 0.91, 1.2)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of non-extreme effects of C (Intense)
</td>
<td style="text-align:left;">
1.02 (CI: 0.81, 1.26)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of non-extreme effects of D (Deficient)
</td>
<td style="text-align:left;">
0.89 (CI: 0.6, 1.26)
</td>
</tr>
<tr>
<td style="text-align:left;">
non-extreme effects: odds ratio of A - A (None)
</td>
<td style="text-align:left;">
1 (CI: 1, 1); P(diff &gt; 0) = 0
</td>
</tr>
<tr>
<td style="text-align:left;">
non-extreme effects: odds ratio of B - A (Intense and deficient)
</td>
<td style="text-align:left;">
1.074 (CI: 0.925, 1.256); P(diff &gt; 0) = 0.814
</td>
</tr>
<tr>
<td style="text-align:left;">
non-extreme effects: odds ratio of C - A (Intense)
</td>
<td style="text-align:left;">
1.043 (CI: 0.826, 1.302); P(diff &gt; 0) = 0.618
</td>
</tr>
<tr>
<td style="text-align:left;">
non-extreme effects: odds ratio of D - A (Deficient)
</td>
<td style="text-align:left;">
0.915 (CI: 0.606, 1.328); P(diff &gt; 0) = 0.289
</td>
</tr>
<tr>
<td style="text-align:left;">
seasonal deviation effects of A (None)
</td>
<td style="text-align:left;">
-1.82 (CI: -7.52, 3.89)
</td>
</tr>
<tr>
<td style="text-align:left;">
seasonal deviation effects of B (Intense and deficient)
</td>
<td style="text-align:left;">
-2.75 (CI: -21.05, 17.71)
</td>
</tr>
<tr>
<td style="text-align:left;">
seasonal deviation effects of C (Intense)
</td>
<td style="text-align:left;">
-5.8 (CI: -34.19, 21.06)
</td>
</tr>
<tr>
<td style="text-align:left;">
seasonal deviation effects of D (Deficient)
</td>
<td style="text-align:left;">
-12.37 (CI: -51, 24.34)
</td>
</tr>
<tr>
<td style="text-align:left;">
seasonal deviation effects: baseline comparison of A - A (None)
</td>
<td style="text-align:left;">
0 (CI: 0, 0); P(diff &gt; 0) = 0
</td>
</tr>
<tr>
<td style="text-align:left;">
seasonal deviation effects: baseline comparison of B - A (Intense and deficient)
</td>
<td style="text-align:left;">
-0.931 (CI: -21.067, 21.884); P(diff &gt; 0) = 0.43
</td>
</tr>
<tr>
<td style="text-align:left;">
seasonal deviation effects: baseline comparison of C - A (Intense)
</td>
<td style="text-align:left;">
-3.981 (CI: -33.339, 24.791); P(diff &gt; 0) = 0.382
</td>
</tr>
<tr>
<td style="text-align:left;">
seasonal deviation effects: baseline comparison of D - A (Deficient)
</td>
<td style="text-align:left;">
-10.548 (CI: -51.023, 27.831); P(diff &gt; 0) = 0.322
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of seasonal deviation effects of A (None)
</td>
<td style="text-align:left;">
1 (CI: 0.98, 1.01)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of seasonal deviation effects of B (Intense and deficient)
</td>
<td style="text-align:left;">
1.06 (CI: 0.96, 1.15)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of seasonal deviation effects of C (Intense)
</td>
<td style="text-align:left;">
1.06 (CI: 0.88, 1.24)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of seasonal deviation effects of D (Deficient)
</td>
<td style="text-align:left;">
1 (CI: 0.81, 1.24)
</td>
</tr>
<tr>
<td style="text-align:left;">
seasonal deviation effects: odds ratio of A - A(None)
</td>
<td style="text-align:left;">
1 (CI: 1, 1); P(diff &gt; 0) = 0
</td>
</tr>
<tr>
<td style="text-align:left;">
seasonal deviation effects: odds ratio of B - A(Intense and deficient)
</td>
<td style="text-align:left;">
1.063 (CI: 0.964, 1.156); P(diff &gt; 0) = 0.894
</td>
</tr>
<tr>
<td style="text-align:left;">
seasonal deviation effects: odds ratio of C - A(Intense)
</td>
<td style="text-align:left;">
1.059 (CI: 0.884, 1.248); P(diff &gt; 0) = 0.72
</td>
</tr>
<tr>
<td style="text-align:left;">
seasonal deviation effects: odds ratio of D - A(Deficient)
</td>
<td style="text-align:left;">
1.009 (CI: 0.807, 1.253); P(diff &gt; 0) = 0.496
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: difference effect between high remoteness (0.75) and low remoteness (0.25)
</td>
<td style="text-align:left;">
-2.29 (CI: -32.24, 29.16); P(diff &gt; 0) = 0.45
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of low remoteness (0.25)
</td>
<td style="text-align:left;">
-1.15 (CI: -16.12, 14.58); P(diff &gt; 0) = 0.45
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of high remoteness (0.75)
</td>
<td style="text-align:left;">
-3.44 (CI: -48.35, 43.74); P(diff &gt; 0) = 0.45
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds ratio between high remoteness (0.75) and low remoteness (0.25)
</td>
<td style="text-align:left;">
1.1 (CI: 0.96, 1.26); P(diff &gt; 0) = 0.9
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of low remoteness (0.25)
</td>
<td style="text-align:left;">
1.05 (CI: 0.98, 1.12); P(diff &gt; 0) = 0.9
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of high remoteness (0.75)
</td>
<td style="text-align:left;">
1.15 (CI: 0.93, 1.41); P(diff &gt; 0) = 0.9
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: difference effect between low sanitation (0.2) and high sanitation (0.45)
</td>
<td style="text-align:left;">
-31.67 (CI: -61.05, -2.38); P(diff &gt; 0) = 0.02
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of high sanitation (0.45)
</td>
<td style="text-align:left;">
57 (CI: 4.29, 109.88); P(diff &gt; 0) = 0.98
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of low sanitation (0.2)
</td>
<td style="text-align:left;">
25.33 (CI: 1.91, 48.84); P(diff &gt; 0) = 0.98
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds ratio between low sanitation (0.2) and high sanitation (0.45)
</td>
<td style="text-align:left;">
1.07 (CI: 0.91, 1.23); P(diff &gt; 0) = 0.82
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of high sanitation (0.45)
</td>
<td style="text-align:left;">
0.9 (CI: 0.69, 1.19); P(diff &gt; 0) = 0.18
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of low sanitation (0.2)
</td>
<td style="text-align:left;">
0.95 (CI: 0.85, 1.08); P(diff &gt; 0) = 0.18
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: difference effect between remote and low sanitation (0.8, 0.15) and not remote and high sanitation (0.25, 0.5)
</td>
<td style="text-align:left;">
-46.86 (CI: -90.98, -4.26); P(diff &gt; 0) = 0.01
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of not remote and high sanitation (0.25, 0.5)
</td>
<td style="text-align:left;">
62.19 (CI: -3.44, 130.35); P(diff &gt; 0) = 0.97
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of remote and low sanitation (0.8, 0.15)
</td>
<td style="text-align:left;">
15.33 (CI: -41.94, 76.02); P(diff &gt; 0) = 0.69
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds ratio between remote and low sanitation (0.8, 0.15) and not remote and high sanitation (0.25, 0.5)
</td>
<td style="text-align:left;">
1.22 (CI: 1.01, 1.42); P(diff &gt; 0) = 0.98
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of not remote and high sanitation (0.25, 0.5)
</td>
<td style="text-align:left;">
0.93 (CI: 0.67, 1.3); P(diff &gt; 0) = 0.3
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of remote and low sanitation (0.8, 0.15)
</td>
<td style="text-align:left;">
1.13 (CI: 0.86, 1.48); P(diff &gt; 0) = 0.76
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: difference effect between young mothers (15) and mature mothers (30)
</td>
<td style="text-align:left;">
-236.28 (CI: -242.51, -230.2)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of mature mothers (30)
</td>
<td style="text-align:left;">
75.71 (CI: 71.93, 79.61)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of young mothers (15)
</td>
<td style="text-align:left;">
-160.58 (CI: -164.71, -156.22)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds ratio between young mothers (15) and mature mothers (30)
</td>
<td style="text-align:left;">
1.91 (CI: 1.8, 2.01)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of mature mothers (30)
</td>
<td style="text-align:left;">
0.86 (CI: 0.83, 0.89)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of young mothers (15)
</td>
<td style="text-align:left;">
1.63 (CI: 1.58, 1.69)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: difference effect between mothers with no formal education (no) and mother with education (1 - 3)
</td>
<td style="text-align:left;">
-60.75 (CI: -69.47, -51.72)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of mother with education (1 - 3)
</td>
<td style="text-align:left;">
60.75 (CI: 51.72, 69.47)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of mothers with no formal education (no)
</td>
<td style="text-align:left;">
0 (CI: 0, 0)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds ratio between mothers with no formal education (no) and mother with education (1 - 3)
</td>
<td style="text-align:left;">
1.28 (CI: 1.18, 1.38)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of mother with education (1 - 3)
</td>
<td style="text-align:left;">
0.78 (CI: 0.73, 0.84)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of mothers with no formal education (no)
</td>
<td style="text-align:left;">
1 (CI: 1, 1)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: difference effect between mothers with no formal education (no) and mother with education (4 - 7)
</td>
<td style="text-align:left;">
-81.6 (CI: -89.41, -73.29)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of mother with education (4 - 7)
</td>
<td style="text-align:left;">
81.6 (CI: 73.29, 89.41)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of mothers with no formal education (no)
</td>
<td style="text-align:left;">
0 (CI: 0, 0)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds ratio between mothers with no formal education (no) and mother with education (4 - 7)
</td>
<td style="text-align:left;">
1.35 (CI: 1.26, 1.45)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of mother with education (4 - 7)
</td>
<td style="text-align:left;">
0.74 (CI: 0.69, 0.8)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of mothers with no formal education (no)
</td>
<td style="text-align:left;">
1 (CI: 1, 1)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: difference effect between single mothers (single) and married mothers (married)
</td>
<td style="text-align:left;">
-31.41 (CI: -36.97, -25.75)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of married mothers (married)
</td>
<td style="text-align:left;">
31.41 (CI: 25.75, 36.97)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of single mothers (single)
</td>
<td style="text-align:left;">
0 (CI: 0, 0)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds ratio between single mothers (single) and married mothers (married)
</td>
<td style="text-align:left;">
1.17 (CI: 1.11, 1.24)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of married mothers (married)
</td>
<td style="text-align:left;">
0.85 (CI: 0.81, 0.9)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of single mothers (single)
</td>
<td style="text-align:left;">
1 (CI: 1, 1)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: difference effect between mothers with no ante-natal care (0) and mothers with ante-natal care (&gt; 7)
</td>
<td style="text-align:left;">
-146.75 (CI: -154.42, -138.35)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of mothers with ante-natal care (&gt; 7)
</td>
<td style="text-align:left;">
146.75 (CI: 138.35, 154.42)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of mothers with no ante-natal care (0)
</td>
<td style="text-align:left;">
0 (CI: 0, 0)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds ratio between mothers with no ante-natal care (0) and mothers with ante-natal care (&gt; 7)
</td>
<td style="text-align:left;">
2.49 (CI: 2.32, 2.67)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of mothers with ante-natal care (&gt; 7)
</td>
<td style="text-align:left;">
0.4 (CI: 0.37, 0.43)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of mothers with no ante-natal care (0)
</td>
<td style="text-align:left;">
1 (CI: 1, 1)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: difference effect between births outside medical facility (home) (home) and births in medical facility (hospital) (hospital)
</td>
<td style="text-align:left;">
-63.18 (CI: -68.42, -57.67)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of births in medical facility (hospital) (hospital)
</td>
<td style="text-align:left;">
0 (CI: 0, 0)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of births outside medical facility (home) (home)
</td>
<td style="text-align:left;">
-63.18 (CI: -68.42, -57.67)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds ratio between births outside medical facility (home) (home) and births in medical facility (hospital) (hospital)
</td>
<td style="text-align:left;">
0.99 (CI: 0.95, 1.04)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of births in medical facility (hospital) (hospital)
</td>
<td style="text-align:left;">
1 (CI: 1, 1)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of births outside medical facility (home) (home)
</td>
<td style="text-align:left;">
0.99 (CI: 0.95, 1.04)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: difference effect between indigenous (indigenous) and non-indigenous (non-indigenous)
</td>
<td style="text-align:left;">
-49.79 (CI: -55.23, -43.93)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of non-indigenous (non-indigenous)
</td>
<td style="text-align:left;">
0 (CI: 0, 0)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of indigenous (indigenous)
</td>
<td style="text-align:left;">
-49.79 (CI: -55.23, -43.93)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds ratio between indigenous (indigenous) and non-indigenous (non-indigenous)
</td>
<td style="text-align:left;">
1.02 (CI: 0.97, 1.07)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of non-indigenous (non-indigenous)
</td>
<td style="text-align:left;">
1 (CI: 1, 1)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of indigenous (indigenous)
</td>
<td style="text-align:left;">
1.02 (CI: 0.97, 1.07)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: difference effect between dry season (30) and wet season (0)
</td>
<td style="text-align:left;">
-9.067 (CI: -14.223, -4.126); P(diff &gt; 0) = 0
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of wet season (0)
</td>
<td style="text-align:left;">
4.931 (CI: 1.836, 8.21); P(diff &gt; 0) = 0.999
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of dry season (30)
</td>
<td style="text-align:left;">
-4.136 (CI: -7.523, -0.697); P(diff &gt; 0) = 0.01
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds ratio between dry season (30) and wet season (0)
</td>
<td style="text-align:left;">
1.054 (CI: 1.002, 1.115); P(diff &gt; 0) = 0.978
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of wet season (0)
</td>
<td style="text-align:left;">
0.975 (CI: 0.944, 1.005); P(diff &gt; 0) = 0.046
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of dry season (30)
</td>
<td style="text-align:left;">
1.028 (CI: 0.994, 1.062); P(diff &gt; 0) = 0.946
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: difference effect between rising season (39) and wet season (5)
</td>
<td style="text-align:left;">
-12.851 (CI: -19.365, -6.752); P(diff &gt; 0) = 0
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of wet season (5)
</td>
<td style="text-align:left;">
7.539 (CI: 3.852, 11.613); P(diff &gt; 0) = 1
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of rising season (39)
</td>
<td style="text-align:left;">
-5.312 (CI: -8.828, -1.899); P(diff &gt; 0) = 0
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds ratio between rising season (39) and wet season (5)
</td>
<td style="text-align:left;">
1.086 (CI: 1.033, 1.143); P(diff &gt; 0) = 0.999
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of wet season (5)
</td>
<td style="text-align:left;">
0.961 (CI: 0.93, 0.991); P(diff &gt; 0) = 0.006
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of rising season (39)
</td>
<td style="text-align:left;">
1.043 (CI: 1.011, 1.076); P(diff &gt; 0) = 0.993
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: difference effect between 2016 (700) and 2006 (167)
</td>
<td style="text-align:left;">
-30.33 (CI: -43.79, -16.65)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of 2006 (167)
</td>
<td style="text-align:left;">
18.16 (CI: 6.1, 30.01)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of 2016 (700)
</td>
<td style="text-align:left;">
-12.17 (CI: -17.56, -6.94)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds ratio between 2016 (700) and 2006 (167)
</td>
<td style="text-align:left;">
1.17 (CI: 1.02, 1.33)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of 2006 (167)
</td>
<td style="text-align:left;">
0.86 (CI: 0.76, 0.97)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of 2016 (700)
</td>
<td style="text-align:left;">
1 (CI: 0.96, 1.05)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: difference effect between 32-36 weeks (32 - 36) and full gestational (&gt; 37)
</td>
<td style="text-align:left;">
-247.31 (CI: -253.81, -240.95)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of full gestational (&gt; 37)
</td>
<td style="text-align:left;">
0 (CI: 0, 0)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of 32-36 weeks (32 - 36)
</td>
<td style="text-align:left;">
-247.31 (CI: -253.81, -240.95)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds ratio between 32-36 weeks (32 - 36) and full gestational (&gt; 37)
</td>
<td style="text-align:left;">
4.78 (CI: 4.59, 4.97)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of full gestational (&gt; 37)
</td>
<td style="text-align:left;">
1 (CI: 1, 1)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of 32-36 weeks (32 - 36)
</td>
<td style="text-align:left;">
4.78 (CI: 4.59, 4.97)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: difference effect between 28 - 31 weeks (28 - 31) and full gestational (&gt; 37)
</td>
<td style="text-align:left;">
-853.29 (CI: -880.57, -826.95)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of full gestational (&gt; 37)
</td>
<td style="text-align:left;">
0 (CI: 0, 0)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of 28 - 31 weeks (28 - 31)
</td>
<td style="text-align:left;">
-853.29 (CI: -880.57, -826.95)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds ratio between 28 - 31 weeks (28 - 31) and full gestational (&gt; 37)
</td>
<td style="text-align:left;">
22.84 (CI: 20.76, 25.12)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of full gestational (&gt; 37)
</td>
<td style="text-align:left;">
1 (CI: 1, 1)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of 28 - 31 weeks (28 - 31)
</td>
<td style="text-align:left;">
22.84 (CI: 20.76, 25.12)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: difference effect between 22 - 27 weeks (22 - 27) and full gestational (&gt; 37)
</td>
<td style="text-align:left;">
-1774.38 (CI: -1819.63, -1728.32)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of full gestational (&gt; 37)
</td>
<td style="text-align:left;">
0 (CI: 0, 0)
</td>
</tr>
<tr>
<td style="text-align:left;">
bw: effect of 22 - 27 weeks (22 - 27)
</td>
<td style="text-align:left;">
-1774.38 (CI: -1819.63, -1728.32)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds ratio between 22 - 27 weeks (22 - 27) and full gestational (&gt; 37)
</td>
<td style="text-align:left;">
47.57 (CI: 39.91, 55.97)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of full gestational (&gt; 37)
</td>
<td style="text-align:left;">
1 (CI: 1, 1)
</td>
</tr>
<tr>
<td style="text-align:left;">
lbw: odds change of 22 - 27 weeks (22 - 27)
</td>
<td style="text-align:left;">
47.57 (CI: 39.91, 55.97)
</td>
</tr>
</tbody>
</table>
</div>
<div id="write-summary-of-the-data-and-model" class="section level2">
<h2>Write summary of the data and model</h2>
<pre class="r"><code>readr::write_csv(as.data.frame(data_summary),
                 file.path(path_summarised, &quot;summary-growth-models.csv&quot;))</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  34.186   1.877  36.312</code></pre>
</div>
