---
title: "Summarise preterm birth (PTB) model: gestational age path"
prerequisites:
    - data/modelled/pre-11-full-re-burned.rds
    - data/processed/bwdata_41_model.fst
targets:
    - data/summarised/summary-prematurity-model.csv
---



<p>In this script we summarise the results of the PTB model. We also include comparisons
between different types of profiles. The resulting table can be seen in section <a href="#preterm">Display
summary</a>.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>library(ggplot2)
library(patchwork)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;patchwork&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:MASS&#39;:
#&gt; 
#&gt;     area</code></pre>
<pre class="r"><code>library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:MASS&#39;:
#&gt; 
#&gt;     select</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:bamlss&#39;:
#&gt; 
#&gt;     n</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:nlme&#39;:
#&gt; 
#&gt;     collapse</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)
path_summarised &lt;- file.path(path_data, &quot;summarised&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;50-summarization.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
path_model_pre &lt;- file.path(path_modelled, &quot;pre-11-full-re-burned.rds&quot;)

bwdata_model &lt;- fst::read_fst(bwdata_file)
model_pre &lt;- readRDS(path_model_pre)

data_points_all &lt;- readRDS(file.path(path_processed, &quot;exposure-reference-points.rds&quot;))</code></pre>
<pre class="r"><code>data_summary &lt;- tibble::tribble(~description, ~value,
    &quot;number of birth registration (modelled)&quot;, as.character(nrow(bwdata_model)),
    &quot;period of study&quot;, &quot;2006 - 2017&quot;)

# model summary
bamlss_pre_sum &lt;- summary(model_pre)

data_summary &lt;- tibble::tribble(~description, ~value,
        &quot;proportion of prematurity&quot;, round(mean(bwdata_model$premature), 3)
        ) %&gt;%
    rbind(data_summary, .)</code></pre>
<pre class="r"><code># disadvantage profiles
profiles &lt;- data.frame(
  age = c(15, 30),
  born_race = factor(c(&quot;indigenous&quot;, &quot;non-indigenous&quot;),
                     levels = levels(bwdata_model$born_race)),
  study_years = factor(c(&quot;no&quot;, &quot;4 - 7&quot;),
                          levels = levels(bwdata_model$study_years)),
  marital_status = factor(c(&quot;single&quot;, &quot;married&quot;),
                          levels = levels(bwdata_model$marital_status)),
  consult_num = factor(c(&quot;0&quot;, &quot;&gt; 7&quot;),
                          levels = levels(bwdata_model$consult_num)),
  birth_place = factor(c(&quot;home&quot;, &quot;hospital&quot;),
                          levels = levels(bwdata_model$birth_place))
  )

disadvantage_eff_pre &lt;- predict(model_pre, profiles, &quot;pi&quot;,
        c(&quot;s(age)&quot;, &quot;born_race&quot;, &quot;study_years&quot;, &quot;marital_status&quot;, &quot;consult_num&quot;, &quot;birth_place&quot;),
        intercept = FALSE, FUN = function (x) x)

odds &lt;- t(apply(disadvantage_eff_pre, 1, function (x) c95(exp(x))))

disadvantage_odds_ratio &lt;- disadvantage_eff_pre[2:1, ] %&gt;% as.matrix() %&gt;% diff() %&gt;% as.numeric() %&gt;% exp() %&gt;% c95()

data_summary &lt;- tibble::tribble(~description, ~value,
    &quot;odds ratio when born to adolescent, indigenous Amerindian, unmarried mothers that received no formal education, antenatal or obstetric healthcare&quot;, ci_character(disadvantage_odds_ratio),
    &quot;odds change (with respect to baseline) when born to adolescent, indigenous Amerindian, unmarried mothers that received no formal education, antenatal or obstetric healthcare&quot;, ci_character(odds[1, ]),
    &quot;odds change (with respect to baseline) when born to mature, non-indigenous, married mothers that received formal education (4-7), antenatal or obstetric healthcare&quot;, ci_character(odds[2, ])
    ) %&gt;%
    rbind(data_summary, .)</code></pre>
<pre class="r"><code>c95_prob &lt;- function(x)  c(c95(x), exceed = mean(x &gt; 0))
c95_exp_prob &lt;- function(x) c(c95(exp(x)), exceed = mean(x &gt; 0))

# extremes pre
data_extremes_pre &lt;- data_points_all[[3]] %&gt;%
    mutate(description = paste0(&quot;odds of extreme events &quot;, label, &quot; (&quot;, description, &quot;)&quot;))
# data_extremes_pre[data_extremes_pre$label == &quot;E&quot;, &quot;y&quot;] &lt;- 0.4

ext_eff_pre &lt;- predict_effect(model_pre, data_extremes_pre, &quot;pi&quot;,
                          &quot;s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk)&quot;,
                          FUN = function(x) c95(exp(x)))

data_summary  &lt;- data_extremes_pre %&gt;%
    dplyr::mutate(value = ci_character(ext_eff_pre, 3)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)

data_extremes_pre &lt;- data_points_all[[3]] %&gt;%
    mutate(description = paste0(&quot;extreme effects: odds ratio of &quot;,
                                label, &quot; - A (&quot;, description, &quot;)&quot;))
# data_extremes_pre[data_extremes_pre$label == &quot;E&quot;, &quot;y&quot;] &lt;- 0.4

ext_eff_pre_base &lt;- predict_effect_baseline(
    model_pre, data_extremes_pre, &quot;pi&quot;,
    &quot;s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk)&quot;,
    FUN = c95_exp_prob)

data_summary  &lt;- data_extremes_pre %&gt;%
    dplyr::mutate(value = ci_character_exceed(ext_eff_pre_base, 3)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)

# non extreme lbw
data_events_pre &lt;- data_points_all[[2]] %&gt;%
    mutate(description = paste0(&quot;odds of non-extreme effects of &quot;,
                                label, &quot; (&quot;, description, &quot;)&quot;))

events_eff_pre &lt;- predict_effect(model_pre, data_events_pre,
                          &quot;pi&quot;, &quot;s(neg_mckee_mean_8wk,pos_mckee_mean_8wk)&quot;,
                          FUN = function(x) c95(exp(x)))

data_summary  &lt;- data_events_pre %&gt;%
    dplyr::mutate(value = ci_character(events_eff_pre)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)

data_events_pre &lt;- data_points_all[[2]] %&gt;%
    mutate(description = paste0(&quot;non-extreme effects: odds ratio of &quot;,
                                label, &quot; - A (&quot;, description, &quot;)&quot;))

events_eff_pre_base &lt;- predict_effect_baseline(
    model_pre, data_events_pre, &quot;pi&quot;,
    &quot;s(neg_mckee_mean_8wk,pos_mckee_mean_8wk)&quot;,
    FUN = c95_exp_prob
)

data_summary  &lt;- data_events_pre %&gt;%
    dplyr::mutate(value = ci_character_exceed(events_eff_pre_base)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)

# deviations from seasonality lbw
data_deviations_pre &lt;- data_points_all[[1]] %&gt;%
    mutate(description = paste0(&quot;odds of seasonal deviation effects of &quot;, label, &quot; (&quot;,
                                description, &quot;)&quot;))

deviations_eff_pre &lt;- predict_effect(model_pre, data_deviations_pre,
                          &quot;pi&quot;, &quot;s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk)&quot;,
                          FUN = function(x) c95(exp(x)))

data_summary  &lt;- data_deviations_pre %&gt;%
    dplyr::mutate(value = ci_character(deviations_eff_pre)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)

data_deviations_pre &lt;- data_points_all[[1]] %&gt;%
    mutate(description = paste0(&quot;seasonal deviation effects: odds ratio of &quot;,
                                label, &quot; - A(&quot;, description, &quot;)&quot;))

deviations_eff_pre &lt;- predict_effect_baseline(
    model_pre, data_deviations_pre, &quot;pi&quot;,
    &quot;s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk)&quot;,
    FUN = c95_exp_prob
)

data_summary  &lt;- data_deviations_pre %&gt;%
    dplyr::mutate(value = ci_character_exceed(deviations_eff_pre)) %&gt;%
    dplyr::select(description, value) %&gt;%
    rbind(data_summary, .)</code></pre>
<pre class="r"><code># remoteness municipality level effects (mean and lbw)
data_summary  &lt;-
    effect_summary_prob_pre(model_pre, data.frame(c(0.25, 0.75)),
                   term = &quot;remoteness&quot;,
                   label_1 = &quot;low remoteness&quot;, label_2 = &quot;high remoteness&quot;) %&gt;%
    rbind(data_summary, .)

# sanitation municipality level effects (mean and lbw)
data_summary  &lt;-
    effect_summary_prob_pre(model_pre, data.frame(c(0.45, 0.20)),
                   term = &quot;prop_tap_toilet&quot;,
                   label_1 = &quot;high sanitation&quot;, label_2 = &quot;low sanitation&quot;) %&gt;%
    rbind(data_summary, .)

# municipality profiles
profiles_mun &lt;- tibble::tribble(~x, ~y,
                                0.25, 0.50,
                                0.8, 0.15)
data_summary  &lt;-
    effect_summary_prob_pre(model_pre, profiles_mun,
                   term = c(&quot;remoteness&quot;,  &quot;prop_tap_toilet&quot;),
                   label_1 = &quot;not remote and high sanitation&quot;, label_2 = &quot;remote and low sanitation&quot;) %&gt;%
    rbind(data_summary, .)</code></pre>
<pre class="r"><code># age effect (mean and lbw)
data_summary  &lt;-
    effect_summary_pre(model_pre, data.frame(c(30, 15)), term = &quot;s(age)&quot;,
                   label_1 = &quot;mature mothers&quot;, label_2 = &quot;young mothers&quot;) %&gt;%
    rbind(data_summary, .)

# education effect (mean and lbw)
data_study &lt;- data.frame(factor(c(&quot;1 - 3&quot;, &quot;no&quot;), levels(bwdata_model$study_years)))
data_summary  &lt;-
    effect_summary_pre(model_pre, data_study, term = &quot;study_years&quot;,
                   label_1 = &quot;mother with education&quot;, label_2 = &quot;mothers with no formal education&quot;) %&gt;%
    rbind(data_summary, .)

# education effect (mean and lbw)
data_aux &lt;- data.frame(factor(c(&quot;4 - 7&quot;, &quot;no&quot;), levels(bwdata_model$study_years)))
data_summary  &lt;-
    effect_summary_pre(model_pre, data_aux, term = &quot;study_years&quot;,
                   label_1 = &quot;mother with education&quot;, label_2 = &quot;mothers with no formal education&quot;) %&gt;%
    rbind(data_summary, .)

# marital status effect (mean and lbw)
data_aux &lt;- data.frame(factor(c(&quot;married&quot;, &quot;single&quot;), levels(bwdata_model$marital_status)))
data_summary  &lt;-
    effect_summary_pre(model_pre, data_aux, term = &quot;marital_status&quot;,
                   label_1 = &quot;married mothers&quot;, label_2 = &quot;single mothers&quot;) %&gt;%
    rbind(data_summary, .)

# antenatal care effect (mean and lbw)
data_aux &lt;- data.frame(factor(c(&quot;&gt; 7&quot;, &quot;0&quot;), levels(bwdata_model$consult_num)))
data_summary  &lt;-
    effect_summary_pre(model_pre, data_aux, term = &quot;consult_num&quot;,
                   label_1 = &quot;mothers with ante-natal care&quot;, label_2 = &quot;mothers with no ante-natal care&quot;) %&gt;%
    rbind(data_summary, .)

# birth place effect (mean and lbw)
data_aux &lt;- data.frame(factor(c(&quot;hospital&quot;, &quot;home&quot;), levels(bwdata_model$birth_place)))
data_summary  &lt;-
    effect_summary_pre(model_pre, data_aux, term = &quot;birth_place&quot;,
                   label_1 = &quot;births in medical facility (hospital)&quot;, label_2 = &quot;births outside medical facility (home)&quot;) %&gt;%
    rbind(data_summary, .)

# indigenous effect (mean and lbw)
data_aux &lt;- data.frame(factor(c(&quot;non-indigenous&quot;, &quot;indigenous&quot;), levels(bwdata_model$born_race)))
data_summary  &lt;-
    effect_summary_pre(model_pre, data_aux, term = &quot;born_race&quot;,
                   label_1 = &quot;non-indigenous&quot;, label_2 = &quot;indigenous&quot;) %&gt;%
    rbind(data_summary, .)

# river week seasonal effect (mean and lbw)
data_summary  &lt;-
    effect_summary_prob_pre(model_pre, data.frame(c(0, 30)), term = &quot;s(rivwk_conception)&quot;,
                   label_1 = &quot;wet season&quot;, label_2 = &quot;dry season&quot;, digits = 3) %&gt;%
    rbind(data_summary, .)

# river week seasonal effect (mean and lbw)
data_summary  &lt;-
    effect_summary_prob_pre(model_pre, data.frame(c(5, 39)), term = &quot;s(rivwk_conception)&quot;,
                   label_1 = &quot;wet season&quot;, label_2 = &quot;rising season&quot;, digits = 3) %&gt;%
    rbind(data_summary, .)

# temporal effect (mean and lbw)
data_summary  &lt;-
    effect_summary_pre(model_pre, data.frame(c(167, 700)), term = &quot;s(wk_ini)&quot;,
                   label_1 = &quot;2006&quot;, label_2 = &quot;2016&quot;) %&gt;%
    rbind(data_summary, .)</code></pre>
</div>
<div id="preterm" class="section level2">
<h2>Display summary</h2>
<pre class="r"><code>cap &lt;- &quot;Summarise preterm birth (PTB) models.&quot;
knitr::kable(data_summary, &quot;html&quot;, table.attr = &quot;class=\&quot;table\&quot;&quot;,
             caption = cap)</code></pre>
<table class="table">
<caption>
<span id="tab:unnamed-chunk-7">Table 1: </span>Summarise preterm birth (PTB) models.
</caption>
<thead>
<tr>
<th style="text-align:left;">
description
</th>
<th style="text-align:left;">
value
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
number of birth registration (modelled)
</td>
<td style="text-align:left;">
291479
</td>
</tr>
<tr>
<td style="text-align:left;">
period of study
</td>
<td style="text-align:left;">
2006 - 2017
</td>
</tr>
<tr>
<td style="text-align:left;">
proportion of prematurity
</td>
<td style="text-align:left;">
0.091
</td>
</tr>
<tr>
<td style="text-align:left;">
odds ratio when born to adolescent, indigenous Amerindian, unmarried mothers that received no formal education, antenatal or obstetric healthcare
</td>
<td style="text-align:left;">
4.98 (CI: 4.45, 5.58)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds change (with respect to baseline) when born to adolescent, indigenous Amerindian, unmarried mothers that received no formal education, antenatal or obstetric healthcare
</td>
<td style="text-align:left;">
2.33 (CI: 2.2, 2.47)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds change (with respect to baseline) when born to mature, non-indigenous, married mothers that received formal education (4-7), antenatal or obstetric healthcare
</td>
<td style="text-align:left;">
0.47 (CI: 0.42, 0.52)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of extreme events A (None)
</td>
<td style="text-align:left;">
1.385 (CI: 1.346, 1.423)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of extreme events B (Intense and deficient)
</td>
<td style="text-align:left;">
5493.716 (CI: 364.036, 25977.429)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of extreme events C (Intense)
</td>
<td style="text-align:left;">
314.666 (CI: 18.635, 1135.613)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of extreme events E (Moderate intense)
</td>
<td style="text-align:left;">
0.005 (CI: 0.001, 0.016)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of extreme events D (Deficient)
</td>
<td style="text-align:left;">
5.746 (CI: 1.516, 15.287)
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects: odds ratio of A - A (None)
</td>
<td style="text-align:left;">
1 (CI: 1, 1); P(diff &gt; 0) = 0
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects: odds ratio of B - A (Intense and deficient)
</td>
<td style="text-align:left;">
3975.069 (CI: 260.294, 19097.265); P(diff &gt; 0) = 1
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects: odds ratio of C - A (Intense)
</td>
<td style="text-align:left;">
227.36 (CI: 13.558, 824.994); P(diff &gt; 0) = 1
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects: odds ratio of E - A (Moderate intense)
</td>
<td style="text-align:left;">
0.003 (CI: 0.001, 0.012); P(diff &gt; 0) = 0
</td>
</tr>
<tr>
<td style="text-align:left;">
extreme effects: odds ratio of D - A (Deficient)
</td>
<td style="text-align:left;">
4.157 (CI: 1.092, 11.141); P(diff &gt; 0) = 0.98
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of non-extreme effects of A (None)
</td>
<td style="text-align:left;">
0.99 (CI: 0.91, 1.08)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of non-extreme effects of B (Intense and deficient)
</td>
<td style="text-align:left;">
1.06 (CI: 0.63, 1.67)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of non-extreme effects of C (Intense)
</td>
<td style="text-align:left;">
1.72 (CI: 1.09, 2.57)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of non-extreme effects of D (Deficient)
</td>
<td style="text-align:left;">
0.44 (CI: 0.2, 0.87)
</td>
</tr>
<tr>
<td style="text-align:left;">
non-extreme effects: odds ratio of A - A (None)
</td>
<td style="text-align:left;">
1 (CI: 1, 1); P(diff &gt; 0) = 0
</td>
</tr>
<tr>
<td style="text-align:left;">
non-extreme effects: odds ratio of B - A (Intense and deficient)
</td>
<td style="text-align:left;">
1.07 (CI: 0.628, 1.698); P(diff &gt; 0) = 0.549
</td>
</tr>
<tr>
<td style="text-align:left;">
non-extreme effects: odds ratio of C - A (Intense)
</td>
<td style="text-align:left;">
1.744 (CI: 1.106, 2.664); P(diff &gt; 0) = 0.992
</td>
</tr>
<tr>
<td style="text-align:left;">
non-extreme effects: odds ratio of D - A (Deficient)
</td>
<td style="text-align:left;">
0.447 (CI: 0.196, 0.884); P(diff &gt; 0) = 0.008
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of seasonal deviation effects of A (None)
</td>
<td style="text-align:left;">
0.81 (CI: 0.74, 0.88)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of seasonal deviation effects of B (Intense and deficient)
</td>
<td style="text-align:left;">
2.21 (CI: 1.33, 3.47)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of seasonal deviation effects of C (Intense)
</td>
<td style="text-align:left;">
1.8 (CI: 1.28, 2.47)
</td>
</tr>
<tr>
<td style="text-align:left;">
odds of seasonal deviation effects of D (Deficient)
</td>
<td style="text-align:left;">
10.48 (CI: 5.8, 18.33)
</td>
</tr>
<tr>
<td style="text-align:left;">
seasonal deviation effects: odds ratio of A - A(None)
</td>
<td style="text-align:left;">
1 (CI: 1, 1); P(diff &gt; 0) = 0
</td>
</tr>
<tr>
<td style="text-align:left;">
seasonal deviation effects: odds ratio of B - A(Intense and deficient)
</td>
<td style="text-align:left;">
2.74 (CI: 1.636, 4.42); P(diff &gt; 0) = 1
</td>
</tr>
<tr>
<td style="text-align:left;">
seasonal deviation effects: odds ratio of C - A(Intense)
</td>
<td style="text-align:left;">
2.232 (CI: 1.567, 3.122); P(diff &gt; 0) = 1
</td>
</tr>
<tr>
<td style="text-align:left;">
seasonal deviation effects: odds ratio of D - A(Deficient)
</td>
<td style="text-align:left;">
13.027 (CI: 7.222, 22.776); P(diff &gt; 0) = 1
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds ratio between high remoteness (0.75) and low remoteness (0.25)
</td>
<td style="text-align:left;">
1.03 (CI: 0.78, 1.34); P(diff &gt; 0) = 0.54
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of low remoteness (0.25)
</td>
<td style="text-align:left;">
1.01 (CI: 0.88, 1.16); P(diff &gt; 0) = 0.54
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of high remoteness (0.75)
</td>
<td style="text-align:left;">
1.05 (CI: 0.69, 1.55); P(diff &gt; 0) = 0.54
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds ratio between low sanitation (0.2) and high sanitation (0.45)
</td>
<td style="text-align:left;">
0.77 (CI: 0.59, 0.96); P(diff &gt; 0) = 0.01
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of high sanitation (0.45)
</td>
<td style="text-align:left;">
1.68 (CI: 1.07, 2.58); P(diff &gt; 0) = 0.99
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of low sanitation (0.2)
</td>
<td style="text-align:left;">
1.25 (CI: 1.03, 1.52); P(diff &gt; 0) = 0.99
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds ratio between remote and low sanitation (0.8, 0.15) and not remote and high sanitation (0.25, 0.5)
</td>
<td style="text-align:left;">
0.7 (CI: 0.5, 0.97); P(diff &gt; 0) = 0.01
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of not remote and high sanitation (0.25, 0.5)
</td>
<td style="text-align:left;">
1.83 (CI: 1.01, 3.16); P(diff &gt; 0) = 0.98
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of remote and low sanitation (0.8, 0.15)
</td>
<td style="text-align:left;">
1.25 (CI: 0.73, 2.07); P(diff &gt; 0) = 0.74
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds ratio between young mothers (15) and mature mothers (30)
</td>
<td style="text-align:left;">
1.66 (CI: 1.58, 1.74)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of mature mothers (30)
</td>
<td style="text-align:left;">
0.87 (CI: 0.85, 0.9)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of young mothers (15)
</td>
<td style="text-align:left;">
1.45 (CI: 1.41, 1.5)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds ratio between mothers with no formal education (no) and mother with education (1 - 3)
</td>
<td style="text-align:left;">
1.09 (CI: 1.02, 1.17)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of mother with education (1 - 3)
</td>
<td style="text-align:left;">
0.92 (CI: 0.85, 0.98)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of mothers with no formal education (no)
</td>
<td style="text-align:left;">
1 (CI: 1, 1)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds ratio between mothers with no formal education (no) and mother with education (4 - 7)
</td>
<td style="text-align:left;">
1.09 (CI: 1.02, 1.16)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of mother with education (4 - 7)
</td>
<td style="text-align:left;">
0.92 (CI: 0.87, 0.98)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of mothers with no formal education (no)
</td>
<td style="text-align:left;">
1 (CI: 1, 1)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds ratio between single mothers (single) and married mothers (married)
</td>
<td style="text-align:left;">
1.01 (CI: 0.96, 1.07)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of married mothers (married)
</td>
<td style="text-align:left;">
0.99 (CI: 0.94, 1.04)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of single mothers (single)
</td>
<td style="text-align:left;">
1 (CI: 1, 1)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds ratio between mothers with no ante-natal care (0) and mothers with ante-natal care (&gt; 7)
</td>
<td style="text-align:left;">
1.7 (CI: 1.59, 1.82)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of mothers with ante-natal care (&gt; 7)
</td>
<td style="text-align:left;">
0.59 (CI: 0.55, 0.63)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of mothers with no ante-natal care (0)
</td>
<td style="text-align:left;">
1 (CI: 1, 1)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds ratio between births outside medical facility (home) (home) and births in medical facility (hospital) (hospital)
</td>
<td style="text-align:left;">
1.23 (CI: 1.19, 1.28)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of births in medical facility (hospital) (hospital)
</td>
<td style="text-align:left;">
1 (CI: 1, 1)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of births outside medical facility (home) (home)
</td>
<td style="text-align:left;">
1.23 (CI: 1.19, 1.28)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds ratio between indigenous (indigenous) and non-indigenous (non-indigenous)
</td>
<td style="text-align:left;">
1.3 (CI: 1.25, 1.36)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of non-indigenous (non-indigenous)
</td>
<td style="text-align:left;">
1 (CI: 1, 1)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of indigenous (indigenous)
</td>
<td style="text-align:left;">
1.3 (CI: 1.25, 1.36)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds ratio between dry season (30) and wet season (0)
</td>
<td style="text-align:left;">
0.865 (CI: 0.817, 0.914); P(diff &gt; 0) = 0
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of wet season (0)
</td>
<td style="text-align:left;">
1.11 (CI: 1.073, 1.151); P(diff &gt; 0) = 1
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of dry season (30)
</td>
<td style="text-align:left;">
0.96 (CI: 0.922, 0.996); P(diff &gt; 0) = 0.016
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds ratio between rising season (39) and wet season (5)
</td>
<td style="text-align:left;">
0.71 (CI: 0.672, 0.751); P(diff &gt; 0) = 0
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of wet season (5)
</td>
<td style="text-align:left;">
1.167 (CI: 1.129, 1.206); P(diff &gt; 0) = 1
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of rising season (39)
</td>
<td style="text-align:left;">
0.828 (CI: 0.799, 0.858); P(diff &gt; 0) = 0
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds ratio between 2016 (700) and 2006 (167)
</td>
<td style="text-align:left;">
7.42 (CI: 6.13, 9.02)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of 2006 (167)
</td>
<td style="text-align:left;">
0.22 (CI: 0.18, 0.26)
</td>
</tr>
<tr>
<td style="text-align:left;">
pre: odds change of 2016 (700)
</td>
<td style="text-align:left;">
1.6 (CI: 1.53, 1.67)
</td>
</tr>
</tbody>
</table>
</div>
<div id="write-summary-of-the-data-and-model" class="section level2">
<h2>Write summary of the data and model</h2>
<pre class="r"><code>readr::write_csv(as.data.frame(data_summary),
                 file.path(path_summarised, &quot;summary-prematurity-model.csv&quot;))</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  19.960   1.063  21.348</code></pre>
</div>
