---
title: "Rainfall effects on BW, LBW and PTB without baselines"
prerequisites:
    - data/modelled/bw-10-full-re-t-burned.rds
    - data/modelled/bw-20-growth-re-t-burned.rds
    - data/modelled/lbw-10-full-re-burned.rds
    - data/modelled/lbw-20-growth-re-burned.rds
    - data/modelled/pre-11-full-re-burned.rds
    - data/processed/bwdata_41_model.fst
    - data/processed/exposure-reference-points.rds
    - src/51-bamlss.R
    - src/57-bamlss-vis-paper.R
    - src/53-vis-bw-lbw.R
targets:
    - data/summarised/mod-eff-rain-main-significant.pdf
    - data/summarised/mod-eff-rain-main-ci.pdf
---



<p>In this script, we create figures to summarise the rainfall variability effects of the BW,
LBW, and PTB models without using pre-defined baselines. This visualization might not be
adequate given that the implicit baselines do not represent mother without or low
exposure. The results can be seen at:</p>
<ul>
<li>Section <a href="#rainfall-significant">Visualize significant effects for BW, LBW and PTB
models</a>, which is an alternative visualization of the <em>Extended
Data Figure 7</em> of our paper.</li>
<li>Section <a href="#rainfall-ci">Visualize reference points effects (with credible intervals) for BW, LBW and
PTB models</a>, which is an alternative visualization of the <em>Figure 4</em> of
our paper.</li>
</ul>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>library(ggplot2)
library(patchwork)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;patchwork&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:MASS&#39;:
#&gt; 
#&gt;     area</code></pre>
<pre class="r"><code>library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:MASS&#39;:
#&gt; 
#&gt;     select</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:bamlss&#39;:
#&gt; 
#&gt;     n</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:nlme&#39;:
#&gt; 
#&gt;     collapse</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(purrr)

path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)
path_summarised &lt;- file.path(path_data, &quot;summarised&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;57-bamlss-vis-paper.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;53-vis-bw-lbw.R&quot;))

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
path_model_bw_full &lt;- file.path(path_modelled, &quot;bw-10-full-re-t-burned.rds&quot;)
path_model_bw_growth &lt;- file.path(path_modelled, &quot;bw-20-growth-re-t-burned.rds&quot;)
path_model_lbw_full &lt;- file.path(path_modelled, &quot;lbw-10-full-re-burned.rds&quot;)
path_model_lbw_growth &lt;- file.path(path_modelled, &quot;lbw-20-growth-re-burned.rds&quot;)
path_model_pre &lt;- file.path(path_modelled, &quot;pre-11-full-re-burned.rds&quot;)

bwdata_model &lt;- fst::read_fst(bwdata_file)
model_bw_full &lt;- readRDS(path_model_bw_full)
model_bw_growth &lt;- readRDS(path_model_bw_growth)
model_lbw_full &lt;- readRDS(path_model_lbw_full)
model_lbw_growth &lt;- readRDS(path_model_lbw_growth)
model_pre &lt;- readRDS(path_model_pre)

data_points_all &lt;- readRDS(file.path(path_processed, &quot;exposure-reference-points.rds&quot;))</code></pre>
<pre class="r"><code>data_points_all[[3]][data_points_all[[3]]$label == &quot;A&quot;, c(&quot;x&quot;, &quot;y&quot;)] &lt;- c(0.0, 0.0)</code></pre>
</div>
<div id="extreme-effects" class="section level2">
<h2>Extreme effects</h2>
<pre class="r"><code>labs_lbw &lt;- c(&quot;Prenatal exposure to extreme rainfall events&quot;, &quot;Odds ratio of low birthweight&quot;)
labs_pre &lt;- c(&quot;Prenatal exposure to extreme rainfall events&quot;, &quot;Odds ratio of prematurity&quot;)
fun_mu &lt;- function (x) c95_expression(x, prefix = paste0(&#39;(&#39;, letters[1:3], &#39;) &#39;))
fun_pi &lt;- function (x) c95_expression(exp(x), &#39;odds&#39;)

grid &lt;- 50

extreme_term &lt;- &#39;s(neg_ext_mbsi_mean_8wk,pos_ext_mbsi_mean_8wk)&#39;

gg_ext_bw_full &lt;- gg_rain(
    model_bw_full, &#39;mu&#39;, extreme_term, grid = grid, data_points = data_points_all[[3]],
    binwidth = 20, FUN = fun_mu, model.frame = bwdata_model)

gg_ext_bw_growth &lt;- gg_rain(
    model_bw_growth, &#39;mu&#39;, extreme_term, grid = grid, data_points = data_points_all[[3]],
    binwidth = 5, FUN = fun_mu, model.frame = bwdata_model)

data_points_bw &lt;- data_points_all[[3]]
data_points_bw[data_points_bw$label == &quot;E&quot;, &quot;y&quot;] &lt;- 0.4

gg_ext_lbw_full &lt;- gg_rain(
    model_lbw_full, &#39;pi&#39;, extreme_term, grid = grid, data_points = data_points_bw,
    binwidth = 0.5, FUN = fun_pi, trans = &#39;log&#39;, rev = TRUE,
    labs_ci = labs_lbw,
    model.frame = bwdata_model, reference = 1)

gg_ext_lbw_growth &lt;- gg_rain(
    model_lbw_growth, &#39;pi&#39;, extreme_term, grid = grid, data_points = data_points_bw,
    binwidth = 0.02, FUN = fun_pi, trans = &#39;log&#39;, rev = TRUE,
    labs_ci = labs_lbw,
    model.frame = bwdata_model, reference = 1)

gg_ext_pre &lt;- gg_rain(
    model_pre, &#39;pi&#39;, extreme_term, grid = grid, data_points = data_points_all[[3]],
    binwidth = 2, FUN = fun_pi, trans = &#39;log&#39;, rev = TRUE,
    labs_ci = labs_pre,
    model.frame = bwdata_model, reference = 1)</code></pre>
</div>
<div id="non-extreme-effects" class="section level2">
<h2>Non-extreme effects</h2>
<pre class="r"><code>non_extreme_term &lt;- &quot;s(neg_mckee_mean_8wk,pos_mckee_mean_8wk)&quot;
non_extreme_labs &lt;- c(&#39;Exposure to non-extreme deficient rainfall&#39;,
                      &#39;Exposure to non-extreme intense rainfall&#39;)
non_extreme_labs_weeks &lt;- c(&#39;Weeks exposed to non-extreme deficient rainfall&#39;,
                            &#39;Weeks exposed to non-extreme intense rainfall&#39;)

gg_non_ext_bw_full &lt;- gg_rain(
    model_bw_full, &#39;mu&#39;, non_extreme_term, grid = grid, data_points = data_points_all[[2]],
    binwidth = 5, FUN = fun_mu,
    labs = non_extreme_labs, labs_weeks = non_extreme_labs_weeks,
    model.frame = bwdata_model)

gg_non_ext_bw_growth &lt;- gg_rain(
    model_bw_growth, &#39;mu&#39;, non_extreme_term, grid = grid, data_points = data_points_all[[2]],
    binwidth = 5, FUN = fun_mu,
    labs = non_extreme_labs, labs_weeks = non_extreme_labs_weeks,
    model.frame = bwdata_model)

gg_non_ext_lbw_full &lt;- gg_rain(
    model_lbw_full, &#39;pi&#39;, non_extreme_term, grid = grid, data_points = data_points_all[[2]],
    binwidth = 0.1, FUN = fun_pi, trans = &#39;log&#39;, rev = TRUE,
    labs = non_extreme_labs, labs_weeks = non_extreme_labs_weeks, labs_ci = labs_lbw,
    model.frame = bwdata_model, reference = 1)

gg_non_ext_lbw_growth &lt;- gg_rain(
    model_lbw_growth, &#39;pi&#39;, non_extreme_term, grid = grid, data_points = data_points_all[[2]],
    binwidth = 0.02, FUN = fun_pi, trans = &#39;log&#39;, rev = TRUE,
    labs = non_extreme_labs, labs_weeks = non_extreme_labs_weeks, labs_ci = labs_lbw,
    model.frame = bwdata_model, reference = 1)

gg_non_ext_pre &lt;- gg_rain(
    model_pre, &#39;pi&#39;, non_extreme_term, grid = grid, data_points = data_points_all[[2]],
    binwidth = 0.5, FUN = fun_pi, trans = &#39;log&#39;, rev = TRUE,
    labs = non_extreme_labs, labs_weeks = non_extreme_labs_weeks, labs_ci = labs_pre,
    model.frame = bwdata_model, reference = 1)</code></pre>
</div>
<div id="deviations-from-seasonality-effects" class="section level2">
<h2>Deviations from seasonality effects</h2>
<pre class="r"><code>sea_dev_term &lt;- &quot;s(neg_mbsi_mean_1wk,pos_mbsi_mean_1wk)&quot;
sea_dev_labs &lt;- c(&#39;Negative deviation from seasonality&#39;, &#39;Positive deviation from seasonality&#39;)
sea_dev_labs_weeks &lt;- c(&#39;Weeks of negative deviation from seasonality&#39;,
                        &#39;Weeks of positive deviation from seasonality&#39;)

gg_sea_dev_bw_full &lt;- gg_rain(
    model_bw_full, &#39;mu&#39;, sea_dev_term, grid = grid, data_points = data_points_all[[1]],
    binwidth = 5,
    FUN = function (x) c95_expression(x, prefix = paste0(&#39;(&#39;, letters[1:3], &#39;) &#39;)),
    labs = sea_dev_labs, labs_weeks = sea_dev_labs_weeks,
    model.frame = bwdata_model)

gg_sea_dev_bw_growth &lt;- gg_rain(
    model_bw_growth, &#39;mu&#39;, sea_dev_term, grid = grid, data_points = data_points_all[[1]],
    binwidth = 5,
    FUN = function (x) c95_expression(x, prefix = paste0(&#39;(&#39;, letters[1:3], &#39;) &#39;)),
    labs = sea_dev_labs, labs_weeks = sea_dev_labs_weeks,
    model.frame = bwdata_model)

gg_sea_dev_lbw_full &lt;- gg_rain(
    model_lbw_full, &#39;pi&#39;, sea_dev_term, grid = grid, data_points = data_points_all[[1]],
    binwidth = 0.05,
    FUN = function (x) c95_expression(exp(x), &#39;odds&#39;), trans = &#39;log&#39;, rev = TRUE,
    labs = sea_dev_labs, labs_weeks = sea_dev_labs_weeks, labs_ci = labs_lbw,
    model.frame = bwdata_model, reference = 1)

gg_sea_dev_lbw_growth &lt;- gg_rain(
    model_lbw_growth, &#39;pi&#39;, sea_dev_term, grid = grid, data_points = data_points_all[[1]],
    binwidth = 0.02,
    FUN = function (x) c95_expression(exp(x), &#39;odds&#39;), trans = &#39;log&#39;, rev = TRUE,
    labs = sea_dev_labs, labs_weeks = sea_dev_labs_weeks, labs_ci = labs_lbw,
    model.frame = bwdata_model, reference = 1)

gg_sea_dev_pre &lt;- gg_rain(
    model_pre, &#39;pi&#39;, sea_dev_term, grid = grid, data_points = data_points_all[[1]],
    binwidth = 0.5,
    FUN = function (x) c95_expression(exp(x), &#39;odds&#39;), trans = &#39;log&#39;, rev = TRUE,
    labs = sea_dev_labs, labs_weeks = sea_dev_labs_weeks, labs_ci = labs_pre,
    model.frame = bwdata_model, reference = 1)</code></pre>
</div>
<div id="create-figure-of-significant-effects-for-bw-lbw-and-ptb-models" class="section level2">
<h2>Create figure of significant effects for BW, LBW and PTB models</h2>
<pre class="r"><code>model_labs &lt;- c(
    &quot;1) Full birthweight model&quot;,
    &quot;2) Growth birthweight model&quot;,
    &quot;3) Full low birthweight model&quot;,
    &quot;4) Growth low birthweight model&quot;,
    &quot;5) Prematurity model&quot;
)
gg &lt;-
    gg_ext_bw_full$significant + labs(title = model_labs[1]) +
    gg_non_ext_bw_full$significant +
    gg_sea_dev_bw_full$significant +
    gg_ext_bw_growth$significant + labs(title = model_labs[2]) +
    gg_non_ext_bw_growth$significant +
    gg_sea_dev_bw_growth$significant +
    gg_ext_lbw_full$significant + labs(title = model_labs[3]) +
    gg_non_ext_lbw_full$significant +
    gg_sea_dev_lbw_full$significant +
    gg_ext_lbw_growth$significant + labs(title = model_labs[4]) +
    gg_non_ext_lbw_growth$significant +
    gg_sea_dev_lbw_growth$significant +
    gg_ext_pre$significant + labs(title = model_labs[5]) +
    gg_non_ext_pre$significant +
    gg_sea_dev_pre$significant +
    plot_layout(nrow = 5)
gg &lt;- gg &amp;
    theme(
          strip.background = element_blank(),
          strip.text.x = element_blank()
    )
ggsave(file.path(path_summarised, &quot;mod-eff-rain-main-significant.pdf&quot;), gg ,
       width = 25, height = 36, units = &quot;cm&quot;)</code></pre>
</div>
<div id="rainfall-significant" class="section level2">
<h2>Visualize significant effects for BW, LBW and PTB models</h2>
<pre class="r"><code>gg</code></pre>
<p><img src="/birthweight/50-summarization/models/23-effects-rainfall-significant-ci_files/figure-html/unnamed-chunk-7-1.png" width="100%" style="display: block; margin: auto;" /></p>
</div>
<div id="create-reference-points-effects-with-credible-intervals-for-bw-lbw-and-ptb-models" class="section level2">
<h2>Create reference points effects (with credible intervals) for BW, LBW and PTB models</h2>
<pre class="r"><code>rain_effect_labs &lt;- c(&quot;Extremes events&quot;, &quot;Non-extreme events&quot;, &quot;Seasonal deviation&quot;)
ci_data &lt;- list(gg_ext_bw_full, gg_non_ext_bw_full, gg_sea_dev_bw_full,
                gg_ext_bw_growth, gg_non_ext_bw_growth, gg_sea_dev_bw_growth,
                gg_ext_lbw_full, gg_non_ext_lbw_full, gg_sea_dev_lbw_full,
                gg_ext_lbw_growth, gg_non_ext_lbw_growth, gg_sea_dev_lbw_growth,
                gg_ext_pre, gg_non_ext_pre, gg_sea_dev_pre) %&gt;%
    map(~ .$ci_data[, - c(1:2)]) %&gt;%
    map2(rep(1:5, each = 3), ~ mutate(.x, model = .y)) %&gt;%
    map2(rep(1:3, 5), ~ mutate(.x, rain_effect = .y)) %&gt;%
    bind_rows() %&gt;%
    mutate(
           model = factor(model, labels = model_labs),
           rain_effect = factor(rain_effect, labels = rain_effect_labs)
    )

intercept_data &lt;- expand.grid(rain_effect = rain_effect_labs, model = model_labs) %&gt;%
    mutate(yintercept = rep(c(0, 0, 1, 1, 1), each = 3))

ggp_ci &lt;- function(data, trans = &quot;identity&quot;) {
    gg_ci &lt;- ggplot(data, aes(description, mean)) +
        geom_errorbar(aes(ymin = lower, ymax = upper, color = rain_effect),
                      position = position_dodge(0.3), width = 0.2,
                      size = rel(0.4), width = 0.25) +
        geom_point(aes(color = rain_effect),
                   position = position_dodge(0.3), size = rel(2)) +
        # scale_y_continuous(labels = function(x) round_odds(exp(x))) +
        geom_hline(yintercept = 0, lty = 2, col = 1) +
        labs(x = NULL, y = NULL, color = &quot;Rain effect&quot;) +
        facet_wrap(~ model) +
        theme_bw(10) +
        theme(legend.position = &quot;none&quot;)
        if (trans == &#39;log&#39;) {
            gg_ci &lt;- gg_ci + scale_y_continuous(labels = function(x) round_odds(exp(x)))
        }
    return(gg_ci)
}

gg_ci &lt;- ggp_ci(subset(ci_data, model == model_labs[1])) +
    ggp_ci(subset(ci_data, model == model_labs[2])) +
    ggp_ci(subset(ci_data, model == model_labs[3]), &quot;log&quot;) +
    ggp_ci(subset(ci_data, model == model_labs[4]), &quot;log&quot;) +
    ggp_ci(subset(ci_data, model == model_labs[5]), &quot;log&quot;) +
    theme(legend.position = &quot;bottom&quot;) +
    plot_layout(ncol = 2)</code></pre>
<pre><code>#&gt; Warning: Duplicated aesthetics after name standardisation: width

#&gt; Warning: Duplicated aesthetics after name standardisation: width

#&gt; Warning: Duplicated aesthetics after name standardisation: width

#&gt; Warning: Duplicated aesthetics after name standardisation: width

#&gt; Warning: Duplicated aesthetics after name standardisation: width</code></pre>
<pre class="r"><code>ggsave(file.path(path_summarised, &quot;mod-eff-rain-main-ci.pdf&quot;), gg_ci,
       width = 23, height = 20, units = &quot;cm&quot;)</code></pre>
</div>
<div id="rainfall-ci" class="section level2">
<h2>Visualize reference points effects (with credible intervals) for BW, LBW and PTB models</h2>
<pre class="r"><code>gg_ci</code></pre>
<p><img src="/birthweight/50-summarization/models/23-effects-rainfall-significant-ci_files/figure-html/unnamed-chunk-9-1.png" width="100%" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt; 142.793   3.515 146.427</code></pre>
</div>
