---
title: "Non-extreme events effects on BW, LBW and PTB"
prerequisites:
    - data/modelled/bw-10-full-re-t-burned.rds
    - data/modelled/bw-20-growth-re-t-burned.rds
    - data/modelled/lbw-10-full-re-burned.rds
    - data/modelled/lbw-20-growth-re-burned.rds
    - data/modelled/pre-11-full-re-burned.rds
    - data/processed/bwdata_41_model.fst
    - data/processed/exposure-reference-points.rds
    - src/51-bamlss.R
    - src/57-bamlss-vis-paper.R
    - src/53-vis-bw-lbw.R
targets:
    - data/summarised/mod-eff-rain-non-extremes.pdf
    - data/summarised/mod-eff-rain-non-extremes-significant.pdf
    - data/summarised/mod-eff-rain-non-extremes-ci.pdf
    - data/summarised/mod-eff-rain-non-extremes-weeks.pdf
    - data/summarised/mod-eff-rain-non-extremes-significant-weeks.pdf
---



<p>In this script, we create figures to summarise the <em>non-extreme events</em> effects of the BW,
LBW, and PTB models. These figures are related to <em>Figure 4</em> and <em>Extended Data Figure 7</em>
of our paper.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>library(ggplot2)
library(patchwork)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;patchwork&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:MASS&#39;:
#&gt; 
#&gt;     area</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)
path_summarised &lt;- file.path(path_data, &quot;summarised&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;57-bamlss-vis-paper.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;53-vis-bw-lbw.R&quot;))

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
path_model_bw_full &lt;- file.path(path_modelled, &quot;bw-10-full-re-t-burned.rds&quot;)
path_model_bw_growth &lt;- file.path(path_modelled, &quot;bw-20-growth-re-t-burned.rds&quot;)
path_model_lbw_full &lt;- file.path(path_modelled, &quot;lbw-10-full-re-burned.rds&quot;)
path_model_lbw_growth &lt;- file.path(path_modelled, &quot;lbw-20-growth-re-burned.rds&quot;)
path_model_pre &lt;- file.path(path_modelled, &quot;pre-11-full-re-burned.rds&quot;)

bwdata_model &lt;- fst::read_fst(bwdata_file)
model_bw_full &lt;- readRDS(path_model_bw_full)
model_bw_growth &lt;- readRDS(path_model_bw_growth)
model_lbw_full &lt;- readRDS(path_model_lbw_full)
model_lbw_growth &lt;- readRDS(path_model_lbw_growth)
model_pre &lt;- readRDS(path_model_pre)

data_points &lt;- readRDS(file.path(path_processed, &quot;exposure-reference-points.rds&quot;))[[2]]</code></pre>
</div>
<div id="create-set-of-figures-for-bw-lbw-and-ptb" class="section level2">
<h2>Create set of figures for BW, LBW and PTB</h2>
<pre class="r"><code>labs_lbw &lt;- c(&quot;Prenatal exposure to extreme rainfall events&quot;, &quot;Odds ratio of low birthweight&quot;)
labs_pre &lt;- c(&quot;Prenatal exposure to extreme rainfall events&quot;, &quot;Odds ratio of prematurity&quot;)
fun_mu &lt;- function (x) c95_expression(x, prefix = paste0(&#39;(&#39;, letters[1:3], &#39;) &#39;))
fun_pi &lt;- function (x) c95_expression(exp(x), &#39;odds&#39;)
baseline &lt;- TRUE
grid &lt;- 50</code></pre>
<pre class="r"><code>term &lt;- &quot;s(neg_mckee_mean_8wk,pos_mckee_mean_8wk)&quot;
non_extreme_labs &lt;- c(&#39;Exposure to non-extreme deficient rainfall&#39;,
                      &#39;Exposure to non-extreme intense rainfall&#39;)
non_extreme_labs_weeks &lt;- c(&#39;Weeks exposed to non-extreme deficient rainfall&#39;,
                            &#39;Weeks exposed to non-extreme intense rainfall&#39;)

gg_bw_full &lt;- gg_rain(
    model_bw_full, &#39;mu&#39;, term, grid = grid, data_points = data_points,
    binwidth = 5, skip = 0, FUN = fun_mu, model.frame = bwdata_model, baseline = baseline,
    labs = non_extreme_labs, labs_weeks = non_extreme_labs_weeks)

gg_bw_growth &lt;- gg_rain(
    model_bw_growth, &#39;mu&#39;, term, grid = grid, data_points = data_points,
    binwidth = 5, skip = 0, FUN = fun_mu, model.frame = bwdata_model, baseline = baseline,
    labs = non_extreme_labs, labs_weeks = non_extreme_labs_weeks)

gg_lbw_full &lt;- gg_rain(
    model_lbw_full, &#39;pi&#39;, term, grid = grid, data_points = data_points,
    skip = 0, binwidth = 0.1, FUN = fun_pi, trans = &#39;log&#39;, rev = TRUE,
    model.frame = bwdata_model, reference = 1, baseline = TRUE,
    labs = non_extreme_labs, labs_weeks = non_extreme_labs_weeks, labs_ci = labs_lbw)

gg_lbw_growth &lt;- gg_rain(
    model_lbw_growth, &#39;pi&#39;, term, grid = grid, data_points = data_points,
    skip = 0, binwidth = 0.02, FUN = fun_pi, trans = &#39;log&#39;, rev = TRUE,
    model.frame = bwdata_model, reference = 1, baseline = TRUE,
    labs = non_extreme_labs, labs_weeks = non_extreme_labs_weeks, labs_ci = labs_lbw)

gg_pre &lt;- gg_rain(
    model_pre, &#39;pi&#39;, term, grid = grid, data_points = data_points,
    skip = 0, binwidth = 0.5, FUN = fun_pi, trans = &#39;log&#39;, rev = TRUE,
    model.frame = bwdata_model, reference = 1, baseline = TRUE,
    labs = non_extreme_labs, labs_weeks = non_extreme_labs_weeks, labs_ci = labs_pre)</code></pre>
</div>
<div id="main-effects" class="section level2">
<h2>Main effects</h2>
<pre class="r"><code>gg &lt;-
    (gg_bw_full$quantiles +
     labs(x = NULL, y = NULL, subtitle = &quot;1) Full birthweight model&quot;)) +
    (gg_bw_growth$quantiles +
     labs(x = NULL, y = NULL, subtitle = &quot;2) Growth birthweight model&quot;)) +
    (gg_lbw_full$quantiles +
     labs(x = NULL, subtitle = &quot;3) Full low birthweight model&quot;) +
     theme(axis.title.y = element_text(hjust = 0))) +
    (gg_lbw_growth$quantiles +
     labs(x = NULL, y = NULL, subtitle = &quot;4) Growth low birthweight model&quot;)) +
    (gg_pre$quantiles +
     labs(y = NULL, subtitle = &quot;5) Prematurity model&quot;)) +
    plot_layout(ncol = 1)
ggsave(file.path(path_summarised, &quot;mod-eff-rain-non-extremes.pdf&quot;), gg ,
       width = 20, height = 32, units = &quot;cm&quot;)

print(gg)</code></pre>
<p><img src="/birthweight/50-summarization/models/26-effects-rainfall-non-extremes_files/figure-html/unnamed-chunk-4-1.png" width="100%" style="display: block; margin: auto;" /></p>
</div>
<div id="main-significant-effects" class="section level2">
<h2>Main significant effects</h2>
<pre class="r"><code>gg &lt;-
    (gg_bw_full$significant +
     labs(x = NULL, subtitle = &quot;1) Full birthweight model&quot;)) +
    (gg_bw_growth$significant +
     labs(x = NULL, y = NULL, subtitle = &quot;2) Growth birthweight model&quot;)) +
    (gg_lbw_full$significant +
     labs(x = NULL, subtitle = &quot;3) Full low birthweight model&quot;)) +
    (gg_lbw_growth$significant +
     labs(x = NULL, y = NULL, subtitle = &quot;4) Growth low birthweight model&quot;)) +
    (gg_pre$significant + labs(subtitle = &quot;5) Prematurity model&quot;)) +
    plot_layout(ncol = 2, nrow = 3)
ggsave(file.path(path_summarised, &quot;mod-eff-rain-non-extremes-significant.pdf&quot;), gg ,
       width = 21, height = 25, units = &quot;cm&quot;)

print(gg)</code></pre>
<p><img src="/birthweight/50-summarization/models/26-effects-rainfall-non-extremes_files/figure-html/unnamed-chunk-5-1.png" width="100%" style="display: block; margin: auto;" /></p>
</div>
<div id="credible-intervals-for-reference-points" class="section level2">
<h2>Credible intervals for reference points</h2>
<pre class="r"><code>gg &lt;-
    (gg_bw_full$ci +
     labs(x = NULL, subtitle = &quot;1) Full birthweight model&quot;)) +
    (gg_bw_growth$ci +
     labs(x = NULL, y = NULL, subtitle = &quot;2) Growth birthweight model&quot;)) +
    (gg_lbw_full$ci +
     labs(x = NULL, subtitle = &quot;3) Full low birthweight model&quot;)) +
    (gg_lbw_growth$ci +
     labs(x = NULL, y = NULL, subtitle = &quot;4) Growth low birthweight model&quot;)) +
    (gg_pre$ci + labs(subtitle = &quot;5) Prematurity model&quot;)) +
    plot_layout(ncol = 2, nrow = 3)
ggsave(file.path(path_summarised, &quot;mod-eff-rain-non-extremes-ci.pdf&quot;),
       gg, width = 27, height = 21, units = &quot;cm&quot;)

print(gg)</code></pre>
<p><img src="/birthweight/50-summarization/models/26-effects-rainfall-non-extremes_files/figure-html/unnamed-chunk-6-1.png" width="100%" style="display: block; margin: auto;" /></p>
</div>
<div id="main-effects-weeks-approximation" class="section level2">
<h2>Main effects (weeks approximation)</h2>
<pre class="r"><code>gg &lt;-
    (gg_bw_full$quantiles_weeks +
     labs(x = NULL, y = NULL, subtitle = &quot;1) Full birthweight model&quot;)) +
    (gg_bw_growth$quantiles_weeks +
     labs(x = NULL, y = NULL, subtitle = &quot;2) Growth birthweight model&quot;)) +
    (gg_lbw_full$quantiles_weeks +
     labs(x = NULL, subtitle = &quot;3) Full low birthweight model&quot;) +
     theme(axis.title.y = element_text(hjust = 0))) +
    (gg_lbw_growth$quantiles_weeks +
     labs(x = NULL, y = NULL, subtitle = &quot;4) Growth low birthweight model&quot;)) +
    (gg_pre$quantiles_weeks +
     labs(y = NULL, subtitle = &quot;5) Prematurity model&quot;)) +
    plot_layout(ncol = 1)
ggsave(file.path(path_summarised, &quot;mod-eff-rain-non-extremes-weeks.pdf&quot;), gg ,
       width = 20, height = 32, units = &quot;cm&quot;)

print(gg)</code></pre>
<p><img src="/birthweight/50-summarization/models/26-effects-rainfall-non-extremes_files/figure-html/unnamed-chunk-7-1.png" width="100%" style="display: block; margin: auto;" /></p>
</div>
<div id="main-significant-effects-weeks-approximation" class="section level2">
<h2>Main significant effects (weeks approximation)</h2>
<pre class="r"><code>gg &lt;-
    (gg_bw_full$significant_weeks +
     labs(x = NULL, y = NULL, subtitle = &quot;1) Full birthweight model&quot;)) +
    (gg_bw_growth$significant_weeks +
     labs(x = NULL, y = NULL, subtitle = &quot;2) Growth birthweight model&quot;)) +
    (gg_lbw_full$significant_weeks +
     labs(x = NULL, subtitle = &quot;3) Full low birthweight model&quot;) +
     theme(axis.title.y = element_text(hjust = 0))) +
    (gg_lbw_growth$significant_weeks +
     labs(x = NULL, y = NULL, subtitle = &quot;4) Growth low birthweight model&quot;)) +
    (gg_pre$significant_weeks +
     labs(y = NULL, subtitle = &quot;5) Prematurity model&quot;)) +
    plot_layout(ncol = 2, nrow = 3)
ggsave(file.path(path_summarised, &quot;mod-eff-rain-non-extremes-significant-weeks.pdf&quot;),
       gg, width = 21, height = 25, units = &quot;cm&quot;)

print(gg)</code></pre>
<p><img src="/birthweight/50-summarization/models/26-effects-rainfall-non-extremes_files/figure-html/unnamed-chunk-8-1.png" width="100%" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt; 152.826   3.552 156.251</code></pre>
</div>
