---
title: "Nonlinear effects of maternal age and hydrological seasonality on BW, LBW and PTB"
prerequisites:
    - data/modelled/bw-10-full-re-t-burned.rds
    - data/modelled/bw-20-growth-re-t-burned.rds
    - data/modelled/lbw-10-full-re-burned.rds
    - data/modelled/lbw-20-growth-re-burned.rds
    - data/modelled/pre-11-full-re-burned.rds
    - data/processed/bwdata_41_model.fst
    - src/51-bamlss.R
    - src/57-bamlss-vis-paper.R
    - src/56-bamlss-vis-gg.R
targets:
    - data/summarised/paper-mod-eff-nonlinear-age-and-seasonality.pdf
---



<p>In this script, we compute nonlinear effects of maternal age and hydrological seasonality
on birth outcomes. The resulting figure can be seen at section <a href="#age-and-seasonality">Visualize nonlinear
effects of maternal age and hydrological seasonality</a> . This output
corresponds to <em>Figure 5</em> of our paper.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:MASS&#39;:
#&gt; 
#&gt;     select</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:bamlss&#39;:
#&gt; 
#&gt;     n</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:nlme&#39;:
#&gt; 
#&gt;     collapse</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(purrr)
library(patchwork)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;patchwork&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:MASS&#39;:
#&gt; 
#&gt;     area</code></pre>
<pre class="r"><code>library(ggplot2)

path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)
path_summarised &lt;- file.path(path_data, &quot;summarised&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;57-bamlss-vis-paper.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;56-bamlss-vis-gg.R&quot;))


bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
path_model_bw_full &lt;- file.path(path_modelled, &quot;bw-10-full-re-t-burned.rds&quot;)
path_model_bw_growth &lt;- file.path(path_modelled, &quot;bw-20-growth-re-t-burned.rds&quot;)
path_model_lbw_full &lt;- file.path(path_modelled, &quot;lbw-10-full-re-burned.rds&quot;)
path_model_lbw_growth &lt;- file.path(path_modelled, &quot;lbw-20-growth-re-burned.rds&quot;)
path_model_pre &lt;- file.path(path_modelled, &quot;pre-11-full-re-burned.rds&quot;)

bwdata_model &lt;- fst::read_fst(bwdata_file)
model_bw_full &lt;- readRDS(path_model_bw_full)
model_bw_growth &lt;- readRDS(path_model_bw_growth)
model_lbw_full &lt;- readRDS(path_model_lbw_full)
model_lbw_growth &lt;- readRDS(path_model_lbw_growth)
model_pre &lt;- readRDS(path_model_pre)</code></pre>
</div>
<div id="create-figure" class="section level2">
<h2>Create figure</h2>
<pre class="r"><code>types &lt;- factor(c(&quot;No&quot;, &quot;Yes&quot;))
legend_title &lt;- &quot;Controlling for gestational age?&quot;
guides_none &lt;- guides(fill = &quot;none&quot;, col = &quot;none&quot;, linetype = &quot;none&quot;)

gg_1_1 &lt;- gg_smooths(
    list(model_bw_full, model_bw_growth), bwdata_model,
    &quot;mu&quot;, &quot;s(age)&quot;, 0, intercept = FALSE
    ) +
    labs(y = &quot;Mean change (grams)&quot;, subtitle = &quot;(a)&quot;) +
    guides_none</code></pre>
<pre><code>#&gt; Note: Using an external vector in selections is ambiguous.
#&gt; ℹ Use `all_of(var)` instead of `var` to silence this message.
#&gt; ℹ See &lt;https://tidyselect.r-lib.org/reference/faq-external-vector.html&gt;.
#&gt; This message is displayed once per session.</code></pre>
<pre class="r"><code>gg_1_2 &lt;- gg_smooths(
    list(model_lbw_full, model_lbw_growth), bwdata_model,
    &quot;pi&quot;, &quot;s(age)&quot;, 1, intercept = FALSE, FUN = c95_exp
    ) +
    labs(y = &quot;LBW odds ratio&quot;, x = &quot;Age&quot;, subtitle = &quot;(b)&quot;) +
    guides_none

gg_1_3 &lt;- gg_smooths(
    list(model_pre), bwdata_model,
    &quot;pi&quot;, &quot;s(age)&quot;, 1, types = types[1], intercept = FALSE, FUN = c95_exp
    ) +
    labs(y = &quot;PTB odds ratio&quot;, subtitle = &quot;(c)&quot;) +
    guides_none

gg_2_1 &lt;- gg_smooths_river(
    list(model_bw_full, model_bw_growth), bwdata_model,
    &quot;mu&quot;, &quot;s(rivwk_conception)&quot;, 0, intercept = FALSE
    ) +
    labs(y = &quot;Mean change (grams)&quot;, subtitle = &quot;(d)&quot;) +
    guides_none

gg_2_2 &lt;- gg_smooths_river(
    list(model_lbw_full, model_lbw_growth), bwdata_model,
    &quot;pi&quot;, &quot;s(rivwk_conception)&quot;, 1, intercept = FALSE, FUN = c95_exp
    ) +
    labs(y = &quot;LBW odds ratio&quot;, x = &quot;Seasonal river level index&quot;, subtitle = &quot;(e)&quot;,
         fill = legend_title, col = legend_title, linetype = legend_title) +
    theme(legend.position = &quot;bottom&quot;)

gg_2_3 &lt;- gg_smooths_river(
    list(model_pre), bwdata_model,
    &quot;pi&quot;, &quot;s(rivwk_conception)&quot;, 1, types = types[1], intercept = FALSE, FUN = c95_exp
    ) +
    labs(y = &quot;PTB odds ratio&quot;, subtitle = &quot;(f)&quot;) +
    guides_none

base_size &lt;- 7
gg &lt;- gg_1_1 + gg_1_2 + gg_1_3 + gg_2_1  + gg_2_2 + gg_2_3 +
    plot_layout(guides = &quot;collect&quot;, nrow = 2) &amp;
    theme(legend.position = &quot;bottom&quot;, plot.margin = margin(3, 5, 0, 0),
          legend.title = element_text(size = base_size, face = &quot;bold&quot;),
          legend.text = element_text(size = base_size),
          axis.text = element_text(size = base_size),
          axis.title = element_text(size = base_size),
          plot.subtitle = element_text(size = base_size),
          axis.text.x.top = element_text(colour = &quot;steelblue2&quot;))

ggsave(file.path(path_summarised, &quot;paper-mod-eff-nonlinear-age-and-seasonality.pdf&quot;), gg,
       width = 18, height = 12, units = &quot;cm&quot;)</code></pre>
</div>
<div id="age-and-seasonality" class="section level2">
<h2>Visualize nonlinear effects of maternal age and hydrological seasonality</h2>
<pre class="r"><code>print(gg, vp = grid::viewport(gp = grid::gpar(cex = 1.15)))</code></pre>
<p><img src="/birthweight/50-summarization/models/41-effects-nonlinear-age-and-seasonality_files/figure-html/unnamed-chunk-3-1.png" width="100%" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  53.082   2.897  55.956</code></pre>
</div>
