---
title: "Municipality random effects on BW, LBW and PTB"
prerequisites:
    - data/modelled/bw-10-full-re-t-burned.rds
    - data/modelled/bw-20-growth-re-t-burned.rds
    - data/modelled/lbw-10-full-re-burned.rds
    - data/modelled/lbw-20-growth-re-burned.rds
    - data/modelled/pre-11-full-re-burned.rds
    - data/processed/bwdata_41_model.fst
    - src/51-bamlss.R
    - src/57-bamlss-vis-paper.R
    - src/56-bamlss-vis-gg.R
targets:
    - data/summarised/paper-mod-eff-municipalities-ci.pdf
    - data/summarised/paper-mod-eff-municipalities-ci.jpg
    - data/summarised/paper-mod-eff-municipalities-map.pdf
    - data/summarised/paper-mod-eff-municipalities-map.jpg
---



<p>In this script, we create figures to show the municipality random effects on BW, LBW, and
PTB models. The images can be seen at:</p>
<ul>
<li>Section <a href="#municipality-ci">Visualize municipality random effects with credible
intervals</a>, which corresponds to <em>Extended Data Figure 10</em> of our
paper.</li>
<li>Section <a href="#municipality-map">Visualize maps of municipality random effects</a>, which
corresponds to <em>Supplementary Figure 2</em> of our paper.</li>
</ul>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.8.0, GDAL 3.0.4, PROJ 6.3.1</code></pre>
<pre class="r"><code>library(ggplot2)
library(patchwork)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;patchwork&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:MASS&#39;:
#&gt; 
#&gt;     area</code></pre>
<pre class="r"><code>library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:MASS&#39;:
#&gt; 
#&gt;     select</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:bamlss&#39;:
#&gt; 
#&gt;     n</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:nlme&#39;:
#&gt; 
#&gt;     collapse</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(purrr)

path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)
path_summarised &lt;- file.path(path_data, &quot;summarised&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;57-bamlss-vis-paper.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;56-bamlss-vis-gg.R&quot;))


bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
path_model_bw_full &lt;- file.path(path_modelled, &quot;bw-10-full-re-t-burned.rds&quot;)
path_model_bw_growth &lt;- file.path(path_modelled, &quot;bw-20-growth-re-t-burned.rds&quot;)
path_model_lbw_full &lt;- file.path(path_modelled, &quot;lbw-10-full-re-burned.rds&quot;)
path_model_lbw_growth &lt;- file.path(path_modelled, &quot;lbw-20-growth-re-burned.rds&quot;)
path_model_pre &lt;- file.path(path_modelled, &quot;pre-11-full-re-burned.rds&quot;)

bwdata_model &lt;- fst::read_fst(bwdata_file)
model_bw_full &lt;- readRDS(path_model_bw_full)
model_bw_growth &lt;- readRDS(path_model_bw_growth)
model_lbw_full &lt;- readRDS(path_model_lbw_full)
model_lbw_growth &lt;- readRDS(path_model_lbw_growth)
model_pre &lt;- readRDS(path_model_pre)

ama &lt;- st_read(file.path(path_processed, &quot;ama_05_62.gpkg&quot;)) %&gt;%
    dplyr::select(mun_code, inc_study, mun_name)</code></pre>
<pre><code>#&gt; Reading layer `ama_05_62&#39; from data source `/home/rstudio/Documents/Projects/data-amazonia/70-studies/birthweight/data/processed/ama_05_62.gpkg&#39; using driver `GPKG&#39;
#&gt; Simple feature collection with 62 features and 373 fields
#&gt; geometry type:  MULTIPOLYGON
#&gt; dimension:      XY
#&gt; bbox:           xmin: 1573261 ymin: 8909613 xmax: 3542869 ymax: 10248330
#&gt; projected CRS:  unnamed</code></pre>
</div>
<div id="obtain-municipality-random-effects" class="section level2">
<h2>Obtain municipality random effects</h2>
<pre class="r"><code>muni_data &lt;- tibble::tibble(res_muni = unique(bwdata_model$res_muni))

muni_data_bw &lt;- gg_munis(list(model_bw_full, model_bw_growth), muni_data,
                     &quot;mu&quot;, &quot;s(res_muni)&quot;, FUN = c95, intercept = FALSE, sf = ama)

muni_data_lbw &lt;- gg_munis(list(model_lbw_full, model_lbw_growth), muni_data,
                     &quot;pi&quot;, &quot;s(res_muni)&quot;, FUN = c95_exp, intercept = FALSE, sf = ama)

muni_data_pre &lt;- gg_munis(list(model_pre), muni_data, types = factor(&quot;No&quot;),
                     &quot;pi&quot;, &quot;s(res_muni)&quot;, FUN = c95_exp, intercept = FALSE, sf = ama)

munis &lt;- muni_data_bw %&gt;%
    dplyr::filter(inc_study) %&gt;%
    dplyr::arrange(mean) %&gt;%
    dplyr::pull(mun_name) %&gt;%
    unique()

model_labs &lt;- c(
    &quot;(a) Birth-weight mean change&quot;,
    &quot;(b) Low birth-weight odds ratio&quot;,
    &quot;(c) Prematurity odds ratio&quot;
)
reference &lt;- c(0, 1, 1)

muni_data &lt;- list(muni_data_bw, muni_data_lbw, muni_data_pre) %&gt;%
    map2(model_labs, ~ mutate(.x, model = .y)) %&gt;%
    map2(reference, ~ mutate(.x, reference = .y)) %&gt;%
    bind_rows() %&gt;%
    mutate(mun_name = factor(mun_name, munis))</code></pre>
</div>
<div id="credible-intervals-for-municipality-random-effects" class="section level2">
<h2>Credible intervals for municipality random effects</h2>
<pre class="r"><code>base_size &lt;- 7
ggp_ci &lt;- function(data, munis) {
    data &lt;- data %&gt;%
    dplyr::filter(inc_study) %&gt;%
    dplyr::mutate(mun_name = factor(mun_name, munis))

    gg_ci &lt;- ggplot(data, aes(x = mean, y = mun_name)) +
        geom_errorbarh(aes(xmin = lower, xmax = upper, col = type),
                      position = position_dodge(0.5), height = 0.8, size = rel(0.4)) +
        geom_point(aes(color = type), position = position_dodge(0.5), size = rel(0.7)) +
        geom_vline(aes(xintercept = reference, group = model), lty = 2, col = 1) +
        labs(x = NULL, y = NULL, color = &quot;Controlling gestational age?&quot;) +
        facet_wrap(~ model, scale = &quot;free_x&quot;) +
        theme_bw(base_size = base_size, base_family = &quot;Helvetica&quot;) +
        theme(legend.position = &quot;bottom&quot;)
    return(gg_ci)
}

gg_muni_ci &lt;- ggp_ci(muni_data, munis) +
    theme(
          legend.title = element_text(size = base_size, face = &quot;bold&quot;),
          legend.text = element_text(size = base_size),
          axis.text = element_text(size = base_size),
          strip.background = element_blank(),
          strip.text = element_text(size = base_size, hjust = -0.05)
    )

ggsave(file.path(path_summarised, &quot;paper-mod-eff-municipalities-ci.pdf&quot;), gg_muni_ci ,
       width = 18, height = 11.7, units = &quot;cm&quot;)
ggsave(file.path(path_summarised, &quot;paper-mod-eff-municipalities-ci.jpg&quot;), gg_muni_ci ,
       width = 18, height = 11.7, units = &quot;cm&quot;, dpi = 350)</code></pre>
</div>
<div id="municipality-ci" class="section level2">
<h2>Visualize municipality random effects with credible intervals</h2>
<pre class="r"><code>print(gg_muni_ci, vp = grid::viewport(gp = grid::gpar(cex = 1.15)))</code></pre>
<p><img src="/birthweight/50-summarization/models/83-effects-municipality_files/figure-html/unnamed-chunk-4-1.png" width="100%" style="display: block; margin: auto;" /></p>
</div>
<div id="maps-of-municipality-random-effects" class="section level2">
<h2>Maps of municipality random effects</h2>
<pre class="r"><code>ggp_map &lt;- function(data, subset, trans = &quot;identity&quot;, trans_inv = &quot;identity&quot;,
                    rev = FALSE, width = 40, types = c(&quot;No&quot;, &quot;Yes&quot;), base_size = 7) {

    data &lt;- data[data$model == subset, ]
    mean_max &lt;- max(abs(range(eval(call(trans, data$mean)), na.rm = TRUE)))
    mean_vals &lt;- c(seq(width / 2, mean_max, width), mean_max)
    mean_vals &lt;- eval(call(trans_inv, sort(unique(c(- mean_vals, mean_vals)))))
    data$mean &lt;- cut(data$mean, mean_vals, include.lowest = TRUE)
    mean_levels &lt;- levels(data$mean)
    # data &lt;- within(data, labels(type) &lt;- types)
    # data &lt;- mutate(data)
    levels(data$type) &lt;- types

    pal_args &lt;- list(
        palette = &quot;Purple-Green&quot;, l1 = 30, p1 = 0.9, p2 = 1, rev = rev,
        breaks = if (rev) mean_levels else rev(mean_levels),
        na.value = &quot;gray70&quot;,
        drop = FALSE
    )

    gg &lt;- data %&gt;%
    ggplot() +
    geom_sf(aes(fill = mean), size = rel(0.2)) +
    do.call(colorspace::scale_fill_discrete_diverging, pal_args) +
    # scale_fill_discrete_diverging(palette = &quot;Purple-Green&quot;,
    #                               na.value = &quot;gray70&quot;,
    #                               breaks = mean_levels) +
    facet_grid(model ~ type) +
    theme_bw(base_size = base_size, base_family = &quot;Helvetica&quot;) +
    theme(strip.background = element_blank(),
          strip.text.x = element_text(hjust = 0, size = base_size),
          strip.text.y = element_blank(),
          legend.key.size = unit(0.7, &quot;lines&quot;),
          plot.margin = margin(0, 0, 0, 0)
          ) +
    labs(fill = NULL)
return(gg)
}

add &lt;- muni_data[1, ]
add$type &lt;- &quot;Yes&quot;
add$model &lt;- model_labs[3]
add$mean &lt;- NA

muni_data2 &lt;- rbind(muni_data, add)

gg_map1 &lt;- ggp_map(muni_data, model_labs[1], types = c(&quot;(a)&quot;, &quot;(b)&quot;)) +
    labs(fill = day2day::wrapit(&quot;Birth-weight mean change&quot;, 15))
gg_map2 &lt;- ggp_map(muni_data, model_labs[2], &quot;log&quot;, &quot;exp&quot;,
                   TRUE, 0.1, types = c(&quot;(c)&quot;, &quot;(d)&quot;)) +
    labs(fill = &quot;LBW odds ratio&quot;)

blank &lt;- plot_spacer() +
    theme(axis.text.y = element_blank(), plot.margin = margin(0, 0, 0, 4))
gg_map3 &lt;- ggp_map(muni_data, model_labs[3], &quot;log&quot;, &quot;exp&quot;,
                   TRUE, 0.3, types = c(&quot;(e)&quot;, &quot;(f)&quot;)) +
    labs(fill = &quot;PTB odds ratio&quot;) +
    blank +
    plot_layout(guides = &quot;collect&quot;)

base_size &lt;- 7
gg_muni_map &lt;- gg_map1 + gg_map2 + gg_map3 +
    plot_layout(nrow = 3, heights = c(1, 1, 1)) &amp;
    theme(
          legend.title = element_text(size = base_size, face = &quot;bold&quot;),
          legend.text = element_text(size = base_size),
          axis.text = element_text(size = base_size)
    )

ggsave(file.path(path_summarised, &quot;paper-mod-eff-municipalities-map.pdf&quot;), gg_muni_map ,
       width = 18, height = 17.4, units = &quot;cm&quot;)
ggsave(file.path(path_summarised, &quot;paper-mod-eff-municipalities-map.jpg&quot;), gg_muni_map ,
       width = 18, height = 17.4, units = &quot;cm&quot;, dpi = 350)</code></pre>
</div>
<div id="municipality-map" class="section level2">
<h2>Visualize maps of municipality random effects</h2>
<pre class="r"><code>print(gg_muni_map, vp = grid::viewport(gp = grid::gpar(cex = 1.15)))</code></pre>
<p><img src="/birthweight/50-summarization/models/83-effects-municipality_files/figure-html/unnamed-chunk-6-1.png" width="100%" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  76.464   3.017  79.496</code></pre>
</div>
