---
title: "Municipality effects of remoteness and sanitation (simple figures) on BW, LBW and PTB"
prerequisites:
    - data/modelled/bw-10-full-re-t-burned.rds
    - data/modelled/bw-20-growth-re-t-burned.rds
    - data/modelled/lbw-10-full-re-burned.rds
    - data/modelled/lbw-20-growth-re-burned.rds
    - data/modelled/pre-11-full-re-burned.rds
    - data/processed/bwdata_41_model.fst
    - src/51-bamlss.R
    - src/57-bamlss-vis-paper.R
targets:
    - data/summarised/mod-eff-municipality-remoteness.pdf
    - data/summarised/mod-eff-municipality-sanitation.pdf
---



<p>In this script, we compute municipality effects of remoteness and sanitation on birth
outcomes. These figures are not presented in our paper.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(gamlss.dist)</code></pre>
<pre><code>#&gt; Loading required package: MASS</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)
path_summarised &lt;- file.path(path_data, &quot;summarised&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;51-bamlss.R&quot;))
source(file.path(path_proj, &quot;src&quot;, &quot;57-bamlss-vis-paper.R&quot;))

bwdata_file &lt;- file.path(path_processed, &quot;bwdata_41_model.fst&quot;)
path_model_bw_full &lt;- file.path(path_modelled, &quot;bw-10-full-re-t-burned.rds&quot;)
path_model_bw_growth &lt;- file.path(path_modelled, &quot;bw-20-growth-re-t-burned.rds&quot;)
path_model_lbw_full &lt;- file.path(path_modelled, &quot;lbw-10-full-re-burned.rds&quot;)
path_model_lbw_growth &lt;- file.path(path_modelled, &quot;lbw-20-growth-re-burned.rds&quot;)
path_model_pre &lt;- file.path(path_modelled, &quot;pre-11-full-re-burned.rds&quot;)

bwdata_model &lt;- fst::read_fst(bwdata_file)
model_bw_full &lt;- readRDS(path_model_bw_full)
model_bw_growth &lt;- readRDS(path_model_bw_growth)
model_lbw_full &lt;- readRDS(path_model_lbw_full)
model_lbw_growth &lt;- readRDS(path_model_lbw_growth)
model_pre &lt;- readRDS(path_model_pre)</code></pre>
</div>
<div id="create-figure-for-remoteness-effect" class="section level2">
<h2>Create figure for remoteness effect</h2>
<pre class="r"><code>plot_eff_2d(
    bwdata_model, &quot;remoteness&quot;, &quot;Remoteness&quot;,
    file.path(path_summarised, &quot;mod-eff-municipality-remoteness.pdf&quot;),
    list(model_bw_full, model_bw_growth, model_lbw_full, model_lbw_growth, model_pre)
)</code></pre>
<pre><code>#&gt; png 
#&gt;   2</code></pre>
</div>
<div id="create-figure-for-sanitation-effect" class="section level2">
<h2>Create figure for sanitation effect</h2>
<pre class="r"><code>plot_eff_2d(
    bwdata_model, &quot;prop_tap_toilet&quot;, &quot;Percentage of population with sanitation&quot;,
    file.path(path_summarised, &quot;mod-eff-municipality-sanitation.pdf&quot;),
    list(model_bw_full, model_bw_growth, model_lbw_full, model_lbw_growth, model_pre)
)</code></pre>
<pre><code>#&gt; png 
#&gt;   2</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  44.507   2.943  47.429</code></pre>
</div>
