---
title: "Municipality one-term models: visualization"
prerequisites:
    - data/modelled/pre-explore-smooths-muni.rds
---



<p>Visualize relationship between covariates and response variables.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(mgcv)</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;nlme&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:dplyr&#39;:
#&gt; 
#&gt;     collapse</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre class="r"><code>library(purrr)
library(ggplot2)

path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)

source(file.path(path_proj, &quot;src&quot;, &quot;55-mgcv-visualize.R&quot;))

model_data &lt;- readRDS(file.path(path_modelled, &quot;pre-explore-smooths-muni.rds&quot;))
bwdata_model &lt;- fst::read_fst(file.path(path_processed, &quot;bwdata_41_model.fst&quot;))</code></pre>
</div>
<div id="visualize-exploratory-models-of-prematurity-with-municipality-covariates" class="section level2">
<h2>Visualize exploratory models of prematurity with municipality covariates</h2>
<pre class="r"><code>covar_names &lt;- c(
    age = &quot;mother age&quot;,
    wk_ini = &quot;conception date&quot;,
    rivwk_conception = &quot;river week of conception&quot;,
    remoteness = &quot;remoteness&quot;,
    rur_prop = &quot;proportion of rural population&quot;,
    prop_tap_toilet = &quot;proportion of population with tap water&quot;
)

data_gams &lt;- model_data %&gt;%
    dplyr::select(- formula) %&gt;%
    get_data_gams()

data_gams$data_eff &lt;- data_gams$data_eff %&gt;%
    mutate(gamma = paste0(&quot;gamma: &quot;, round(gamma, 3)))

data_gams &lt;- map(data_gams, ~ mutate(., covar = covar_names[covar]))

plot_gam_1d(data_gams) +
    scale_fill_manual(values = &quot;gray60&quot;) +
    scale_colour_manual(values = &quot;red&quot;) +
    facet_grid(gamma ~ covar, scales = &quot;free&quot;) +
    theme(legend.position = &quot;none&quot;)</code></pre>
<p><img src="/birthweight/30-exploration/60-prematurity/05-pre-oneterm-muni-visualize_files/figure-html/unnamed-chunk-2-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   5.111   0.187   5.325</code></pre>
</div>
