
<!doctype html>
<html lang="{{ with .Site.LanguageCode }}{{.}}{{ else }}en-us{{ end}}">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap 4 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0&#45;beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384&#45;BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/css/basic.css" | relURL }}" />
  <link rel="stylesheet" href="{{ "/css/sidebar.css" | relURL }}" />
  <!-- Font Awesome Free CDN -->
  <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384&#45;+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script> -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
  <!-- highlight.js from x-min -->
  <script src="//cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="//cdn.bootcss.com/highlight.js/9.12.0/languages/r.min.js"></script>
  <link href="//cdn.bootcss.com/highlight.js/9.12.0/styles/github.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="{{ "/css/gruvbox.dark.css" | relURL }}"> -->
  <script>hljs.initHighlightingOnLoad();</script>
  <!-- MathJax from x-min -->
  <!-- <script async src="//cdn.bootcss.com/mathjax/2.7.1/MathJax.js?config=TeX&#45;MML&#45;AM_CHTML"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/javascript">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    "HTML-CSS": { scale: 90}
  });
</script>
  <!-- Web details -->
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  <meta name="author" content="{{ .Site.Params.name }}">
</head>

<body>

  <header>

  </header>


