---
title: "Inverse smoothing parameters"
---



<p>In this script we evaluate the sensitivity to hyper-parameters defined for the prior
distribution of the inverse smoothing parameters in <code>bamlss</code> models. We focus on the
analysis using only <em>inverse gamma</em> distributions as priors.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())
library(bamlss)</code></pre>
<pre><code>#&gt; Loading required package: coda</code></pre>
<pre><code>#&gt; Loading required package: colorspace</code></pre>
<pre><code>#&gt; Loading required package: mgcv</code></pre>
<pre><code>#&gt; Loading required package: nlme</code></pre>
<pre><code>#&gt; This is mgcv 1.8-31. For overview type &#39;help(&quot;mgcv-package&quot;)&#39;.</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;bamlss&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:mgcv&#39;:
#&gt; 
#&gt;     smooth.construct</code></pre>
<pre class="r"><code>library(invgamma)</code></pre>
</div>
<div id="explore-three-types-of-gamma-priors" class="section level1">
<h1>Explore three types of gamma priors</h1>
<pre class="r"><code>igamma_mode &lt;- function(a, b) b / (a + 1)

a &lt;- 1e-04; b &lt;- 1e-04
a1 &lt;- 5; b1 &lt;- 1000
a2 &lt;- 10; b2 &lt;- 0.0001

igamma_mode(a, b)</code></pre>
<pre><code>#&gt; [1] 9.999e-05</code></pre>
<pre class="r"><code>igamma_mode(a1, b1)</code></pre>
<pre><code>#&gt; [1] 166.6667</code></pre>
<pre class="r"><code>igamma_mode(a2, b2)</code></pre>
<pre><code>#&gt; [1] 9.090909e-06</code></pre>
<pre class="r"><code>from &lt;- 0
to &lt;- 0.0001
n &lt;- 20000

par(mfrow = c(1, 3), mar = c(4, 4, 2, 1))
plot(function(x) dinvgamma(x, a, b), from, 0.005, n = n, main = &quot;a) Default&quot;)
plot(function(x) dinvgamma(x, a1, b1), from, 1000, n = n, main = &quot;b) Flexible&quot;)
plot(function(x) dinvgamma(x, a2, b2), from, 0.0001, n = n, main = &quot;c) Smoother&quot;)</code></pre>
<p><img src="/birthweight/30-exploration/70-modelling/01-priors_files/figure-html/priors-1.png" width="100%" style="display: block; margin: auto;" /></p>
</div>
<div id="evaluate-estimation-under-three-types-of-priors" class="section level1">
<h1>Evaluate estimation under three types of priors</h1>
<pre class="r"><code>d &lt;- GAMart()
model &lt;- bamlss(num ~ s(x2, xt = list(&quot;a&quot; = a, &quot;b&quot; = a)), data = d)</code></pre>
<pre><code>#&gt; AICc 394.1316 logPost -225.594 logLik -187.075 edf 9.7746 eps 0.9573 iteration   1
#&gt; AICc 393.8751 logPost -225.943 logLik -186.651 edf 10.058 eps 0.0316 iteration   2
#&gt; AICc 393.8742 logPost -225.994 logLik -186.618 edf 10.089 eps 0.0031 iteration   3
#&gt; AICc 393.8742 logPost -225.995 logLik -186.618 edf 10.090 eps 0.0000 iteration   4
#&gt; AICc 393.8742 logPost -225.995 logLik -186.618 edf 10.090 eps 0.0000 iteration   4
#&gt; elapsed time:  0.21sec
#&gt; Starting the sampler...
#&gt; 
#&gt; |                    |   0%  9.76sec
#&gt; |*                   |   5%  9.56sec  0.50sec
#&gt; |**                  |  10%  9.05sec  1.01sec
#&gt; |***                 |  15%  8.55sec  1.51sec
#&gt; |****                |  20%  8.17sec  2.04sec
#&gt; |*****               |  25%  7.87sec  2.62sec
#&gt; |******              |  30%  7.44sec  3.19sec
#&gt; |*******             |  35%  6.99sec  3.76sec
#&gt; |********            |  40%  6.48sec  4.32sec
#&gt; |*********           |  45%  5.97sec  4.88sec
#&gt; |**********          |  50%  5.44sec  5.44sec
#&gt; |***********         |  55%  4.90sec  5.99sec
#&gt; |************        |  60%  4.44sec  6.65sec
#&gt; |*************       |  65%  3.88sec  7.22sec
#&gt; |**************      |  70%  3.33sec  7.78sec
#&gt; |***************     |  75%  2.78sec  8.33sec
#&gt; |****************    |  80%  2.22sec  8.90sec
#&gt; |*****************   |  85%  1.67sec  9.45sec
#&gt; |******************  |  90%  1.11sec 10.01sec
#&gt; |******************* |  95%  0.56sec 10.57sec
#&gt; |********************| 100%  0.00sec 11.15sec</code></pre>
<pre class="r"><code>model1 &lt;- bamlss(num ~ s(x2, xt = list(&quot;a&quot; = a1, &quot;b&quot; = b1)), data = d)</code></pre>
<pre><code>#&gt; AICc 394.1316 logPost -292.515 logLik -187.075 edf 9.7746 eps 0.9573 iteration   1
#&gt; AICc 393.8751 logPost -279.884 logLik -186.651 edf 10.058 eps 0.0316 iteration   2
#&gt; AICc 393.8742 logPost -278.650 logLik -186.618 edf 10.089 eps 0.0031 iteration   3
#&gt; AICc 393.8742 logPost -278.628 logLik -186.618 edf 10.090 eps 0.0000 iteration   4
#&gt; AICc 393.8742 logPost -278.628 logLik -186.618 edf 10.090 eps 0.0000 iteration   4
#&gt; elapsed time:  0.18sec
#&gt; Starting the sampler...
#&gt; 
#&gt; |                    |   0%  9.76sec
#&gt; |*                   |   5%  9.52sec  0.50sec
#&gt; |**                  |  10%  9.04sec  1.00sec
#&gt; |***                 |  15%  8.52sec  1.50sec
#&gt; |****                |  20%  8.19sec  2.05sec
#&gt; |*****               |  25%  7.82sec  2.61sec
#&gt; |******              |  30%  7.42sec  3.18sec
#&gt; |*******             |  35%  6.97sec  3.75sec
#&gt; |********            |  40%  6.48sec  4.32sec
#&gt; |*********           |  45%  6.00sec  4.91sec
#&gt; |**********          |  50%  5.47sec  5.47sec
#&gt; |***********         |  55%  4.93sec  6.02sec
#&gt; |************        |  60%  4.39sec  6.58sec
#&gt; |*************       |  65%  3.86sec  7.16sec
#&gt; |**************      |  70%  3.31sec  7.73sec
#&gt; |***************     |  75%  2.76sec  8.29sec
#&gt; |****************    |  80%  2.21sec  8.84sec
#&gt; |*****************   |  85%  1.66sec  9.41sec
#&gt; |******************  |  90%  1.11sec  9.97sec
#&gt; |******************* |  95%  0.55sec 10.52sec
#&gt; |********************| 100%  0.00sec 11.08sec</code></pre>
<pre class="r"><code>model2 &lt;- bamlss(num ~ s(x2, xt = list(&quot;a&quot; = a2, &quot;b&quot; = b2)), data = d)</code></pre>
<pre><code>#&gt; AICc 394.1316 logPost -344.746 logLik -187.075 edf 9.7746 eps 0.9573 iteration   1
#&gt; AICc 393.8751 logPost -346.646 logLik -186.651 edf 10.058 eps 0.0316 iteration   2
#&gt; AICc 393.8742 logPost -346.866 logLik -186.618 edf 10.089 eps 0.0031 iteration   3
#&gt; AICc 393.8742 logPost -346.870 logLik -186.618 edf 10.090 eps 0.0000 iteration   4
#&gt; AICc 393.8742 logPost -346.870 logLik -186.618 edf 10.090 eps 0.0000 iteration   4
#&gt; elapsed time:  0.18sec
#&gt; Starting the sampler...
#&gt; 
#&gt; |                    |   0%  9.64sec
#&gt; |*                   |   5%  9.63sec  0.51sec
#&gt; |**                  |  10%  9.03sec  1.00sec
#&gt; |***                 |  15%  8.57sec  1.51sec
#&gt; |****                |  20%  8.22sec  2.06sec
#&gt; |*****               |  25%  7.93sec  2.64sec
#&gt; |******              |  30%  7.49sec  3.21sec
#&gt; |*******             |  35%  7.01sec  3.78sec
#&gt; |********            |  40%  6.50sec  4.33sec
#&gt; |*********           |  45%  5.99sec  4.90sec
#&gt; |**********          |  50%  5.46sec  5.46sec
#&gt; |***********         |  55%  4.93sec  6.03sec
#&gt; |************        |  60%  4.40sec  6.60sec
#&gt; |*************       |  65%  3.86sec  7.17sec
#&gt; |**************      |  70%  3.32sec  7.74sec
#&gt; |***************     |  75%  2.77sec  8.31sec
#&gt; |****************    |  80%  2.22sec  8.88sec
#&gt; |*****************   |  85%  1.67sec  9.44sec
#&gt; |******************  |  90%  1.11sec 10.02sec
#&gt; |******************* |  95%  0.56sec 10.58sec
#&gt; |********************| 100%  0.00sec 11.16sec</code></pre>
<pre class="r"><code>par(mfrow = c(1, 3), mar = c(4, 4, 2, 1))
plot(model, main = &quot;a) Default&quot;, spar = FALSE)
plot(model1, main = &quot;b) Flexible&quot;, spar = FALSE)
plot(model2, main = &quot;c) Smoother&quot;, spar = FALSE)</code></pre>
<p><img src="/birthweight/30-exploration/70-modelling/01-priors_files/figure-html/prediction-1.png" width="100%" style="display: block; margin: auto;" /></p>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  42.609   0.612  43.188</code></pre>
</div>
</div>
